[2017-06-16 13:56] sabativi commented on #604
Hey, I had posted a repo to reproduce more than one week ago and still do not have any feedback.
Did i miss something ?

[2017-06-16 15:46] amensouissi commented on #604
Hello,
I have a same problem

[2017-06-16 22:48] clayne11 opened #789 "Using pollInterval causing issues with updating components"
# Issue

When I use `pollInterval` on a query, mutations that change that entity after the fact no longer update the React component.

## Steps to Reproduce

1. Set up a query using `pollInterval`.
1. Wait for the interval to expire at least once so that the query has been re-fetched.
1. Perform a mutation to update data that is being fetch and rendered by a React component.
1. The store will upda

[2017-06-17 04:35] helfer commented on #789
@clayne11 thanks for the bug report, could you provide a reproduction of this using the [error-template](https://github.com/apollographql/react-apollo-error-template)? That would help a lot.

[2017-06-17 05:06] helfer commented on #604
Hi @sabativi sorry I didn't respond earlier, I don't always have time to check issues every day.

Thanks a lot for the reproduction, it helped me quickly figure out what is going on. In essence, `refetch` works a little bit differently from other queries, and it's up to you to explicitly handle errors. That means you should change your code from simply `refetch()` to `refetch().catch(e => { /* han

[2017-06-17 05:15] helfer commented on #774
It's only possible because the custom resolve function only runs after the client has been initialized. If it was run during the initialization then you're definitely right that it wouldn't work. GraphQL-js uses thunks for defining fields for the same reason (circular references).

[2017-06-17 05:32] githubitsme opened #790 "My Reducer is not updating after React apollo fetches the data"
I am just trying to figure out why my reducer is not updating

Home.js

    import React,{Component} from 'react';
    import { connect } from 'react-redux';
    import { bindActionCreators } from 'redux';
    import { graphql } from 'react-apollo';

    import gql from 'graphql-tag';

    import * as postActions from '../../Redux/Actions/postActions';

    class Home extends Component{
        re

[2017-06-17 07:52] MichaelDeBoey commented on #774
Thanks for the explanation @helfer 😉

[2017-06-17 13:30] #790 closed

[2017-06-17 14:54] githubitsme opened #791 "React-Apollo throws an network error 404 ?"
I just trying to do Server side rendering with apollo and it always throws me an error 404 and I am pretty sure my grapiql endpoint is working.

this is my error

    { Error: Network error: Network request failed with status 404 - "Not Found"
        at new ApolloError (C:\Users\arfo\Desktop\all folder\FinalHustleBoilerPlate\node_modules\apollo-client\src\errors\ApolloError.js:32:28)
        at C

[2017-06-17 18:23] jalooc commented on #780
@helfer Yes it has: the main thread time needed by redux to apply 26 batched queries rises to over 200ms (comparing to 5-10ms when 1 query is processed). The relation between the number of queries and the time spent in redux is most probably linear, so the overall win in batching isn't that big after all.

Anyway, I'm glad this is already under your consideration. If you need any help or further i

[2017-06-17 18:27] clayne11 commented on #789
Turns out the issue was unrelated but extremely difficult to track down.

The issue ended up actually being related to https://github.com/apollographql/apollo-client/issues/819.

I have 3 different polling queries occurring on one page. When all of the polling queries were turned on the error was not being printed in the console at all and must have been getting eaten up somewhere inside of apollo

[2017-06-17 19:04] helfer commented on #789
Thanks @clayne11, I'll close this issue so we can continue the conversation on apollographql/apollo-client#819. If you have time + energy to make a PR, that would be really great. I'd be happy to provide you with some pointers.

[2017-06-17 19:04] #789 closed

[2017-06-17 19:22] helfer commented on #791
Looks like maybe you forgot to add the `/api` at the end of your GraphQL uri?

[2017-06-17 19:23] #791 closed

[2017-06-17 19:41] helfer commented on #780
Thanks @jalooc! Once we have a clear spec for the new store API would you be interested in helping us build out the Redux version of the store? That way we could make sure that batching support is considered from the start 🙂

[2017-06-17 21:14] #785 closed

[2017-06-18 00:55] alexzielenski commented on #786
I've been able to use the types without loss of information (but have seen the TS server slowdown mentioned in VS code) without casting to `any` through the following:

Some helper file:
[code]

and in my components:
[code]
Where `IServerUserResponse` is an interface describing your GraphQL response for something like a user object as specified by your schema. This method returns a component expos

[2017-06-18 03:53] githubitsme commented on #791
Sorry, My bad right it throws me like this.And I also posted in StackOverflow [Here](https://stackoverflow.com/questions/44605984/react-apollo-throws-an-network-error-404)

[code]

[2017-06-18 18:18] viczam commented on #760
Even though I have react-dom@15 included as a dependency of my project, react-dom@16 gets installed as a dependency of react-apollo, which causes rendering incompatibilities.
Is this happening because react-dom@16 is listed as an optionalDependencies?

Note: this doesn't happen for react package itself.

[2017-06-19 06:31] jalooc commented on #780
I'd be glad ;)

[2017-06-19 07:14] beagleknight commented on #750
+1 to this. The `MutationOpts` doesn't contain `update` as well like the documentation suggests:
http://dev.apollodata.com/react/cache-updates.html#directAccess

[2017-06-19 13:09] jalooc opened #792 "Caching fragments / single fields"
_Disclaimer: not sure if doing something wrong and can't get it working or just not implemented.
To the point:_

I'd like to achieve caching on more granular level than just queries - caching fragments or even fields.
I'll use a simple example introduce the problem:
Let's say we have the following query, defining data requirements for component `Abc`:
[code]
When I mount `Abc`, the request with `B

[2017-06-19 13:39] vaibhav-systango commented on #478
@tmeasday
How to you use forceFetch while using this.props.data.refetch() ?
My store doesn't gets updated

[2017-06-19 14:27] ClemensSahs opened #793 "Server Side Rending: first noSSR component get no data"
## Steps to Reproduce

Hope this isn't isolated to much. In out case we have much more wrapper components. But I don't think this compromise the general situation.

[code]

### Buggy Behavior

The first```Child``` never have a ```props.data.widget```, but any following child work as expected!

If ```parent``` has ```ssr=false``` anything work fine, too.
In the second parent any child thing work fi

[2017-06-20 03:54] stubailo commented on #792
We intentionally don't modify the queries in any way before sending them to the server. If you put `{ a, b, c, d }` in the query, either nothing is fetched, or the whole query, every time.

This is because it would be easy to end up with inconsistencies between the fields if they were fetched at a different time.

If you want the behavior above, I'd suggest using multiple queries.

[2017-06-20 04:03] tmeasday commented on #478
@vaibhav-systango I was suggesting he uses `forceFetch` on the query in the first place, given that it was a match to what he was trying to do.

[2017-06-20 04:48] helfer commented on #750
This was probably just an oversight. A PR to fix it would be appreciated! 🙂

[2017-06-20 04:57] helfer commented on #760
Yes, that could very well be the reason. Which version of npm are you using?

@jbaxleyiii do you remember why we moved this to an optional dependency? I feel like it had something to do with typescript types.

[2017-06-20 05:23] helfer commented on #793
Hi @ClemensSahs thanks for filing an issue! Could you please provide a reproduction for it using https://github.com/apollographql/react-apollo-error-template so we can try to fix it? Thanks! 🙂

[2017-06-20 07:13] beagleknight commented on #750
@helfer @pawsong This is already fixed here: https://github.com/apollographql/react-apollo/pull/770

[2017-06-20 08:08] ClemensSahs commented on #793
@helfer the reproduction template is only a Client Side Rendere Template ;) in this issue we have a mixed case CSR and SSR

sure we can reproduction repo ASAP

[2017-06-20 08:39] viczam commented on #760
I'm using yarn, haven't tried with npm.
And I believe you made that change to better support react-native.

[2017-06-20 09:32] jalooc commented on #792
@stubailo Haven't Apollo's team consider such caching strategy as an option? It opens the door to more declarative query<->component connections, where more granular queries are assigned to smaller components and prefetching is easier due to the data updates being handled behind the stage, in Apollo internals. This would also mean better encapsulation end reusability of components.

[2017-06-20 15:35] hamishtaplin commented on #674
I'm having the same problem, tried everything in this thread and nothing works! Is there anything in the pipeline to help debug this?

[2017-06-20 22:10] timscott opened #796 "Query Does Not Run After Bug/Fix (in dev)"
## Steps to Reproduce

I have a component like so:

[code]

In development, I get some error with the query -- e.g., the query syntax is bad or the variables are bad. The server gives a 500.

### Buggy Behavior

Then I fix the bug. But the query never again runs. On the first render, `data.loading` is `false`, `data.error` is `undefined`, and `data.thing` is also `undefined`, which causes an error

[2017-06-21 02:33] helfer commented on #796
Hey @timscott, thanks for filing an issue. That sounds very strange. Could you provide a reproduction of this using react-apollo-error-template? That would help us a lot in tracking down the issue.

[2017-06-21 08:15] MichaelHilus commented on #121
I just found, that isEqual(...) is returning true for two unequal Date objects. Or am I wrong?
See attached screenshot the debugger in chrome:

![image](https://user-images.githubusercontent.com/20665077/27373925-4e9dc824-566a-11e7-8c93-4af52f9ef985.png)

Found this on debugging because my queries were not fired after variables change.

[2017-06-21 12:08] Gregoirevda commented on #272
I have a more extended util, that takes care of static properties and the skip config option:

[code]

that can be used like:

[code]

[2017-06-21 13:22] ksmth commented on #764
@stubailo Yes, you're right. Here's another proposal to draw a clear line between `react-apollo` and `apollo-client`:
[code]

Where `QueryOptions` and `MutationOptions` is what gets passed to `client.query` and `client.mutate`. In case there are any restrictions (i.e. not changing the query or so), then a warning should be triggered.

[2017-06-21 17:06] zackify commented on #604
@helfer This still is not a solution to the problem. In my render method, if I do this:
[code]
And an error occurs, a big red box shows up saying unhandled network error. If I simple change it to destructure and pull out the error, it works:

[code]

This is pointless, because either way, I have after middleware catching all errors at the network interface level. Apollo should not be telling me th

[2017-06-22 01:45] arvinsim commented on #633
I have a problem where `refetch` always calls the query with the default arguments I supplied in the `graphql` function instead of the argument I provided to `refetch`.

So far I haven't seen any other issues related to it but this.

[2017-06-22 09:18] akomm commented on #269
Links to branches are not useful because branches move. pointing to a commit or tag is always better.
I have the same issue and I do not understand why unresolved issues is closed. Any updates on this?

[2017-06-22 10:14] nenti commented on #604
@helfer You stated, that one needs to handle the error when it should not be thrown. Is there a possibility to do so when using the react-apollo `graphql(query).catch(?!)` object?

Because one can't catch on the component.

[2017-06-22 12:55] collegepinger opened #797 "How to avoid client re fetching in react-apollo SSR with redux?"
I would like to use react apollo with redux also server side rendering Every thing is fine my app is working but the problem is when my app render's it is actually recalling the api again it is not using my rendered state .What is a proper way of doing it.

server.js

[code]

Apollo/index.js
[code]
client.js
[code]
store.js
[code]
container/Home.js

[code]

[2017-06-22 16:29] sabativi commented on #604
Indeed this is the problem I was trying to show by using a refetch when offline, but obviously was not a good choice...

[2017-06-22 17:57] oklas commented on #267
For case where immutable states in redux and some like `redux-immutable` is used selector must be like this:

[code]

[2017-06-22 20:52] timscott commented on #796
@helfer - I will try to do that.

Meanwhile, I did a little debugging. The case I'm looking at hits [this line](https://github.com/apollographql/apollo-client/blob/8f362ae8f1f8026adf287dacc93b3ba42b57d259/src/data/readFromStore.ts#L160):

[code]

It gets there because on [this line](https://github.com/apollographql/apollo-client/blob/8f362ae8f1f8026adf287dacc93b3ba42b57d259/src/data/readFromStore.

[2017-06-22 21:19] timscott commented on #796
I should also point out that I had been integrating Apollo with my store.

[code]

When I remove this integration, things seem to work again...so far. I don't know that I give up anything by doing that, so it might be an adequate solution.

[2017-06-23 03:49] nisimjoseph commented on #604
same here. the call works in GraphiQL but not using `react-apollo` & `apollo-client`.

anyone know how to solve it?

[2017-06-23 12:26] cncolder opened #798 "What's the right way to combine query subscription and initial subscribeToMore into one HOC?"
I need show comments and subscribe new comment append to current query result.
Query and subscription are happen in component initialized.
I don't want manual subscribe it in my component. Because subscription is always needed.

## Steps to Reproduce

Describe how to reproduce this issue.

[code]

At beginning I try to hold `subscribeToMore` results in a global object. But I found if HOC unmount t

[2017-06-23 16:34] joeldn commented on #755
Is there any update on this? I'm now stuck with using version 1.2.0..

[2017-06-24 19:28] newoga commented on #660
@helfer @jbaxleyiii

I know @ablbol closed this issue, however I'm seeing this behavior particularly with the `options()` method, not the `props()` method.

A very simple reproduction can be found here: https://github.com/newoga/react-apollo-issue-660

This is the console output from the reproduction when the application starts:

![image](https://user-images.githubusercontent.com/344018/27511431-c

[2017-06-24 20:03] newoga commented on #660
FYI I did a little digging myself. I added additional logging in my `node_modules\react-apollo\react-apollo.browser.umd.js` one line before each call of `calculateOptions` (which calls `mapPropsToOptions`) and each direct call of  `mapPropsToOptions`.

It seems like there are a number of methods that each recalculates the options for themselves for the same props.

Below is the log output I have.

[2017-06-26 00:59] joshmadewell commented on #755
seeing this as well

[2017-06-26 16:11] trevordmiller commented on #785
Has this been released? Also running into it. Thank you.

[2017-06-26 16:43] jpshelley commented on #760
@helfer it might not be development related but only test related. My React Native app runs fine with the apollo versions listed, but my tests are failing. I know Enzyme is broken currently against React 16 so maybe thats the issue? https://github.com/airbnb/enzyme/pull/1007

[2017-06-26 18:19] kernelgonnapanic commented on #760
I also have a problem with having react-dom@16 in optional dependencies in yarn.lock, as tests are failing due to: `Cannot read property 'ReactCurrentOwner' of undefined`. I've read somewhere that this kind of error is related to having two versions of react-dom in the app.
If I manually remove react-dom@16 from dependencies in yarn.lock, react-dom@15 gets installed and tests run smoothly. (I'm us

[2017-06-26 22:17] brandonbloom opened #800 "react-hot-loader still broken for nested graphql HOC compositions"
### Buggy Behavior

If you use `compose(graphql(...), graphql(...))(...`, react-hot-loader is broken in the same way as described #174.

Single-stepping shows that the `renderedElement.type === WrappedComponent` test introduced by https://github.com/apollographql/react-apollo/pull/505 returns false.

### Expected Behavior

Nested graphql compositions should not break react-hot-loader's no-remounti

[2017-06-26 23:33] townmulti commented on #763
This error seems to happen directly after the app loses connection or goes idle.

[2017-06-27 15:14] alexzielenski opened #801 "Server-returned GraphQL error does not reset data on component"
## Information
I'm running a query along the lines of:

[code]

I'm also using react router to page between a component which lists such boards and links to the detail page. For one of my board objects my `status` field result is incorrectly returned by the server (it is a GraphQL enum type and I'm returning an invalid value).

## Steps to Reproduce

1. Start at board list
2. select a board whose

[2017-06-27 16:20] hems commented on #164
@olistic jeezzz, thanks for that! i was killing myself changing my frontend code just to find out i also wasn't sending variables along on the server!

[2017-06-27 18:54] helfer commented on #801
Hey @alexzielenski, thanks for filing an issue. You're right that having old data along with the new error is inconsistent. The reason for it is that Apollo Client currently doesn't put errors in the store, which also means that it won't return data and errors at the same time. If there's an error, it only returns the error. In the past this has led to an inconvenient situation for people where th

[2017-06-28 00:22] steida commented on #785
Here is quick fix https://github.com/este/este/commit/00b86b75bef79095c789683388f1fb1332983c16

[2017-06-28 00:23] steida opened #802 "Fixed Flow types"
Just quick workaround for currently broken Flow types.

- imports of React and Redux moved to namespace
- gql, ApolloClient, createNetworkInterface errors are ignored

https://github.com/este/este/commit/00b86b75bef79095c789683388f1fb1332983c16

[2017-06-28 00:23] steida commented on #802
https://github.com/flowtype/flow-typed ftw btw

[2017-06-28 03:04] alexzielenski commented on #801
Hi @helfer! Thanks for your rapid response.

Would it be feasible to change react-apollo in the interim so it runs your query on the cache again, rather than simply returning the last-rendered data by that component? This would be acceptable to me, since then my detail page would not display the wrong document; but a stale version.

[2017-06-28 11:07] falkin opened #803 "What is the good practice to save queries results inside redux store ?"
I'm currently trying to use apollo with redux. Results saved inside the Redux store seems to me to be incorrect. May be my way to of doing things is wrong.

On my layout component, i have two Queries called inside compose :

[code]

[code]

My result is correct inside props from Layout component. But now if i m trying to access data  from redux on another component with the state on mapStateToProp

[2017-06-28 13:18] akomm opened #804 "getWrappedInstance returns undefined, when the skip option resolves true"
## Steps to Reproduce

create:
[code]
use it with ref:
[code]
### Buggy Behavior

getWrappedInstance returns undefined. When checking with react dev tools, I can see that the first graphql HOC has a wrappedInstance ref, but the second one does not.

### Expected Behavior

ref should be propagated down the HOC chain and getWrappedInstance should return the underlying component.

### Version
- apoll

[2017-06-28 13:35] akomm commented on #804
I think this bug is related to the "skip" option. I glanced into the transpiled code in node_modules and found the following in GraphQL.prototype.render:

[code]

The wrappedInstance is not merged when this.shouldSkip() returns true.

[2017-06-28 18:14] helfer commented on #803
Hi @falkin, the problem is with your `dataIdFromObject` function. If two objects have the same id, they will be merged and written to the same place in the store. You should just remove your declaration of `dataIdFromObject` and Apollo Client will do the right thing (it will use `id` and `__typename`). Because the store is normalized it isn't straightforward to read the results out yourself with R

[2017-06-28 18:14] #803 closed

[2017-06-28 19:46] tylerjbainbridge commented on #518
I also have this issue -- would love to help/know the progress this.

[2017-06-28 20:54] HeatherZh opened #806 "refetchQueries should have "skip" option"
## Steps to Reproduce

const ADD_THING = gql`
  mutation addThing($var1: String!, $var2: String) {
   addThing(var1: $var1, var2: $var2) {
     _id
     name
   }
  }
`

const withAddThing = graphql(ADD_THING,  {
  props:({ mutate }) => ({
    addThing: ({ var1, var2 }) => mutate({
      variables: {var1, var2},
      refetchQueries: [{
        query: ANOTHER_QUERY,
        skip: !!var2,
        v

[2017-06-28 20:57] helfer commented on #806
Thanks @HeatherZh! I didn't know there even is a `skip` argument on refetchQueries! Where did you find that? It's definitely a feature we could add, if it would be useful.

[2017-06-28 21:42] falkin commented on #803
Perfect thank you very much, it was the piece of the puzzle that I didn't understand "how i can interact directly with the cache". I didn't care that Vanilla  JS was different than react section. It's very clear now :)

[2017-06-29 01:02] helfer commented on #801
@alexzielenski unfortunately that's not possible because if there's any error, the new data doesn't get written to the cache (because it might overwrite perfectly good old data with an error, which could affect other queries as well). Not sure if there's a good workaround, but we're working on fixing the problem.

[2017-06-29 01:46] HeatherZh commented on #806
Maybe it is my wishful thinking :) I figured if graphql query wrapper supports "skip" as documented in http://dev.apollodata.com/react/queries.html#graphql-skip, all the other query wrappers would support the same options.

I do think it could be very useful if one can conditionally control refetchQueries based on variables, results or errors returned from the mutation.

I am getting around this b

[2017-06-29 02:23] alexzielenski commented on #801
@helfer I meant that upon error, nothing gets written to the cache but the query is simply re-evaluated as cache-only and data.error is populated along with it.

[2017-06-29 04:38] helfer commented on #801
@alexzielenski ah, I see what you mean. Would that return something different in your case? Theoretically if you're watching the query, you should already have the latest result from the cache when the error comes in, so simply returning that with the error as we do now should lead to the same result.

[2017-06-29 04:52] alexzielenski commented on #801
@helfer Since I am using query variables the result would indeed change.

[2017-06-29 04:54] helfer commented on #801
Makes sense. However, what would you expect to get when that query isn't in the store? We don't do partial results any more, so you'd get nothing.

[2017-06-29 04:56] alexzielenski commented on #801
Shouldn't I get nothing rather than the result of a completely different query? I feel like use cases which would want the old data typically do not use variables in their queries.

[2017-06-29 11:58] mukkachaitanya commented on #71
I have been looking around and couldn't find the way to pass the variables through the components state. Can anyone help me with that?
Thanks

[2017-06-29 20:23] piotrblasiak opened #807 "Component won´t rerender with new data after client.resetStore()"
Love apollo, but I have this problem...

## Steps to Reproduce

1. Render component:

[code]
2. Call apolloClient.resetStore()

### Buggy Behavior

The component is not rerendered with a clared store. In this case I had logged out the user so the query should give me {me: null} but it still gives me the old object.

### Expected Behavior

It should give me a null object for "me" since I´ve logged

[2017-06-29 21:49] clayne11 opened #808 "Separate mutate from query HOC instead of just having graphql"
Instead of having a single `graphql` HOC for both `query` and `mutate` I think we should have separate HOCs. This will have a much more obvious semantic intent as well as allowing us to use better type definitions such as ensuring `data` exists or queries and `mutate` exists for mutations rather than having them be optional.

[2017-06-30 08:55] tomitrescak opened #809 "Typescript Typings for graphql does not allow custom name"
Hi, first let me thank you for the excellent support for typescript.
I have on problem though.
When I model my data with custom name, there is no way of capturing this.

For example:

[code]

The `data` bit is renamed to `organisationData` and I am not sure how can I capture this so that I can access this in "props".

[2017-06-30 11:59] tomitrescak opened #810 "Typescript typings:"
### Expected Behavior

I should be able to use React.Components with graphql wrapper.
Example:

[code]

Leads to following error:

[code]

Looks like you only accept stateless components, although opposite seems to be the truth.
Not sure what is going on.

### Version
- apollo-client@1.4.2
- typescript@2.4.1

[2017-06-30 16:13] ClemensSahs commented on #793
@helfer repoduction is ready ;)
https://github.com/ClemensSahs/kit/tree/react-apollo-793

[2017-06-30 20:15] Dattaya commented on #615
Just want to leave a comment in support of @choonkending proposal. I already handle errors in components that perform queries: `if {props.data.error} return a component that shows the error's message` (I'm talking about errors that are thrown from resolvers/connectors). So I expect the server to render the exact result that would be rendered on the client. I tried to use a workaround suggested in

[2017-06-30 20:21] marlonmleite commented on #269
@seeden @stubailo i have same problema, any solution?

[2017-06-30 21:42] marlonmleite commented on #269
It's ok, if use:
`refetchQueries: [{ query: MyQuery }]`

It's not update property loading and not update view:
`refetchQueries: ['MyQuery']`

[2017-06-30 23:00] Peleg opened #811 "Possibly unnecessary component updates after mount"
Hey guys!

First off, you rock and thank you for making react-apollo. it's made our migration to graphql a much smoother operation at a pretty large scale ;-)

Lately we found out we had a perf issue with apollo-wrapped components updating immediately after mounting despite already having their data in the redux store (we server-render all the things 🙉).

Since there don't seem to be changes in th

[2017-07-01 00:26] dmk255 commented on #273
@tmeasday I would love for the documentation to be more explicit about this. It's a little unfortunate that `graphql` doesn't pass the client prop into the child component.

The documentation at http://dev.apollodata.com/react/higher-order-components.html#withApollo implies (to me) that `graphql` should be able to do everything that `withApollo` can.

[2017-07-01 11:43] mjadczak commented on #450
FWIW, here is a quick solution I came up with using recompose. I only needed to debounce a single prop, but this could be extended to more I'm sure.

[code]

And I'm using it like this (my use case is a redux-controlled search input driving the `searchQuery` variable in an Apollo query):

[code]

[2017-07-01 19:35] steida commented on #631
Please, allow getDataFromTree usage on the client. It's very clean approach to avoid the flash of loading content.

[2017-07-01 20:27] hyusetiawan commented on #785
any news on this?

[2017-07-02 13:45] ngxiaoyi opened #812 "Unhandled JS Exception: Must contain a query definition."
## Steps to Reproduce

Just lost the detail context why this happened at my project.

### Buggy Behavior

Error occurred once launched the app:
![screen shot 2017-07-02 at 9 39 25 pm](https://user-images.githubusercontent.com/3183116/27770328-587a6600-5f6f-11e7-8de8-dbd00b710b6b.png)

### Version
- react-apollo@1.4.2
- react-native@16.0.0-alpha.12

[2017-07-02 14:07] morriq commented on #810
same here! It's happend with 1.4.0

[2017-07-02 20:27] dsifford commented on #786
Any updates on this @helfer @stubailo @jbaxleyiii? Still stuck pre 1.4.0 because of this.

Also, I noticed that one of your tests has a typo in it that would render the test broken. This leads me to believe that these tests aren't actually being ran?

https://github.com/apollographql/react-apollo/blob/master/test/react-web/client/graphql/queries/skip.test.tsx#L101

Here's the typo from the link ab

[2017-07-02 20:40] alexzielenski commented on #786
I'll also note that the current definitions do not include the `update` mutation option.

[2017-07-03 18:01] skosch commented on #786
Am I correct in assuming that this is the reason for #769 and #810?
Getting those typings in order really would be a big step forward.

[2017-07-03 18:54] alexzielenski commented on #786
@skosch I don't think so. Those issues seem to be stemmed from incomplete typings and improper explicit types. A lot of our headaches could be solved if the typescript language server had stronger type inference built into it but unfortunately we need to keep annotating the types for invocations of the `graphql` function in `typescript` (atleast in my case) to avoid compiler errors.

[2017-07-03 18:55] alexzielenski commented on #786
@skosch I don't think so. Those issues seem to be stemmed from incomplete typings and improper explicit types. A lot of our headaches could be solved if the typescript language server had stronger type inference built into it but unfortunately we need to keep annotating the types for invocations of the `graphql` function in `typescript` (atleast in my case) to avoid compiler errors.

[2017-07-04 09:06] ngxiaoyi commented on #812
Seems i broke my project, close this as it has no reference value

[2017-07-04 09:06] #812 closed

[2017-07-04 15:53] OllieJennings commented on #615
I would just like to say that this has become a big issue for.

As my app has gotten more complex, i have gone down the route of having 2 bundles, and if a 404 then rendering 2nd bundle, and losing the SPA benefits.

If you could still keep query errors in state, and allow SSR of 404 pages, it would simply things massively

[2017-07-05 11:58] akomm opened #815 "Mutation result does not update props"
## Steps to Reproduce

I can not 100% reproduce the bug, but it happens under the following circumstances (removed detail fields):

[code]

Following query is executed/loaded:
[code]
Later, while the above is still in use in a mounted component:
[code]
### Buggy Behavior

Correct:
- The mutation is successfully executed on the backend side.
- Expected data with `Project` and its new full `Review`

[2017-07-05 12:34] akomm commented on #815
Exact same situation, same component, same data, but removing item from a collection works:

[code]
Merges correctly and updates props correctly.

[2017-07-05 16:17] akomm commented on #815
I try another approach, returning parent node and the directly affected node shallow as trow result fields. This is sure also faster, but I have to define more return types. I still think this is a buggy behavior. Will report whether the alternative approach works.

[2017-07-05 16:29] vincentpageau commented on #604
Hi, has this problem been solved?
I'm wondering the same thing as @nenti .

All my containers are wrapped in `graphql(query)(component)` and call a query everytime they're rendered.
Is there a way to catch these `Network error`?
@helfer

[2017-07-05 17:00] akomm commented on #815
Okay. Even when I do something like this:

[code]

Basically returning probably affected types by the mutation, I end up having exact same issue.

[2017-07-05 18:31] akomm opened #817 "[Feat] refetchQueries with "reuse variables" option"
Lets say we have the following:
[code]

This query in use in a mounted component A, filter variable coming from props of A via graphql HOC:
[code]

And I execute  the following mutation in a mounted component B (graphql HOC):
[code]
I want to update the query in component A on mutation in component B. But when I do so using refetchQueries and I do not provide the same variables as currently passed

[2017-07-05 23:57] cesarsolorzano commented on #808
related #736

[2017-07-06 03:56] helfer commented on #604
Hey @vincentpageau, I'll let @jbaxleyiii give you the authoritative answer on that, but I believe the way to "handle" the error when using the `graphql` HOC is to simply check `data.errors` inside the component. There's a check inside apollo-client that throws if `data.errors` isn't accessed.

[2017-07-06 04:26] itajaja commented on #786
Hi, I think the editor problems are strictly not related to react-apollo, but to the experimental decorator feature. I had problems using other decorators from other libs, and switching the syntax from decorator to normal curry solves any perf problem, both with react-apollo and with other decorators. I can reproduce this quite reliably

[2017-07-06 08:15] ctavan commented on #708
Potentially https://github.com/apollographql/apollo-client/issues/1821 is related as well?

[2017-07-06 08:25] RSpace commented on #464
Bump. I still think this is highly needed.

[2017-07-06 08:34] stubailo commented on #464
Looks like there was some progress just now! https://github.com/apollographql/react-apollo/pull/729

[2017-07-06 08:45] akomm opened #822 "Q: ownProps in mutations do not update - intended behavior?"
I'm trying to resolve https://github.com/apollographql/react-apollo/issues/817.
To update a query in component `ProjectsPage` with correct variables (filter), I store the form value in redux (redux-form) and access it in the following component using the `getFormValues` selector.

[code]
Even thought the state of the form and the values change (confirmed via devtools) the refetchQueries is execute

[2017-07-06 09:10] akomm commented on #822
Resolved, obviously statics do not pass via HOCs by magical powers.

[2017-07-06 09:10] #822 closed

[2017-07-06 09:21] flexzuu commented on #464
Yeah i implemented the proposed change. Let me know if you need help on how to use it in your app. I prepared some lib to use react-apollo with multiple apollo-clients. I plan to open source it as thin layer on top off react-apollo.

[2017-07-06 10:02] #711 closed

[2017-07-06 10:23] akomm commented on #817
So I tried an approach creating a selector like that:
(Sad thing, I could not find selectors neither in docs (both react-apollo and apollo-client), nor source code.)
[code]

This did not work, because it seems the compiled document you pass to HOC does not have the same identity as the one in store. First I thought its due to my session meta reducer, which JSON.stringify/parse data, but this is al

[2017-07-06 11:53] RSpace commented on #464
@flexzuu Fantastic - thanks! I'll wait for the updated documentation from you, as it's a little unclear from the PR exactly how it works. The library you mention would off course be even better, so please do share :)

[2017-07-06 11:59] zackify commented on #604
@helfer I would love to get rid of that check! Haha

[2017-07-06 12:25] vincentpageau commented on #604
@helfer @jbaxleyiii So basically when the `loading` value switches to false, check if `data.error` has a value?
Would it really catch the **error**, crash before it enters the `if(data.error) { ... }` _loop_ or enter the _loop_ and still crash?

I'm using this at the moment and the `Network error` still crashes my app:

const {error, loading} = this.props.data;

[code]
Thank you for your patience^

[2017-07-06 12:58] jbaxleyiii commented on #464
Released in 1.4.3! docs to come!

[2017-07-06 12:58] #464 closed

[2017-07-06 13:56] alexicum opened #823 "[flow] Named import from module `redux` (This module has no named export called `Store`.)"
## Steps to Reproduce
1. src/types/index.js:
`import type { Store as ReduxStore, Dispatch as ReduxDispatch } from 'redux';
`
2. .flowconfig:
[code]
3. npm run flow

### Buggy Behavior

[code]

Works without react-apollo in libs
#./node_modules/react-apollo/lib/index.js.flow

react-apollo index.js.flow contains:
`import type { Store } from "redux";`

commenting it also helps.

### Version
- apollo-

[2017-07-06 19:48] jcheroske commented on #760
Same issue here:
[code]
This is breaking my build.

[2017-07-06 21:22] slightlytyler commented on #672
Would love to see more discussion on techniques for colocating fragments with components. Right now my process is very manual but it seems it could be more streamlined

[2017-07-06 23:02] Danilo-Araujo-Silva commented on #760
For me when react-apollo is doing this:

[code]

it resolves like this:

[code]

But in my dependencies I have:

[code]

which resolves with this:

[code]
So the versions is mismatching.

[2017-07-07 03:32] jcheroske commented on #797
Here is our apollo/redux initialization code. Sorry I don't have more time right now to walk you through it. It's an HOC for use with next.js. It puts the redux state from the server into a prop called `initialState` that is transferred from the server to the client.
[code]

[2017-07-07 10:00] BowlingX opened #824 "renderToStringWithData produces invalid checksums for non-deterministic render()"
Having non-deterministic render methods will result in a checksum mismatch:

[code]

That's due the render() method is called first to walkt trough the tree and then again during render.

I know having this problem is properly rare, but some libraries are using that to generate unique id's (`react-select` for example).

### Version
- apollo-client@1.7.0
- react-apollo@1.4.3

[2017-07-07 10:35] BowlingX commented on #824
Ok, properly a general problem not specific to this library. I will close it. A solution would be to use something like this: https://www.npmjs.com/package/react-uniqueid

[2017-07-07 10:35] #824 closed

[2017-07-07 17:15] #771 closed

[2017-07-07 18:04] jonathanphz commented on #800
I think I have the same issue - followed along #174 and got here. Whenever I make an edit the component remounts. Even editing a simple (no data) component causes a different component to  re fetch data.

## Version

react-apollo@1.4.2

[2017-07-07 18:15] jonmanzo commented on #708
You can define the key name via a connection directive now...

https://github.com/apollographql/apollo-client/pull/1801

[2017-07-07 20:17] joncursi opened #826 "TypeError: Cannot read property 'ReactCurrentOwner' of undefined"
Hi,

I am getting the following error in my Meteor project which uses `react-apollo`. The stack trace points me to `react-apollo`, so I am posting here, but I am not 100% convinced this issue belongs here.

[code]

[I did some searching, and read that](https://github.com/facebook/react/issues/8788#issuecomment-272636292) this is due to version mismatches between `react` and `react-dom`.

The odd t

[2017-07-07 21:09] DogPawHat commented on #826
Same issue here.

in the package.json ```react-dom``` is a optional dependency
[code]
the v16 bit was added on April 27th in https://github.com/apollographql/react-apollo/commit/85a8b7f6a03d40ed8b1b21ace73a941d6f02633b for React Native compatiablity

I had to ```cd node_modules/react-apollo``` and run ```npm remove react-dom``` to fix the issue.

[2017-07-07 23:17] hyusetiawan opened #827 "best practice: watchQuery per component"
This is not an issue/bug. I am trying to figure out the best way to do this.

I have set up my store to use mobx and I pull the data using apollo-client. I put in the effort to do a diffing + patching and it has been work wonderfully, where I would get the data using watchQuery, diff it with what I have, and then patch the store. Piggy backing on mobx observer system, only the components referenci

[2017-07-08 02:25] jbaxleyiii opened #829 "Testing bot responses"
**Intended outcome:**

**Actual outcome:**

**How to reproduce the issue:**

**Version**
- apollo-client@<version number>
- react-apollo@<version number>

[2017-07-08 02:31] jbaxleyiii commented on #829
grr, bot not in marketplace, will have to deploy it

[2017-07-08 02:31] #829 closed

[2017-07-08 18:21] dnalborczyk opened #830 "1.4.3 introduced a config.skip bug"
if not intentional, v1.4.3 introduced a bug where **config.skip** is not being called first anymore, but some time later, e.g. after **config.options**, which makes skip in this case pretty much useless.

**Version**
- apollo-client@1.7.0
- react-apollo@1.4.3

**How to reproduce the issue:**
[code]

**Intended outcome:**
[code]

**Actual outcome:**
[code]

[2017-07-09 19:46] viridia commented on #311
@jbaxleyiii In your response above, you say "the test-utils imported by that file can be used with any testing framework", but I'm having a lot of problems doing just that.

I'm attempting to use the test-utils with react-enzyme, and I'm able to mock the component - except that the component renders with the wrong data. The call to react-enzyme's 'mount()' function returns before the promise in th

[2017-07-10 02:29] estaub commented on #769
I'm no expert, but it looks to me like the design of the react-apollo types prevents use of nested mutation and query on a component without some fakery.  The definition of the `TResult` generic parameter comes into conflict from the component having both a query and mutation.

A workaround, in my case, was to remove the mutation from the component's props generic parameter, and then invoke the mu

[2017-07-10 08:44] langpavel commented on #826
I don't understand why I have this in `yarn.lock`:
[code]

Last line is buggy

[2017-07-10 09:06] PhilippSpo commented on #745
@anthonator Is this issue resolved for you? We still see this issue in 1.4.3 right now. Not sure If we are doing something wrong 😅

[2017-07-10 12:28] Strayer opened #832 "Type error in hoistNonReactStatics on react-native Android after upgrade to 1.4.3"
Since upgrading to 1.4.3 I always get this error when trying to run the app on Android devices and emulators, it doesn't happen with iOS:

<img width="320" alt="grafik" src="https://user-images.githubusercontent.com/310624/28017656-81cedcfa-657a-11e7-89a8-655ee701db8a.png">

I'm doing a simple graphql(mutation)(Component) call that causes this stacktrace.

**Intended outcome:**

No type error.

**

[2017-07-10 16:06] enjoitheburger commented on #830
Also seeing this issue in our project.

[2017-07-10 16:10] jbaxleyiii commented on #830
This may be related to the new option to allow for passing a client in the options. I'll take a look! Thanks for the report!

[2017-07-10 16:12] SterlingSmith commented on #830
Reporting that my project is seeing this error as well. Hope it is an easy fix!

[2017-07-10 16:27] jbaxleyiii commented on #830
@SterlingSmith yep it will be a quick one, I should have it out today with a fix

[2017-07-10 16:55] romseguy commented on #604
I could make a global error handler fitting my needs thanks to [apollo-fetch afterware](https://github.com/apollographql/apollo-fetch#error-handling).

[code]
Also see [Apollo Integration](https://github.com/apollographql/apollo-fetch#apollo-integration)

[2017-07-10 17:24] #827 closed

[2017-07-10 19:54] wmcbain commented on #832
I'm able to reproduce this using the iOS simulator as well.

[2017-07-10 19:58] greenkeeper[bot] opened #833 "An in-range update of @types/react is breaking the build 🚨"
## Version **15.0.36** of [@types/react](https://www.npmjs.com/package/@types/react) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/react-apollo/compare/greenkeeper%2F%40types%2Freact-15.0.36">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/react
    </td>
  </tr

[2017-07-11 07:00] dfischer commented on #810
Same issue for me with `1.4.3` had to downgrade to `1.4.0`

[2017-07-11 10:42] leethree commented on #832
Just got the same error on Android.

[2017-07-11 13:02] bkniffler opened #834 "Dependency on apollo-client ^1.4.0"
Hey,
Is there a reason why react-apollo depends on the outdated version 1.4.0 of apollo-client and thus, maxes at 1.4.3?

[2017-07-11 13:07] #834 closed

[2017-07-11 13:08] bkniffler commented on #834
Sorry, forgot about the fact that minor versions are taken care of by ^. Somehow I still had an old version sticking to react-apollo's node_modules while the root node_modules had the latest.

[2017-07-11 14:10] greenkeeper[bot] opened #835 "An in-range update of @types/enzyme is breaking the build 🚨"
## Version **2.8.2** of [@types/enzyme](https://www.npmjs.com/package/@types/enzyme) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/react-apollo/compare/greenkeeper%2F%40types%2Fenzyme-2.8.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/enzyme
    </td>
  </tr

[2017-07-11 15:25] OscarYuen commented on #832
I also got this error 1 hour ago

[2017-07-11 15:28] OscarYuen opened #836 "Type error is shown after running "react-native run-android""
After upgrade to 1.4.3,  I got the following error on my android.

`Type error
hoistNonReactStatics
    index.android.bundle?platform=android&dev=false&hot=false&minify=false:61727:90
hoistNonReactStatics
    index.android.bundle?platform=android&dev=false&hot=false&minify=false:61714:37
wrapWithApolloComponent
    index.android.bundle?platform=android&dev=false&hot=false&minify=false:54606:40
<un

[2017-07-11 15:47] hxuanhung commented on #810
in my case apollo-client@1.4.2, I downgraded TS to 2.3.0

[2017-07-11 18:39] hxuanhung commented on #810
@dfischer which version of TS that you are on?

[2017-07-11 18:46] hxuanhung commented on #810
I had to downgraded to apollo-client@1.4.2 and TS@2.3.3

[2017-07-12 01:06] OscarYuen commented on #836
Finally I can fallback my apollo-react by manually running npm uninstall @type/enzyme @type/react and install old version react-apollo to fallback those dev dependency

[2017-07-12 02:21] yellowspaceboots commented on #832
I have this error as well on android

[2017-07-12 05:04] rad182 commented on #832
getting this error only when using release variant

[2017-07-12 06:28] zoltanarvai commented on #826
Removing the `optionalDependencies`, cleaning up the `node_modules` folder and re-ran yarn solved the issue for me.

[2017-07-12 06:42] sebas5384 commented on #832
Similar issue and in iOS 10.1 using the Expo.
Strange thing is that when the "Debug Remote JS" is enabled, the error disappear!

![screen shot 2017-07-12 at 3 37 44 am](https://user-images.githubusercontent.com/97021/28104949-d8de99ba-66b3-11e7-86ff-d4fa68badc9d.png)

[2017-07-12 08:59] sebas5384 commented on #832
Seems like is an incompatibility when in "strict mode", so I added a patch and resolved the issue and it seems that the `hoistNonReactStatics` expects that you pass a blacklist of properties to not access or copy.

I leave here a possible solution:
https://github.com/apollographql/react-apollo/compare/master...sebas5384:fix-strict-mode-error#diff-13fb06b5ebd9e4360f97cefd84b8c762R665

[2017-07-12 10:00] haris-ramzan commented on #604
@helfer This is not a solution to the problem. In my render method, if I do this:
` { data:{refetch} } = this.props;`

Is there a way to catch these "ExceptionsManager.js:71 Unhandled error Network error: Network request failed Error: Network error: Network request failed"?

[2017-07-12 13:57] vspedr commented on #836
+1, same problem here

[2017-07-12 14:26] vspedr commented on #832
I ran into the same error on android yesterday, but somehow my coworkers did not. Not sure if it's related, but I'm on node version 8.1.4 and theirs is on 7.x

[2017-07-12 15:11] jbaxleyiii commented on #832
hmmm, I wonder what could have caused this with 1.4.3! I'll take a look! Thank you all for the bug report! I'm so sorry this is causing issues! We will get it fixed ASAP!

[2017-07-12 15:25] vhmh2005 opened #841 "Jest tests failed whenever ApolloProvider is imported"
**Intended outcome:**
I'm using jest for testing. The simple test like this should pass:
[code]
**Actual outcome:**
However, I got this error
[code]
![image](https://user-images.githubusercontent.com/877578/28125242-389ab626-6750-11e7-9796-852235d14727.png)

**How to reproduce the issue:**
This is trivial as in the screenshot above
**Version**
- apollo-client@1.8.0
- react-apollo@1.4.3

[2017-07-12 15:31] sebas5384 commented on #832
@jbaxleyiii I think this was caused by this change in the `hoistNonReactStatics`
https://github.com/mridgway/hoist-non-react-statics/pull/24/files#diff-168726dbe96b3ce427e7fedce31bb0bcL18

[2017-07-12 15:41] chanan opened #842 "React Apollo fails with http2 turned on"
Our server is behind a netscaler. All was good for a while.
Yesterday our ops team turned on http2 on the netscaler. Apollo stopped working. The first query works but the second fails with: net::ERR_SPDY_PROTOCOL_ERROR - when I change the url I hit to bypass the netscaler and hit the server directly, all is good again.

**Intended outcome:**
Not get an error with http2

**Actual outcome:**
Error w

[2017-07-12 17:02] timscott opened #843 "Not Populating Interface Fields"
**Intended outcome:**

Interface fields should be populated in the results set.

**Actual outcome:**

Interface fields are missing in the results set.

**How to reproduce the issue:**

I have an interface type `Product`, and two object types, call them: `ProductA` and `ProductB`.

This query:

[code]

Run in GraphiQL returns this:

[code]

Run by my app using Apollo returns this:

[code]

To get i

[2017-07-12 17:13] timscott commented on #843
I solved it. I needed to add:

[code]

[2017-07-12 17:13] #843 closed

[2017-07-12 17:17] sebas5384 commented on #832
@jbaxleyiii this appears to be fixed now by @mridgway in the version v2.1.1 of the hoistNonReactStatics
See https://github.com/mridgway/hoist-non-react-statics/issues/32

[2017-07-12 20:47] vspedr commented on #832
Everything working fine after a clean install. `npm ls hoist-non-react-statics` returns `hoist-non-react-statics@2.1.1` which fixes the issue as stated above

[2017-07-12 20:55] marcinwyszynski opened #844 "Successful queries with no data on new page load with React Router 4"
I have a React app with Redux and Apollo Client. Some of the views are composed of multiple sub-views, potentially operating on the same resource. You'll see an example (`AccountView`) below. What I see is that when the URL is accessed directly, some of the queries get to a strange state where the network call is made and it succeeds, the `data.loading` prop is falsey, the `data.error` is falsey,

[2017-07-13 07:00] rcoedo commented on #513
I stumbled upon this problem yesterday and I was really confused. In my case, I got problems using react-apollo with [storybook](https://github.com/storybooks/storybook). I made a small playground that shows the problem [here](https://github.com/rcoedo/react-apollo-playground).

[2017-07-13 08:35] WickyNilliams commented on #760
Can i suggest rolling back the change to add react alpha, and adding that in a new major version, since it's clearly a breaking change. That way anyone who wants to upgrade can, whilst the rest of us can continue without issue

[2017-07-13 09:59] nerdmed commented on #832
@vspedr  i dont really get what you mean. Even after a clean install v1.4.3 is crashing for us on iOS 9 devices in production. @helfer any chance to hotfix this new bug?

[2017-07-13 10:59] nenti opened #848 "React navigation fails stacking query reducers"
When stacking multiple views in react-navigation that each is connected to the apollo store the reducer of one query is also hit by the results of the other query.

[code]

Reducer is also called for results of stacked component results.

[code]

"react-apollo": "^1.2.0",

[2017-07-13 11:32] vspedr commented on #832
@nerdmed the actual issue was fixed in a dependency of `react-apollo`.  If you run `npm ls hoist-non-react-statics` to check which version of that dependency is installed and it's at least 2.1.1, you should be fine. If the error persists, downgrading `react-apollo` to 1.4.2 also worked for me

[2017-07-13 12:09] nerdmed commented on #832
@vspedr ah ok thanks for your response, will check on that

[2017-07-13 16:12] chanan commented on #842
I updated to the latest versions of apollo react and apollo graphql - didnt fix the issue.

[2017-07-13 16:15] greenkeeper[bot] opened #849 "An in-range update of @types/node is breaking the build 🚨"
## Version **8.0.12** of [@types/node](https://www.npmjs.com/package/@types/node) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/react-apollo/compare/greenkeeper%2F%40types%2Fnode-8.0.12">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </tr>
  <t

[2017-07-13 16:16] akomm commented on #804
As a workaround:

I don't use ref, just own prop which is not intercepted by react and does not need HOC forwarding. But this is obviously a bug.

Don't understand the logic behind staling untouched/unlabeled issues. Is it desired that those are getting bumped regularly? I don't think so.

[2017-07-13 19:39] marcinwyszynski commented on #844
Self-inflicted wound - the problem was that I had the whole Redux store persisted with `redux-localstorage` and how I set it up didn't play well with Apollo.

[2017-07-13 19:40] #844 closed

[2017-07-13 20:59] steida commented on #826
Any update on this? It breaks a lot. Can you please remove alpha stuff from optionalDependencies? Thank you.

[2017-07-13 21:51] steida commented on #826
Temp fix for package.json

`"postinstall": "rimraf node_modules/react-apollo/node_modules/react-dom"`

[2017-07-13 22:54] greenkeeper[bot] opened #851 "An in-range update of apollo-client is breaking the build 🚨"
## Version **1.8.1** of [apollo-client](https://github.com/apollographql/apollo-client) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/react-apollo/compare/greenkeeper%2Fapollo-client-1.8.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      apollo-client
    </td>
  </tr>

[2017-07-14 06:04] haris-ramzan commented on #812
I have an same error when i change my "createNetworkInterface" uri from one host to another.

[2017-07-14 12:41] akomm commented on #815
I came closer to the issue. It looks like it happens when I have cached items from a query and a later executed mutation's result is resolved to a cached item (by type and id), but the mutation does not select all fields the query did. Then this results in components get the whole query data passed as undefined until next update, even though the store contains the data.

[2017-07-14 13:46] phyrog commented on #724
I am having the same issue when running a mutation during `render` or `componentDidMount`. What we want is to call a mutation when a user clicks on a certain link from outside the application (e.g. email). It works when we add a timeout before the mutation (500ms works), so I'm guessing that something isn't initialized or set yet when the code is executed.

Relevant stacktrace:

[code]

[2017-07-14 13:59] Aetherall commented on #556
Same behavior here,
I can see 2 'APOLLO_QUERY_INIT' actions in reduxDevTools
First one with  fetchPolicy = 'network-only'
Then an other one with the same id (so it overwrites the first one) with fetchPolicy = 'cache-first'

[2017-07-14 14:05] jbaxleyiii commented on #809
Sadly this isn't fixed yet 😥 I'm hoping to get to it soon!

[2017-07-14 14:35] Aetherall commented on #556
may comes from here :
https://github.com/apollographql/apollo-client/blob/master/src/core/QueryManager.ts#L431

[2017-07-14 20:07] dmarkow commented on #763
Having this happen too. Failed to Fetch errors when our users have left the page open for at least a couple minutes. Seems to never happen within the first 2 minutes of loading our page.

[2017-07-15 15:30] michaelspeed commented on #709
fixed this

[2017-07-15 15:30] #709 closed

[2017-07-15 15:39] tmickel commented on #811
@probot-stale[bot] a little aggressive! I'm curious to hear a quick theory here :)

would it help if we did any more digging?

[2017-07-16 04:05] blargity commented on #841
I believe this is the same as #826.

[2017-07-16 11:03] koenpunt commented on #761
Anyone? ✨

[2017-07-16 21:15] johhansantana opened #857 "If I name the queries I can't access the `data.loading` prop"
Hello, I'm new to graphql and am having a bit of trouble.

I have the following code

[code]

First issue:
I normally do:
`const { data: {loading} } = this.props;`
to see if the data is still being fetched.

This is not the case when I use the previous code as I don't see the `data` prop being passed:
<img width="680" alt="screen shot 2017-07-16 at 5 12 40 pm" src="https://user-images.githubuserco

[2017-07-16 21:24] townmulti commented on #763
@dmarkow
Catching the error seems to be how others are handling this.
Like in this closed issue:
https://github.com/apollographql/react-apollo/issues/758

[2017-07-17 10:14] #755 closed

[2017-07-17 12:33] edoroshenko commented on #615
Hi @helfer

I'm very interested and motivated (as long as it's my impediment).
Could you let me know if you already started approaching this problem? If no, do you have some thoughts how you would approach it?

[2017-07-17 13:25] pierlo-upitup commented on #604
I am kind of pulling my hear over this – please help. I am inspecting `data.error` in my component, which shows up as  `undefined`, yet I am getting an unhandled
[code]
in the console. I'm on `react-apollo@1.1.0` and `apollo-client@1.1.1`

[2017-07-17 15:00] jbaxleyiii commented on #807
Bringing in an issue from AC to see if we can improve this:

**Intended outcome:**

resetStore clears the Apollo data

**Actual outcome:**
resetStore only refetches, there is no point where data in components is cleared

**How to reproduce the issue:**

error repo: https://github.com/stantoncbradley/apollo-reset-store
1. Run the app :)
2. Clicking resetStore button triggers Apollo resetStore
3. Ap

[2017-07-17 15:25] pierlo-upitup commented on #604
Short update: in my case I'm seeing `undefined` because I also have a Redux reducer listening for `APOLLO_QUERY_ERROR` action type, and I am guessing that "touches" the `data.error` which subsequently gets reset. Can that be?

[2017-07-17 15:33] helfer commented on #615
Hi @edoroshenko. That's awesome. @jbaxleyiii can probably tell you more about it since he designed it together with Tom and is now working on Apollo full time!

[2017-07-17 15:47] jbaxleyiii commented on #857
@johhansantana the `graphql` wrapper will fetch the queries automatically when they mount so you shouldn't have to execute them manually. If you wan't to, you can use `refetch`, or use the `withApollo` helper to manually inject Apollo Client into your component.

Does this make sense

[2017-07-17 15:47] #857 closed

[2017-07-17 15:47] #851 closed

[2017-07-17 15:47] #849 closed

[2017-07-17 15:48] jbaxleyiii commented on #848
@nenti I'm not sure I follow? Could you setup a reproduction for me to take a look at?

[2017-07-17 15:49] jbaxleyiii commented on #842
@chanan I'm not sure this is an Apollo issue? Apollo just uses `fetch` to make the requests under the hood. It sounds like a potential issue with the proxy?

[2017-07-17 15:49] #842 closed

[2017-07-17 15:50] jbaxleyiii commented on #826
@pk-nb new issue will be out ASAP!

[2017-07-17 15:50] jbaxleyiii commented on #826
Closing since this is fixed in master and will be out *today*

[2017-07-17 15:50] #826 closed

[2017-07-17 15:51] jbaxleyiii commented on #841
This will be fixed with the new release today

[2017-07-17 15:51] #841 closed

[2017-07-17 15:51] jbaxleyiii commented on #836
It is a duplicate, and it will be fixed today!

[2017-07-17 15:51] #836 closed

[2017-07-17 15:51] jbaxleyiii commented on #832
I will update the dep today and cut a release that will pin that lib to a working point!

[2017-07-17 15:51] #832 closed

[2017-07-17 15:52] #835 closed

[2017-07-17 15:52] #833 closed

[2017-07-17 15:52] jbaxleyiii commented on #830
This will be out in a fix today

[2017-07-17 15:52] #830 closed

[2017-07-17 15:53] jbaxleyiii commented on #823
@alexicum hmm, can you verify you have types for redux installed? Maybe try using `flow-typed` to install them?

[2017-07-17 15:54] jbaxleyiii commented on #811
@Peleg Thank you for this great demo! We should definitely take a look!

@tmickel I'm sorry! The pro-bot was set way to aggressive! I'm changing that today!

[2017-07-17 15:55] jbaxleyiii commented on #810
I'm working on a fix that will allow this to work in 1.4.4 🌮

[2017-07-17 15:56] jbaxleyiii commented on #809
working on this today!

[2017-07-17 15:58] jbaxleyiii commented on #808
@clayne11 @cesarsolorzano I totally agree! I think we should keep the `graphql` one but export out `query`, `mutate`, and `subscribe` with more specific types!

[2017-07-17 15:59] jbaxleyiii commented on #806
@HeatherZh currently `skip` is only managed by the react integration, not part of the core api. This does sound like a great feature though!

[2017-07-17 16:01] jbaxleyiii commented on #804
@akomm would you be able to open a PR with your described change or a failing test?

The stale bot was configured too aggressively, but is useful for projects with a single maintainer (me) to make sure people who request / report something are still around when I get to fixing it :(

I'll make some adjustments to better explainer that / change the label too

[2017-07-17 16:02] jbaxleyiii commented on #802
@steida I believe this should be fixed in the latest release of both AC and RA. We decided to not use flow-typed because it is much harder to maintain types across different organizations / keep up with the actual flow releases.

[2017-07-17 16:02] #802 closed

[2017-07-17 16:04] jbaxleyiii commented on #801
@alexzielenski I think the current behavior (the RA one, AC still needs work regarding errors) is the best suited for most applications. Since there is a workaround, I'm going to close this issue. Feel free to reopen if you have further thoughts

[2017-07-17 16:04] #801 closed

[2017-07-17 16:05] jbaxleyiii commented on #800
@brandonbloom or @jonathanphz would you be able to create a sample reproduction so we can get this working correctly?

[2017-07-17 16:09] Deevent commented on #604
@pierlo-upitup I had a similar issue that was caused by redux-persist. Blacklisting the apollo reducer solved it for me.

[2017-07-17 16:09] edoroshenko commented on #615
Thanks @helfer!
Do you guys have a slack channel or what is the best way to communicate?

[2017-07-17 16:35] alexzielenski commented on #801
Hi @jbaxleyiii. I don't think the change I have proposed would alter the current behavior. It would simply prevent unrelated queries from being provided as the data for some pages. I don't think I'm being understood here since no one has replied with a reason why this isn't coherent?

All I am saying is:
In the result of an error, instead of returning the last returned query result
Run the current

[2017-07-17 16:44] pierlo-upitup commented on #604
Not using redux-persist, but thanks for the idea @Deevent

[2017-07-17 17:29] zackify commented on #604
Can we get rid of this line and just pass along errors? https://github.com/apollographql/react-apollo/blob/master/src/graphql.tsx#L515 Sorry if this is incorrect, I quickly jumped into the code.

[2017-07-17 18:29] philcockfield opened #860 "react-dom being installed within react-apollo/node_modules (why?)"
**Intended outcome:**
Reference `react-apollo` without it installing it's own version of `react-dom` within it's own `node_modules` folder.

**Actual outcome:**
When referencing `react-apollo` within a module that is also referencing `react / react-dom` the `react-apollo` is installing it's own version of `react-dom` within it's own `node_modules` folder.

This causes an error to occur when parsin

[2017-07-17 20:36] jbaxleyiii commented on #615
@edoroshenko you bet! Check out http://dev.apollodata.com/community/ and join us on slack! I'd be happy to work together on finally bringing some better error support to Apollo and SSR in general!

[2017-07-17 22:23] nerdmed commented on #832
great! @vspedr thanks again for your early response worked fine.

[2017-07-17 23:11] cesarsolorzano commented on #761
@koenpunt Could you provide a reproduction of this using [react-apollo-error-template](https://github.com/apollographql/react-apollo-error-template)? It would be helpful in tracking down this issue!

[2017-07-18 00:06] brandonbloom commented on #800
It reproduces with a naive use of react-apollo and the compose function on the hot loader example. However, this issue no longer pains me for reasons explained below.

For others who wind up here the same way I did: I've decided to completely avoid react-apollo for mutations, which is where the need for nesting surfaced frequently. I'm not sure react-apollo makes much sense for mutations vs just u

[2017-07-18 00:13] jbaxleyiii commented on #786
@dsifford I've started working on some of this now! I'm not 100% how to get around the crashing? Maybe by moving the types to a different file and importing them? I can give that a try and see if it helps!

I'm currently working on the react typings bug that is preventing people from using the latest! I'll keep you posted on progress!

[2017-07-18 00:56] jonathanphz commented on #800
Ok - I will try to create a small demo but maybe it might be easier to just show you the files for hot loader config and react-apollo.

Thanks

On Jul 17, 2017, 9:15 PM -0300, Brandon Bloom <notifications@github.com>, wrote:

[2017-07-18 01:15] dsifford commented on #786
@jbaxleyiii 🙏 You are awesome. Many thanks for all your hard work!

If there's anything you'd like me to assist with, let me know and I'd be happy to help where needed / able.

[2017-07-18 01:59] #809 closed

[2017-07-18 01:59] #810 closed

[2017-07-18 02:36] philcockfield commented on #860
I've created a sample repo to show the problem: https://github.com/philcockfield/sample-react-apollo-problem

[2017-07-18 03:38] newoga commented on #660
@helfer @jbaxleyiii I haven't had a chance to explore this any further, but do you think we should reopen this issue? If I get around to it, I can try to write some failing tests for this.

[2017-07-18 06:17] davidsims9t commented on #556
@Aetherall do you know how to fix this?

[2017-07-18 08:36] alexicum commented on #823
@jbaxleyiii, yes.

`flow-typed install redux@3.x.x`

[code]

.flowconfig:

[code]

[2017-07-18 08:43] WickyNilliams commented on #860
This has been fixed in v1.4.4 btw

[2017-07-18 09:40] joncursi commented on #826
Confirmed that everything is back to normal on my end after upgrading `react-apollo` to `1.4.4`!

[2017-07-18 10:43] akomm commented on #804
Hallo. I understand the problem.

I wanted to add a test a while ago. After first clone I usually check .travis and perform quick "as is" check to see that I start from a "clean" positive test result. Also to see if there are any external dependencies for test which can not be covered by package.json config (like in some projects database/adapter, etc.).

The tests failed (can not recall now what

[2017-07-18 14:52] jbaxleyiii commented on #860
@WickyNilliams thanks for responding to this! @philcockfield this was an issue with previous versions, it is fixed in 1.4.4 👍

[2017-07-18 14:52] #860 closed

[2017-07-18 14:58] jbaxleyiii commented on #815
@akomm currently the mutation HOC doesn't pass any data down as props, it relies on you using the promise to set local state, or to update queries which are also watched

[2017-07-18 15:07] Vitiell0 commented on #578
@THook I am also started getting this error when passing a name config. The mutation was working before it was assigned a name.

[2017-07-18 15:18] edoroshenko commented on #615
The way I see the solution:
1. Start storing GraphQL errors in the store
2. Stop throwing GraphQL errors from apollo client
3. Introduce `error-policy` option, that would define what to do with errors in the cache. It could be either `refetch` or `reuse`. `refetch` is a default one and should work as it works now. So apollo should always do query even if there's an error in the cache. `reuse` shou

[2017-07-18 20:32] eugene1g commented on #760
For me forcing react-dom to v15 by requiring it as `"react-dom": "<15.99"` resolved the conflict

[2017-07-19 05:53] pawsong opened #864 "Export types in version 1.4.4"
**Version**
- apollo-client@latest
- react-apollo@1.4.4

I guess `import` in this line (https://github.com/apollographql/react-apollo/blob/master/src/browser.ts#L3) should be fixed to `export` so that we can consume typings in the following way:

[code]

[2017-07-19 08:01] akomm commented on #815
@jbaxleyiii It is not a mutation HOC which does not pass props down the component. It is an query HOC.

I have a query HOC (mounted) and a mutation HOC. When the mutation HOC returns result in described fashion, the query HOC, while mounted, suddenly passes undefined instead of the actual data. Even though when checking the apollo's store state there is data for the given query.

As far as I know

[2017-07-19 08:37] akomm commented on #764
@ksmth Regarding Point 3.:

I see a (semi-)problem here. Mutations are different from queries regarding execution. Mutations can be executed parallel multiple times, given they pass result as props, they would overwrite each other in an unpredictable order. That should be considered. Except there is already some "execution-ordering" for mutations there, which executes them one after another.

[2017-07-19 09:17] akomm commented on #804
Got the test running. Was kind of silly, but that happens when you try to do stuff with limited time. The compile step was important for some tests to run.

[2017-07-19 11:41] vlutton commented on #864
yes, I am having same issue, updated and found that `DefaultChildProps` had been renamed to `ChildProps` but is no longer importable

[2017-07-19 12:16] jbaxleyiii commented on #864
@pawsong dangit! I'll fix it right away

[2017-07-19 12:24] jbaxleyiii commented on #864
Thanks for the report! Its being fixed right now!

This week I'm going to add a sample project with flow and typescript which will link this project so we can ensure application integrations won't break going forward

[2017-07-19 12:29] #864 closed

[2017-07-19 12:42] jbaxleyiii commented on #864
This is out in 1.4.5! Sorry again for any issues!

[2017-07-19 12:44] jbaxleyiii commented on #864
@pawsong @vlutton would you have any interest in taking a look at our docs for static typing https://github.com/apollographql/react-docs/pull/258

[2017-07-19 12:44] #804 closed

[2017-07-19 13:56] jatsrt opened #867 "Release 1.4.5 Broken"
Missing build files, just includes source.

[2017-07-19 13:57] jatsrt commented on #864
@jbaxleyiii Just added #867, missing built code, just has TS src.

[2017-07-19 14:00] jatsrt commented on #867
To be clear the released NPM package is missing the generated JS code.  It only contains the source TS code.

[2017-07-19 14:05] HammerSpb commented on #556
I have the same issue: apollo is doing queries only when graphql() created component!

[2017-07-19 14:19] benwiley4000 commented on #867
Confirmed - `lib` directory is missing.

[2017-07-19 14:39] VNadygin commented on #867
+1

[2017-07-19 14:49] jbaxleyiii commented on #867
thats bizarre! The build process hasn't changed. I'll take a look now!

[2017-07-19 14:55] jbaxleyiii commented on #867
Sorry about this everyone! I'm not sure what happened! We have an automatic release process setup with Travis, so I'll have to debug that build. Regardless, 1.4.6 is out and should fix those issues

[2017-07-19 14:55] #867 closed

[2017-07-19 15:19] benwiley4000 commented on #867
The fix works!

Thanks for the fast response. Helped us avoid having to lock down our dependency version across our test deployments. 🙂

[2017-07-19 17:03] habovh opened #869 "ROOT_QUERY gets removed from the store when accessing the same component twice"
I'm currently working on a chat app on iOS using React-Native and React-Apollo.

When on a discussion, the messages load properly using the `graphql` decorator.

Then I can post a message using a mutation, which uses `update` to add the newly created message to the discussion query (non-optimistic ui).

Works fine, no issue whatsoever, the message gets properly added to the list, and the list is r

[2017-07-19 17:08] jbaxleyiii commented on #869
@habovh hmm that is really odd! I'll see if I can figure out why that might be happening? Would you be able to create a small reproduction of this in a repo / code sandbox so I can better debug?

[2017-07-19 22:22] greenkeeper[bot] opened #870 "An in-range update of typescript is breaking the build 🚨"
## Version **2.4.2** of [typescript](https://github.com/Microsoft/TypeScript) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/react-apollo/compare/greenkeeper%2Ftypescript-2.4.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      typescript
    </td>
  </tr>
  <tr>
    <th

[2017-07-20 01:06] chris-guidry commented on #26
@stubailo, did you have a chance to write a post regarding interacting with the Apollo Redux store using the Apollo connect wrapper? I'd really appreciate seeing an example of how to read/write to the store.

[2017-07-20 01:54] stubailo commented on #26
@chris-guidry can you open a new issue please and add a description of what you're trying to accomplish?

[2017-07-20 09:06] habovh commented on #869
It might be really complicated to create a smaller app reproducing this setup, you might as well get access to the repository if you wish. Or we could share screens if you don't want to bother running Xcode to run the app.

[2017-07-20 09:52] akomm commented on #817
Note. I'm totally aware of the possibility to manually update queries using code. But I prefer the way of updating it via data coming from API automatically. I think it is always better then writing code to sync stuff. It is less prone. I always try to add as few complexity in a project as possible and updating from mutation result automatically is less code and easier to reason about.

This is wh

[2017-07-20 14:23] julienvincent commented on #604
Experiencing this issue as well. Rather a strange architecture decision to throw error if not accessed

[2017-07-20 14:24] zackify commented on #604
@julianeon 100% agreed. I wish someone would reply that can give us a reason why this can't be removed.

[2017-07-20 14:59] adamdonahue commented on #815
+1

I'm having a similar issue.  I run a mutation, refetch the relevant queries, but my component does not update.

[2017-07-20 20:30] adamdonahue opened #874 "Normalization doesn't work consistently - components don't update"
This document explains a very simple model that fits nicely to React:

http://dev.apollodata.com/core/how-it-works.html

But in practice this is not working at all.

Assume two queries, both using a shared fragment:

[code]

and

[code]

One component uses DocumentQueryA, and accepts a list of documents as its property.

Another component uses DocumentQueryB, and accepts a single document as its p

[2017-07-20 20:53] AlexMouton opened #875 "class Component cannot be passed to graphql -> query -> component -> component"
**Actual outcome:**
While adding react-apollo to a new but existing **React Native**, **iOS** project. I attempted to follow the pattern of available examples.  Wrapping my components as shown, I received a crash

[code]

**Intended outcome:**
Not that!

**How to reproduce the issue:**
[code]

**Version**
- apollo-client@1.4.0
- react-apollo@1.4.6
- react-native@0.45.1
- react@16.0.0-alpha.12:

[2017-07-20 20:59] derek-duncan commented on #779
Same issue. Try mounting a `graphql` component with `fetchPolicy: 'cache-and-network` wrapped in a `<MockedProvider>`.

[2017-07-20 21:12] AlexMouton commented on #875
That was fast.
I was defining the class below the default export!
Thanks for your time.

[2017-07-20 21:12] #875 closed

[2017-07-20 21:53] hmontes commented on #706
Please. Can you put more examples in the official docs? I don't understand how implement cursor-pagination. The variable $cursor in the query. What is it for? Do you have a real world example? I don't understand,

Thank you

[2017-07-20 22:01] liz-mars commented on #269
I appear to be having this problem as well. Any known workarounds?

[2017-07-20 23:11] stantoncbradley commented on #807
really like to see this get fixed!  it's imperative that we completely clear our user data after the user logs out!!! 🙏

[2017-07-21 09:56] akomm commented on #269
@marlonmleite where do you have the second variant from? I only know the first one from docs, so it would not surprise why the second variant you'v posted does not work.

[2017-07-21 10:07] akomm commented on #874
Sounds like my issue. Can you try the following: Return the updated document 1. exact with the same fields as you queries for and then 2. with fewer fields.

It sometimes even lead to props passed from graphql being undefined, even though the query IS in the store.

[2017-07-21 10:42] akomm commented on #815
If it is confirmed to be the same, as mentioned here: https://github.com/apollographql/react-apollo/issues/874#issuecomment-316962511

This can be closed I think. I'm still not sure, wait for reply there.

[2017-07-21 11:48] wmertens commented on #793
I have the same problem. Some of my components are not getting their props when the getDataFromTree is walking the tree.

To inspect what's happening I just run the server with the --inspect flag and put a conditional breakpoint on a component with the issue.

The odd thing is that it's happening on e.g. an Icon component that is not directly connected with react-apollo.

[2017-07-21 20:10] anthonator commented on #745
@PhilippSpo yes, this was fixed for me

[2017-07-21 20:15] anthonator opened #878 "Can't import test-utils after update to 1.4.5"
It seems that after updating to 1.4.5 `react-apollo/lib/test-utils` has disappeared.

[code]

[2017-07-21 20:23] anthonator commented on #878
This isn't an issue on 1.4.4.

[2017-07-21 22:52] gniquil opened #879 "Improve typing with variables type"
Currently `graphql` is typed with
[code]
It would be awesome if we could enrich this with
[code]

This would enforce variables checking. It's also easy for users to add as `apollo-codegen` already generates types for this.

Or can this be done already?

[2017-07-22 11:03] SevenOutman commented on #321
@helfer The `notifyOnNetworkStatusChange` approach doesn't seem to work with version `1.4.4`, neither `networkStatus` nor `loading` was captured updating.
My code goes:
[code]

Output:

    1 7
    true false

After calling `refetch`, a new request appeared in network tab in Chrome devtools, but the output went:

    1 7
    true false
    7 7
    false false

And there's no more output after the

[2017-07-22 12:08] sonaye opened #881 "Allow compose() to receive an array of enhancers"
I am trying to reduce to boilerplate code as much as possible, I noticed that I am repeating code -and names- in many places without necessarily needing to do that.

`compose` allows exposing more than one query/mutation to our component.

[code]

**How can we reduce repeated code?**

Knowing that:
[code]

We can write something like:
[code]

Unfortunately this is not possible and an error being t

[2017-07-22 12:17] sonaye commented on #881
Solved, was using reduce incorrectly.

[code]

[2017-07-22 12:17] #881 closed

[2017-07-22 17:37] cserdean opened #883 "Error: Can't find field ChatRoom({}) on object (ROOT_QUERY)"
Can't access store after mutation in update function

query:
[code]
mutation:
[code]

mutation call:
[code]

**Version**
- apollo-client@1.9.0
- react-apollo@1.4.6

[2017-07-22 18:28] cserdean commented on #883
Fixed it. I just needed to provide variables in readQuery.
[code]

[2017-07-22 19:41] greenkeeper[bot] opened #884 "An in-range update of @types/enzyme is breaking the build 🚨"
## Version **2.8.4** of [@types/enzyme](https://www.npmjs.com/package/@types/enzyme) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/react-apollo/compare/greenkeeper%2F%40types%2Fenzyme-2.8.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/enzyme
    </td>
  </tr

[2017-07-22 19:56] greenkeeper[bot] opened #885 "An in-range update of @types/redux-form is breaking the build 🚨"
## Version **7.0.1** of [@types/redux-form](https://www.npmjs.com/package/@types/redux-form) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/react-apollo/compare/greenkeeper%2F%40types%2Fredux-form-7.0.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/redux-form

[2017-07-23 02:45] veeramarni opened #886 "normalization for child fragment not working"
I was trying the following query with Fragment. I was using field `etag` as `id` to normalize the data. I was expecting the `children` field would have the reference `id` and the nested elements gets flattened but it was not the case in my example.

The backend is optimized to send first child of the parent file so I can't remove it, is there way I can get the normalized this data with children ha

[2017-07-23 07:56] greenkeeper[bot] opened #887 "An in-range update of uglify-js is breaking the build 🚨"
## Version **3.0.26** of [uglify-js](https://github.com/mishoo/UglifyJS2) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/react-apollo/compare/greenkeeper%2Fuglify-js-3.0.26">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      uglify-js
    </td>
  </tr>
  <tr>
    <th align

[2017-07-23 18:05] jonathanphz commented on #800
Ok - been working on a smaller scale reproduction of this.

My problem is that when I edit the code apollo seems to re-fetch data which makes me lose state. This also happens if I edit different component not using apollo too.

How do I send you the sample project ? Drop a zip file right here?

[2017-07-24 06:23] heysailor commented on #706
The docs are slightly misleading if you're new to Apollo - the discussion in the docs shows how an Apollo client _could_ interact with a paginated graphql data source. However Apollo [and graphql in general] doesn't implement that pagination on the server. You have to implement it yourself, by making resolvers and a schema that supports the fields such as `cursor` and `pageInfo`. [@stubailo 's lin

[2017-07-24 06:24] heysailor commented on #706
This is also an excellent explanation of implementing pagination with cursors: [https://dev-blog.apollodata.com/explaining-graphql-connections-c48b7c3d6976](https://dev-blog.apollodata.com/explaining-graphql-connections-c48b7c3d6976)

[2017-07-24 07:55] HadiAkmal opened #889 "Updating props wont change skip behavior"
**Intended outcome:**
I set the skip to `true` for default. When user click a button, the props value will updated to `false` and `skip` value should change to `false`. Query will also be enabled.

**Actual outcome:**
Skip is not updating to false and I can't call the `refetch()` function. I'm getting this error:
![image](https://user-images.githubusercontent.com/14165645/28512988-cd202774-7086-11

[2017-07-24 10:29] akomm opened #890 "Old query data loaded, even though the redux store was cleared"
Reproduce:

- Make sure you run apollo state in your own redux store
- Execute a query via graphql HOC mounting successfully & ensure it is in store
- Clear the store & ensure it is cleared
- Execute the query again ~provoking any error~ - just execute it, no error needed.

Expected result:

No data from the query passed through the graphql HOC

Actual result:

Data, which was successfully loaded

[2017-07-24 13:20] acomito opened #891 "react-native "Can't find variable: self" pointing to apollo-fetch and fetch-npm-browserfiy"
I'm getting the red screen of death with a new expo project using these packages. It seems to be pointing to something to do with fetch and apollo:

  "dependencies": {
    "antd-mobile": "^1.5.0",
    "apollo-client": "^1.9.0-1",
    "expo": "^19.0.0",
    "graphql-tag": "^2.4.2",
    "lodash": "^4.17.4",
    "meteor-apollo-accounts": "^2.0.1",
    "moment": "^2.18.1",
    "react": "16.0.0-alpha.

[2017-07-24 13:24] acomito commented on #891
I can confirm that when I downgraded to 1.1.1 that the error went away... not sure where the break happened between 1.1 and 1.9

[2017-07-24 13:27] veeramarni commented on #886
Nevermind, It's getting normalized and children fields have only reference ID.

[2017-07-24 13:27] #886 closed

[2017-07-24 14:03] anthonator commented on #878
This is happening for whatever the latest release for `react-apollo` is as of 7/4/2017. NPM and GitHub releases are giving different version numbers so it's a little confusing.

[2017-07-24 14:07] jbaxleyiii commented on #878
@anthonator `test-utils` can be found at `react-Apollo/test-utils` instead of at `/lib/test-utils`. I'll work on updating the releases today! Sorry about that!

[2017-07-24 14:07] #878 closed

[2017-07-24 14:32] anthonator commented on #878
This fixed the issue.

This is out of curiosity but for a change like this shouldn't the major or minor versions have been bumped? After updating a patch release all my test code broke which was unexpected.

[2017-07-24 14:50] jbaxleyiii commented on #878
@anthonator most likely yes, that is my fault. I though that test-utils was exported out of the root level prior but was mistaken. I'm sorry for any trouble this caused you!

[2017-07-24 15:08] anthonator commented on #878
It wasn't a huge problem. It was mostly just confusing. Thanks!

[2017-07-24 15:54] peterp opened #892 "trying to import `react-dom/server ` when running jest tests"
It seems that `react-apollo` is trying to import `react-dom/server` whilst trying to run my jest tests.

[code]

[2017-07-24 17:51] jbaxleyiii commented on #892
@peterp is this for a react-native app (I'm assuming because of the `index.android`). What env do you have set? Currently the entry point imports the code for SSR, however we have a browser entry point. Can you set the environment for your tests to be `browser`? We used to ship react-dom as a dep but that caused other troubles with both react-native and react 16.

I'd love to figure out how to mak

[2017-07-24 18:44] peterp commented on #892
Yup! It's react native, I'm using the standard preset: https://github.com/facebook/react-native/blob/master/jest-preset.json.

I've changed testEnviroment to "jsdom" and "browser" as suggested here: https://facebook.github.io/jest/docs/configuration.html#testenvironment-string, but the problem persists.

I guess I could install `react-dom` as a devDependency.

[2017-07-24 18:59] hmontes commented on #706
@heysailor No. It's not. Its an excellent explanation for RELAY cursor. NOT for cursor only (And the docs are bad for that item).

[2017-07-25 07:00] Ancinek opened #895 "Documentation - broken scroll on mobile (iPhone; 10.3.2)"
The scroll on the docs site randomly freezes. The safari browser itself is responsive.

[2017-07-25 13:47] akomm commented on #697
A query is not something "bound" 1:1 to a component. It is even possible, that you have a query 3 times in your store with different variables, each with its own cache entry. This can be because different components use the query with different variables, or one component used the query with different variables over time and generated each time a new query entry in the store (results of all querie

[2017-07-25 13:54] nbgraham opened #896 "Type error for notifyOnNetworkStatusChange option"
**Intended outcome:**

Use the HOC to create a component with a query *that will notify on network status change using Typescript*.

**Actual outcome:**

Typescript compiler error on `notifyOnNetworkStatusChange` resulting in no emit because noEmitOnError is turned on in my project.

[code]

**How to reproduce the issue:**

Using:
Typescript 2.4.2

[code]

Use the HOC `graphql` and pass an options

[2017-07-25 15:36] mrkidsan commented on #869
Currently having a similar issue as above.

On page load my ROOT_QUERY is defined and I am able to update as normal.

However if I navigate ( without a page reload ) to a location where that component unmounts and then back to a location where the component does mount, then ROOT_QUERY is undefined.

If I do a full refresh of the page ROOT_QUERY will be defined again.

**Version**
-  react-apollo@1

[2017-07-26 07:03] mkozhukharenko commented on #891
Same issue with react native

"1.9.0-1" version throws en error. I downgraded to "1.9.0-0" and it works

[2017-07-26 08:53] nthtran commented on #802
@jbaxleyiii This hasn't been fixed at all on latest `react-apollo`. Importing `gql`, `ApolloClient`, `createNetworkInterface`, etc. results in Flow errors because these are not exported from `index.js.flow`.

[2017-07-26 12:40] Strayer opened #898 "Flow errors about State type in combination with Redux and flow-typed"
**Intended outcome:**
react-apollo should work with react-redux, redux and flow-typed out of the box.

**Actual outcome:**
Running the flow type validation shows type errors in react-apollo related to redux Store type.

[code]

**How to reproduce the issue:**
Reproduced in this repo: https://github.com/Strayer/ApolloFlowIssues
Install dependencies, then run `yarn run flow` to see the errors.

**Ve

[2017-07-26 13:40] Strayer opened #899 "Flow types force query options to be a function, not an object"
**Intended outcome:**
No flow errors when using an object as query options.

[code]

**Actual outcome:**
Flow complains that the options value is not an OptionDescription type, which describes a function.

[code]

Using a function as query options doesn't cause Flow errors:
[code]

The problem is that OptionDescription is defined as:
`type OptionDescription<P> = (props: P) => QueryOpts | MutationO

[2017-07-26 14:35] stevemolitor commented on #898
I am seeing the same errors. If I change for example `store: Store` to `store: Story<any>` in the react-apollo flow declarations, the errors go away.

[2017-07-26 15:11] wmertens commented on #793
@helfer any idea on what could be happening? Anything I can do to pinpoint the problem?

[2017-07-26 15:12] Strayer opened #900 "Flow types cause errors with Components that are not stateless"
**Intended outcome:**
It should be possible to create React.Component classes that have a state and are type-checked with the included Flow types.

**Actual outcome:**

Creating a Component class that has a State will result in Flow errors:

[code]

[code]

**How to reproduce the issue:**

Reproduced in this repo: https://github.com/Strayer/ApolloFlowIssues/tree/component-with-state
Install depend

[2017-07-26 15:14] mrkidsan commented on #869
**Update**: For me this errror was caused because ApolloProvider was wrapped by BrowserRouter from react-router-dom. Wrapping BrowserRouter with ApolloProvider seemed to solve the issue in my case.

[2017-07-27 06:40] jbreckel opened #903 "Skip does not prevent options from running"
Using `config.skip` on the `graphql`-hoc does not prevent `config.options` to be called.

Code:
[code]

**Intended outcome:**
The hoc should not execute `config.options` if `selected` is falsy.

**Actual outcome:**
Throws error in options if `selected` is falsy as it executes `config.options` and cannot read `selected.name`.
[code]

**Version**
- apollo-client@1.8.1
- react-apollo@1.4.8

[2017-07-27 08:06] alexicum commented on #823
Fixed in react-apollo@1.4.8

[2017-07-27 08:06] #823 closed

[2017-07-27 08:43] HadiAkmal commented on #903
What happen if you hardcoded skip to:

`skip: true,`

[2017-07-27 08:55] jbreckel commented on #903
does not change the behaviour

[2017-07-27 08:59] goldo commented on #311
here's a link about what we are doing:
https://github.com/apollographql/apollo-test-utils/issues/30
@viridia it should not solve your problem, but it might avoid it
Anyway, tell me what you think

[2017-07-27 09:40] wmertens commented on #793
No change with React v16 beta1…

[2017-07-27 14:06] amannn commented on #472
I just stumbled across this issue. I was actually pleasantly surprised to see that variables can be passed to `refetch` which will update the query and pass the new variables via `this.props.variables` to the new component. However, I've seen that these variables are reset at some point which I couldn't really narrow down.

If `react-apollo` doesn't want to support this, maybe it would make sense

[2017-07-27 14:35] greenkeeper[bot] opened #904 "An in-range update of mobx is breaking the build 🚨"
## Version **3.2.2** of [mobx](https://github.com/mobxjs/mobx) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/react-apollo/compare/greenkeeper%2Fmobx-3.2.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      mobx
    </td>
  </tr>
  <tr>
    <th align=left>
      Current V

[2017-07-27 22:37] greenkeeper[bot] opened #905 "An in-range update of @types/react is breaking the build 🚨"
## Version **15.6.0** of [@types/react](https://www.npmjs.com/package/@types/react) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/react-apollo/compare/greenkeeper%2F%40types%2Freact-15.6.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/react
    </td>
  </tr>

[2017-07-28 02:01] timbotnik commented on #604
Perhaps a new solution coming from the Error Boundary pattern in React 16?  https://facebook.github.io/react/blog/2017/07/26/error-handling-in-react-16.html

[2017-07-28 07:18] gardner commented on #891
I get this too. They already have it logged over at https://github.com/apollographql/apollo-client/issues/1956

[2017-07-28 07:40] julienvincent commented on #604
Although I do agree that boundary error catching is an elegant solution, I still don't think that apollo network errors should throw.

In my opinion they should just set the 'error' prop to true and allow the component to render (or *not* render) error related UI accordingly

[2017-07-28 09:15] michielbouw commented on #900
Hi, have the exact same problem with flow type checks, just updated to newest apollo-client from version 1.7.0 and react-apollo from version 1.4.6. For apollo-client@1.7.0 and react-apollo@1.4.6 all still works fine. Updating only one of them (doesnt matter which) also has the same issue.

**Version when error**
- apollo-client@1.8.1 (but 1.9.0-1 has same result)
- react-apollo@1.4.8

Changelogs f

[2017-07-28 19:05] leoasis commented on #672
@jbaxleyiii has this been considered? Are there any similar efforts going on somewhere else?

[2017-07-29 13:59] dsifford commented on #786
@jbaxleyiii I finally got around to looking at both your changes and the associated blog post you wrote. Thanks for taking the time to do that.

Unfortunately, it is looking like your changes will still not work for me.

Your blog post describes in great detail on how to apply the changes to stateless functional components. However, it makes no mention on how to apply these changes to stateful com

[2017-07-29 15:25] jbaxleyiii commented on #786
@dsifford I'm so sorry to hear this! What about the class methods listed here http://dev.apollodata.com/react/using-with-types.html#classes-vs-functions

Does that help?

[2017-07-29 21:36] dsifford commented on #786
@jbaxleyiii Thanks for the response. The docs you've linked to provide further clarification. I'm pretty sure that way will work.

However, I'm going to still continue stubbing the types because I still don't see how casting merged props from the decorator into the component is any better than just merging the props and explicitly setting `Props` on the component class.

There very well might be s

[2017-07-30 01:21] dallonf commented on #447
I think this issue is actually in Apollo Client rather than react-apollo, so I'll just point to https://github.com/apollographql/apollo-client/pull/1607 and close this

[2017-07-30 01:21] #447 closed

[2017-07-30 11:17] MacKentoch commented on #604
I keep my ear wide opened to a suggestion / fix for this error.

[2017-07-31 06:13] arahansen opened #906 "Giving query name causes invalid typing?"
I have a query that looks something like the following:

(NOTE: I'm using flow)

[code]

**Intended outcome:**
I should be able to get correct type inferences that `myQuery` property exists as a sibling to `ownProps`.

**Actual outcome:**
Flow is telling me that `myQuery` is not a property that exists on this object since [this line](https://github.com/apollographql/react-apollo/blob/8ee56e94d90c1

[2017-07-31 07:55] lhz516 commented on #421
I also wrote a HOC to handle this issue. I hope it can help.

https://github.com/lhz516/react-apollo-mutation-state

[2017-07-31 09:10] koenpunt opened #907 "`withApollo` doesn't support operation options when using with `compose`"
**Intended outcome:**
Be able to supply operation options when using `withApollo` with `compose`

**Actual outcome:**
Not able to pass options since the function isn't a factory.

**How to reproduce the issue:**

Take the following example:
[code]

If I would like to pass the `withRef` option, this is not possible.

For now I worked around this by applying `withApollo` outside of `compose`:

[code

[2017-07-31 15:26] alfredringstad opened #909 "Flow-types are out of sync"
Flow-types are missing for the following exports:
- [x] withApollo
- [x] compose
- [x] gql
- [x] Everything that is imported from the apollo-client library and exported in index.js

Also, these methods are exported in the flow-types, but are not available in TS/JS:
- [ ] walkTree
- [ ] parser
- [ ] cleanupApolloState

**Intended outcome:**
Trying to import `withApollo` from `react-apollo`.

```imp

[2017-07-31 20:53] jbaxleyiii commented on #909
@alfredringstad thank you for bringing this to my attention! I'll get it fixed asap!

[2017-08-01 00:34] dozoisch commented on #909
Same thing with `gql`

`import { gql } from ' react-apollo';`

[2017-08-01 01:36] #909 closed

[2017-08-01 03:37] Panoplos commented on #207
Any update on this? I am looking to use flow types in my HOC definitions, especially for the propType that is being pushed down into the enhanced component. Something like:

[code]

[2017-08-01 06:21] jaydenseric opened #921 "Broken Next.js SSR after updating v1.4.8 -> v1.4.9."
After updating `react-apollo@1.4.8` to the current version, `1.4.9`, `getDataFromTree` imports as `undefined` when attempting SSR in a Next.js project.

Downgrading to `react-apollo@1.4.8` fixes the issue.

**Intended outcome:**

[code]

In a Next.js page decorator, this should log the function.

**Actual outcome:**

The import is undefined.

**How to reproduce the issue:**

I have not tested this

[2017-08-01 07:53] barbu110 commented on #898
Anything on this yet?

[2017-08-01 08:08] samvik commented on #755
I'm seeing this issue on react-apollo 1.4.8. I'm unable to add any methods or variables to the component class or using a typed state (any-type works as reported above). When doing so I get the error message "Unable to resolve signature of class decorator when called as an expression. ...".

Have anyone got this to work?

So unless I do something wrong the decorator is at the moment unusable. I vo

[2017-08-01 13:05] barbu110 opened #922 "Module not found "graphql/language/parser""
Hi!

When I run webpack for my project, this is what I get:

[code]

Here is my `package.json` file:

[code]

What can I do?

[2017-08-01 15:43] jbaxleyiii commented on #922
@barbu110 can you run `npm I --save graphql`?

[2017-08-01 15:51] jbaxleyiii commented on #921
can you `import ReactApollo from "react-apollo"` and tell me what is present?

[2017-08-01 16:04] jbaxleyiii commented on #921
@jaydenseric this was a weird UMD bundle issue that I have no idea what caused it! regardless, it is fixed in 1.4.10 (which is released) via https://github.com/apollographql/react-apollo/pull/925

[2017-08-01 16:04] #921 closed

[2017-08-01 16:08] jbaxleyiii commented on #793
I'll be taking a look at this today!

[2017-08-01 16:13] comus opened #926 "1.4.9 not found getDataFromTree"
see: https://www.dropbox.com/s/ll52qefbelqjqzd/Screenshot%202017-08-02%2000.11.48.png?dl=0

react-apollo@1.4.9

[2017-08-01 16:14] jbaxleyiii commented on #926
@comus can you try 1.4.10? It was just released with this fixed! Thanks!

[2017-08-01 16:14] #926 closed

[2017-08-01 19:02] dozoisch opened #931 "FlowTypes is missing NamedProps"
**Intended outcome:**

[code]

**Actual outcome:**

**How to reproduce the issue:**

See intended

**Version**
- apollo-client@1.8.1
- react-apollo@1.4.10
---

Follow up of https://github.com/apollographql/react-apollo/issues/909. I see NamedProps in the `types.d.ts` but not in the react-apollo.umd.js.flow!

[2017-08-02 01:51] baerrach commented on #26
@chris-guidry Is [Integrating with Redux](http://dev.apollodata.com/react/redux.html) the post you are looking for?

[2017-08-02 04:35] linhnh123 opened #933 "Can not connect to GraphQL server on Android"
[React Native]
On IOS, the connect is successful. But failed on Android. I tried to set IP, but still nothing change. Please help !
This is detail of error and config client, server.
I'm using react-apollo 1.4.4

The Error
<img width="506" alt="screen shot 2017-08-02 at 9 46 58 am" src="https://user-images.githubusercontent.com/13411581/28857806-3719961a-7776-11e7-93cf-e70d08644edb.png">

Config C

[2017-08-02 14:53] neilff opened #936 "Feature Request: `cache-and-network-and-cache` fetch policy"
We feel like there would be a strong use case for something that loads initially from cache, in the background fetches latest, and then subsequently retrieves from cache for the duration of the client session.

**Example**:

In our app, we want to load data as fast as possible for the client, so we use Redux Persist and persist our Apollo data to `localstorage`. When the user returns to our site,

[2017-08-02 16:04] ramsaylanier opened #937 "updateQuery doesn't update when performing arbitrary transformation"
I'm performing an arbitrary transformation on the data prop by renaming the name of the prop related to a query. I'm trying to do pagination, but the previousResult and fetchMoreResult use the original query name. When I return a new object with the transformed name, the UI doesn't actually get updated. I have to return both the transformed name, and the original query name.

Here's the code:
[cod

[2017-08-02 16:22] Deilv commented on #315
This issue still exists in react-apollo 1.4.10.

The code below fails.
`export const viewerQuery = gql`
    query viewer($token: String) {
        viewer(token: $token) {
            username
        }
    }
`;

export const viewerQueryOptions = {
    options: ({ token }) => ({
        variables: { token },
        fetchPolicy: 'network-only'
    })
};

export default compose(
    graphql(viewerQu

[2017-08-02 17:26] ramsaylanier commented on #937
I have figured out the issue.

[2017-08-02 17:26] #937 closed

[2017-08-02 21:18] lettertwo commented on #892
FWIW, I've managed to work around this problem by aliasing `react-apollo` using the [babel module resolver plugin](https://www.npmjs.com/package/babel-plugin-module-resolver):

in `.babel.rc`:
[code]

[2017-08-03 02:51] chris-guidry commented on #26
@baerrach, nope, but thanks. I am not currently using Redux so I don't have an existing Redux store to integrate with, but there are a few instances where I need to save data for a few different components to use and would like to explore using the Apollo Redux store. Anyway, I will post a new issue describing that need more specifically.

[2017-08-03 10:31] Philip-Nunoo commented on #892
Having the same issue here.

[2017-08-03 13:01] wmertens commented on #764
I made a similar comment on the slack:

* make things like `graphql(query, {options: props => ({variables: {foo: props.bar}})})` more pleasant
* allow marking queries as on-demand, like mutations
* allow changing internal query state (like variables) without having to wrap
* allow reading loading state and last result from mutations, like queries
* allow passing options as the first arg with the q

[2017-08-03 13:54] jbaxleyiii commented on #931
@dozoisch could you take a look at adding this?

[2017-08-03 14:00] advance512 commented on #315
Did you
`yarn list | grep redux`
?

[2017-08-03 14:26] jbaxleyiii commented on #793
@ClemensSahs can you describe the issue in that repo? It all looks like it is working as expected to me?

[2017-08-03 15:53] jbaxleyiii commented on #513
There is a PR in progress on this! Thanks @probot-stale[bot]

[2017-08-03 17:02] acomito commented on #604
As of now, we have to check for errors in each component that has a query?

[2017-08-03 17:33] dozoisch commented on #931
Sure

[2017-08-03 17:50] tizmagik commented on #764
+1

[2017-08-03 19:08] wmertens commented on #793
I managed to repro the problem all the way to me :) so I don't actually have this issue. If @ClemensSahs doesn't have it anymore either I suppose this can be closed…

[2017-08-03 20:22] ClemensSahs commented on #793
It looks like the reproduction repo work fine?

Not sure how... but I will check our codebase and check the version off the dependencies.

@jbaxleyiii
In the case of that issue. The first message component run in to this line. https://github.com/ClemensSahs/kit/blob/react-apollo-793/src/app.js#L115

[2017-08-03 20:34] cyrus-za commented on #170
I see the bot marked this as closed, but I am still experiencing this issue.

Some background info: I am using next.js with react-apollo. Similar to the `with-apollo` example in the nextjs repo. I haven't experienced this in the first few weeks of working on this project up until the point where I had to get parameterized queries with variables changing based on page route.

When the component mou

[2017-08-03 21:10] cyrus-za commented on #730
I am suddenly seeing this. I am not sure what code change triggered it. I am using next.js so got SSR going. If I refresh my page it throws the error, but navigating to the page from another does not. So clearly it has something to do with SSR.

[2017-08-04 07:34] blocka commented on #764
One idea that keeps coming up is giving control over to the component as to when to execute the query. Sometimes, it only makes sense to do this based on the internal state of a component, so `skip` can't be used.

As a practical example, I have a component called `Calendar`. It maintains it's own state, and upon mount will call a callback with the current month and year. I have a component which

[2017-08-04 12:15] CrocoDillon commented on #708
I'm running into a similar problem. When a query accepts one or more variables I want to either refetch or update that query with all possible variables it has been cached with.

Use-case is something like adding to or removing items from the top of some infinite scroll list or paginated results. In my case it's a query that retrieves just the right amount of items that fit on the screen.

[code]

[2017-08-04 14:28] cyrus-za commented on #170
For those who stumble upon this, I've solved my issue by specifying a name. It seems like name field is required when using options. It's pretty weird behaviour, but if it works it works.

[2017-08-04 15:46] adamdonahue commented on #874
Thanks for responding.  (Sorry I'm just getting back to you.) . The explanation in the referred-to ticket makes sense, but there are certainly some assumptions there that are unintuitive.

[2017-08-04 21:16] #931 closed

[2017-08-05 09:09] psamim commented on #723
@DylanMoz Hi, Did you find any workaround? I want to use cached pages for pagination.

[2017-08-05 11:04] jinxac commented on #556
Please check if options is passed as functions. I was facing issue with
`    "options": {"fetchPolicy": "network-only"}`.

When i changed it to following it works fine.
   ` "options": () => ({"fetchPolicy": "network-only"})`

[2017-08-05 12:35] advance512 commented on #315
Compose is a really simple function, and its implementation (whether from react-apollo, redux or recompose) I doubt is faulty. But you can try all 3. Does any of them work while the others does not?

I am nearly certain the issue is multiple co-existing versions of Redux. Can you try:
[code]
and tell us what happens? Does it solve the issue?

[2017-08-05 13:41] Aetherall commented on #556
@davidsims9t  My workaround was to use "cache-and-network",
and to treat the data only when ( props.data.loading === false )

I would try @jinxac 's solution first

[2017-08-05 15:53] sakhmedbayev commented on #712
@benwiley4000 can you please show me how you actually done this part:

I am having hard time to find documentation for how to use `mapPropsToQueries`

Thanks in advance!

[2017-08-05 16:56] DylanMoz commented on #723
@psamim I just ditched `fetchMore` and instead went for the standard usage of the higher order component with the variables for the query determined by passed in props.

[2017-08-05 18:01] benwiley4000 commented on #712
I definitely had to do some searching to figure out exactly what I meant...

Anyway, this is how you can use map props to queries in conjunction with something like react-redux connect:

[code]

This will refetch your query whenever `myFilterString` changes.

@sakhmedbayev

[2017-08-05 19:30] psamim commented on #723
@DylanMoz Thanks for the quick reply! You mean you use `withApollo` and access Apollo client via props?

[2017-08-05 19:36] DylanMoz commented on #723
@psamim like so:
[code]

You can then use the component like so:
[code]

[2017-08-06 12:56] duvet86 opened #953 "Same query different properties fails to resolve data."
I have 2 components, nested one into the other, they are wrapped into graphql() using the same query but different properties. The parent component gets triggered at the very beginning resolving properly. Then the second component gets executed and instead of resolving itself it ends up on the parent with a broken payload.

[code]

[code]

**Intended outcome:**
I expected the queries to be resolve

[2017-08-06 16:33] sakhmedbayev commented on #712
Thanks @benwilley4000.  Is 'myFilterStringSelector' react component? Can you show how it look like?

[2017-08-06 16:46] benwiley4000 commented on #712
@sakhmedbayev it's just a shortcut to get your redux state that abstracts away the structure of the state. Not really important to have this, but it could look like:
[code]
If that's what your reducer looks like.

If you're not using redux at all then this is irrelevant.

[2017-08-06 21:34] rattrayalex opened #956 "[Flow] typing feature request: successful Response should not be assumed"
**Intended outcome:**

Raise a type error when accessing a result without checking for its existence.
That is, enforce `if (hero) return <div>{hero.name}</div>`

[code]

Note that changing type `Response` to:
[code]
achieves the desired effect, but isn't accurate – the *Response* should always have a `hero`, only when there isn't a response should there be no `hero`.

A bonus would be to typecheck

[2017-08-07 10:32] lifeiscontent opened #957 "Race conditions"
Hi, I'm seeing race conditions in my app when developing with apollo.

when I do a graphql fetch, `data.loading` is true, then when `data.loading` is false, it returns a key of the data I asked for with `undefined`, and then sets it... is there a reason for this?

https://github.com/lifeiscontent/postgraphql-forum-example-apollo-client

**Version**
- apollo-client@1.4.0
- react-apollo@1.4.10

[2017-08-07 13:57] KROT47 opened #958 "incorrect flow types file in react-apollo@1.4.10"
Unexpectedly file [index.flow.js](https://github.com/apollographql/react-apollo/blob/master/src/index.js.flow) does not match `react-apollo.umd.js.flow` in npm dist. But as we can see [here](https://github.com/apollographql/react-apollo/blob/master/scripts/deploy.sh#L53) it should be exact same files.

**Intended outcome:**
Followed instructions from [http://dev.apollodata.com/react/using-with-typ

[2017-08-08 08:47] groundmuffin opened #960 "networkInterface.use is not a function"
**Intended outcome:**
Trying to use Apollo Client with middleware. networkInterface.use()
Followed instructions from [http://dev.apollodata.com/core/network.html#networkInterfaceMiddleware](http://dev.apollodata.com/core/network.html#networkInterfaceMiddleware)

**Actual outcome:**
Warning: ApolloClient.js:106 The Observable Network interface will be deprecated
Error: networkInterface.use is not a

[2017-08-08 12:26] groundmuffin commented on #960
related to apollo-client repo

[2017-08-08 12:26] #960 closed

[2017-08-08 12:48] psamim commented on #345
I still see this error message:
[code]
I use apollo-react 1.4.3 and apollo-client 1.9.0

[2017-08-08 21:50] dozoisch commented on #958
see https://github.com/apollographql/react-apollo/pull/952! Most of them should be fixed in next release.

[2017-08-09 04:50] HriBB commented on #345
Same here. Even if I access `this.props.data.error` in my `Container` component, which some of other posts suggested would fix the error.

[2017-08-09 17:14] mzarzour commented on #681
I'm a little dumbfounded that AC doesn't support some kind of mechanism for dynamic queries. The promise of GQL has always been no over-fetching/under-fetching. In GraphiQL yes... you can enter only the fields you want. But, in the real world you need an HOC and all kinds of problematic hacks. As the complexity of GQL applications grow, so will the need for non-static queries.

[2017-08-09 21:01] Deilv commented on #315
At this point I am quite certain that this is not an issue with compose, at least not in my case. `yarn install -flat` makes no difference. However, I did notice that in the documentation example (http://dev.apollodata.com/react/redux.html#using-connect) connect() wraps graphql(). I firmly believe that connect() should be before graphql() in compose() when the later relies on data from the former.

[2017-08-09 21:12] domachine commented on #786
I'm currently running into the same issue with slowdowns of the language server. Is there anything I can do to work around?

[2017-08-10 11:29] benhjames commented on #958
Also, in `1.4.11` there are no flow files at all in the npm distribution! Super weird.

[2017-08-10 14:03] Kison commented on #345
@HriBB, @psamim, guys, have you found the solution?

I also have such error in catch handler of my mutation
[code]

[2017-08-10 14:40] Kison commented on #345
Seems like everything is ok )
Instead of using ```console.log(error)``` need to use ```console.log(error.graphQLErrors)```. We see error message instead of object because ```toString``` method calls of ```Error``` object.

[2017-08-10 15:20] jbaxleyiii commented on #958
@benhjames looks like 1.4.11 was a bad deploy, try 1.4.12!

[2017-08-10 15:20] #958 closed

[2017-08-10 15:24] benhjames commented on #958
Works great - 1.4.12 also fixed the last issue I had with typing `graphql` wrappers around stateful class components! 🎉

[2017-08-10 15:40] benhjames commented on #900
Looks fixed in 1.4.12! 😃

[2017-08-11 05:15] L1fescape commented on #674
@bartlett705 actually the entire request object in your mocks needs to _exactly_ match the request being made in your code, including the order of variables. The mock objects you provide to `MockedProvider` are [stringified](https://github.com/apollographql/react-apollo/blob/master/src/test-utils.tsx#L259-L266) and used as keys when [registering](https://github.com/apollographql/react-apollo/blob/

[2017-08-11 09:40] Strayer commented on #900
Can confirm, `yarn upgrade apollo-client react-apollo` to react-apollo@1.4.12 and apollo-client@1.9.1 seems to fix this.

[2017-08-11 09:44] Strayer commented on #898
The import errors seem to be resolved in react-apollo@1.4.12, the errors about store are still occurring though. Updated the example project to the newest versions.

[2017-08-11 09:49] Strayer commented on #899
This seems to be valid still for react-apollo@1.4.12 – see https://github.com/Strayer/ApolloFlowIssues/tree/query-options-as-object to reproduce this error.

[2017-08-11 11:57] fjaguero commented on #957
I think that's the expected behavior, not a race condition.

[2017-08-11 18:20] jonathanphz commented on #800
Any updates on this? - Label says waiting-response but I already responded 19 days ago.

Thanks

[2017-08-11 18:39] jbaxleyiii commented on #800
@jonathanphz sorry about that! I missed your response! I'll take a look and thank you for the project!

[2017-08-11 19:34] jonathanphz commented on #800
Hey no problem  at all - Thank you for taking the time!

[2017-08-12 00:59] richardgirges commented on #900
I'm still seeing this w/ react-apollo@1.4.12 and apollo-client@1.9.1 but only when I use `withApollo`. It no longer shows up when using the `graphql` container.

[2017-08-12 12:36] c0d0g3n opened #976 "receiving `Loading:true` instead of data after unmounting, `client.resetStore()`, then mounting again"
I created a repo that reproduces this issue: https://github.com/c0d0g3n/apollo-reset-issue

The detailed description is in README.md, as well as copied below:

This issue may be related to https://github.com/apollographql/react-apollo/issues/718

[2017-08-12 16:06] dsslimshaddy opened #978 "Sends OPTIONS and a POST twice on different domains"
[code]
This is the code

[code]
The request is sending `OPTION` request along with the `POST`.
*the client and server are on different domains*

[2017-08-13 02:13] kkemple commented on #604
I'm failing to see why this can't be solved with a HOC in user land.

Turning the error prop into a boolean is no good because some may want to use error information in app. (I return different error types for different issues, i.e. authentication/permissions/bad request/etc)

With a simple higher order component and using `compose` you can handle all errors with very little ceremony.

[code]

[2017-08-13 07:59] julienvincent commented on #604
Agreed, in my previous comment what I was trying to say was that apollo should continue to set the value of the error prop (not necessarily to true) but without throwing. The issue here is not the value of the error prop, but the fact that it gets thrown.

The ceremony comes in where you have to explicitly attach that HOC to every component that makes use of Apollo.

IMO, a jumpy network should no

[2017-08-13 18:20] #898 closed

[2017-08-13 19:43] eugene1g opened #981 "Major BC break with 1.4.13"
1.4.13 added support for `apollo-client@2.0`, which gets installed by default for users who just rely  on `react-apollo` and do not specify their own apollo-client version. My app crashes with `createBatchingNetworkInterface is not a function` as it seems to be no longer included in apollo-client.

I suggest the relaxed version requirement should be reverted back to work with apollo-client 1 by de

[2017-08-13 20:09] jbaxleyiii commented on #981
@eugene1g 1.4.14 is published with that reverted and 1.4.13 is deprecated on npm!

[2017-08-13 20:09] #981 closed

[2017-08-14 06:58] lifeiscontent commented on #957
@fjaguero I would expect there to be only undefined only when loading is set to true, why would you expect it to be otherwise? Then you have to do more null checks...

[2017-08-14 13:37] ShockiTV commented on #764
@blocka You can always create HoC which would track calendar state and provide it in props also with callback methods you call in calendar component. That way you can compose it on top and use that HoC's generated prop in `skip`

Regarding other discussion:
"allow marking queries as on-demand, like mutations" - you have withApollo client.query(whateverQuery)
last result of mutation does not make s

[2017-08-14 13:57] valpet commented on #903
I have the same problem. In my code my query should not run until the user is logged in and a profile object has been set.

[code]
**Output in console**

**skip** null
App.js:227 **skip** null
App.js:227 **skip** null
client?e36c:64 [WDS] Hot Module Replacement enabled.
redux-logger.js:1  action APOLLO_MUTATION_INIT @ 14:49:25.617
redux-logger.js:1  prev state {auth: {…}, apollo: {…}}
redux-logger

[2017-08-14 15:28] wmertens commented on #764
@ShockiTV you can also just put your apollo-client instance in Redux and then use it without react-apollo. The point of this issue is that right now, react-apollo is clumsy and we'd love it to be not clumsy, without having to use other tools.

Last result of mutation is handy, and multiple results just have multiple different names. If you have a button to send something to the server, it is nice

[2017-08-14 15:38] ramsaylanier commented on #228
👍 also still having this issue

[2017-08-14 15:44] cnatis commented on #416
Im using react-apollo 1.4.11 and I have noticed this issue as well, specifically referring to arrays as a property of one of my objects. In my case I can see the graphQL query result in the network tab shows that my object has an empty array for a property, however the UI and react show the props data as containing a previous value, I would have expected the refetch to have set the property to an

[2017-08-14 19:24] reactionic127 commented on #936
@neilff
How did you renderView from your cache?

[2017-08-14 22:06] ibraback opened #983 "Automatic update of a query after subscription returns an object with the same ID"
I'm building a chat app using apollo-react, I use subscriptions for real-time messages, the subscription definition takes this format:
[code]
where chatroom type takes the following structure:
[code]
for performance optimization reasons I return the last message only in the chatroom when I designed the back-end API, but it turns out when I subscribe in the react app like this:
[code]
the query tha

[2017-08-14 22:09] stantoncbradley commented on #807
this is still a big issue.  We are locked into `react-apollo "1.1.3"` so we don't accidentally leak private data until this issue is resovled

[2017-08-14 22:46] tmeasday commented on #764
Some thoughts:

1. I agree it makes sense to be consistent with AC, I think `graphql(opts)` with shorthand `graphql(query)` seems nice.

2. @ksmth I don't quite understand how [this comment](https://github.com/apollographql/react-apollo/issues/764#issuecomment-310076725) resolves the issue @stubailo mentioned. Apart from the typing problem the real issue is that one function (generating options in

[2017-08-15 00:32] aleksdao opened #988 "Unable to override default content-type 'application/json' header"
**Intended outcome:**

Additional context here: https://github.com/Yelp/yelp-fusion/issues/278#issuecomment-322328370

I'm attempting to make a request to the Yelp GraphQL API server by setting a content-type header of `application/graphql` (as suggested by the Yelp GraphQL docs for sending raw GraphQL queries, https://www.yelp.com/developers/graphql/guides/requests)

[code]
query
[code]

Expected

[2017-08-15 01:01] gilbert commented on #786
Slowdowns are happening for me too in Sublime Text. Today was the first day it crashed on me!

Not only is it slow, but the example from the documentation doesn't seem to be working. I get the following errors:

[code]

Using the following code:

<details>
  <summary>Click me to see the code</summary>

[code]
</details>

.

and using the following package versions:

- apollo-client: 1.9.1
- react-

[2017-08-15 06:40] ShockiTV commented on #764
Problem with the mutations last result, or even kinda HoC global loading state is that there can be more of them running.
If I am doing my own API with recompose I would prepare provider which would keep hashtable of running mutations something like this:
[code]
with key being som pointer or actual mutation object or some normalized foreign key etc.

And than the container level HoC would export h

[2017-08-15 06:48] tmeasday commented on #764
@ShockiTV - that seems cool! Maybe we should take the discussion to a separate issue or even a PR?

[2017-08-15 06:50] tmeasday commented on #764
@ShockiTV -- even something as complex as that doesn't handle all edge cases--what if the mutation isn't idempotent (same mutation w/ same vars can lead to different results)? It's not impossible that the user would want to call the exact same mutation more than once.

[2017-08-15 07:04] ShockiTV commented on #764
@tmeasday the original propType issue was https://github.com/apollographql/graphql-anywhere/issues/42

And yes, few mutations with same variables could be tricky, but I am not sure I see the possible solution. Even if the actual mutation return promise and some uid which can be used to track actual instance, we would have to somehow save it higher in react tree so component can use it after re-ren

[2017-08-15 07:34] kuksik opened #989 "getQueryRecycler is not a function"
Using the compose function I got this error:
[code]
I can not say exactly what happened.I detected this error when deploy my project on the heroku. I think this error can be relate npm. I am tried different versions of npm and packages but nothing help(

my code:

[code]

"react-apollo": "^1.4.6",
"apollo-client": "^1.4.2",
"graphql": "^0.9.3",

[2017-08-15 07:38] wmertens commented on #764
On mutation props: how about keeping each invocation Promise in an array,
and the last invoked is simply the last one in the array? Add in a
timestamp and invocation arguments as a bonus. Make this optional with
`asArray` (default true?).

So if you have the mutations `addPerson` and `removePerson`, you would get
two array props with the invocations. Maybe the props could also have the
method `.ma

[2017-08-15 09:54] nmuth commented on #786
I have some `tsserver` logs related to the slowdown bug. Three lines, 22 megabytes 😮. Summary:

[code]

[Here's the full file on Google Drive](https://drive.google.com/open?id=0BxyeMzvR9926eVIxNlZZeEswMGc). Let me know if you can make any sense of it.

And [here's the source file as a gist](https://gist.github.com/nmuth/223d765c89b0055926d0b359c81641ff).

[2017-08-15 15:07] vuquangchien commented on #989
I'm getting this error, too. I think there's some kind of "conflicting" with some other packages. In one of my project downgrade react-apollo to ^1.0.1 solves the problem. While in one other project it doesn't.

[2017-08-15 15:15] asafigan opened #990 "Undocumented change"
I see that a new version off react-apollo was released to npm but I don't see the changes in the changelog.

The undocumented version is 1.4.14

[2017-08-15 16:03] gex commented on #989
the codeship builds of our project are also failing because of this error. here is the relevant part of package.json:
[code]

[2017-08-15 18:49] BossGrand commented on #416
I'm also seeing this issue

[2017-08-15 19:38] pvcrea commented on #989
At the moment having the same error as well since like monday... the weird thing is that it happened once uploaded to a staging and pre production env but on local env I dont see or have this error...only on once uploaded it....It's been a real brain headache for 2 days now not knowing where or what is going wrong...

Tried downgrading as well the versions of packages in package.json aswell on how

[2017-08-15 21:54] kuksik commented on #989
It seem to be something wrong with latest version. I were getting this error because in my package.json was this string **"react-apollo": "^1.4.6"**. For deploying i am use "npm": "5.0.1".  It did install latest version of react-apollo(1.4.14).
I changed my package.json to **"reacr-appolo": "1.4.6"** after this npm was installed exactly this version.I did not try next versions but for me 1.4.6 wor

[2017-08-15 22:15] gex commented on #989
@pvcrea @kuksik i had no problem with 1.4.11 so i reverted to that and it works now.

another solution could be yarn or npm v5 (for example you can [specify an npm version on heroku](https://devcenter.heroku.com/articles/nodejs-support#specifying-an-npm-version)) because both of them have a lock file (it should be committed into the repository) and will use the exact versions of the packages.

[2017-08-15 23:06] DajoRamos commented on #170
@cyrus-za Could you please share your code. I can not make it work.
Thanks.

[2017-08-16 04:50] Carlows commented on #779
I'm also having this issue, I get:

[code]

When using 'cache-and-network' as fetchPolicy.

[2017-08-16 05:00] stubailo commented on #779
Can you provide a reproduction we can run please?

[2017-08-16 09:10] jbreckel commented on #990
also this new version seems to have all exports on the top level instead of `lib`

[2017-08-16 09:50] cyrus-za commented on #170
[code]

[2017-08-16 10:35] nsams opened #991 "Tree with unlimited depth and lazy loaded branches"
**Intended outcome:**
I'd like to implement a tree that fetches it's data lazily once the user expands a branch. The depth of this tree should not be limited, but in practice a maximum number of ~5 levels usually won't be exceeded.

**Actual outcome:**
I tried implementing the lazy loading using fetchMore() with a parent id passed as variable to the query. Problem is now that I can't attach the ch

[2017-08-16 14:00] pvcrea commented on #989
Removing the ^ infront indeed fixed it... i dont know why... ive removed the yarn.lock file on the env and put "react-apollo": "1.4.6" in package.json instead of the "react-apollo": "^1.4.6" and it works :O.... why.... i dont know :D

[2017-08-16 14:43] lostpebble commented on #990
@jbreckel yep... Just starting out with React Apollo today and for the life of me couldn't figure out why importing `react-apollo/graphql` was causing an error. Turns out whatever is there hasn't been transpiled to ES5 correctly and I was getting `import` syntax errors.

Using the import at the top level solved my issue.

I'm using Typescript, not sure if that matters.

[2017-08-16 15:37] Carlows commented on #276
@tomitrescak did you ever put out that guide? I'm struggling trying to do integration testing with react-apollo, documentation isn't clear at all 🙁

[2017-08-16 16:22] pvcrea commented on #989
Indeed tested with ^1.4.6 and it installed 1.4.14 on the env and which gave me the error again... seems somewhere from 1.4.6 there is something wrong... 1.4.6 does work...haven't tried anything in between yet so dont know which version seems to be brake it, but 1.4.6 works.

[2017-08-16 16:49] jonathanphz commented on #269
I'm having the same issues I think - refetchQueries only works sometimes not sure why. Been having a terrible time trying to make this work for a few days now.

so: "Looks like the problem is indeed in apollo client. Going to close this issue and try to fix there."

is there a link to the issue **there**?

[2017-08-16 17:33] Vitiell0 opened #992 "Can't access queryVariables in update: after a mutation"
**Intended outcome:**
I am trying to use `update:` to update a query after performing a mutation. The problem is that the query in the store has several different variables applied and I would like to update the query and return it with the same variables.

I found in the docs that `updateQueries` has an option to include `queryVariables` which are the last set of variables that the query was exec

[2017-08-16 18:02] Carlows opened #993 "Error: "No more mocked responses for the query" when using 'cache-and-network'"
I'm trying to do testing of the Apollo-client containers that wrap my components, but I got into this issue that I think it might be a bug.

**Intended outcome:**

Using fetchPolicy: 'cache-and-network' seems to be causing an issue the mockNetworkInterface:

[code]

This is how i'm setting up my mock queries:

[code]

This is how I'm setting up the mockNetworkInterface:

[code]

And a test:

[code

[2017-08-16 18:06] TheMightyPenguin commented on #993
Hey I'm also developing an app with apollo and been having issues with testing aswell, I'm not really sure how should I write integrations tests, I think the apollo docs for testing could be improved a lot

[2017-08-16 18:06] Carlows commented on #993
Besides this, there are a couple of things that concern me:

1. My redux store is creating a different client (not mocked) than in my tests, how would you use the same store here https://github.com/Carlows/localbitcoins-apollo/blob/master/src/store.js?
2. Documentation for testing is unexistent, there aren't any resources for this, I've had to get into the react-apollo tests to see any possible ap

[2017-08-17 05:42] bjeanes opened #994 "Changing pollInterval seems to create multiple poll timers for each unique value set"
**Intended outcome:**
Variable `pollInterval` (poll more frequently when we're expecting an upcoming change, poll less frequently when we are not)

**Actual outcome:**
Changing the polling interval any of 3 ways I tried resulted in _multiple_ poll timers (one for each unique interval).

I tried:

1. Specifying options as a function and changing the `pollInterval` based on a prop passed in from abo

[2017-08-17 05:50] barbu110 opened #995 "Can't find field ... on object (ROOT_QUERY)"
Hi guys!

I am trying to use the `update` callback for a mutation in my app. I am using `react-apollo@1.4.9` right now.
 I get this error when the `update` function is executed:

[code]

Here is my `update` method:

[code]

And here is the `FetchAppViewerData` query:

[code]

**NOTE** There might be some other problems with my `update`, but the error is thrown from the execution of `readQuery`, so

[2017-08-17 06:03] bjeanes commented on #994
I changed demo a bit. There's now a button to randomly set the interval between 2 seconds and 10 seconds. If you mash that button 10-20 times and then leave it alone for a few seconds, every query response seems to be coming in every 600-700ms (though there's request latency built into these timings and I am in Australia).

<img width="618" alt="2017-08-17 at 4 01 pm" src="https://user-images.gith

[2017-08-17 11:03] lostpebble opened #996 "Server rendering causing two renders on each side (twice on server, twice on client)"
**Intended outcome:**

I would like for my React app to render once on either side. Once on the server, get the state -> hydrate on client and render once.

It could end up causing quite a performance hit if I am essentially rendering my app 4 times for every request.

**Actual outcome:**

I've set up a simple `console.log("Rendering App")` in my `App` render method. It shows that while the server

[2017-08-17 13:40] mvaivre commented on #892
Same here. @lettertwo workaround didn't work for me.... Would be nice to find another solution than adding react-dom as a devDependency!

[2017-08-17 17:13] Carlows opened #998 "How to properly wait for data to be available in tests"
I'm trying to setup tests with Jest + enzyme using full DOM rendering, but I can't find a proper way to way for the queries to finish in order to make assertions in the component.

**Use case:**

For example, I would like to setup tests that look like this:

[code]

In this case, I'm using `enzyme-wait` which creates an interval and waits for the element to be available, but as you can see, this o

[2017-08-17 19:40] jalooc commented on #792
@stubailo @helfer @calebmer @jbaxleyiii  It is clearly stated in this article (y. 2016): https://dev-blog.apollodata.com/the-concepts-of-graphql-bc68bd819be3 that Apollo implements per-field caching. It says, that if I send two completely different queries having the same item in them, the item in the second query will be omitted:

Apollo Client uses this kind of logic to remove parts of the query

[2017-08-17 22:14] hmontes commented on #989
I have the same error recently

[2017-08-18 09:20] lechneal commented on #164
@olistic omg, thanks so much! I was also stuck for hours. I'm using apollo-client and graphql-tools to mock the data.
Passing the request variables to the graphql function worked like a charm:
graphql(executableSchema, request.query, null, null, request.variables)

[2017-08-18 12:54] windgaucho commented on #321
Any solution for this? I have the same problem

[2017-08-18 13:21] enesTufekci commented on #892
[code]

that worked for me

[2017-08-18 13:38] rodcisal commented on #269
Having the same problem
It's so weird cause sometimes it works perfectly but most of the times it doesn't
Is there any alternative to refetchQueries?

[2017-08-18 13:40] seeden commented on #269
do you have everywhere id   in your queries ( I mean in all sub fields)?
apollo-client have a lot of problems if field id is missing

[2017-08-18 14:34] javierfernandes opened #999 "Support a way to access previously used variables on "refetch()""
Hi all,

This may be a question or a suggestion :P Because maybe there is a way to do this which I'm not finding at any docs.

The really really short version of this is that I would like `data.refetch(variables)` to support a function instead of the variables, allowing that function to generate **new variables** based on the last used variables. Something like this

[code]

Now the long version t

[2017-08-18 19:50] joshourisman commented on #989
After a little testing, it appears that 1.4.12 is the last working version (1.4.13 looks like it had a dependency issue unrelated to this).

[2017-08-18 23:13] gl2748 opened #1000 "One Apollo Parent appearing for each query within a react app."
**Intended outcome:**

Ideally when I wrap my React component in the apollo provider it will appear as the first child.
This is what I am doing:
[code]

**Actual outcome:**
NB. Everything works as expected, it's just that it looks ugly and I would like some re-assurance I'm not doing something peculiar or unusual...

Instead I get a crazy nested structure on the DOM , basically one <ApolloProvider

[2017-08-19 00:53] aleksdao commented on #988
It appears this was just a mistake on my part! If I'm reading this correctly (https://github.com/apollographql/apollo-client/blob/3b5045dfe74183fe060d2027e31317d890755b99/src/transport/networkInterface.ts#L189), the Apollo client calls JSON.stringify on the my query... so I should in fact be sending the default content-type: application/json header in my request.

After removing application/graphq

[2017-08-19 00:53] #988 closed

[2017-08-19 03:57] fauxparse commented on #976
I'm seeing this too, but it happens roughly half the time in my app, with the other times behaving as expected.

[2017-08-19 18:47] mshwery commented on #345
I'm seeing this as well – in our case are using `compose`, `graphql` and returning `props` and the component handles the error prop:

[code]

According to the docs, this seems like it should work.

[code]

[2017-08-19 21:16] jasonmorita commented on #674
What I ended up doing was exporting the unwrapped component and passing in all the props with any functions as `jest.fn()`s and any components that needed external wrappers as mocks as well.

This allows me to test the component itself without needing to worry about trying to mock all the Apollo-related things.

Any of the functions that you need to supply to Apollo, I have placed in a separate fi

[2017-08-20 19:36] stantoncbradley commented on #890
Related to #807?

[2017-08-21 01:37] quadsurf opened #1003 "Unhandled (in react-apollo) - NOT A NETWORK ERROR"
i have dozens of queries and mutations in my app, and they all work great, but the second i add the following query (a super basic query), i get the following error:

Unhandled (in react-apollo)
THIS IS NOT A NETWORK ERROR since all other queries still work!
This error is not too helpful and lacks any meaningful information to help me debug.

Please note that permissions aren't the issue, and the

[2017-08-21 03:09] quadsurf commented on #1003
okay, problem solved... all i have to do is remove the fetchPolicy option, and it works again... this is **not very consistent** at all, especially since i am successfully using the fetchPolicy option in many other queries

**even though it's resolved, i'm still hoping for an explanation here as to why fetchPolicy works great in some queries, but breaks the app in other, sometimes more basic, quer

[2017-08-21 03:32] quadsurf commented on #1003
okay now i'm getting even more odd behavior... the query successfully and consecutively returns/fetches my data 3 times in a row, at an interval of 10 seconds apart (expected, since i'm using polling), but after the 3rd time, it crashes the app and returns the following error:

Possible Unhandled Promise Rejection (id: 0):
Error: Network error: Error writing result to store for query
query GetUser

[2017-08-21 04:58] quadsurf commented on #1003
okay, issue resolved... what triggers this mysterious error is returning/fetching a node's field value without including the id... apparently the id is needed in order to properly cache the response to the store... i don't remember seeing this any where in the docs, pls forgive if i overlooked that odd constraint

[2017-08-21 04:58] #1003 closed

[2017-08-21 19:22] jhk2020 commented on #811
Hey guys, any update on this? Running into the same issue

[2017-08-22 02:29] paridin commented on #989
I have the same issue, I'm using react-apollo: ^1.4.14, which know version works fine?

[2017-08-22 07:47] barbu110 opened #1004 "Get a promise from graphql HOC Query"
Hi guys!

I have a form, it is meant to be used to edit existing resources in my app. I have a React component which is wrapped in the `graphql` HOC in the following way:

[code]

As you can see, the components reads data from a query, loads it into the form and when the form is submitted, the mutation is executed.

I need to display a loading indicator both when the data is loading and when the c

[2017-08-22 10:36] akomm commented on #890
Yes, the "load old data on error" part is related to #807, additional to the issue not being able to clear data properly.

[2017-08-22 10:39] akomm commented on #817
still relevant
@jbaxleyiii

[2017-08-22 13:58] #761 closed

[2017-08-22 13:58] #724 closed

[2017-08-22 13:58] #763 closed

[2017-08-22 13:58] #848 closed

[2017-08-22 13:58] #808 closed

[2017-08-22 13:58] #806 closed

[2017-08-22 14:06] clayne11 commented on #808
This is still valid and important IMO.

[2017-08-22 14:46] koenpunt commented on #907
Any word on this? I could submit a PR, but I first want to know if the variable API (first argument can be an object or a function) is desired, or that a different API should be defined.

[2017-08-22 15:36] koenpunt opened #1005 "Bug: getClient calls `options` with with current props"
When `skip` transitions from `true` to `false` due to a prop change, the `options` method is called several times. The times it is called to retrieve for example the variables for the query it is called with the components `nextProps`. But the internal `getClient` method calls it with `this.props`. As this hasn't been brought up as of yet, I recon nobody has used `skip` in the way I did.

Take for

[2017-08-22 17:06] stantoncbradley commented on #890
yes this is a big problem for us.  we had to roll back to `1.1.3`

[2017-08-22 18:01] NitroBAY opened #1006 "Can't use update to update a query with a different schema than mutation's one"
Hello,
I have a `login` mutation that returns that :
[code]

I want to use the information `isAdmin` to update the query :
[code]
So I gotta update the cache of currentUser based on the login mutation's response. It seems a quite simple thing to do and indeed with the method `reducer` it is a no-brainer BUT this API is not recommended as it can ge deprecated anytime soon, update is recommended tho

[2017-08-22 18:03] NitroBAY commented on #1006
Can be related to #995 and many more. But I don't see any solutions inside the issues related to mine.

[2017-08-22 18:21] NitroBAY commented on #1006
Okay I found the solution, I needed to add a `variables` field in the object passed to readQuery.

[2017-08-22 18:21] #1006 closed

[2017-08-22 18:33] wesbos opened #1007 "Possible Race Condition"
Hello - just talked to @jbaxleyiii on Slack and he asked me to open this issue.

I've SSR'd my app and i need to refetch a Header component once it loads in the client, since that is when I have the JWT.

The problem I'm running into is that if I call refetch() on componentDidMount, the user data doesn't make it into props. This is easily fixed by setting a 1ms timeout, which makes it work.

In bo

[2017-08-22 19:40] chriszarate commented on #811
@Peleg I think there is a simple fix. I opened a PR against your example repo:

https://github.com/Peleg/apollo-demo/pull/1

Provide `reduxRootSelector` to correctly select the initial state data.

[2017-08-22 19:51] barbu110 commented on #1004
@jbaxleyiii any idea on this, please?

[2017-08-22 23:24] Peleg commented on #811
@chriszarate oh interesting!

from looking at the [apollo docs](http://dev.apollodata.com/react/redux.html#creating-a-store) it looks like you don't need to specify the root selector if you're using `apollo` as the key tho:

what am i missing here 🤔 ?

[2017-08-23 03:09] chriszarate commented on #811
@Peleg You're right, very sorry for the misdirection. Not sure how I missed that.

[2017-08-23 10:09] bazyli-brzoska commented on #989
I can confirm that `react-apollo@1.4.12` is the last working version.

[2017-08-23 16:37] du5rte commented on #890
Experiencing the same here also had to roll back to `~1.1.0`

[2017-08-23 17:24] jbaxleyiii commented on #996
@lostpebble hmm that is no good! Do you have a simple reproduction I can take a look at?

[2017-08-23 17:25] jbaxleyiii commented on #989
@bazyli-brzoska what issues are you seeing with 1.4.14?

[2017-08-23 17:26] jbaxleyiii commented on #989
Does anyone have a reproduction I can take a look at?

[2017-08-23 17:47] bazyli-brzoska commented on #989
Hi @jbaxleyiii. The same issue as described in the issue, `this.context.getQueryRecycler` is `undefined` when using 1.4.14. It works properly in 1.4.12 though.

As for reproduction, I just copied and pasted the example from the documentation and routed to my local GraphQL server (also from your example):

<details>
<summary>example.js</summary>

[code]
</details>

[2017-08-23 17:57] bazyli-brzoska commented on #989
OK @jbaxleyiii, I understand the problem now.

I initially didn't have `ApolloProvider` wrapping the component (it's not documented well, at least not in the example).

The thing is, after downgrading to 1.4.12, I got a meaningful message, saying something like: "Please wrap your render function with `<ApolloProvider>`". In the latest version, 1.4.14, there was no such message, just a crash on `ge

[2017-08-23 18:00] #783 closed

[2017-08-23 18:00] #870 closed

[2017-08-23 18:00] #884 closed

[2017-08-23 18:00] #885 closed

[2017-08-23 18:00] #887 closed

[2017-08-23 18:00] #904 closed

[2017-08-23 18:00] #905 closed

[2017-08-23 20:54] StevenLangbroek opened #1008 "Flow types incorrect"
**Intended outcome:**

Following the flow-type example exactly should result in meaningful validation of props in connected component.

**Actual outcome:**

[code]

**How to reproduce the issue:**

1. Clone [this repo](https://github.com/StevenLangbroek/react-apollo-flow-repro)
2. `yarn install`
3. `yarn run flow`

**Version**
- apollo-client@1.9.1 (N/A actually, but it's what I have in my actual

[2017-08-23 20:58] StevenLangbroek commented on #1008
A further observation:

Removing `Props`, the 3rd argument of `OperationComponent`, actually results in `loading` and `error` props being properly typed, but leaves the `hero` prop untyped.

[2017-08-23 22:41] holman commented on #989
I just wanted to drop in and say that I ran into this specifically in the test environment, which made it a bit tricky to slot it inside an `ApolloProvider`. Definitely doable, but downgrading also solved it too, so that was easier in the interim.

[2017-08-24 00:03] baerrach commented on #238
I'm processing excel spreadsheets to batch create data in GraphQL.

A naive approach (the one I'm currently usinig) is to fire off all the mutations (1000+) and wait for the Promises to resolve. With the browser limiting network requests to 6 this takes a long time to complete.

My mutations are created with variables so its not easy to batch these together. I think from the discussions it would r

[2017-08-24 00:09] stubailo commented on #238
@baerrach this repo is specifically for react integration; but sounds like you should be able to leverage batching to send all of them in one request: http://dev.apollodata.com/tools/apollo-server/requests.html

[2017-08-24 00:13] langpavel commented on #989
Linking:
* https://github.com/apollographql/react-apollo/pull/462: Add recycling for `ObservableQuery`s
* https://github.com/apollographql/react-apollo/pull/876: Client scoped query recyclers (#513)

[2017-08-24 00:19] baerrach commented on #238
Thanks, I am using the graphql HOCs. How can I make them do the batching, or do I need to do this manually instead?

[2017-08-24 00:23] stubailo commented on #238
And you're doing this with react somehow? That's interesting!

If you use a batching network interface it should happen automatically: http://dev.apollodata.com/core/network.html#query-batching

[2017-08-24 00:53] baerrach commented on #238
The react side isn't terribly interesting, the data upload is one small screen of the rest of the app.

Turning on the batched interface inserts "magic happens here"

It's still slow - but that looks like the backend database being thrashed. I can see from Chrome's Network dev tool that there are many less connections and the size of the request is larger.

I guess I was uncertain to try turning b

[2017-08-24 00:58] stubailo commented on #238
Mind sending a PR to improve the docs?

[2017-08-24 05:46] tomitrescak commented on #276
This has changes several times for me already. Currently am using apollo-test-tools. Check it out. Works like charm.

[2017-08-24 08:16] zulbil commented on #978
I'm currently struggling with the same issue for several now. Did you find any solution about that?

[2017-08-24 09:09] StevenLangbroek commented on #1008
The only way I can get this covered is if I explicitly create the component like so:

[code]

[2017-08-24 11:51] lostpebble commented on #996
@jbaxleyiii sure, I took my current project and tried to strip it down as much as possible to create something you can run and check out:

https://github.com/lostpebble/apollo-two-render

Hope it's not too verbose. The main files to look at are `ServerRenderReact.tsx` and `entryProd.tsx` - for the server side rendering. And then `entryHot.tsx` for the client side rendering.

[2017-08-24 13:46] jbaxleyiii commented on #989
I will cut a release today that makes queryRecycling optional so any manual context additions of the client / testing will still work 👍

I do recommend wrapping the root of your tree in ApolloProvider where possible though

[2017-08-24 14:44] jbaxleyiii commented on #989
This is fixed on master and will be released today!

[2017-08-24 14:44] #989 closed

[2017-08-24 14:46] jbaxleyiii commented on #1005
@koenpunt thanks for the detailed usage and report! I'll take a look!

[2017-08-24 15:55] JBradBarnes opened #1026 "React Not Parsing JSX Components wrapped w/ graphql HOC"
**Intended outcome:**
I am trying to get started with create-react-app but have found some weird behavior.

It seems that JSX is not being parsed when wrapped in the graphql HOC.

However, I am still able to get get the correct functionality if I break into javascript from within the JSX and use the manual  {React.createElement(...

**Actual outcome:**
graphql wrapped components do not output to t

[2017-08-24 16:42] mctep commented on #755
I have found some workaround:

[code]
May be it is a `TS` bug or not 😄 . See more: https://github.com/Microsoft/TypeScript/issues/17989

[2017-08-24 17:51] #1005 closed

[2017-08-24 17:59] #1007 closed

[2017-08-24 19:43] gforge commented on #956
Lovely idea but I don't know how this would be solved in Flow (v. 0.53). The intuitive way would be to use unions but these don't play well with interfaces. I tried to add something like:

[code]

but it doesn't work as one would hope :-(

[2017-08-24 19:50] gforge commented on #1008
Isn't this due wrong response,

`type Props = Response & QueryProps`

should probably be

`type Props = {data: Response} & QueryProps`

[2017-08-24 21:53] StevenLangbroek commented on #1008
No OperationComponent is supposed to wrap it for you:

[code]

[2017-08-24 22:53] #760 closed

[2017-08-24 22:53] #518 closed

[2017-08-25 00:26] andrewlinfoot commented on #976
Had the same issue. It's kind of hard to reproduce consistently but I think I was able to fix it by setting the cache policy to `cache-and-network` for the first query called after reset.

[2017-08-25 00:56] c0d0g3n commented on #976
@fauxparse, @andrewlinfoot thanks for your responses. My reproduction case seems to work every time. I hope some project maintainer can help. I'll see if I can make something work with `cache-and-network`.

[2017-08-25 01:12] ducngtuan commented on #976
@c0d0g3n I got the similar issue i think, and i think it might be the issue here: https://github.com/apollographql/apollo-client/issues/1186#issuecomment-324260171
Try setting `notifyOnNetworkStatusChange: true` inside the `options: {}` of the graphql call to see if it fixes the problem.

[2017-08-25 09:45] ragnorc commented on #170
@cyrus-za Thank you very much for mentioning that the names have to match. Saved my day!
If this issue is not fixed I think it should at least appear in the docs somewhere.

[2017-08-25 11:47] koenpunt commented on #1004
Well, your example code is not even valid JS, so it's not really clear what you want to achieve. If you want to have the options for the query passed in async the best approach is probably a HOC.

[2017-08-26 02:56] #1026 closed

[2017-08-26 02:57] JBradBarnes commented on #1026
This was a naming convention mistake on my part. JSX requires uppercase for non-HTML components.

[2017-08-26 14:18] #815 closed

[2017-08-26 14:18] #879 closed

[2017-08-26 19:18] #883 closed

[2017-08-26 20:21] rattrayalex commented on #956
Yeah, we make heavy use of unions for this and it can be tough.

Probably just a docs change to recommend using
[code]
would be sufficient 😄

[2017-08-26 22:24] fauxparse commented on #976
@ducngtuan Doesn't seem to fix anything in the example app above.

[2017-08-26 22:44] fauxparse commented on #976
@ducngtuan Wait, never mind, I wasn't specifying the option correctly. I think this works!

[2017-08-27 10:09] wvteijlingen opened #1037 "Flow type missing for OperationOption `skip` property."
**Intended outcome:**
When using the `graphql` function with Flow types, the skip option has a `props` parameter with the type of the generic `TProps`.

[code]

**Actual outcome:**
The `props` parameter is typed as `any`. I believe this happens here:

[code]

**Version**
- apollo-client@1.9.1
- react-apollo@1.4.15

[2017-08-27 10:15] wvteijlingen commented on #899
FWIW, the `skip` option does allow this because it is defined as: ` boolean | ((props: any) => boolean)`. I would assume that `options` would be defined as:

[code]

I'm not sure if the `OptionDescription` is used elsewhere, but it seems redundant to use a new type of this when it's just used in one place.

[2017-08-27 19:04] MichaelDeBoey commented on #760
I don't think this should be closed 😕

[2017-08-28 09:48] mctep commented on #755
It's possible to patch original `graphql` decorator (oversee from `mobx-react`) but there is need to define additional property for typesafe: https://gist.github.com/mctep/adda5750271f8b0d181e0328e68afb56

[2017-08-28 10:13] erlangxk commented on #742
install the same version of graphql as the one in react-apollo devDependencies list, for example, for react-apollo 1.4.15, just yarn add graphql@0.10.5.

[2017-08-28 15:03] #889 closed

[2017-08-28 15:50] wesbos opened #1038 "Omitted variables are passed as null, and default values do no kick in"
Hello - I've got this query with some default values:

[code]

Now on page load I run it like this:
[code]

and the causes the variables $first and $skip to be sent as `null`, which isn't enough for a graphql server to kick in the default values.

Now if I explicitly pass the values as undefined, the default values of the query kick in.

[code]

Is this a bug? Or am I doing something wrong?

"reac

[2017-08-28 16:58] jbaxleyiii commented on #1038
@wesbos it is a bug, though I'm not sure if in this library of the core client. I'll take a look!

[2017-08-29 13:07] hinok opened #1041 "[Feature request] Allow for invoking async stuff before doing request in graphql() HOC"
Hey Apollo Team,
I've had a problem that I need to preload some data before doing main request to graphql server.
I've solved this by using custom logic, redux, redux-saga and [config.skip](http://dev.apollodata.com/react/api-graphql.html#graphql-config-skip). Still I have to sync redux-saga and redux on server and client so process is a bit challenging.

I think that this `feature request` could

[2017-08-29 16:00] #895 closed

[2017-08-29 16:00] #697 closed

[2017-08-29 16:00] #896 closed

[2017-08-29 17:37] jbaxleyiii commented on #764
https://github.com/apollographql/apollo-client/pull/2090#issuecomment-325737353

[2017-08-29 19:31] volkanunsal opened #1042 "Upgrade Flow types to 0.53.0"
In Flow version 0.53.0 the specification of React Components changed somewhat. The first type parameter for default props is removed. That's why I'm seeing a few errors in the Flow definitions.

[2017-08-29 19:36] jbaxleyiii commented on #1042
@volkanunsal we have a PR for this! Should be out this week

[2017-08-29 19:38] volkanunsal commented on #1042
@jbaxleyiii Ok, thanks!

[2017-08-30 16:31] #869 closed

[2017-08-31 08:54] poyannabati commented on #170
I'm seeing exactly this.

I don't see how or why that would help, since that should simply rename the data prop?

[2017-08-31 21:29] jhk2020 commented on #996
@jbaxleyiii any update on this?

[2017-09-01 16:39] #891 closed

[2017-09-01 19:41] #672 closed

[2017-09-02 00:43] cyrus-za commented on #170
@poyannabati my guess would be that the data prop matching actually triggers a new render in the react component which loads the new props, but yeah it is fairly strange

[2017-09-02 17:32] joshuataylor commented on #472
Refetch is fantastic until you need to delete a variable that is fetched. You can't just set `foo: null`, because `foo` might have a `null` value.

[2017-09-02 21:55] Acentelles opened #1056 "Passing a client parameter in the options of a mutation throws error"
I am using this recent feature of adding multiple clients and it is working well so far, but only in this case, the following code breaks when I state the client explicitly in the options of my mutation. I have followed this exact pattern with other components and haven't had any issue.
[code]

And the react component looks like this:
[code]

**Intended outcome:**
As with other components, I expec

[2017-09-02 22:27] Acentelles commented on #1056
If I change the name of the form in ReduxForm, it works:
[code]

I still don't know why, though.

[2017-09-03 06:36] wmertens commented on #472
Foo:undefined?

On Sat, Sep 2, 2017, 7:32 PM Josh Taylor <notifications@github.com> wrote:

[2017-09-03 07:01] joshuataylor commented on #472
Yeah, ended up doing that, sorry forgot to loop back here and update it. The http://facebook.github.io/graphql/#sec-Null-Value caught me out :).

[2017-09-03 08:56] julienvincent commented on #604
pinging to not close

[2017-09-04 03:20] Morphexe commented on #903
Sam situation as the above.
skip :true,
skip : (props) =>  true
any of those do no prevent the options from being called.

[2017-09-04 11:11] lifeiscontent commented on #957
@fjaguero any updates here?

[2017-09-04 11:51] fjaguero commented on #957
Sorry @lifeiscontent, I'm not a maintainer. We should wait for a response from @jbaxleyiii

[2017-09-04 14:21] jonathanphz commented on #800
Oh issues is stale :( So no solution found @jbaxleyiii ?

Thanks for the hard work you guys are doing btw :)

[2017-09-05 06:54] Mati365 commented on #660
Any updates?

[2017-09-05 06:59] stubailo commented on #660
Reopening since there's now a reproduction!

[2017-09-05 08:44] Panoplos commented on #556
I was facing the same issue, here, but realised that I had a `recompose` `branch` on the HOC and failed to set the policy for both branches, just in case someone else happens to miss the obvious like I did... Haha.

[2017-09-05 11:23] rlech commented on #170
same issue here

[2017-09-05 14:54] #713 closed

[2017-09-05 14:54] #778 closed

[2017-09-05 14:54] #797 closed

[2017-09-05 14:54] #731 closed

[2017-09-05 14:54] #780 closed

[2017-09-05 14:54] #417 closed

[2017-09-05 14:54] #725 closed

[2017-09-05 14:54] #425 closed

[2017-09-05 14:54] #633 closed

[2017-09-05 14:54] #566 closed

[2017-09-05 14:55] #698 closed

[2017-09-05 14:55] #749 closed

[2017-09-05 14:55] #766 closed

[2017-09-05 14:55] #773 closed

[2017-09-05 14:55] #759 closed

[2017-09-05 14:55] #710 closed

[2017-09-05 14:55] #719 closed

[2017-09-05 14:55] #588 closed

[2017-09-05 14:55] #563 closed

[2017-09-05 14:55] #349 closed

[2017-09-05 14:55] #475 closed

[2017-09-05 14:55] #407 closed

[2017-09-05 14:55] #319 closed

[2017-09-05 14:55] #353 closed

[2017-09-05 14:55] #798 closed

[2017-09-05 14:55] #796 closed

[2017-09-05 14:55] #607 closed

[2017-09-05 14:55] #750 closed

[2017-09-05 14:55] #727 closed

[2017-09-05 14:55] #716 closed

[2017-09-05 14:55] #344 closed

[2017-09-05 14:55] #705 closed

[2017-09-05 14:55] #567 closed

[2017-09-05 14:55] #519 closed

[2017-09-05 14:55] #906 closed

[2017-09-05 14:55] #769 closed

[2017-09-05 14:55] #754 closed

[2017-09-05 14:55] #620 closed

[2017-09-05 14:55] #767 closed

[2017-09-05 14:55] #703 closed

[2017-09-05 14:55] #654 closed

[2017-09-05 16:22] MarvinScheffold commented on #556
Im facing the same error. And neither @jinxac nor @Aetherall ´s solution worked for me

[2017-09-05 16:54] #922 closed

[2017-09-05 17:24] stantoncbradley commented on #807
@jbaxleyiii this is still an issue as far as I'm aware.  related to #858 and #890 too

[2017-09-06 02:48] Morphexe commented on #170
I am having the exact same issue here, renaming the query does not solve the issue, a full page refresh does work though.

[2017-09-06 06:55] poyannabati commented on #170
Upgrading to the latest version seemed to solve it for me.

On Wed, 6 Sep 2017 at 04:48, Morphexe <notifications@github.com> wrote:

[2017-09-06 08:51] michielbouw commented on #900
Updated to latest react-apollo@1.4.15 and apollo-client@1.9.2 and flow-bin@0.46.0.

Issue still occurring for me. I only use the `graphql` containers, do not use `withApollo`.
Maybe it has something to do with not updating flow-bin to the latest. But I have some other deps that cannot handle updating flow-bin right now.

[2017-09-06 13:23] vladshcherbin opened #1069 "Query from cache makes component render twice"
**Intended outcome:**

Example app has a `TopComponent`, which executes query. This component has a nested `BottomComponent`, which also executes the same query.

I expect `BottomComponent` to render only once since data is fetched from cache or at least to have some kind of `loading` / `complete` state.

**Actual outcome:**

`TopComponent` executes query. When `loading` prop is false, `BottomComp

[2017-09-06 15:25] #933 closed

[2017-09-06 16:07] filtudo commented on #786
+1 here

[2017-09-07 00:11] tleunen commented on #556
Same thing here. The second time I query something (with different variables), the content cached from the first query is returned, while the query is sent. For that specific use case, with a `network-only`, I'm not expecting to receive the cached version of a same query with different variables.

[2017-09-07 03:34] luisvinicius167 commented on #1006
I created this function and solve my problem:
[code]

When you update a query in your store, the query used must have the same signature as the query you used before, so it returns an object with specific fields. This function prepares its updated object to be written to the store without fields conflict.

The Gist:
[code]
`preapareShape` will remove the conflicts of fields that the query needs. Y

[2017-09-07 10:05] slorber opened #1075 "Document more advanced recipe for pagination/filters"
Hi,

I'd read the doc and examples like GitHunt, looking for best practices to solve my usecase, but wasn't really able to cover it, which still is quite common IMHO so I'd like to discuss it, have your opinion on my solution and maybe make a doc PR.

Here is a simplified example of what I have:
- A page with a **single** query
- The page renders a header with query data
- The page renders an infi

[2017-09-07 17:17] #513 closed

[2017-09-07 18:42] zackify commented on #196
@jbaxleyiii what if I want to skip it initially, but load the query after a button is pressed? Skipping completely removes it, so I can't refetch

[2017-09-07 22:12] bkniffler commented on #196
Yes, I completely agree. I find the word "skip" confusing, since I intuitively thought its related to the query, but in fact it skips the whole HOC functionality, so deactivate=true or something like that would make more sense, while skip=true could just skip querying. It just feels really wierd to use the cache-only policy whenever I want to skip querying.

[2017-09-07 23:42] #793 closed

[2017-09-07 23:42] #730 closed

[2017-09-08 03:12] therealedsheenan commented on #742
this is just a version compatibility error between react-apollo ang graphql.

[2017-09-08 03:22] therealedsheenan opened #1076 "react-apollo/apollo-client and graphql compatibility list"
It would be nice if there is a list/guide of compatibility between apollo-client/react-apollo versions and graphql. Since grapql repo is also updating its codebase, it will help people from getting into compatibility issues.

In my case, I resolve the issue below by installing graphql@0.10.5.

**Intended outcome:**
Running apollo client without any errors.

**Actual outcome:**
` Error: Schema must

[2017-09-08 05:54] arahansen commented on #1042
Any luck making progress on this? Happy to help out if I can.

[2017-09-08 05:59] bruce commented on #556
Also seeing this, no work-arounds seem to help.

[2017-09-08 09:40] lostpebble commented on #1069
Yep running into this issue as well it seems. Causing havok trying to get CSS-in-JS styles working with fela - as the style renderer creates different stylesheets on each render now which collide with each other and the styles get all muddled.

I'm pretty sure this is also related to the previous issue I created #996 , where I noticed two renders being enacted on both server and client.

I uploade

[2017-09-08 09:47] gantu commented on #922
@jbaxleyiii `npm i --save graphql` fixed the issue

[2017-09-08 13:42] #708 closed

[2017-09-08 15:30] AnnatarHe commented on #196
@bkniffler @zackify Yes, I have same issue.

I'm building a module that will fetch user information initially. but it has to synchronize with the store. So I have to skip initial query and resend the query in componentDidMount and I can access dispatch method.

But actully, the `skip` is not what I want. And I look up source code, no `fetcherQueue` can be set.

[2017-09-08 16:42] #874 closed

[2017-09-08 18:32] markthema3 opened #1078 "OperationComponent interface is not defined for TypeScript, only for Flow"
**Intended outcome:**

Trying to follow this [tutorial](https://dev-blog.apollodata.com/a-stronger-typed-react-apollo-c43bd52be0d8)
`import { OperationComponent } from 'react-apollo;`

**Actual outcome:**

`(7,5): error TS2305: Module '".../node_modules/react-apollo/index"' has no exported member 'OperationComponent'.

**How to reproduce the issue:**

Just attempt to import the interface in a Type

[2017-09-08 21:38] johndanek opened #1079 "401 Authorization Error Displays As "GraphQL error: undefined""
**Intended outcome:**
In my React Native app, I attempted to make a GraphQL request without providing the necessary authorization information. Instead of getting an error indicating this, the only error message is "undefined". It would be massively helpful if the 401 Authorization error were showed to the developer.

**Actual outcome:**
![screen shot 2017-09-08 at 2 31 20 pm](https://user-images.g

[2017-09-08 21:53] johhansantana opened #1080 "Expected 0 arguments, but got 1. Using typescript and compose from react-apollo"
Hello

I'm not sure if this is the right place to ask but I'm using typescript and `react-apollo`

my code is the following:
![image](https://user-images.githubusercontent.com/9933887/30232508-6a009da2-94be-11e7-872a-9a42740692a8.png)

If I remove the last `(Index)` the error will go away but I have no idea on how then export the container/component.

Basically, the code works but typescript is no

[2017-09-08 23:22] fxlemire commented on #742
@stubailo Here's a reproduction: https://github.com/fxlemire/graphql-react-tutorial

It's basically the entire part 1 of [this tutorial](https://dev-blog.apollodata.com/full-stack-react-graphql-tutorial-582ac8d24e3b)

I've also tried with graphql@^0.10.5, to no avail.

Any help on how to fix this would be much appreciated!

[2017-09-09 11:03] wrongway4you commented on #1076
Agree, - I have the same error with the same package versions.

[2017-09-09 15:33] parrker commented on #604
@julienvincent I am currently working on a similar case, and using [afterware](http://dev.apollodata.com/core/network.html#networkInterfaceAfterware) solved the case. It works like middleware, but for responses instead of requests.

[2017-09-09 20:27] #723 closed

[2017-09-10 14:27] #953 closed

[2017-09-10 16:07] choffmeister opened #1083 "Typescript: ChildProps.data should not be optional"
**Intended outcome:**

The typescript definition of `ChildProps.data` should be non-optional, since according to the documentation (http://dev.apollodata.com/react/api-queries.html#graphql-query-data) the `data` property has a `loading`/`error` subproperty to check for completion/errors.

**Actual outcome:**

The actual type definition is

[code]

forcing users to always check if `data` is defined

[2017-09-11 07:03] dljcollette opened #1084 "Subscription updates trigger re-render of unrelated component"
**Intended outcome:**
We have an App container that has a Header component and a Body component in which the route content is shown. The Header component contains a stock info Widget component with an Apollo subscription, which data updates about every 2 secs. The Body component has routes of which some contain an embedded video player. The video player should play the full video and updates over

[2017-09-11 07:03] eskimoblood opened #1085 "Nested fragments don't get resolved in store"
I have the following types in my schema:
[code]
Making a query like this works fine:

[code]
But making a query like this fails:
[code]
**Intended outcome:**
All fields are fetched object have the fields defined in the schema

**Actual outcome:**
All entities missing any fields (`foo`, `bar`, `baz`) from schema. Running the query in graphiql shows me the result is send correctly from the server, b

[2017-09-11 07:37] eskimoblood commented on #1085
Make an mistake, works as expected

[2017-09-11 08:10] ghostganz commented on #615
This is still a *huge* issue for us, how do I re-open it?

We've wasted a lot of time trying to figure out why our error handling doesn't work on SSR while it works fine in the browser. It should be documented somewhere that it isn't expected to work yet!

[2017-09-11 08:21] akomm commented on #874
@jbaxleyiii I think the issue is still there. Although there are other tickets with the same issue. I think @adamdonahue just gave it up on the problem. I assume it taking into account other posts from him related to this.

[2017-09-11 08:24] akomm commented on #1079
Do you have apollo store in your redux store?
Do you use meta (storage) reducer to save your store over page reloads?

[2017-09-11 08:38] vcollado commented on #755
@samvik same here, using @mctep seems to fix the msg

[2017-09-11 10:14] oliviertassinari commented on #170
I can reproduce the issue on `react-apollo@1.4.15`. It happens when unmounting the component with a variable x and mounting it again with a variable y.

[2017-09-11 12:45] robmoorman opened #1088 "Refetch remembers options.skip:true"
**Intended outcome:**
Refetching data after an event (a transition has ended in my case) while skipping the initial fetch with `option.skip` set to `true`.

**Actual outcome:**
Calling `refetch` doesn't do anything.

**How to reproduce the issue:**
[code]
**Version**
- apollo-client@1.9.2
- react-apollo@1.4.14

[2017-09-11 12:54] robmoorman commented on #1088
Moved to https://github.com/apollographql/apollo-client/issues/2142

[2017-09-11 12:54] #1088 closed

[2017-09-11 18:13] johndanek commented on #1079
@akomm I'm not sure I understand what you're asking. I don't use redux, as far as I know. I'm also not sure what you mean by "page reloads".

I was able to see the error by just sending a single Apollo request after the app started. So the error would have been before caching or anything involving a store.

[2017-09-11 19:02] johhansantana commented on #289
is this still an issue? how can you cancel the first automatic fetch while being able to fetch it later on? `skip` doesn't work

[2017-09-11 21:08] bkniffler commented on #289
We've been discussing a bit on this topic here: https://github.com/apollographql/react-apollo/issues/196

The best way currently to skip the query while allowing to refetch is to use [`fetchPolicy`](http://dev.apollodata.com/react/api-queries.html#graphql-config-options-fetchPolicy)
[code]

Basically this will force to run graphql agains the cache, for example if you got a detail view that gets an

[2017-09-11 22:05] Vitiell0 commented on #992
I still have not found a solution to this. Could you take a quick look @jbaxleyiii ?

Also posted on SO here: https://stackoverflow.com/questions/45719918/apollo-cant-access-queryvariables-in-update-after-a-mutation

[2017-09-12 09:30] dljcollette commented on #1084
Issue is solved! Removing @skip on the Viewer in the Graphql query of the route / Body component where another Viewer was already loaded solved the issue somehow.

[2017-09-12 12:54] akomm commented on #817
@jbaxleyiii

[2017-09-12 17:16] adamwade2384 commented on #170
Having the same issue, has there been any progress resolving this one?

[2017-09-12 19:38] DethAriel opened #1091 "[react-apollo] Part of object data is not [re]fetched (or cached) when ID is provided"
This issue has hit me recently, and I tried to come up with the best possible description of a problem, but please update it if you feel that it's misleading.

**Intended outcome:**

I'm trying to get object details through a client network interface. The schema I use is this:
[code]

As you can see, my resolver returns all the properties of an object at once, but React Components query different

[2017-09-12 19:45] DethAriel commented on #1091
Forgot to mention - there's also an error in the console:

[code]

[2017-09-13 14:53] MicahPowell commented on #556
I am having this same issue as well. I tried **@jinxac** and **@Aetherall's** solutions and they didn't work for me. `react-apollo@1.4.15` `apollo-client@1.9.2`

[2017-09-14 09:26] #978 closed

[2017-09-14 11:19] thoth-nexlesoft opened #1092 "[React-Native] How use react-apollo configuration query after app UI has been loaded?"
I use react-apollo to call Graphql Api, but UI of component always loads after Api has been call. How I load UI of component before I call Api?

**Version**
- apollo-client@<^1.9.2>
- react-apollo@<^1.4.15>

[2017-09-14 14:28] zackify commented on #289
@bkniffler still don't see how this helps for my situation. If you pass an id to the component but don't want it loaded until refetch is called, this wont work, since the id is there. My use case is that I don't want to generate a signed download URL from google cloud storage unless a user clicks the download button. Can't find an easy way to only query after a user clicks :/ unless I do some weir

[2017-09-14 14:35] bkniffler commented on #289
Can't you do something like:

[code]

[2017-09-14 14:45] akomm commented on #890
@jbaxleyiii still relevant

[2017-09-14 15:01] zackify commented on #289
@bkniffler oh okay, I thought options only took in the component props, not the refetch variables.

[2017-09-14 15:10] bkniffler commented on #289
Urgh, I think you're right. I think you're better off using the vanilla apollo client that you get with @withApollo. By the way, why aren't you using mutations?

[2017-09-14 15:48] khotey opened #1093 "Handle errors after every request"
How create middleware which will catch all errors, for example I have request which required token, token can expired or damaged, so I need catch this errors on every request and be able to call queries and mutations.

For example:
On expired token, I must refetch token and repeat request.
On token damaged, I must logout user and refetch all queries.
And type of error witch I need to handle can be

[2017-09-14 17:03] zackify commented on #289
@bkniffler I'm not changing anything. Just loading data, why would it be a mutation?

[2017-09-14 22:10] dozoisch commented on #890
Having this issue as well

[2017-09-15 11:33] aperkaz commented on #449
Any new updates on this? Thanks

[2017-09-15 12:23] barbu110 commented on #1004
@koenpunt, What isn’t valid in my snippet?

[2017-09-15 14:25] pcooney10 commented on #1092
@thoth-nexlesoft if you're looking to load the component first so you can get some prop(s) to pass apollo, then I think the recommended approach is break your component into two with a HOC

[2017-09-15 21:20] gilbert opened #1096 "Coercion issue sneaking into store"
I'm trying to update my Apollo store after a mutation using [the update property](http://dev.apollodata.com/react/cache-updates.html#directAccess). Here is the context:

Query:

[code]

Initial use:

[code]

Mutation:

[code]

**Intended outcome:**

The store updates as normal.

**Actual outcome:**

[code]

**How to reproduce the issue:**

The difference is subtle, but it seems that the query was

[2017-09-15 23:17] ivarmlee11 commented on #742
This tutorial doesn't work anymore but it helps me understand how Apollo sets up a Higher Order Component.

[2017-09-16 09:47] debanjanbasu opened #1101 "Uncaught TypeError: Cannot set property 'middleware' of undefined"
**Intended outcome:**
Connect my existing Redux project to use Apollo Client and connect to the PostgraphQL backend

**Actual outcome:**
![image](https://user-images.githubusercontent.com/10209115/30511223-6ebbda6e-9b17-11e7-9d98-e9c3aa74317d.png)

**How to reproduce the issue:**
After doing an npm i the following are the commands to run the servers
For FE dev:
npm run build:dev
For Prod:
npm run

[2017-09-16 09:49] debanjanbasu commented on #1101
Everything works fine if I remove
![image](https://user-images.githubusercontent.com/10209115/30511253-164fc6d2-9b18-11e7-99a7-a323b952533c.png)

@graphql from line 47.

I've tried every other method. By disabling the es6 decorations, etc. All in vain.

[2017-09-16 12:20] mhuggins commented on #556
I'm encountering this problem as well.  I am trying to use `network-only` on the server side to ensure pages are always fresh with the latest data, but instead I'm getting stale responses.  I tried using @jinxac's suggested workaround, but that didn't work for me either.

[2017-09-16 12:33] eskimoblood commented on #321
Shouldn't this ticket be reopened as the feature does not work as expected, aka. no changes in`networkStatus` after refecthing the query.

[2017-09-16 12:33] eskimoblood commented on #1085
We got this work after adding a resolver for the union type.

[2017-09-16 12:33] #1085 closed

[2017-09-16 13:25] mhuggins commented on #556
It looks like the react-apollo package is explicitly changing "network-only" fetchPolicy values to "cache-first".  [See here](https://github.com/apollographql/react-apollo/blob/1b28d92cf1a09fe28c40cbad91b31a0208313663/src/graphql.tsx#L417-L422).  Why?

[2017-09-16 16:03] sneerin commented on #1079
@akomm it seems I have the same issue. The biggest problem I wasn't aware of the error until I started Charles proxy and figureout that I've got 401.

[2017-09-16 16:15] strukturedkaos commented on #1079
I have the same issue as well.

I tried using the [afterware described in the docs](http://dev.apollodata.com/core/network.html#networkInterfaceAfterware), but this doesn't seem to prevent the unhandled error.

Is there an example of someone handling this 401 error without getting the unhandled error? Something like the below doesn't seem to prevent the error.

[code]

[2017-09-16 23:38] sneerin commented on #907
@koenpunt please do

[2017-09-17 00:28] sneerin opened #1102 "can't pass the variables"
I have s sample code and it fails with Connect(Reviews) is expecting a variable: 'id'
[code]

when I add :
[code]
i've got mutate not found or when I pass it, mutate is not a function

please advice what am I doing wrong

[2017-09-17 07:36] WillBeebe commented on #1093
On token expired shouldn't a user have to log in again? So with that and token damaged, delete it from local storage and log the user out? I don't have a ton of experience with token lifecycle but I'm trying to help. Feel free to say that my suggestion is rediculous

[2017-09-17 08:55] khotey commented on #1093
Problem is that I send requests in every lavel of app, and must catch an error on specific component which I call queries and mutation, I want to write middleware on hight leavel of app to catch every error of request on  children components requests.

[2017-09-17 12:15] wvteijlingen commented on #1037
I can make a PR for this, but I'm not sure if making it `TProps` is the correct solution. @jbaxleyiii

[2017-09-17 17:45] booboothefool opened #1103 ""Unable to resolve module `../node_modules/react-native/node_modules/react-apollo/react-apollo.browser.umd.js` from `/Users/a/hero/hero/src/HomeScreen.js`: could not resolve `/Users/a/hero/hero/node_modules/react-native/node_modules/react-apollo/react-apollo.browser.umd.js' as a file nor as a folder""
Just trying to do:
[code]
[code]

[2017-09-17 18:15] sbr464 commented on #660
I noticed this same problem, A component that take a variable / id from the router params, will re-render 7-8 times each time the component loads.

On a full page refresh It reloads 8 total times -  5 times, then when the data comes back from the graphql endpoint, it runs 3 more times. The difference in the 2 objects are that `loading` is false, and `account`  has data once loaded.

<img width="79

[2017-09-18 01:52] booboothefool commented on #1103
This works:
[code]

but I'm not entirely sure why I need to do that?

I also noticed:
[code]
works on iPhone 6, but not iPhone 7. Shouldn't make a difference, so I'm confused.

[2017-09-18 02:11] booboothefool commented on #1103
I had to install react-dom, and then made sure react, react-dom, and react-test-renderer versions all matched.

[2017-09-18 02:11] #1103 closed

[2017-09-18 09:41] chiss2906 commented on #903
The reason is `willReceiveProps`: https://github.com/apollographql/react-apollo/blob/master/src/graphql.tsx#L171-L172

Shouldn't this also test skip first?

[2017-09-18 12:24] Strayer commented on #899
@jbaxleyiii ping as requested by stale bot.

This is still causing errors in our project.

apollo-client@1.9.2
react-apollo@1.4.15

[2017-09-18 12:57] EyMaddis commented on #330
In my setup, my component will no longer rerender when the loading state changes, only when new results are rendered.
Did somebody else notice this issue?

[2017-09-18 14:32] mjt19930301 opened #1104 "How to use it with react-native-navigation?"

[2017-09-18 20:09] #936 closed

[2017-09-18 23:09] #983 closed

[2017-09-18 23:14] mimccio opened #1105 "Update flow types for flow@0.53+"
Hi, I think the types are not updated for [flow@0.53.0](https://github.com/facebook/flow/releases)  version and higher.

I've made a little create-react-app to demonstrate : [repo](https://github.com/mimccio/react-apollo_flow_issue)
- [working branch (flow@0.52.0)](https://github.com/mimccio/react-apollo_flow_issue/tree/working_exemple_flow%400.52.0)
- [error branch (flow@0.53.1)](https://github.c

[2017-09-18 23:54] team-purple opened #1106 "What is the intended operation for resetStore, and is it currently working as intended in the documentation?"
**Intended outcome:**
Clears apollo client cache!

**Actual outcome:**
Does not clear apollo client cache!

**How to reproduce the issue:**

**Version**
- apollo-client@not sure
- react-apollo@1.4.15

[2017-09-19 05:02] linhdsv commented on #742
I tried `yarn add graphql@0.10.5` and restarted the app, everything worked well to me.

[2017-09-19 06:43] kien8995 commented on #170
same issue ! any working on this?

[2017-09-19 06:49] oliviertassinari commented on #170
I have been moving my apollo HOC one level higher in the eact tree to dodge the issue. But it comes with some tradeoff. I wish I could put it as close as where the data is needed. @kien8995 The issue has been open for a year and have around 20 people involved. I'm sure the maintainers are aware of this issue. So either they miss a reproduction and I understand it or there is a much larger core iss

[2017-09-19 08:40] mattfysh commented on #170
Also just ran into this issue... tried the naming workaround but couldn't get that to work. @oliviertassinari could you describe your workaround? not sure I followed

Something I've noticed with this issue is that the query that causes `loading` to become stuck is trying to fetch from the network, when the results should be drawn from the cache. If I navigate away from the screen that is stuck loa

[2017-09-19 09:16] mattfysh commented on #170
Just found this solution, over on https://github.com/apollographql/apollo-client/issues/1186 ... set `notifyOnNetworkStatusChange` to `true` - it works!

[2017-09-19 09:45] cyrus-za commented on #170
thanks @mattfysh

Where do you set it? inside the constructor of ApolloClient or inside each and every query decorator?

[2017-09-19 10:34] mattfysh commented on #170
@cyrus-za I'm setting it on just the affected query component right now

[2017-09-19 10:48] vincentfretin commented on #1105
There is PR to update it, see https://github.com/apollographql/react-apollo/pull/1002

[2017-09-19 13:25] kien8995 commented on #170
thanks @mattfysh 👍 it works !

[2017-09-19 14:45] cyrus-za commented on #170
Thanks @mattyfish

On Tue, Sep 19, 2017 at 3:25 PM Kien Tran <notifications@github.com> wrote:

[2017-09-19 14:50] maktouch opened #1112 "ErrorPolicy is not passed to apollo-client"
While `fetchPolicy` is a valid option, `errorPolicy` is not even though apollo-client has an errorPolicy option. This is problematic because the default option is `none`, so even if we have valid data, react-apollo decides to only return `props.errors` instead of the data.

**Intended outcome:**
I would like to be able to ignore errors and still receive my data in my components

**Actual outcome:*

[2017-09-19 15:00] maktouch commented on #1112
Holy crap. It seems like ErrorPolicy is a new feature from apollo-client 2.0 =|

[2017-09-19 15:24] jbaxleyiii commented on #1112
@maktouch yep! there will be a release this week for react-apollo supporting it!

[2017-09-19 16:29] DavidKongDesheng commented on #892
same issue here

[2017-09-19 18:05] fxlemire commented on #742
Thanks @linhdsv ! Indeed the `^` was the culprit.

[2017-09-19 19:57] #416 closed

[2017-09-20 05:57] #779 closed

[2017-09-20 09:47] huangbong commented on #698
@Zn4rK did you end up finding a solution to this problem? Same thing happening with me. Client side requests are batched fine, but SSR is still resulting in multiple queries to GraphQL.

[2017-09-20 11:27] jamiehill commented on #1101
Same issue.  Please advise.

[code]
`gql` is causing this error for me.  Removing stops the error

[2017-09-20 11:35] #991 closed

[2017-09-20 12:15] jamiehill commented on #1101
Update: works fine if I use `apollo-client` and `graphql-tag`

[2017-09-20 15:27] acomito commented on #344
I think having a list of the "absolute basic CRUD" situations would be helpful. I also really really like how papaparse displays their API with a logic progression of the common questions/pitfalls they probably get on github:

http://papaparse.com/

It would have saved me a lot of time when getting started if there was a simple to digest "oh you need to update, do this" "oh you need to cut down on

[2017-09-20 15:35] #990 closed

[2017-09-20 18:35] #993 closed

[2017-09-21 06:35] #995 closed

[2017-09-21 06:35] #994 closed

[2017-09-21 08:49] Milenkoo opened #1117 "Unhandled promise error due to fetchPolicy"
**Intended outcome:**
Just redirect the user when we get a GraphQL error.
We use the fetchPolicy: 'cache-and-network'

**Actual outcome:**
We handle the graphQL error  and redirect the user :
[code]
However we had another error that appears, and I can't handle it :
[code]
**Workaround:**
If we replace the fetchPolicy with 'network-only' the error doesn't show up.
Reference issue #1003

**How to re

[2017-09-21 13:00] Bhavesh-Radadiya opened #1118 "GraphQL error: Cannot query field "<Field>" on type "Mutation""
Mutation query works fine in development mode but it's not working if disabled development and enabled minify js in react-native it gives me the error:

`GraphQL error: Cannot query field "<Field>" on type "Mutation"`

[2017-09-21 13:42] aprofromindia opened #1119 "Redux props Query variable error."
After much reading Apollo React documentation I am unable to create a GraphQL query using a Redux provided props variable `displayLocation` of the `DiscoveryList` component. Flow type of `displayLocation` given below: -

    type DisplayLocation = {
      lat: number,
      lng: number,
    };

My package.json includes only the following apollo entry

"react-apollo": "^1.4.15",

I am getting the f

[2017-09-21 15:55] Eder87rh opened #1120 "Problems updating cache with store.writeQuery"
**Intended outcome:**

Im trying to update the store with store.writeQuery after someone vote or unvote an element in the search Component result

this is the updateCacheAfterVote method

`_updateCacheAfterUnvote = (store, deletedVote, storeId) =>{
        const data = store.readQuery({
            query: ALL_STORES_SEARCH_QUERY,
            variables: {
                searchText:this.state.searc

[2017-09-21 18:01] #998 closed

[2017-09-21 18:15] dardub commented on #1120
Rather than using internal state and withApollo to manually fetch the search query. You can use the graphql HOC with refetch.

In your example you had to manage state independently in your component along with the apollo store. By switching to the graphql HOC, your "Store" component can rely on props passed down from the apollo store rather than component state.

See the modified example:

https:/

[2017-09-21 18:59] #1120 closed

[2017-09-21 20:30] mattyfresh commented on #330
I ran into this same issue today.  My solve was to set the `options` param in the second argument to `graphql` as a function, as this function receives the props passed into said component.  IE in my example I have a `Post` component which receives a `name` prop which I want to pass into a GraphQl query.  You simply set your query string to receive variables as per the Apollo Docs (https://www.lea

[2017-09-21 21:02] evan-scott-zocdoc opened #1121 "graphql HOC does not inject immutable props"
**Intended outcome:**
when using `graphql(query)(Component)`, I'd expect the injected `data` prop to be immutable so React components extending `React.PureComponent` would pick up the change and only re-render as necessary

**Actual outcome:**
`props.data` is not always immutably regenerated, and therefore will fail the `PureComponent` strict equality test for determining is a rerender is necessar

[2017-09-21 22:24] sbr464 commented on #330
This is a rough but working example. It takes a param from the URL (using react-router-4 but doesn't matter) and based on that param generates a graphql query based on a dictionary object. I created a hard coded dictionary object in the below example, but it could be from a database lookup also. It's accessing an example Graph.cool request. This works fine.

[code]

[2017-09-22 05:35] mitjade commented on #807
Still and issue also in apollo-client 2.0 beta.

[2017-09-22 05:36] mitjade commented on #807
Please add this to https://github.com/apollographql/apollo-client/milestone/9.

[2017-09-22 13:01] #207 closed

[2017-09-22 15:42] #999 closed

[2017-09-22 18:12] galileomd commented on #164
@olistic wait could you spell out how the function writeup would look?
'''
const GET_PROFILES = gql`
  query getProfiles($token: String!) {
    player(token: $token) {
      profiles {
        id
      }
    }
  }
`;

const withData = graphql(GET_PROFILES, {
  options() {
    return {
      variables: {
        token: 'shhhhhhh',
      },
    };
  },
*** how do variables get inserted here ? ***
})

[2017-09-22 18:21] evan-scott-zocdoc commented on #1121
Nvm, it's actually this issue: https://github.com/apollographql/react-apollo/issues/170

[2017-09-22 18:21] #1121 closed

[2017-09-22 18:21] evan-scott-zocdoc commented on #170
`notifyOnNetworkStatusChange` should really be on by default. Does anyone know why it isn't? Found this very surprising and frustrating.

[2017-09-22 19:09] RodMachado opened #1127 "Mocking graphQLError with MockedProvider"
Hi everyone, I need some help with testing!

I am trying to write an integration test for an container using MockedProvider wrapper.
Here's how I'm trying to set it up to return an error:

[code]

The mutation is triggered by a form submit and here's the function that handles the submit action:
[code]
Here's how the error looks like:

[code]
It appears that the ApolloError that I'm mocking is retu

[2017-09-22 19:27] tkvw commented on #450
@ksmth : thanks for your solution, works great!

I agree with @ksmth that debouncing queries is something that should be supported and I agree with @helfer not to overcomplicate the library, so that makes a bit crazy.

A simple solution could be to allow options to return a Promise and only query if the promise is resolved?
This would allow us to do whatever we want.

[2017-09-23 00:42] #1000 closed

[2017-09-23 06:03] ladytellur commented on #1080
Based on [Stackoverflow answer](https://stackoverflow.com/a/46138161/2330836) given
Imprecisely defining compose parameters as any will satisfy the compiler.

[code]

[2017-09-23 11:31] sijad commented on #755
same here. decorations make code looks very cleaner.
please fix this.

[2017-09-23 11:56] smithaitufe commented on #1102
What exactly do want to achieve? It is best you explain and show codes you have written other than the snippet

[2017-09-23 18:13] creaux opened #1130 "Uncaught TypeError: Cannot read property 'length' of undefined"
**Intended outcome:**

I'm trying to setup as simple as possible apollo universal rendering. Things are working well on backend with blocking rendering using _getDataFromTree_.

I've done apollo object rehydratation using initialState of redux not by ApolloClient itself as it hasn't worked. I even can't guess why when I setup ```{ initialState: window.__APOLLO_STATE__ }``` didn't get nothing on fr

[2017-09-23 22:09] #674 closed

[2017-09-24 01:06] bjeanes commented on #994
Sorry I was on vacation for the past month. This is still something I'd like to see resolved. I haven't tested this with the latest Apollo but I go back to work tomorrow and do so if that is what is required to move this forward.

[2017-09-24 08:17] creaux commented on #1130
I moved apollo enhancer on first place and it started to working. Not sure whether I something understood not well but seems to me when ApolloClient is coupled with redux store it is somehow reasonable. Will be worth of it to mention this in documentation.

[2017-09-24 18:53] t0x1c123 commented on #615
Same problem here. Any news? For example i want to throw error with info when user is not authenticated. This doesn't work with SSR getDataFromTree 😢

[2017-09-25 08:10] OllieJennings commented on #764
Is it also possible to get #615 into this? l believe it's quite an important issue

[2017-09-25 15:42] jbreckel commented on #779
not a complete reproduction, but `cache-only` is also not working with a mock:

[code]
logs twice:
[code]

when changing to:
[code]

it logs the second time:
[code]

[2017-09-25 16:37] 7ynk3r commented on #892
if you try to use `import { MockedProvider } from 'react-apollo/test-utils';` it won't work.

[2017-09-25 19:00] migueloller commented on #1038
@jbaxleyiii,

This still seems to be an issue. When passing `undefined` in a top-level variables, Apollo Client will convert it to null.

[2017-09-25 20:09] leoasis commented on #1083
I'd like to add to this one that instead of data being optional, it is the results that should be optional, in the `ChildProps` case, `P` should have all nullable fields (for the case where they are loading).

[2017-09-25 20:33] choffmeister commented on #1083
What you call `Nullable<T>` should be typescripts `Partial<T>` I guess.

[2017-09-25 20:35] leoasis commented on #1083
Yeah, duh, good call! haha

[2017-09-25 20:53] choffmeister commented on #1083
Did look up here https://www.typescriptlang.org/docs/handbook/advanced-types.html. Actually both `Nullable` and `Partial` exist (did only know about `Partial`). Still if I recall correctly the unloaded props are `undefined`, so `Partial` should be the correct one. If there are now objections I would create a PR tomorrow for that.

[2017-09-25 22:09] 7ynk3r commented on #892
using
[code]
the normal usage of the react-native application.

[2017-09-26 11:58] OllieJennings commented on #615
@jbaxleyiii any news on this since apollo 2.0 is coming, would be nice to see something like this sorted

[2017-09-26 17:33] numso opened #1144 "MockNetworkInterface no longer matches on variables"
When testing components that are wrapped in Apollo, the mocks no longer match on variables passed in to the query.

After doing a little digging, it looks like the issue is here: https://github.com/apollographql/react-apollo/blob/master/src/test-utils.tsx#L267. The second parameter to JSON.stringify defines all the valid keys that should be stringified. In the example below, since `search` is not