[2017-04-06 06:14] miltonhultgren commented on #597
I'm seeing the same issues using:
"apollo-client": "^0.8.2",
"graphql-tag": "^1.2.4",
"react-apollo": "^0.10.1",

When using those versions I also got some other errors about duplicate definitions but after downgrading to Typescript@2.2.0 those went away but the "Cannot find source file" warnings are still present.

[2017-04-06 06:33] miltonhultgren commented on #597
I just noticed something, our output says:
"Cannot find source file '../../../src/data/resultReducers.ts': Error: Can't resolve '../../../src/data/resultReducers.ts'" which makes sense since the file is resultReducers.js.

Something tells me it's some error in our webpack/typescript configs with how they allow module resolving?

[2017-04-06 06:40] miltonhultgren commented on #597
I found the problem in my build config based on this thread https://github.com/angular-redux/store/issues/64.

In my webpack config I have the source-maps-loader but didn't exclude node_modules and this seemed to be causing the issue. Adding the exclude fixed it for me.

[2017-04-06 08:36] Ramzeus commented on #597
Yes, that did it :) Thanks!

[2017-04-06 13:22] bwanlin opened #601 "Missing readQuery, writeQuery"
Hi, i dont' have on my client readQuery and writeQuery :

![missing readquery](https://cloud.githubusercontent.com/assets/9287012/24755988/7553a336-1adc-11e7-9988-3d7ed7da8f87.png)

i read this article:
[https://dev-blog.apollodata.com/apollo-clients-new-imperative-store-api-6cb69318a1e3](url)

can someone tell me if its normal or if i do somehting wrong ?
### Version
- apollo-client@1.0.2
- react

[2017-04-06 14:36] rpylipow opened #602 "FetchMore result not passed to component if using union types"
I wasn't quite sure if this belongs here or apollo-client as it somewhat relates to https://github.com/apollographql/apollo-client/issues/1523, however my `fetchMoreResult` returns the expected results. The issue is that the new result isn't passed into my component if I'm using Union types.

**Intended outcome:**
I'm attempting to use `fetchMore` with limit/offset. My query contains union types.

[2017-04-06 15:43] stephenkao opened #603 "`skip` as a function is preventing requests from being made"
Hey, everyone!  I'm using react-apollo, and I've run into an issue with using the `skip` configuration option as a function -- as opposed to a plain boolean.

## Steps to Reproduce

I can reproduce this by just changing `skip` to a function instead of a boolean.  Also, I'm not sure if this is relevant, but I'm using server-side rendering and using an `IS_BROWSER` variable to force a query to be ca

[2017-04-06 19:13] dfee commented on #585
@helfer I've pretty much reached a dead end. I've got an example where I can extend `edges` from a relay-style store: https://github.com/dfee/react-apollo-error-template/tree/relay

However, I can't get this same code to work in my actual project. And, I can't figure out why. The `updateQuery` is indeed called, and I can see that the `newResult` looks good.

[code]

I can't figure out if this is b

[2017-04-06 19:40] dfee commented on #585
I've pretty much ruled out that `activities` doesn't need an `id`. Or, at least that's not the problem.

[2017-04-06 21:46] dfee commented on #585
I was able to find the bug (finally!). I'm closing this as I can point to a more specific issue: https://github.com/apollographql/apollo-client/issues/1555

[2017-04-06 21:46] #585 closed

[2017-04-06 22:10] maxtechera opened #604 "Unhandled Network Error"
## Steps to Reproduce

Describe how to reproduce this issue.

1. Being offline or using an invalid url
2. Start your app

### Buggy Behavior

Unhandled promise rejection stops the execution of the app.

### Expected Behavior

Component should render without data and errors received through props. The same when its a query error or some kind of http error.

### Version
- apollo-client@1.0.0
- react

[2017-04-06 22:50] lyquocnam commented on #604
may this relate ?
https://github.com/apollographql/react-apollo/issues/599

[2017-04-07 04:10] timkendall commented on #599
Happening on iOS too for me :/

[2017-04-07 04:54] helfer commented on #599
Thanks for reporting the issue @lyquocnam. Could you provide more information on when it happens, or maybe even provide a reproduction?

[2017-04-07 04:56] helfer commented on #604
@maxtechera thanks! Could you provide more information, like a stack trace or a reproduction using react-apollo-error-template? That would help us fix the issue faster.

[2017-04-07 04:57] helfer commented on #585
Thanks for the reproduction @dfee! Let's get it fixed asap! :)

[2017-04-07 05:07] helfer commented on #603
Hi @stephenkao! Thanks for filing an issue. Would you be able to provide a reproduction using the [error template](https://github.com/apollographql/react-apollo-error-template)? That could help find and fix the issue a lot faster.

[2017-04-07 05:11] helfer commented on #602
Thanks @rpylipow! Could you provide a reproduction using the [error template](https://github.com/apollographql/react-apollo-error-template)? That way we could step through the code and find out where the bug happens.

[2017-04-07 05:13] helfer commented on #601
Hi @bwanlin are you sure those are the versions that are bundled in your app? If so, please provide a reproduction using the [error template](https://github.com/apollographql/react-apollo-error-template) so we can investigate. Thanks!

[2017-04-07 05:14] helfer commented on #597
Hi @Ramzeus! Sorry for the late response. Has this issue been resolved for you?

[2017-04-07 05:18] helfer commented on #567
@langpavel I'm not 100% sure what you mean, but for pending requests/queries could you look at APOLLO_QUERY_INIT, APOLLO_QUERY_RESULT_CLIENT and APOLLO_QUERY_RESULT?

[2017-04-07 05:21] helfer commented on #585
Btw, this could have something to do with Union types, if that's what you're using in your queries.

[2017-04-07 05:25] helfer commented on #598
Hi @gauravtiwari! Thanks for filing the issue and figuring it out on your own. This reminds me that we should deprecate the `addTypename` option and always set it to true, because things might break in unexpected ways when typenames aren't present.

[2017-04-07 05:27] helfer commented on #321
@aikonplus the "solution" is to pass `notifyOnNetworkStatusChange: true` as a query option. This is really a docs issue and should be fixed there. If someone could make a PR to the React Apollo docs it would be very much appreciated!

Loading actually changes to true whenever a refetch happens, but unless `notifyOnNetworkStatusChange` is set, the component doesn't get passed the update.

[2017-04-07 05:38] helfer commented on #600
Thanks for the repro @stantoncbradley. I took a quick look at the code in Apollo Client, and my current hypothesis is that `createStore` from Redux will return the same store that was previously created, so your best bet might be to dispatch a `clearStore` action that nukes the store after you've reinitialized Apollo Client.

That said, it might be that this PR will solve your `resetStore` issue w

[2017-04-07 05:42] gauravtiwari commented on #598
@helfer No problem. I am not sure, but is it important to set `typeName` in queries ? Consider a case where you are have persisted queries on server (which was the case with me) and using `operationName` to identify graphql documents. The `apollo-client` sents the queries with `typeName` and the offline queries didn't have typeName in it, which will cause query mismatch, and no data in store.

[2017-04-07 05:43] gauravtiwari commented on #598
So, I guess we should leave it to the developer to specify `typeName` if needed? Or have better documentation for this.

[2017-04-07 06:20] helfer commented on #140
@masaeedu you can define individual queries for each component.

[2017-04-07 06:22] helfer commented on #322
@czert are you using the query option `notifyOnNetworkStatusChange`? If not, the component wouldn't be notified of changes in network status unless the data has also changed. If you are using that option but still aren't seeing the network status update, then it's a bug and a repro would be much appreciated! 🙂

[2017-04-07 06:24] helfer commented on #328
@amann that is certainly possible. I'm not sure how we would go about testing it without knowing which part might have been broken (renderToStringWithData, rehydration, not fetching on the client etc.). If anyone else is seeing this, a detailed report or reproduction would be appreciated!

[2017-04-07 06:25] helfer commented on #583
@juangl what are you expecting to see there? The `queryVariables` is variables that the query was called with, not the mutation. What does your `allAlbums` query look like?

[2017-04-07 06:28] helfer commented on #566
@simenbrekken @alfonsoperez if someone could make a PR to fix the test, that would be great! If the test fails afterwards, we can take it from there.

[2017-04-07 06:39] helfer commented on #450
@ksmth I agree that you want your input field to update immediately, but your query shouldn't run immediately, but why not just make the list / result component be either a sibling or a child to the <search> input component? That way the input can rerender independently from the list, which will re-render when the query is fetched again.

Debouncing is certainly a useful feature, but if you ask me

[2017-04-07 07:03] jacobk commented on #450
When using Redux (or any other flux pattern) together with controlled inputs – siblings or not – you effectively need to create virtual debounced prop _only_ for the purpose of passing to apollo. As far as making the typical redux app's state management clean and not concerned with data fetching concerns (which, maybe a bit contrived, can be compared with timeout handling, retries etc), support in

[2017-04-07 07:04] ksmth commented on #450
Making the List / Result component a child or sibling to the input component on its own wouldn't solve the problem, you'd still have to debounce the value changes in some way. It doesn't matter where the results component lives, as long as it depends on a state that is frequently changing, such as the value of an input component, or any other input for that matter, it needs to be debounced as you'

[2017-04-07 07:09] jacobk commented on #450
Adding to my idea above, to create a wrapped `graphql` (debouncedGraphql) it should be possible to configure the query using the original propnames and only do the mapping to explicitly debounced props inside the wrapper.

I'll see if I can find some time to play around with that concept.

[2017-04-07 07:14] simenbrekken commented on #566
@alfonsoperez Were you able to get the test to fail?

[2017-04-07 11:09] czert commented on #322
@helfer thanks, I wasn't using the new `notifyOnNetworkStatusChange` until a different issue brought it to my attention. All works fine now, thanks! :)

[2017-04-07 12:17] langpavel commented on #567
Thanks @helfer.
Can `APOLLO_QUERY_STOP` affect redux store?
Because if yes, it means that I serializing store earlier than I should..
I discovered, that simply delaying response with timeout 0 can do the job, with bluebird like this:
[code]

[2017-04-07 13:00] THook commented on #601
Hello @helfer! I have the same problem. I also tried to reproduce but react-apollo@1.0.0 defaults the Graphql package to 0.9.2! Rewriting the package.json and reinstalling with --force didn't do the trick for me

[2017-04-07 13:07] bwanlin commented on #601
hello @helfer , i reproduce this on your error template [https://github.com/bwanlin/react-apollo-error-template](url)

[2017-04-07 14:15] blackxored opened #606 "How to use with Flow"
I'm using Flow for prop validation, and I can't find a way to go deeper than `ApolloQueryResult<*>` for the `data` prop on my components, so I guess the question is, how do I use this with Flow?

[2017-04-07 15:51] dfee commented on #585
I am using Union types in my query. Is that problematic?

[2017-04-07 18:33] juangl commented on #583
Sorry guy. I may be misunderstanding how queryVaribales works.

My allAlbums query looks like:

[code]

[2017-04-07 18:55] carobeta commented on #604
I have the same issue when the url is invalid.
![screen shot 2017-04-07 at 3 42 53 pm](https://cloud.githubusercontent.com/assets/20911326/24815149/9f15ce3c-1baa-11e7-97e3-f6a62f2cbec5.png)

[2017-04-07 19:36] rpylipow commented on #602
Please take a look at https://github.com/rpylipow/react-apollo-error-template/tree/bug/union

I have two queries: [One using union types](https://github.com/rpylipow/react-apollo-error-template/blob/bug/union/src/App.js#L40-L54) and [one not using union types](https://github.com/rpylipow/react-apollo-error-template/blob/bug/union/src/App.js#L56-L61).

If you use the union types query then press th

[2017-04-07 20:21] stantoncbradley commented on #600
thanks @helfer.  Upgrading the react-apollo-error-template included above to `"react-apollo": "^1.0.1",` does not resolve this issue.
current solution is to change the backend to respond to gql requests that don't have a session with valid gql response with all null values.  Is this how gql is supposed to work though?  seems strange there is not an apollo-client api for just clearing the data?
als

[2017-04-07 20:43] joshjg commented on #601
The `readQuery` and `writeQuery` methods should be under `__proto__`

[2017-04-07 22:44] joshjg opened #607 "writeQuery doesn't affect data passed to components"
## Steps to Reproduce

[writeQuery with additional data](https://gist.github.com/calebmer/4ffcb549a729ab4eb67ed641314ac4c0#file-example-js) - I basically followed this example from the [blog post](https://dev-blog.apollodata.com/apollo-clients-new-imperative-store-api-6cb69318a1e3).

EDIT: [Reproduction can be found here (branch write-query-bug).](https://github.com/joshjg/react-apollo-error-templ

[2017-04-08 00:06] alfonsoperez commented on #566
@simenbrekken see https://github.com/apollographql/react-apollo/pull/608

[2017-04-08 03:35] helfer commented on #607
Hi @joshjg. Would you be able to provide a reproduction for this using the [error template](https://github.com/apollographql/react-apollo-error-template)? That would help us figure out what's wrong and fix it. Thanks!

[2017-04-08 03:38] joshjg commented on #607
Will do, thanks.

On Fri, Apr 7, 2017, 11:35 PM Jonas Helfer <notifications@github.com> wrote:

[2017-04-08 04:02] lyquocnam commented on #599
@helfer it happen when try to load data from graphql server
my project: https://github.com/lyquocnam/react-native-demo/blob/master/src/App.js

[2017-04-08 15:37] kachkaev opened #609 "Switch from React.PropTypes to prop-types package"
After upgrading to react 15.5, I started seeing:

[code]

It'd be great if `react-apollo` was refactored a bit so that fewer developers saw this warning in their consoles.

See https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html#migrating-from-react.proptypes on how to migrate.

[2017-04-08 15:53] joshjg commented on #607
Hey @helfer, having trouble reproducing due to the complex nature of my app. Is it possible that, for example, too shallow of a comparison is done when deciding whether to update a wrapped component?

[2017-04-08 16:48] joshjg commented on #607
Noticed something else: if I supply a `reducer` function to the `graphql(...)` wrapper options, it never gets called for this same component. If I supply it to other wrappers it works fine. Not sure what's different about this one, still investigating.

[2017-04-08 17:47] joshjg commented on #607
I think I've traced the cause to the use of inline fragments. Will put the reproduction up soon.

[2017-04-08 18:14] joshjg commented on #607
[Here's my reproduction.](https://github.com/joshjg/react-apollo-error-template/tree/write-query-bug) - on the write-query-bug branch

Note that the Add Person button does nothing to the list. Now, try removing `pets { ... }` from the query. Clicking Add Person works as expected.

[2017-04-09 07:19] colvint commented on #272
I have a little util to handle loading and error states like so:
[code]

[2017-04-09 16:51] #601 closed

[2017-04-09 22:39] GreenAsJade commented on #272
Nice!

[2017-04-10 01:47] msmfsd commented on #584
@helfer thanks, much appreciated!

[2017-04-10 02:58] msmfsd commented on #477
Note for anyone searching this as this has recently changed:
1. Graphql errors will return `error.graphQLErrors` array object, first item is the error message.
2. Network errors `error.graphQLErrors` will be empty and `error.networkError.message` is what you want.

[2017-04-10 03:11] msmfsd commented on #584
@helfer NOTE that `networkStatus` does not reflect mutation loading state. Is there anyway to know if a mutation is currently happening?

[2017-04-10 03:14] msmfsd commented on #584
@helfer mutation errors are not reflected in `networkStatus` either

[2017-04-10 03:17] msmfsd commented on #430
This is fixed, see: https://github.com/apollographql/react-apollo/issues/584#issuecomment-291665248

[2017-04-10 03:17] #430 closed

[2017-04-10 09:42] lucasfeliciano commented on #602
Passing trough the same thing:

[code]

I receive the results that I expect, fetchMore method return what I'm expecting but apollo-client doesn't

The fetch more returns exactly what I expect, the apollo client redux store is updated with the data from fetchMore, but the rerender is not triggered.

[2017-04-10 10:39] choonkending opened #615 "getDataFromTree throws errors when any query fails"
### Background

I asked a question on StackOverflow today [here](http://stackoverflow.com/questions/43316336/how-should-we-handle-an-error-while-getting-initial-state-from-store-in-getdataf).

I thunk about it harder afterwards and decided that this is a discussion worthy of a Git issue.

### Problem

_*Any*_ error gets thrown in [getDataFromTree](https://github.com/apollographql/react-apollo/blob

[2017-04-10 22:38] tkiethanom opened #617 "Using MockedProvider results in error "No more mocked responses for the query: ...""
I'm not sure why this happens, it seems I need to set up some MockedResponses but I don't know how to do that. When I console.log `_this.mockedResponsesByKey` and `key` in `MockNetworkInterface.prototype.query` it looks like the keys don't match because one is a string and the other is an object.  I could be reading this wrong though.

## Steps to Reproduce

Mount a MockedProvider using enzyme.

[

[2017-04-10 22:50] msmfsd commented on #584
@helfer also note that on refetch `loading` `error` & `networkStatus` do update but your component will not re-render unless you change your state/props on refetch. To me this makes `networkStatus` no help at all with mutate and refetch states. Am I missing something?

[2017-04-10 23:04] helfer commented on #617
@tkiethanom As you correctly noted this is likely not an issue with react-apollo but with your code. Make sure the query and variables exactly match. Also note that you need a mock request and response for every time your query is fired. If you refetch the query twice you will need three identical mock requests and responses.

If you can't figure it out after a while, I recommend asking for help o

[2017-04-10 23:04] #617 closed

[2017-04-11 18:56] tkiethanom commented on #617
@helfer Thanks for the quick response. I found the issue to my problem. I noticed the ID of my variables are getting encoded in the query that's why they don't match. I know Apollo does some ID encoding for deduplication. I believe the `MockedProvider` makes some assumptions about the `dataIdFromObject` configuration. Is this correct?

[2017-04-11 20:58] joshjg commented on #607
So this relates to [another issue](https://github.com/apollographql/apollo-client/issues/1363). I was able to solve my problem by implementing `IntrospectionFragmentMatcher` as described in one of the later comments on that issue.

[2017-04-11 23:51] cusxio commented on #580
@helfer I managed to find out the problem ! and it has nothing to do with apollo.

Basically in my query, I was requesting for a list of `Topics`, and the `__typename ` for each topic queried was `TopicEdge`.

However, when I've done some mutation, i.e. delete a topic, I return the deleted topic which has a different `__typename` of `Topic` rather than `TopicEdge`, causing apollo to completely rem

[2017-04-11 23:51] #580 closed

[2017-04-12 05:40] wmertens commented on #600
@stantoncbradley you should use `resetStore` as soon as the user signs out, and maybe something like https://twitter.com/erikras/status/851866533068513281

[2017-04-12 12:23] peitalin commented on #569
I fixed this by making it simpler.
Put the subscription function inside componentDidMount:
[code]

[2017-04-12 12:23] #569 closed

[2017-04-12 13:18] ligaz opened #619 "Unable to use React Native 0.43"
Hey guys,

React Native 0.43 has been recently released and uses `"react": "16.0.0-alpha.6"` as peer dependency. However React Apollo has a requirement of `"react": "0.14.x || 15.* || ^15.0.0"` which renders both modules incompatible.

Do you plan to address this issue?

[2017-04-12 14:38] cyrilepinat commented on #590
Hi @helfer, thks for your answer, I would love to find time to create an example but unfortunatelly it's not possible by now. Maybe later. What you say is that using withApollo or graphql hoc from one component to another is possible ? we can mix both ones and they can communicate with eahc other with the same store right ? and updateQueries should be called in any case ? So maybe I did things wro

[2017-04-12 15:00] cyrilepinat opened #620 "Help needed about complex updateQueries (or complex query reducers)"
Hi !
I have a question if any of you can give me your feedbacks, it would be awesome. If this is not the good place to ask, don't hesitate to remove this issue.

Our app is becoming very fat and we're now facing problems with data in store and updateQueries.
We are displaying many pages with many list that are using filters, parent id, search pattern... so many reason that they can become inconsis

[2017-04-12 15:51] Florentijn commented on #518
What is the status of this? :)

[2017-04-12 18:11] NitroBAY opened #621 "Int not recognized as such but as a String"
Hello,

## The error

My schema contains :
[code]
My `drugs` resolver :
[code]
I have this error `Error: GraphQL error: Variable "$category_id" of type "String" used in position expecting type "Int".` even though my `category_id` variable is an integer (3).

[code]

### Version
- apollo-client@1.0.2
- react-apollo@1.0.1

[2017-04-12 18:45] helfer commented on #621
Hi @NitroBAY! That's very strange, but it could be a bug. Could you build a quick reproduction of this with the [error template](https://github.com/apollographql/react-apollo-error-template)?

[2017-04-12 20:16] jamiemccrindle opened #622 "fetchPolicy set to cache-only after unmount"
## Steps to Reproduce

I have a container that lists widgets and a another container that adds widgets. The add widget component is on a new page, so the list page is unmounted when the add widget runs. I'm using a saga to apply the mutation and then attempt to refetch the AllWidgets query. When I do, I get the following error:

Looking at other issues, it's not clear that this is buggy behaviour

[2017-04-12 20:24] NitroBAY commented on #621
Oh, well, yes. Great idea BTW.

[2017-04-12 20:28] stantoncbradley commented on #600
`resetStore` appears to work for me correctly now.  @helfer looks like #531 fixed my problem--unmounted queries were being refetched, which was throwing 404s.  @wmertens thanks for clarifying re the role of the Provider.  Like I said, my issue is resolved by #531.  Unmounting Apollo doesn't clear the cache, but also doesn't call `resetStore`.  So I don't need that behavior since `resetStore` works

[2017-04-12 20:28] #600 closed

[2017-04-12 22:37] AdamBrodzinski commented on #367
@TSMMark i've used a global exported object that serves as a container for these refetch handles. Then you can import it and just call `refetchHandles.yourFeed()` and it'll refresh.

[code]

[2017-04-12 23:28] dsifford opened #623 "Convert React.PropTypes to PropTypes provided by prop-types package"
Hi there,

Just following your contributing guidelines. I'm able to submit a PR for this if you decide that's okay for me to do.

I'm sure you're all aware that React 15.5 deprecates `React.PropTypes` and moves it to its own module. Would this be something you are all okay with me doing in a PR?

Not a dire issue by any means, but it is somewhat annoying to see the console.error messages in my CI

[2017-04-12 23:48] alfonsoperez commented on #623
@dsifford if you end up doing, FYI there is a codemod for it in here: https://github.com/reactjs/react-codemod#react-proptypes-to-prop-types,

[2017-04-12 23:49] camd opened #624 "CSRF issues due to use of POST queries"
I have an application where the ReactJS app is hosted on one domain, and the Django service (using Graphene) is hosted on another.  The ReactJS app needs to access the data in the Django app.

## Steps to Reproduce

Since Apollo defaults to using POST for queries, I'm hitting a CSRF issue when trying to access the data.  At this time, since these APIs are all read-only, I'm using ``csrf_exempt`` o

[2017-04-12 23:51] dsifford commented on #623
@alfonsoperez Was not aware of that. Thanks, that'll definitely be helpful!

[2017-04-13 00:10] helfer commented on #623
Hi @dsifford. That would definitely be a great PR that I would be extremely happy to merge 😃

Also, hi @alfonsoperez, great to see you here! :wave:

[2017-04-13 00:17] dsifford commented on #623
@helfer Great! Thanks for the hospitality 😄

It's quittin' time here in my neck of the woods, but I should be able to knock this out tomorrow sometime.

(If anybody else happens to be reading this and feels like beating me to it, by all means, go right ahead!)

[2017-04-13 00:18] helfer commented on #624
Hi @camd, I think a GET Network Interface would be a great thing to be implemented by someone in the community - maybe you? 🙂 You could start by copying the HTTPNetworkInterface that's currently in Apollo Client and modify it such that it sends a GET request, which means you'd have to serialize the arguments (query, variables, operationName) into the URI instead of putting them in the body. You sh

[2017-04-13 00:18] #624 closed

[2017-04-13 08:33] thomasMary commented on #580
@cusxio I'm glad you found a solution to your problem. Do you mind sharing the changes you've made to make it work?
Thanks

[2017-04-13 09:36] cyrilepinat commented on #622
Could this be related to PR #531 ?

[2017-04-13 09:44] cusxio commented on #580
@thomasMary basically all I did was change my mutation to return the right **__typename**, so that I can use the result directly in `updateQueries`. The problem that I was facing has nothing to do with the `updateQueries` function I [wrote](https://github.com/apollographql/react-apollo/issues/580#issue-217840864).

Here's the changes, not sure if it's helpful though...

[code]
The important thing

[2017-04-13 10:19] jamiemccrindle commented on #622
Definitely. I suspect that just getting some guidance on the right lifecycle would be good here. As in, what's the right way to develop the components above. As in:

WidgetList is mounted
WidgetList asks for allWidgets
WidgetList is unmounted
AddWidget is mounted
AddWidget mutates by calling createWidget
...
WidgetList is remounted and has the new widget in it's list of widgets, either by a new ne

[2017-04-13 10:38] Ramzeus commented on #597
@helfer Yes, it was resolved.

[2017-04-13 13:20] chompomonim commented on #556
We're facing similar problem. Second render of component is rendering from cache.

[code]

`react-apollo@1.0.2`

[2017-04-13 13:51] chompomonim commented on #556
@helfer I'll try to create repo with reproduction of this bug. Could you meanwhile reopen this issue?

[2017-04-13 14:24] jonmanzo opened #627 "withApollo client.query & APOLLO_QUERY_STOP"
Is it expected for queries run through client.query (withApollo) to always fire APOLLO_QUERY_STOP, hence always being removed from state.apollo.queries, making the query unavailable for update via UpdateQueries from mutations down the tree?  If so, is there a (good) way to force these to be observable and stick around?  Have it working with DataProxy, but more curious as to why it is no longer obs

[2017-04-13 14:28] amannn commented on #328
I've just upgraded my app again to apollo 1.x. When using `fetchPolicy: 'network-only'` it works fine, but when using `fetchPolicy: 'cache-and-network',` the page renders without data. Maybe the bug is somehwere around the [`fetchData`](https://github.com/apollographql/react-apollo/blob/master/src/graphql.tsx#L433) method of the `graphql` HOC?

[2017-04-13 14:47] cyrilepinat commented on #622
For now my workaround is to remove `refetchQueries` option and use `fetchPolicy: 'network-only'` on the targeted query... this is not a long term solution of course :smile:

[2017-04-13 14:53] blackxored commented on #622
Yes, this works. But I hope this gets addressed soon. I'm using this on a modal like thing that animates and it's so sluggish because of it.

[2017-04-13 14:58] cyrilepinat commented on #622
@blackxored you can still use `updateQueries` option that works great.

[2017-04-13 15:30] blackxored commented on #622
Yeah I like that idea better, have done it since, thanks; however I miss the "for free" nature of `refetchQueries` in the meantime. Probably best practice is to use `updateQueries` though so I'm kind of on the fence on this one.

[2017-04-13 22:55] #623 closed

[2017-04-13 23:01] chompomonim commented on #556
I just made some changes to apollo error template to reproduce this bug.

https://github.com/chompomonim/react-apollo-error-template/commit/f99ddb66f881775de2c79eda3ebddc63b9cd9a00

I'm expecting, that last member of list will change on 'refresh' button click, but it's not. Loading data from cache (even `fetchPolicy: 'network-only'`) :/
When I'm adding `pollInterval: 1000`, then everything is as e

[2017-04-13 23:08] chompomonim commented on #556
After looking one more time on my example I feel, that the problem is that apollo is doing queries only when `graphql()` created component is mounting not every time when it's parent tries to render the Component. Any ideas how to solve this?

[2017-04-13 23:13] helfer commented on #556
@chompomonim this may be something that has to be changed in react-apollo. It's possible that react-apollo actually looked at the old forceFetch option, but doesn't look at the fetchPolicy.

[2017-04-14 15:14] greenkeeper[bot] opened #630 "An in-range update of @types/redux-form is breaking the build 🚨"
## Version **6.6.1** of [@types/redux-form](https://www.npmjs.com/package/@types/redux-form) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/react-apollo/compare/greenkeeper%2F%40types%2Fredux-form-6.6.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/redux-form

[2017-04-14 19:32] miracle2k opened #631 "Using getDataFromTree on the client for preloading?"
I was thinking that I could try to use `getDataFromTree` to prefetch data (http://dev.apollodata.com/react/prefetching.html). If I know the next route, I render the root for that route, pass it to  `getDataFromTree` and let it handle the rest.

It seems that  `getDataFromTree` is only available server side? Why? Is there a reason this is not suitable to use on the client?

[2017-04-15 01:16] cesarsolorzano commented on #364
Closing up old issues.

[2017-04-15 01:16] #364 closed

[2017-04-15 01:18] cesarsolorzano commented on #307
Closing up old issues.

[2017-04-15 01:18] #307 closed

[2017-04-15 03:45] dcworldwide opened #632 "TS2304: Cannot find name 'DocumentNode'."
## Steps to Reproduce

Upgraded to version:

- "apollo-client": "^1.0.3",
- "react-apollo": "^1.0.1",

### Buggy Behavior

ERROR in /Users/Danijel/projects/am/am-web/node_modules/react-apollo/lib/graphql.d.ts
(51,43): error TS2304: Cannot find name 'DocumentNode'.

### Expected Behavior

No error

[2017-04-15 23:00] NeoPhi opened #633 "refetch result can be ignored if variables change"
If a refetch is issued with new variables and the incoming props on a wrapped component change (even if the changed props are not used in the query) the new variables from the refetch are ignored and the component reissues its initial query.

## Steps to Reproduce

A sample repository that demonstrates this issue is available at:
https://github.com/NeoPhi/refetch-bug

Once launched there are instr

[2017-04-16 20:42] cuttlas commented on #562
Why did you close this? Which solution did you go with? I'm very interested to find out if there is a common best practice for this since I think it's a very normal use case. Thanks.

[2017-04-16 23:39] #597 closed

[2017-04-17 00:09] #354 closed

[2017-04-17 00:14] cesarsolorzano commented on #362
Closing up old issues.

[2017-04-17 00:14] #362 closed

[2017-04-17 03:49] yattias commented on #568
@richardgirges @helfer I confirmed that this is an issue on `"react-apollo": "^1.0.0-rc.3"`.

It is fixed on `"react-apollo": "^1.0.0-rc.2"` with `"apollo-client": "^1.0.1"`

One important note: There is a typo on the [Direct Cache Access Docs](http://dev.apollodata.com/core/read-and-write.html#writequery-and-writefragment). The `query` field is necessary or else an error will be thrown.

I submit

[2017-04-17 15:29] obartra commented on #609
Looks like this was fixed as of https://github.com/apollographql/react-apollo/pull/628

[2017-04-17 18:53] tudor2it commented on #599
It happened to me too. I had to recheck my code and to pay  much attention to the components names used in my application. Instead of  writing the correct name **StackNavigator** in `import { StackNavigator } from 'react-navigation';`  I wrote **StackNavigation**. After this fix it worked fine.

[2017-04-17 18:59] mitjade opened #634 "update on subscribeToMore (Direct Cache Access)"
I would like to replace `updateQueries` with `update` (Apollo Client’s new imperative store API), but it seems `update` is currently only available on `mutations`.

### Expected Behaviour
You should be also able to use `update` on `subscribeToMore`, like you are able to on mutations

### Version
- apollo-client@1.0.3
- react-apollo@1.0.2

[2017-04-17 20:32] jtmthf opened #635 "Type safe usage of `@graphql` in TypeScript projects"
## Steps to Reproduce

I'm working on a TypeScript project and would like to use the `graphql` HOC as a decorator if possible. Currently my code looks like this below which I saw is similar to how `@graphql` is used in the tests of this library. It works, but it really defeats the purpose of using TypeScript as all type safety is lost.

[code]

Taking inspiration from `react-redux` I messed around

[2017-04-17 20:50] stubailo commented on #635
I think that's a great idea. We already do this kind of generic stuff in the `watchQuery` method on `ApolloClient`, which is the way `graphql` works under the hood: https://github.com/apollographql/apollo-client/blob/1d2329fc008716d6ec9c3712b813d03b894b1a9d/src/ApolloClient.ts#L287

I imagine adding something similar to the container would be great!

We're also looking for people to help improve t

[2017-04-17 21:27] StevePotter opened #636 "Refetch after error does not re-render the component"
Like many apps, I have a screen that fills its data from graphql.  It has a pull to refresh list.  When you pull to refresh, it does a graphql `refetch()`  If:

1) User views a list with pull to refresh (which calls `refetch()`)

2) User loses connectivity

3) User pulls to refresh

4) Error message is shown due to existence of graphql error

5) User regains connectivity

6) User pulls to refresh

[2017-04-17 22:00] jtmthf commented on #635
I actually happen to have a WIP PR open on `apollo-codegen` for a TypeScript rewrite of the whole code base, that's been delayed by life aka school.

I've also seen that the people behind the `react-redux`  typings have struggled with using `connect` as a decorator as well. I swapped out classes for `recompose` and it works pretty well. This is what it looks like now

[code]

Once again all type s

[2017-04-17 22:29] allpwrfulroot commented on #603
I'm seeing something similar with react-apollo 1.0.1, using skip kills the query forever. If I comment out the skip line, the query works (although I can't filter b/c don't have current user ID yet). Skip without any filters does not work either, fairly sure the issue is with skip and not my filter arguments (they work in graphiQL). And using the below sanity check, I find that skip isn't really r

[2017-04-18 15:54] hendrikniemann opened #637 "ApolloProvider blocks react-router-dom's BrowserRouter"
I am using `react-apollo` together with `react-router-dom`. After upgrading to version 1.0 of `react-apollo` my router updates were not propagating through the `<ApolloProvider>` anymore. When I changed the order of `<BrowserRouter>` and `<ApolloProvider>` the code worked again.

## Steps to Reproduce

Connecting your app like this does not work. ApolloProvider blocks my router after upgrading to

[2017-04-18 23:10] khankuan opened #639 "Server side rendering and initial render"
Hi, I'm following the server side rendering guide with next.js. It seems like for `network-only` policy, the client loads the data again upon initial render even when data is ready. Has anyone encountered the same issue before?

[2017-04-19 07:18] choonkending opened #641 "Inconsistent errors on server and client"
## Steps to Reproduce

**1. Client-side rendering** Make a query on the client which fails. The ApolloError returned will be in `data.error` as specified [here](http://dev.apollodata.com/react/api-queries.html#graphql-query-data-error).

**2. Server-side rendering** Fetch data using `getDataFromTree` on server side:
[code]

You get a rejected promise with an exception instead of `data` being popul

[2017-04-19 13:56] jacobk commented on #622
@cyrilepinat Yes, this is caused by #531 indeed.

#531 was needed to make `resetStore` work sensibly for recycled queries but that's in _direct conflict_ with refetching not currently active queries which is really important for cache invalidation/update purposes.

I keep coming back to that thinking that `resetStore` should be more strict and throw away all known queries, removing the need to bal

[2017-04-19 20:20] yury-dymov commented on #549
Facing the same issues.

I played around with different versions and figured out that with apollo-client v0.9.0 and below this issue is not happening regardless of react-apollo version

[2017-04-20 01:48] msmfsd opened #642 "refetch issues on new rc versions"
_NOTE: this is an issue only with release candidate v1.0.0+ of `react-apollo` and `apollo-client`. If this has been fixed in newer versions this can be closed._

## Steps to Reproduce
1. Update `react-apollo` & `apollo-client` to `1.0.0-rc.3` & `1.0.0-rc.6`.
2. Replace forceFetch config option with new `fetchPolicy: 'network-only'` option on any queries.
3. Have a refetch button `onClick={() => re

[2017-04-20 09:03] Grmiade commented on #207
Any update on this?

[2017-04-20 16:15] jonheslop opened #643 "Subscription to CREATED event not rerendering"
Hello, I’ve been playing round with subscriptions. I hacked up Graph.cool's [World chat example](https://github.com/graphcool-examples/worldchat-subscriptions-example) and it works great for `[UPDATED]` but not for `[CREATED]`, I get the new array back fine but instead it doesn't render the change — this is my code https://github.com/jonheslop/pizza-tracker/blob/master/src/Tracker.js#L63

[video o

[2017-04-20 19:39] reut-co opened #644 "catch unhandled query errors"
I can't find a way to catch query errors so I'm getting red box errors of react native... I can only catch mutation errors..

[2017-04-20 20:43] dahjelle commented on #168
For future reference, #330 has some more discussion on this.

[2017-04-20 20:47] dahjelle commented on #330
Does anyone have a suggested technique for passing dynamic queries into `react-apollo`? This was supported in 0.3.19 (a **long** time ago :-) ), but I don't see an obvious way of accomplishing it with current versions of `react-apollo`. I suppose one could just use the `watchQuery` of `apollo-client` directly…

[2017-04-20 23:36] yury-dymov commented on #602
same here, but everything works fine with apollo-client 0.9.0 and below

[2017-04-20 23:39] helfer commented on #602
I think this is the same underlying issue as https://github.com/apollographql/apollo-client/issues/1555, using the fragment matcher there should solve the problem.

However, since this seems to have worked before, I'll have to go back and check if I inadvertently removed the old fragment matcher somewhere.

[2017-04-20 23:59] helfer commented on #644
Hi @reut-co. If you check the `error` prop and handle it, there shouldn't be a red box. If you're already doing that, could you provide more details so we can try to help?

[2017-04-21 00:01] helfer commented on #642
Hi @msmfsd, could you try this with the most recent versions of react-apollo and apollo-client? The rc's are a few weeks old and we've fixed a couple of bugs since then.

[2017-04-21 00:02] helfer commented on #643
I believe you have a typo on line 62, where it should say `allOrders` instead of `allOrder`. Let me know if that doesn't fix it.

[2017-04-21 00:02] #643 closed

[2017-04-21 00:12] helfer commented on #615
Hey @choonkending, sorry it took me so long to get around this issue. I agree with you 100% that this behavior isn't consistent, but because of the way server side rendering is implemented, we can't easily change it to do what you want. The reason is that the queries are all executed in a first pass on the route, then their data is stored in the cache. When you call `renderToStringWithData`, the d

[2017-04-21 00:33] yury-dymov commented on #602
Here is another reproduction: https://github.com/yury-dymov/react-apollo-error-template
I figured out that for 0.9.0 everything works fine: https://github.com/yury-dymov/react-apollo-error-template/tree/0.9.0

[2017-04-21 00:36] helfer commented on #207
@Grmiade what kind of flow typings are you looking for? For queries, we usually generate flow types with apollo-codegen. If you're looking for flow typings for the react-apollo API, we'd be happy to get a PR from someone to add them (if that's possible).

[2017-04-21 00:37] helfer commented on #641
Hey @choonkending, thanks for filing the issue! I just wrote a longer reply in #615, so I will close this in favor of that. Let's continue the conversation there!

[2017-04-21 00:37] #641 closed

[2017-04-21 00:39] helfer commented on #630
Fluke?

[2017-04-21 00:39] #630 closed

[2017-04-21 00:41] helfer commented on #606
Hi @blackxored. To get typings for results, we usually use something like apollo-codegen. @lewisf from Coursera is currently working on the library, and on making the workflow nicer. Let us know if you have time to help, we could definitely use it! 🙂

[2017-04-21 00:42] #606 closed

[2017-04-21 00:43] helfer commented on #639
Hi @khankuan. That should not be the case if the client has a forceFetchDelay (which it does for this exact reason). If you find that you can reproduce the problem, please file an issue on apollo-client, or (even better) make a PR with a failing test case 🙂

[2017-04-21 00:43] #639 closed

[2017-04-21 00:44] helfer commented on #557
@ryancole that's strange, it works perfectly fine for me. Does anyone else have similar issues?

[2017-04-21 00:46] helfer commented on #637
Hi @hendrikniemann, I think this is the same issue as #557, so I'll close it in favor of that. If you have time, it would be great if you could fix or remove the `shouldComponentUpdate` function and see if any of the tests in react-apollo break after that.

[2017-04-21 00:46] #637 closed

[2017-04-21 00:47] helfer commented on #636
Hi @StevePotter, thanks again for #1601! Can you install `react-apollo@1.0.2` and let me know if that fixes the issue for you (it's not yet tagged as latest).

[2017-04-21 00:47] #636 closed

[2017-04-21 00:49] helfer commented on #634
Hi @mitjade, I think you're right! Would you mind making a PR to apollo-client to fix this? I can give you some pointers to get you started, if necessary.

I'll close the issue here, since it's an apollo-client issue, but if you don't have time to make a PR, please file the same issue on apollo-client. Thanks! 🙂

[2017-04-21 00:49] #634 closed

[2017-04-21 00:54] helfer commented on #633
Thanks for the repro @NeoPhi. This is a tricky situation indeed, and it's one of the things that made me a bit wary about using refetch in the first place. When both refetch and props updates can change the variables, it's not always clear which one should take precedence. I'm not even sure how we would go about preserving the variables from the refetch if the component receives new props.

Could

[2017-04-21 00:56] helfer commented on #632
Hi @dcworldwide, I think this error is probably because you haven't installed `graphql` as a peer dependency, or some similar issue. I'm 99% sure this is something in your setup, and not an issue with react-apollo.

[2017-04-21 00:56] #632 closed

[2017-04-21 00:57] helfer commented on #631
Hi @miracle2k. The way we recommend people do preloading is by simply running the query before the view is loaded. That will put all the data in the cache, where it will be available once the component is mounted. If you want to pre-render the component, you can always do that and make it hidden, you don't need `getDataFromTree` for that. Here's a link to the docs for prefetching: http://dev.apoll

[2017-04-21 01:00] helfer commented on #627
Hi @jonmanzo! Yes, if you simple use `client.query`, the query will be removed. However, it's still updatable through the new `update` API (which we now recommend over other ways of updating the store), or by specifying a query document (instead of query name) in `updateQueries`. I hope that helps!

PS: here's a post that explains the `update` API: https://medium.com/p/apollo-clients-new-imperativ

[2017-04-21 01:00] #627 closed

[2017-04-21 01:01] helfer commented on #619
Hi @ligaz! Please feel free to update the peer dependency to include the 16 alpha in the range! If possible, please run the tests with it to make sure it actually works.

[2017-04-21 01:05] helfer commented on #620
Hi @cyrilepinat! Usually I would recommend that people ask this kind of question in the slack channel, but I think this is a case that will soon be common enough that it's worth talking about it here in order to keep a record for others who are interested in the same question.

To kick-start the discussion, I think it would be great if you could provide some examples of views (just the high-level)

[2017-04-21 01:07] helfer commented on #574
#640 :tada:

[2017-04-21 01:07] #574 closed

[2017-04-21 01:08] helfer commented on #596
Tests are passing again.

[2017-04-21 01:08] #596 closed

[2017-04-21 01:13] helfer commented on #602
@yury-dymov can you check if the solution from #1555 solves your issue in the most recent version?

[2017-04-21 01:46] choonkending commented on #615
@helfer No worries! Thanks for getting back to us.

Definitely.

Just to get a better understanding:
- How does the caching model work? Can you point us to parts of the codebase where you think this is the tricky part to change?
- Are there any docs/git issues around the thinking for the next version of the API?

[2017-04-21 02:03] msmfsd commented on #642
Thanks @helfer I have updated and can confirm `fetchPolicy: 'network-status'` works as expected.

However after an error if you do a refetch the `networkStatus` remains at 8 (error) and thus loading remains false. Only once refetch is successfull does `networkStatus` change to 7.

So my question, is refetch meant to update the loading status to 4 and thus loading to true?

[2017-04-21 02:23] jonmanzo commented on #627
Assumed as much, so thanks for the confirmation.  BTW,  the Data Proxy update is working quite well.

[2017-04-21 02:40] helfer commented on #615
@choonkending the cache normalizes all data, and when you run a query against the cache, the result is assembled from the normalized parts. That's a problem if errors don't have paths, because then there's no way to know which field an error is associated with, and no way to know if an error should be returned with the query run against the cache.

There's no discussion issue yet for the next vers

[2017-04-21 02:41] helfer commented on #642
@msmfsd yes, I think the loading status should change to 4 if a refetch is happening, even if there was an error before. If that's not the case in the latest version, could you try making a PR to fix it? 🙏

[2017-04-21 03:41] msmfsd commented on #642
Thanks, will look to do this on the weekend.

[2017-04-21 03:42] #568 closed

[2017-04-21 04:03] zhangmengying opened #645 "Skip variable Non-Null check when @include check is False"
## Steps to Reproduce

query Query($id:String!,$loadField:Boolean!) {
    someObjField(id:$id) @include(if:$loadField) {
        ...SomeFragment
    }
}

### Buggy Behavior

As the query shows above, input parameters 'id' is required, if client do not have 'id', loadField will be False accordingly to avoid someObjField from fetching.
But under that condition, which 'id' is null and loadField is Fa

[2017-04-21 05:02] msmfsd commented on #642
@helfer I cloned the `Apollo Client Error Template` and networkStatus and refetch all work perfectly and as expected. I think that means the issue is not with `react-apollo` at all and is with `apollo-client` or possibly our app. As such can you close this issue. I will look at our app and if it is an issue with `apollo-client` I will log an issue and link it to here.

Thanks for the help.

[2017-04-21 05:37] helfer commented on #645
Does that query work if you run it against your server with graphiql and don't provide the variable? If not, this isn't something we can fix in react-apollo.

As a workaround, I would suggest just supplying a dummy value, knowing that it won't be used.

[2017-04-21 05:38] helfer commented on #642
Thanks @msmfsd! I still think there could be an issue in Apollo Client, so don't exclude that as a possibility when investigating.  Maybe it's just not that easy to reproduce.

[2017-04-21 05:38] #642 closed

[2017-04-21 05:49] helfer commented on #549
@cdreier @yury-dymov I now think this has to do with the fragment matcher. Could you try the solution outlined in the link below and report back, please?

https://github.com/apollographql/apollo-client/issues/1555#issuecomment-295834774

[2017-04-21 07:49] ligaz commented on #619
Done https://github.com/apollographql/react-apollo/pull/647.

[2017-04-21 08:18] jonheslop commented on #643
Oh man, that totally worked, so dumb

Thanks so much

[2017-04-21 11:21] blackxored commented on #606
I've tricked watchman to generate it via gql2flow but I think in general
having decent flow defs for react apollo and apollo would be great. I've
compiled some from TS manually, let me know if that's useful.

—
Best Regards,

Adrian Perez
https://adrianperez.codes

On April 21, 2017 at 2:42:03 AM, Jonas Helfer (notifications@github.com)
wrote:

[2017-04-21 11:29] miracle2k commented on #631
You mean I should do a `ReactDOM.render()` to a hidden DOM node? I didn't think about this, it should probably work. I do worry about performance though. Interacting with the DOM seems unnecessary here?

Is there a better way to trigger a load of all the queries in a render tree, given that I have only the root react component for the target route? Besides ReactDOM.render()?

[2017-04-21 13:58] dcworldwide commented on #632
Most probably ... will investigate. Thanks

[2017-04-21 17:04] helfer commented on #631
Oh, now I see what you mean. I think it would be interesting to try running `getDataFromTree` on the client. If it works I'd be happy to include it in the browser bundle as long as it doesn't increase the size by too much. Can you try it and report back?

[2017-04-21 17:12] reut-co commented on #644
The problem was solved when switching the order of the checks: loading & error..
I first had to check for an error:
if (error){..}
else if (loading){...}

[2017-04-21 17:13] #644 closed

[2017-04-21 17:31] helfer commented on #644
Oooh, that's a really good point! We should include that in all our documentation. Would you mind making a PR to https://github.com/apollographql/react-docs to add the information?

Ideally I think the information belongs in this section: http://dev.apollodata.com/react/queries.html#default-result-props

[2017-04-22 03:38] jasonmorita commented on #228
I am still having this issue. I see in the docs that loading is used to show `<Loading />`, but for me the component doesn't re-render during `fetchMore` and by the time it does re-render, `loading` is `false`

[2017-04-22 17:19] hiei189 commented on #170
I'm having this error after last update. had to downgrade.

[2017-04-22 17:51] morriq opened #648 "ApolloProvider ts errors"
ERROR in [at-loader] ./node_modules/react-apollo/src/ApolloProvider.tsx:13:28
    TS7016: Could not find a declaration file for module 'invariant'. '/www/sites/xxx/wwwroot/node_modules/invariant/invariant.js' implicitly has an 'any' type.

ERROR in [at-loader] ./node_modules/react-apollo/src/ApolloProvider.tsx:42:15
    TS7006: Parameter 'props' implicitly has an 'any' type.

ERROR in [at-loader]

[2017-04-22 20:03] gforge commented on #622
_Workaround solution help:_ Looked at the `updateQueries` [docs](http://dev.apollodata.com/react/cache-updates.html) and there is a lot of "magic" going on and it's not clear to me how to add this to a [cursor pagination](https://facebook.github.io/relay/graphql/connections.htm) schema where the query also contains a `total` of X elements that should be incremented by 1. Is the [direct access](htt

[2017-04-23 00:22] benhjames commented on #521
It would be great to have `IntrospectionFragmentMatcher` re-exported - found myself wanting that today!

[2017-04-23 04:37] helfer commented on #521
Hey @benhjames, would you mind making a PR that re-exports everything?

[2017-04-23 12:38] jakelacey2012 opened #649 "updateQuery removes data from original result"
The issue is when data is sent down via a subscription, `updateQuery` is ran and the new data is merged into old data. The result is removed from the object.

## Steps to Reproduce

I've created a reproduction of the issue I'm having https://github.com/jakelacey2012/react-apollo-subscription-problem here.

I've included the server and the front end, the front end is where I feel the issue is and h

[2017-04-23 22:50] benhjames commented on #521
Done as #650. :)

[2017-04-23 23:08] benhjames commented on #423
Once the above PR (apollographql/apollo-client#1621) is merged, we can remove the relative file import from `apollo-client/transport/networkInterface` and just import everything straight from `apollo-client`. :)

[2017-04-23 23:16] benhjames commented on #428
Came across this while looking at #521 - I believe this has been done for a little while now :)

[2017-04-24 00:42] choonkending commented on #519
Use case(s):

## Consistent rendering and error handling between client and server

- Original issue: Read more in the original issue https://github.com/apollographql/react-apollo/issues/615
- We check `data.error` in store both on client and server to:
    - Determine whether we should send back a 200, >= 400 error
    - Determine whether to render the screen with partial data or show an error sc

[2017-04-24 04:06] tizmagik commented on #557
FWIW, I pulled latest from `master` commented out `shouldComponentUpdate()` in ApolloProvider.tsx and ran the tests and they still all passed. Let me know if you want me to push up a PR with this or how else I can help. Thanks!

[2017-04-24 06:01] msmfsd commented on #642
@helfer you may be right, on refetch after a network status error i continue to see networkStatus not updated as expected. Have raised an issue on `apollo-client`: https://github.com/apollographql/apollo-client/issues/1622

[2017-04-24 11:06] jakelacey2012 commented on #648
@morriq Could you add the react-apollo & apollo-client versions please.

[2017-04-24 13:13] cesarsolorzano commented on #649
@jakelacey2012 it looks like your subscription `onNoteAdded ` is not returning the same fields as `NotesQuery` (`created` is missing). Let me know if that helps!

[2017-04-24 13:33] jakelacey2012 commented on #649
Thank you!! It worked!!

I guess this actually makes sense because you want the new data to be the same 'shape' at the old data. Is there any documentation that expresses this?

[2017-04-24 13:45] Deilv commented on #557
The issue was introduced recently in 16149712cfe7f814df24653564ec84c665e3b2ac, perhaps @wmcbain can comment on this, since the commit had no information.

[2017-04-24 13:51] wmcbain commented on #557
Unsure if `shouldComponentUpdate` is really necessary there. As @helfer said it was introduced mainly out of caution as part of [479](https://github.com/apollographql/react-apollo/pull/479). There's other tests in place that check if the new client is being queried against when the client changes so this check is probably extraneous.

[2017-04-24 14:15] dahjelle commented on #330
From [a discussion on Slack](https://apollographql.slack.com/archives/C11QBB84R/p1492726002520119), if you need to do a dynamic query, you can use another higher-order component, like this:

[code]

[2017-04-24 14:19] Deilv commented on #557
My use case has 4 react-routes, one of them uses Apollo to fetch graphql data, which takes about 5sec the first time. After that though every route change takes as long, even when not using Apollo data at all. My ApolloProvider wraps the router, because wrapping the route only breaks the app. What I mean is that is a show stopper, and I'm sure it's a very common use case.

[2017-04-24 14:46] nicolo-paganin commented on #602
with apollo-client@1.0.3 the problem is resolved using the solution from #1555.

It is noted the using apollo-client@1.0.0 the problem is NOT resolved

[2017-04-24 14:54] lucasfeliciano commented on #602
@helfer I don't think use the fragment matcher is the definitive solution.
This should be transparent to the user in my opinion. :/

[2017-04-24 14:59] nosovsh commented on #330
@dahjelle as far as I can see this method could bring really bad problems. New instanc of `Wrapped` component will be created from scratch on each rerender of `addDynamicQuery(MyComponent)`. That means that if `MyComponent` or any deeper placed components are using state it will be reset to default value on each rerender. That's why you can not use `graphql`, `connect` or any other similar hoc ins

[2017-04-24 15:08] dahjelle commented on #330
Thanks for the feedback, @nosovsh! I appreciate hearing from folks with more expertise than myself. :-D

I don't disagree…I frankly don't know enough about that part of React.

Makes sense. I suppose the usual way of dealing with that is putting all of one's state in Redux or such like?

This, too, makes sense. Do you have any data as to the performance impact this would have for stateless compone

[2017-04-24 15:26] greenkeeper[bot] opened #652 "An in-range update of @types/sinon is breaking the build 🚨"
## Version **2.1.3** of [@types/sinon](https://www.npmjs.com/package/@types/sinon) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/react-apollo/compare/greenkeeper%2F%40types%2Fsinon-2.1.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/sinon
    </td>
  </tr>

[2017-04-24 18:37] merges commented on #321
Sorry to bug you on, well, a closed bug, but how does one pass query options to `refetch()`?

[2017-04-24 19:40] helfer commented on #321
You can't. It wouldn't make sense to pass most options anyway, because `refetch` returns a promise.

[2017-04-25 01:17] cesarsolorzano commented on #649
I think it's not in the docs because this issue has been coming up a few times lately 😄

related: apollographql/apollo-client#1611

[2017-04-25 01:17] #649 closed

[2017-04-25 02:51] xiankai commented on #450
I have encountered a similar use-case for debouncing, in addition to the search mentioned here as well. In my case, I have a username input that also does on-the-fly validation to check if the username has already been taken or not.

I also think that debouncing can be a very general use-case for anything to deal with the network - especially to reduce the number of requests. In apollo-client ther

[2017-04-25 04:36] patrickml opened #654 "Apollo doesn't support Date() in input variable"
So when double clicking/re-clicking a link that loads a gql query I am expirencing something really odd where the second load is missing the result from they query under `this.props.data`

Here is a gif of this in action

https://cl.ly/0O3p0y0D1122

And the error is undefined so there isn't an error and i'm not seeing the data re-requested in the network tab

## Steps to Reproduce

[code]

### Exp

[2017-04-25 13:00] Elliryanna opened #655 "Prop-Types missing"
Hey :)

i installed via npm the react-apollo "lib" and wanted to add this to my code, just like the tutorial says. But my npm compiler throw's the error that:

### Buggy Behavior
Error in ./~/react-apollo/lib/ApolloProvider.js
Module not found: 'prop-types' in "some local link stuff"\node_modules\react-apollo\lib

Error in ./~/react-apollo/lib/graphql.js
Module not found: 'prop-types' in "some loc

[2017-04-25 14:10] patrickml commented on #654
So the issue is passing in the `new Date()` as a param. The client seems to have an issue when you pass date types through.

[2017-04-25 16:34] cvle commented on #654
We ran into a similar/same issue.

We got an empty query result after a certain mutation using either `updateQueries` or `update` with no errors. It used to work before we changed the fragment definition.

This fragment in our query caused the empty query result after applying our mutation:
[code]

Meanwhile putting the `action_summaries` definition in a separate fragment works without issues:

[c

[2017-04-25 16:54] patrickml commented on #654
@cvle our fix was to do `new Date().toISOString()` when passing the variable

[2017-04-25 17:22] cvle commented on #654
@patrickml Thanks! Will try it out when we run into this again.

[2017-04-25 18:57] pajasevi commented on #416
I'm having same problem - data is fetched but the store is not updated. Relevant code snippet is here:
[code]

[2017-04-25 19:08] helfer commented on #654
@patrickml did you only start seeing this issue after the last update? What's the most recent version where this bug does **not** occur?

[2017-04-25 19:43] patrickml commented on #654
@helfer I wish I could be more useful here, but we had just implemented our own version of pagination so we didn't have this issue until then. I was able to widdle it down to passing in `Date` as a `Date` and not a string

[2017-04-25 19:47] zookatron commented on #622
I'm running into this issue as well. The fact that this was caused by upgrading from 1.0.0 to 1.0.1 is concerning. This kind of breakage of basic functionality shouldn't be happening in patch version bumps. New patch versions are only supposed to have backwards-compatible bug fixes. For me the best solution was to downgrade to 1.0.0 which is working just fine.

[2017-04-25 20:52] helfer commented on #655
Hi @Elliryanna, thanks for reporting! This should be fixed in 1.1.1 thanks to @thebigredgeek!

[2017-04-25 20:52] #655 closed

[2017-04-25 23:07] helfer commented on #654
My guess is that the issue here is that Apollo Client can't magically know how to serialize things, which means it's up to the developer to make sure the variable is properly serialized before passing it to Apollo. I'm inclined to close this issue, but I do think we need a much better error message when things like that happen, so I'd love to have a simple reproduction that I can play around with

[2017-04-25 23:17] patrickml commented on #654
Well that's just the thing the query works the first time it's when the
cache is being accessed that it became a problem. But I will try to get
together an example sometime this week
On Tue, Apr 25, 2017 at 7:07 PM Jonas Helfer <notifications@github.com>
wrote:

[2017-04-25 23:21] helfer commented on #654
Hm, that's interesting, but it makes perfect sense. Can you look at what the Date gets serialized to in the request? I assume it's something like `"Tue Apr 25 2017 16:18:57 GMT-0700 (PDT)"`. If it gets put in the store under that, the second query wouldn't be able to read it, unless it also serializes the date before checking (which I thought it did).

I now agree that this is most likely a bug th

[2017-04-26 01:53] thebigredgeek commented on #654
@helfer The de-facto way of handling stuff like this is by calling `toJSON` on complex types like `Date` objects.  Almost every single complex type has a `toJSON` method.  In the case of `Date`, `toJSON` returns an ISO date.  A simple fix for this would be to call `JSON.parse(variables)` within `HTTPNetworkInterface`

[2017-04-26 02:16] SachaG commented on #170
I've been running into the same issue. Could this be related to query response batching somehow? Maybe it's a coincidence, but I've noticed that when the infinite situation happens, the query response is always sent back from the server as a stand-alone result.

Whereas in scenarios where everything works as expected, it's always batched with the results of another query (I happen to have multiple

[2017-04-26 02:21] helfer commented on #654
@thebigredgeek I'm a bit dubious whether this will fix the issue here (after all the problem is with loading from cache, not the network interface), but if you think it will work, go for it! Once we have a reproduction, you can try it out.

[2017-04-26 02:23] helfer commented on #170
I highly doubt that this is related to batching. More likely it has something to do with fragments, where Apollo Client gets the result from the server, writes it to the store, then reads it back, but still thinks it only has partial data, and thus doesn't notify the observer.

If someone can provide a reproduction, we should be able to get this fixed pretty quickly @hiei189 @SachaG

[2017-04-26 02:25] thebigredgeek commented on #654
Ah, I didn't read this properly then.  However, even with the cache, I think it makes sense to serialize into string form using the same method described above.  So the fix might need to be in two places?

[2017-04-26 02:28] patrickml commented on #654
@helfer, since I'm not able to create that example yet, here, is a photo of the cache.

Now this photo was taken from the Apollo Chrome Extention so I'm not sure if they do something fancy here

![image](https://cloud.githubusercontent.com/assets/7581369/25415563/79258b9e-2a06-11e7-8982-c14c645c5437.png)

[2017-04-26 02:43] SachaG commented on #170
Is there a guide on how to best provide reproductions? I seem to remember there was a sample app you could use?

[2017-04-26 04:00] helfer commented on #170
It's here: https://github.com/apollographql/react-apollo-error-template

[2017-04-26 07:21] comus commented on #170
@helfer @SachaG
here is the repo to reproduce the issues we talked above
https://github.com/comus/react-apollo-issue
https://cl.ly/2b2D3J2A1e13

[2017-04-26 10:04] nikhilag commented on #549
@rbpinheiro Thanks a lot! I was struggling with this issue for more than a day before I came across your solution. No idea why this solves the problem though.

[2017-04-26 13:21] cvle commented on #654
The issue I encountered also only involves the cache and our custom Scalar type `Date`. I'm trying to reproduce with a simplified example.

[2017-04-26 15:31] cvle opened #658 "Query becomes empty when omitting a field during cache update"
## Steps to Reproduce

Here is a repo with the reproduced issue:
https://github.com/cvle/apollo-empty-query-error

It basically creates a new object in the cache, but omits a field that was previously
requested by a query.

### Buggy Behavior

After the update, the query data becomes empty without logging any errors.

### Expected Behavior

This is debatable. Several ideas are:
1. Log an error and

[2017-04-26 15:32] cvle commented on #654
Not entirely sure if it is related. My issue turned out to be a bit different: https://github.com/apollographql/react-apollo/issues/658.

[2017-04-26 16:03] helfer commented on #658
If I understand the issue correctly, you're doing an `update`, but the shape of the object you're inserting into the list does not have all the fields that another query is expecting. Is that correct?

Because Apollo Client won't read partial data, you get no result.

I don't think this should work, but I believe that this used to throw an error, so we should find out why errors are no longer thro

[2017-04-26 20:09] tnrich commented on #330
Hey everyone, I have a use case I'd like to support with graphql:

Basically the idea is to allow users to define which columns (from a set list) they would like to view on a data table. Querying for all of the columns could mean **a lot** of unnecessary data would be grabbed, thus, I'd like to only send a graphql query with the user-requested columns.

I haven't been able to figure out how to do

[2017-04-26 23:06] cesarsolorzano commented on #658
@helfer sure thing, I'll check it out soon!

[2017-04-27 01:08] cesarsolorzano commented on #658
@helfer so the reproduction isn't using `readQuery` to read the the data after it's updated (which would have thrown the error).

Therefore, the problem here is the same as discussed before: when reading from the store an error is [thrown](https://github.com/apollographql/apollo-client/blob/48d8b1200c7581e2afb6d253dc8a2f7894ee7df4/src/data/readFromStore.ts#L154-L156) but since it's being catched [

[2017-04-27 03:37] cesarsolorzano commented on #385
Closing up old issues

[2017-04-27 03:37] #385 closed

[2017-04-27 03:51] cesarsolorzano commented on #444
This was fixed in apollographql/apollo-client#1491, closing.

[2017-04-27 03:51] #444 closed

[2017-04-27 07:39] helfer commented on #170
@thebigredgeek I think this is a reproduction of the same issue that we tried to debug together a while back. Can you take a quick look at the video and tell me if you think my assessment is correct?

The problem here is also due to a discrepancy between the `observer.next` result and the `currentResult`. Interestingly @comus says that it was introduced with react-apollo 0.11.0 and didn't occur be

[2017-04-27 09:28] nosovsh commented on #330
@dahjelle
Storing state in redux will solve the issue with loosing state but it is more like a hack because component sub tree can be big and you can not be sure that nothing deeper is using local state.

Regarding performance I don't know what React will do exactly but my guess it will run the full life cycle for new component on each rerender (constructor, onComponentDidMount etc). And you will

[2017-04-27 12:03] ablbol opened #660 "props and options get called multiple times while fetching a query"
I am using react apollo version "^1.0.0" and trying to fetch a query.  While debugging my code I noticed that the "options" and "props" parts called several times before the query is fetched (see comments in the code snippet).  This behavior happens in other queries in my code.  Is there a reason for it or did I miss something.  Here is the container where I am fetching a query

[code]

[2017-04-27 16:14] thebigredgeek commented on #170
@helfer yeah this is the EXACT issue, though I haven't encountered it in a while (ever since rebuilding the product).  I think this might have resolved in current versions.  I upgraded quite a bit since I last encountered the bug

[2017-04-27 17:43] tnrich commented on #330
@nosovsh , could you point to a repo or share code for your dynamic query solution using HOC generators? I'd be curious to see how you're doing it. Thanks!

[2017-04-28 00:47] #521 closed

[2017-04-28 05:10] greenkeeper[bot] opened #662 "An in-range update of apollo-client is breaking the build 🚨"
## Version **1.1.0** of [apollo-client](https://github.com/apollographql/apollo-client) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/react-apollo/compare/greenkeeper%2Fapollo-client-1.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      apollo-client
    </td>
  </tr>

[2017-04-28 06:10] cvle commented on #658
But the schema clearly allows that that field is optional, so I kinda expect that when I update the cache and don't include the field, it should be ok, as it is optional.

Just checked `Modern Relay` and they allow this kind of cache update, no matter if the field is required or optional.

[2017-04-28 06:16] #662 closed

[2017-04-29 02:44] jbaxleyiii commented on #619
shipped!

[2017-04-29 02:44] #619 closed

[2017-04-29 02:52] jbaxleyiii commented on #170
man, this is the issue that will never end 👎

[2017-04-29 03:24] jbaxleyiii commented on #170
@helfer @thebigredgeek I setup an error repor https://github.com/apollographql/react-apollo/pull/666

[2017-04-30 02:12] SachaG opened #667 "networkStatus gets stuck on "2" (setVariables)"
Something I've noticed recently: when passing new options to my query container, it can get stuck on `networkStatus = 2` even once the request succeeds. Here's a short screencast to demonstrate the issue:

https://cl.ly/kEWd

Note that this only seems to happen the first time these new options are passed. If I go back and forth between both pages, it'll work the second time. This is with apollo-cl

[2017-04-30 03:45] helfer commented on #622
@jamiemccrindle Sorry I missed this issue thread until now. This is definitely a regression related to recycling of observables and #531, which were in turn attempts at fixing the problem with refetching or updating data related to queries that are not currently active. We discussed that issue at length late last year and concluded that the best way forward would be to not provide updating and ref

[2017-04-30 05:57] jacobk commented on #622
@helfer my concern with removing refetching by name is that some queries have complex variable setups not easily provided from other components e.g. lists with pagination, sorting, filtering etc.

Refetching such queries by name is a simple solution to make sure they are not stale since `updateQueries` might not be feasible if the sorting (etc) logic is complex.

This is related to the very good d

[2017-04-30 07:27] jamiemccrindle commented on #622
Thanks all! @helfer I'm still not 100% sure what the right solution for this is:

1. WidgetList is mounted
2. WidgetList queries for allWidgets
3. WidgetList is unmounted
4. AddWidget is mounted
5. AddWidget mutates by calling createWidget
6. WidgetList is mounted

Do I call the updateQueries in step 5? Will this mean that when the list is remounted in step 6 that it will have up to date data beca

[2017-04-30 08:41] grossberg commented on #667
i have the same issue

[2017-04-30 08:47] Josiang commented on #667
i also have the exact same issue

[2017-04-30 13:59] lagmanzaza opened #668 "How to pass from router param (react-router-dom)"
this my code
![capture](https://cloud.githubusercontent.com/assets/5283709/25564916/bbadfbc4-2de7-11e7-991a-2948e4031187.PNG)

when getting param from router but variable not define
![4](https://cloud.githubusercontent.com/assets/5283709/25564917/bbaf4786-2de7-11e7-887f-dbadbc70632c.PNG)

[2017-04-30 14:13] #668 closed

[2017-04-30 19:28] gforge commented on #622
@helfer - using `updateQueries ` is most likely the most efficient approach, but the logic may be rather complicated and perhaps nothing that has to be ready in a prototype. Having a quick & dirty "re-fetch everything" option is therefore in my min motivated, although it could be accompanied with a user warning and recommendation towards using a more optimal solution.

I've been thinking about my

[2017-04-30 20:56] HeatherZh commented on #519
I am working on a timeline based component that fetches data from GraphQL backend.   When user clicks on previous or next button,  I need to call fetchMore by providing a new time range.  For any given time range, there is also possible pagination involved.  To keep track of whether data is fully loaded or still needs fetchMore for pagination,  I have a data structure, similar to the following

da

[2017-04-30 20:57] helfer commented on #667
Thanks @SachaG! Would anyone be able to provide a reproduction using react-apollo-error-template? 🙂

[2017-04-30 22:42] helfer commented on #622
Hey folks, I have some good news (if it works). I've prepared a PR to apollo-client that would fix this problem (and maybe some others as well). The gist is that instead of co-opting the "cache-only" fetchPolicy for recycled queries, we explicitly mark them as "standby". That means they don't run during store reset, but you can use them in refetch and updateQueries. It also means that we'd no long

[2017-05-01 07:39] helfer commented on #660
Hi @ablbol. I'm not too familiar with that part of the codebase, but if you provide a reproduction with [react-apollo-error-template](https://github.com/apollographql/react-apollo-error-template), I'll look into it!

Or maybe @jbaxleyiii has an idea! :)

[2017-05-01 08:10] msmfsd commented on #642
See this: https://github.com/apollographql/apollo-client/issues/1622#issuecomment-298073094

[2017-05-01 10:51] dcworldwide commented on #607
I have the same issue, writeQuery updates the store but doesn't trigger new props to be passed into my react components.

React component query (with graphQL HOC)
------------

    query stats($sId: String!) {
        stats(sId: $sId)
    }

This query returns a JSON data object that is defined using a Graphql custom JSON type (npm package 'graphql-type-json')

I'm modifying the JSON object in the

[2017-05-01 13:22] jacobk commented on #622
@helfer I've started to write a failing test case but it seems a bit tricky since the rejected promise from https://github.com/apollographql/apollo-client/blob/master/src/core/ObservableQuery.ts#L203 ends up being swallowed inside the client https://github.com/apollographql/apollo-client/blob/master/src/core/QueryManager.ts#L331 and escapes the test-harness.

Any ideas about dealing with unhandled

[2017-05-01 14:27] jacobk commented on #622
I've got an initial breaking test added to https://github.com/apollographql/react-apollo/pull/671 now. It still needs some tweaking (and I'm still concerned about not being able to detect rejection, see above) but the test catches this issue and seems to pass fine with #531 reverted.

[2017-05-01 16:03] leoasis opened #672 "Co-location of data and props passed to components"
React Apollo shows in the [docs](http://dev.apollodata.com/react/fragments.html#colocating-fragments) a convention for colocating fragments with the corresponding components, and suggest the usage of `graphql-anywhere` to [filter](http://dev.apollodata.com/react/fragments.html#filtering-with-fragments) the props that belong to the component's fragment.

However that only works by filtering props f

[2017-05-01 18:15] appjitsu opened #673 "Recursive Components"
I have a parent component where I'm calling the following child component. Inside the child component, it can also recursively call itself to load more nodes. The problem I am running into is that compose does not fire off the graphql query for the recursive calls. Props only has the "actionId" that I passed in.

[code]

In the console.log in Chrome:

the first use of the Action component works wh

[2017-05-01 19:03] helfer commented on #607
@dcworldwide The most common reason for updates not happening is if the store write didn't contain all the necessary data that the component needs to update. I have an open PR on Apollo Client that should make it much easier to recognize this kind of issues: https://github.com/apollographql/apollo-client/pull/1638

[2017-05-01 22:26] jasonmorita opened #674 "Unable to get mockedData into props from MockedProvider in test"
Following some ideas from this gist: https://gist.github.com/jbaxleyiii/b3634aeeab7bdb80ed4119ea5a07ba4a, I am unable to get a component test to work as expected.

Everything seems to work except the `props` never get populated with the `data` from the response.

Any reason why this isn't working as I expect it to?

Here is the simplest real-world example I could make based on an existing componen

[2017-05-01 22:48] dcworldwide commented on #607
OK thanks looking forward to this fix.. good to know that my use of a scalar json return type isn't the issue

[2017-05-01 23:02] tnrich opened #675 "How does cache trimming/invalidation work with apollo?"
Hi there,

I couldn't find a description of how cache invalidation/trimming works with apollo-client anywhere in the documentation (sorry if it is there I must have missed it).

In particular I am curious if the cache gets trimmed after a particular event or maybe after the total data store size grows above a certain limit (assuming the component(s) relying on the queries aren't still being render

[2017-05-02 00:42] cesarsolorzano commented on #675
I'm closing this. Please refer to apollographql/apollo-client#1640 for the same issue.

[2017-05-02 00:42] #675 closed

[2017-05-02 04:50] aryo commented on #674
MockedProvider doesn't give you the mocked results when queries don't have `__typename` in them. (It auto adds typenames into the query mock store key, so when the original query doesn't have them, it won't find a matching query.)

You can either add `__typename`s into your queries or make your own MockedProvider that passes in an `ApolloClient` with `{ addTypename: false }`

[2017-05-02 07:07] zhangmengying commented on #645
@helfer Just get back. Thank you, I think the workaround is just fine.

[2017-05-02 07:07] #645 closed

[2017-05-02 14:33] MichaelDeBoey opened #677 ".refetch doesn't trigger componentWillReceiveProps"
## Steps to Reproduce

I tested it with the [example code](http://dev.apollodata.com/react/receiving-updates.html#refetch) from the docs

### Buggy Behavior

When I inspect the Apollo store (via the [DevTools](https://github.com/apollographql/apollo-client-devtools)), I see the store gets updated correctly, but my wrapped component doesn't re-render and it's `componentWillReceiveProps` function is

[2017-05-02 17:31] dahjelle commented on #330
For whatever it's worth, I'm trying a technique like @chillu's above. In my case, the `queryBuilder` is a function that takes `props` and returns an object of the shape `{query, config}` which are then passed directly to the `graphql` HOC.

[code]

The main limitation I can see is that, while the query is dynamic on instantiation, changing the `props` won't change the query. That's fine in my case

[2017-05-02 18:17] thomasdelobel commented on #677
Almost same situation for me.

I have a query on an object, fetching well data and updating the wrapped component at first.

After a mutation on this object (made with success), the store is well updated with the new value, but the wrapped component is not notified (componentWillReceiveProps, shouldComponentUpdate, ...)

[2017-05-02 20:29] MichaelDeBoey commented on #677
Also having that problem @thomasdelobel is having, but thought it had something to do with the one above, so didn't wanted to make a dupe issue

[2017-05-02 20:56] rtymchyk opened #678 "Container stuck in loading state when fetchPolicy is not default"
## Steps to Reproduce

I have recreated the basic setup with a fork of the error template repo: https://github.com/rtymchyk/react-apollo-error-template

1. Add `react-router` and series of routes.
2. Add a `AuthenticatedRoute` component that checks if there is a result of some query. In a real API this would check the `viewer` for example (Relay style), or just `user` (non-Relay). For this type of

[2017-05-03 04:01] jbaxleyiii commented on #192
This would be a great thing for an article or two! I'm going to close it for now though since a few options have been discussed

[2017-05-03 04:01] #192 closed

[2017-05-03 04:01] jbaxleyiii commented on #207
Starting on this project this week 👍

[2017-05-03 04:02] #210 closed

[2017-05-03 04:05] jbaxleyiii commented on #262
@sedubois I'm still on the fence about this. I tried a few times to make fragments feel natural without a build step and never found something I like. I'm going to close this as WONTFIX again, but if the interest is still there / we can come up with something that feels natural I'm game to keep discussing

[2017-05-03 04:05] #262 closed

[2017-05-03 04:06] #272 closed

[2017-05-03 04:06] jbaxleyiii commented on #272
This would be a great external utility or documented (using things like recompose makes this easy!)

[2017-05-03 04:06] jbaxleyiii commented on #282
This has been vastly improved (though errors still need some love) so I'm going to close it out

[2017-05-03 04:06] #282 closed

[2017-05-03 04:07] jbaxleyiii commented on #284
closing as subscription docs have been improved! http://dev.apollodata.com/react/subscriptions.html

[2017-05-03 04:07] #284 closed

[2017-05-03 04:08] jbaxleyiii commented on #286
This has been improved! If you don't handle errors, they will log out now

[2017-05-03 04:08] #286 closed

[2017-05-03 04:09] #289 closed

[2017-05-03 04:09] #315 closed

[2017-05-03 04:10] #318 closed

[2017-05-03 04:12] jbaxleyiii commented on #322
networkStatus is included in props now

[2017-05-03 04:12] #322 closed

[2017-05-03 04:13] #323 closed

[2017-05-03 04:13] jbaxleyiii commented on #328
@amannn would you be able to create a reproduction test of this?

[2017-05-03 04:14] jbaxleyiii commented on #333
I don't have any plans to put time into proptypes. Instead, we will be adding better typescript and flow support. If prop types are needed, I think the could be a separate package

[2017-05-03 04:14] #333 closed

[2017-05-03 04:16] jbaxleyiii commented on #334
@swernerx I'm not sure I follow the need here? If this is still something you want to discuss feel free to reopen the issue!

[2017-05-03 04:16] #334 closed

[2017-05-03 04:17] jbaxleyiii commented on #336
I believe this is working now? We should add a test for it in RA though

[2017-05-03 04:17] #336 closed

[2017-05-03 04:18] #340 closed

[2017-05-03 04:22] #352 closed

[2017-05-03 04:24] jbaxleyiii commented on #359
This should really be handled by other application code and tied into React's lifcycle events. I don't want RA to expose any redux specific things since we one day want stores to be pluggable so AC / RA could not even have redux

[2017-05-03 04:24] #359 closed

[2017-05-03 04:25] jbaxleyiii commented on #375
With #353 this should be better. Closing this for tracking progress there

[2017-05-03 04:25] #375 closed

[2017-05-03 04:26] jbaxleyiii commented on #386
Issue with GA / AC. (and I think fixed!)

[2017-05-03 04:26] #386 closed

[2017-05-03 04:27] jbaxleyiii commented on #416
@pajasevi if you update to the latest versions, does this still exist?

[2017-05-03 04:28] jbaxleyiii commented on #417
@helfer I'll work on abstracting the server renderer to a new package after stabilizing tests!

[2017-05-03 04:28] #423 closed

[2017-05-03 04:29] jbaxleyiii commented on #423
Fixed by https://github.com/apollographql/react-apollo/pull/679

[2017-05-03 04:31] jbaxleyiii commented on #425
@codepunkt why wouldn't the h1 be included on the server? It looks like it *should*?

[2017-05-03 04:32] jbaxleyiii commented on #427
This should be fixed

[2017-05-03 04:32] #427 closed

[2017-05-03 04:32] #428 closed

[2017-05-03 04:33] #432 closed

[2017-05-03 04:34] jbaxleyiii commented on #433
@SachaG do you still have thoughts / needs around better error handling in RA? I think it is still a point for improvement! If so, feel free to open this back up or start an error specific issue for discussion

[2017-05-03 04:34] #433 closed

[2017-05-03 04:36] jbaxleyiii commented on #440
closing as this is older than two weeks without a reproduction. Feel free to reopen if you still have this issue and can create a reproduction

[2017-05-03 04:36] #440 closed

[2017-05-03 04:38] jbaxleyiii commented on #447
@dallonf is this still an issue?

[2017-05-03 04:39] jbaxleyiii commented on #449
closing as this is older than two weeks without a reproduction. Feel free to reopen if you still have this issue and can create a reproduction

[2017-05-03 04:39] #449 closed

[2017-05-03 04:40] jbaxleyiii commented on #450
This would be a great recipe and/or an external package. I don't think it should be in the core RA though!

[2017-05-03 04:40] #450 closed

[2017-05-03 04:40] jbaxleyiii commented on #452
`read` and `write` are implemented 💯

[2017-05-03 04:40] #452 closed

[2017-05-03 04:40] #453 closed

[2017-05-03 04:41] jbaxleyiii commented on #455
@abhiaiyer91 what do you want out of a subscription HOC?

[2017-05-03 04:42] #456 closed

[2017-05-03 04:43] #468 closed

[2017-05-03 04:46] #549 closed

[2017-05-03 04:46] jbaxleyiii commented on #549
looks like a solution was found?

[2017-05-03 04:47] jbaxleyiii commented on #557
It's been removed now!

[2017-05-03 04:47] #557 closed

[2017-05-03 04:48] jbaxleyiii commented on #558
@mmollaverdi we still need to handle errors better! I'm going to leave this open as a reminder to improve that DX

[2017-05-03 04:48] jbaxleyiii commented on #563
@sheprdinc could you create a reproduction using https://github.com/apollographql/react-apollo-error-template

[2017-05-03 04:51] jbaxleyiii commented on #578
Closing this as its over two weeks old without a response. Feel free to open if its still an issue

[2017-05-03 04:51] #578 closed

[2017-05-03 04:52] jbaxleyiii commented on #583
@juangl is this still an issue? If so, feel free to reopen!

[2017-05-03 04:52] #583 closed

[2017-05-03 04:52] jbaxleyiii commented on #586
Closing since this is more than two weeks old without a reproduction / response. If it is still an issue feel free to reopen!

[2017-05-03 04:52] #586 closed

[2017-05-03 04:53] jbaxleyiii commented on #588
@davidye would you be able to put together a test case or a reproduction of this?

[2017-05-03 04:54] jbaxleyiii commented on #590
closing since this was resolved!

[2017-05-03 04:54] #590 closed

[2017-05-03 04:57] jbaxleyiii commented on #599
This is most likely a network error or as @tudor2it noted, a bundler issue. Closing for now as we don't parse JSON in react-apollo at all

[2017-05-03 04:57] #599 closed

[2017-05-03 04:58] jbaxleyiii commented on #602
looks like this was solved by #1555 on AC?

[2017-05-03 04:58] #602 closed

[2017-05-03 04:59] jbaxleyiii commented on #603
@allpwrfulroot can you create a reproduction for us to debug?

[2017-05-03 04:59] jbaxleyiii commented on #603
Since this has been longer than 2 weeks, I'm going to close it but feel free to reopen if its still an issue!

[2017-05-03 04:59] #603 closed

[2017-05-03 05:00] jbaxleyiii commented on #604
Closing since this has been longer than 2 weeks without a reproduction. If it is still an issue, feel free to reopen!

[2017-05-03 05:00] #609 closed

[2017-05-03 05:01] jbaxleyiii commented on #615
This really needs to be talked through and fixed 💪 After I clean up the tests and add better typings. I'll try to get around to error handling and SSR!

[2017-05-03 05:02] jbaxleyiii commented on #620
@cyrilepinat do you have any more feedback on this?

[2017-05-03 05:02] jbaxleyiii commented on #621
I'm going to close this since its been longer than 2 weeks without a reproduction. Feel free to reopen if its still an issue!

[2017-05-03 05:02] #621 closed

[2017-05-03 05:05] jbaxleyiii commented on #328
closing since this has been open longer than two weeks without a reproduction. Feel free to reopen if its still an issue!

[2017-05-03 05:05] #328 closed

[2017-05-03 05:05] jbaxleyiii commented on #631
It seems more and more people want to use `getDataFromTree` on the client. I see no reason why we shouldn't export it there except client side weight. Instead, we are going to make it its own package which can be used!

[2017-05-03 05:07] jbaxleyiii commented on #635
https://github.com/apollographql/react-apollo/pull/394 will be a solution to this! I'll be picking it up this week!

[2017-05-03 05:07] jbaxleyiii commented on #648
This looks like a typescript loader issue. I'm going to close it since its not directly related to RA

[2017-05-03 05:07] #648 closed

[2017-05-03 05:07] #652 closed

[2017-05-03 05:10] jbaxleyiii commented on #660
A reproduction would be great! If I had to hazard a guess I would say that something else is rerendering your wrapped component while the query is in flight. Options and props get called each time the component is rerendered if the props coming down the tree have changed

[2017-05-03 05:11] jbaxleyiii commented on #673
@appjitsu could you provide a reproduction using https://github.com/apollographql/react-apollo-error-template?

[2017-05-03 05:12] jbaxleyiii commented on #674
@aryo thanks for the response! That is indeed most likely the issue. However it stinks that you have to do that. I'm going to be working on testing utils and improving what is there so this should be easier / documented soon!

[2017-05-03 05:13] jbaxleyiii commented on #677
@thomasdelobel or @MichaelDeBoey could you create a reproduction or a failing test using https://github.com/apollographql/react-apollo-error-template or the current test suite?

[2017-05-03 08:17] pajasevi commented on #416
I updated all necessary dependencies and it's ok now. I had to use `componentDidUpdate` in one instance, but it works properly. Thanks @jbaxleyiii

[2017-05-03 09:02] MichaelDeBoey commented on #677
@jbaxleyiii Just saw apollographql/apollo-client#1555 and [@dfee's solution](https://github.com/apollographql/apollo-client/issues/1555#issuecomment-295834774) helped fixing my problem 🙂

CC: @thomasdelobel

[2017-05-03 10:04] thomasdelobel commented on #677
Well spotted @MichaelDeBoey, thanks !

I was trying to reproduce it in a lighter app than the one I'm working on, and can't figured out what it was.

Actually I deal with a union and especially through fragments. Applying the @dfee's solution also solved my issue.

[2017-05-03 10:24] morriq opened #680 "updateQueries for empty list"
Hello, I'm using postgraphql with react and I struggle with weird issue..
When array from query is empty `this.props.data.allUsers.edges.length === 0` and I'm trying to add new record via mutate method then I'll get `this.props.data.allUsers === undefined`. Is this issue or am I doing something wrong?

## Steps to Reproduce

1. Truncate your table
2. push new record in updateQueries prop

It's my

[2017-05-03 13:18] dallonf commented on #447
Yes; I have a PR open on apollo-client (https://github.com/apollographql/apollo-client/pull/1607) that may resolve this, although it has a pretty heavy impact, so there may be a better option.

[2017-05-03 14:43] nosovsh commented on #330
I just found a note in official docs about loosing state if using hoc inside render: https://facebook.github.io/react/docs/higher-order-components.html#dont-use-hocs-inside-the-render-method
@dahjelle you are right, your solution is good until you need to change query on the fly. Of course you can check for changes in componentWillReceiveProps and reintialize `this.wrapped` if query is changed but

[2017-05-03 14:59] stubailo commented on #330
@tnrich please open a new issue for this! By the way Apollo supports any kind of queries, not just static ones. So it should be easy to do what you're looking for.

[2017-05-03 15:29] tnrich opened #681 "Feature: Docs on how to perform dynamic queries"
Hey everyone, I have a use case I'd like to support with apollo/graphql:

Basically the idea is to allow users to define which columns (from a set list) they would like to view on a data table. Querying for all of the columns could mean a lot of unnecessary data would be grabbed, thus, I'd like to only send a graphql query with the user-requested columns.

I haven't been able to figure out how to

[2017-05-03 20:47] #677 closed

[2017-05-03 20:52] jurajkrivda commented on #680
Did you try $push?

[2017-05-04 03:15] sarkistlt opened #683 "warning in console [PropTypes validators]"
In dev mode I have this annoying warning it comes from ApolloProvider, any way to solve this problem besides using production env. for development?

<img width="671" alt="screen shot 2017-05-03 at 8 13 04 pm" src="https://cloud.githubusercontent.com/assets/5773343/25689479/346fe3cc-303d-11e7-9772-7b88c3b85a2b.png">
<img width="1680" alt="screen shot 2017-05-03 at 8 12 51 pm" src="https://cloud.git

[2017-05-04 03:18] jbaxleyiii commented on #683
@sarkistlt that's odd! I'm not seeing it n any of my projects, what version of the client and of react are you using?

[2017-05-04 03:20] sarkistlt commented on #683
Hi, thanks for quick response!
Here:
[code]

[2017-05-04 03:22] jbaxleyiii commented on #683
I'm wondering if it has to do with the react 15.5 (or was it 4) update that made prop types it's own package. Could you try updating react and react dom?

[2017-05-04 03:30] sarkistlt commented on #683
I've got bunch of other warnings but it fixed issue with apollo, thanks!

[2017-05-04 03:30] #683 closed

[2017-05-04 05:12] hiei189 commented on #667
Is there a workaround? like using another version?

[2017-05-04 09:31] cyrilepinat commented on #620
Yes @helfer @jbaxleyiii I'm really sorry I ask questions and don't have enough time to provide you details about it. That's quite useless sorry.
After some research, I think refetchQueries is what I need for complex cases, and I follow issue #622 too that provides good answers to my question I guess. So for now, I think I'm good. Thanks for your time.

[2017-05-04 09:46] alikhani commented on #667
I'm having the same issue.. Any progress?

[2017-05-04 10:08] jwickens opened #686 "Support Tree Shaking though module field"
Apollo Client supports tree shaking through the module field in package.json. React-apollo however serves a transpiled and minified file only. The combination of react-apollo, apollo-client and graphql add 300kb to my build.

[2017-05-04 11:17] kishorevarma opened #687 "Need Help, fetchMore is failing when using with withApollo"
Hi,

I am using withApollo HOC.  My component does pagination. I am facing following issue
[code]
My code is as follow
[code]

### Version
- apollo-client@1.0.2
- react-apollo@1.0.0

[2017-05-04 12:09] amannn commented on #328
@jbaxleyiii I've added a PR that (hopefully) fixes the issue: #688

[2017-05-04 15:18] abhiaiyer91 commented on #455
@jbaxleyiii let's close this issue. I've since changed my opinions, I'm all down with the single container

[2017-05-04 15:18] #455 closed

[2017-05-04 16:05] jwickens commented on #686
https://github.com/graphql/graphql-js/issues/843

[2017-05-04 16:28] cyrilepinat commented on #622
@helfer sorry for the late answer, I just tested the v1.2.0 of react-apollo and it seems that refetchQueries by name has been actually removed as you said right ? For my case, I came to refetchQueries after facing problems using updateQueries with complex variables that I cannot retrieve when I do need to update list. So refetchQueries by name was my very last hope to not use `fetchPolicy: 'networ

[2017-05-04 16:34] helfer commented on #667
@hiei189  @alikhani I think this issue is similar to another one we're trying to debug (where the loading state doesn't change back), but we could still use a reproduction for this, in case it's not the same.

[2017-05-04 17:49] helfer commented on #622
@cyrilepinat the functionality to refetch by name is still available, we just don't recommend using it in the longer term any more, because we might deprecate it in the future, or split it out into a separate package if possible.

[2017-05-04 19:24] greenkeeper[bot] opened #689 "An in-range update of @types/jest is breaking the build 🚨"
## Version **19.2.3** of [@types/jest](https://www.npmjs.com/package/@types/jest) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/react-apollo/compare/greenkeeper%2F%40types%2Fjest-19.2.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/jest
    </td>
  </tr>
  <t

[2017-05-04 19:28] helfer commented on #687
@kishorevarma you need to subscribe to the observableQuery you get back from watchQuery in order for the query to be started. BTW, I would recommend using the `graphql` HOC from react-apollo, it handles a lot of things for you.

[2017-05-04 19:28] #687 closed

[2017-05-04 21:14] kishorevarma commented on #687
@helfer I am using graphql HOC in all other places in my project. but in specific use case I have two queries one is executed while page load (I am using graphql HOC) and another query should be  executed when user click on button, as per my knowledge I can't use grahql HOC because I can't control execution of query(execute only with user interaction example search button)

[2017-05-04 21:20] kishorevarma commented on #687
@helfer I just checked source code. I will use subscribe Thanks

[2017-05-04 21:33] kishorevarma commented on #687
sorry ignore my previous comments I see that I can use graphql HOC with skip option. I will try that

[2017-05-04 22:41] tnrich commented on #330
@dahjelle , what do you use for the `queryBuilder` in your above example?

[2017-05-05 02:08] dahjelle commented on #330
@tnrich Something like the following (simplified a lot from our real code, but hopefully better gets the point across):

[code]

You can pass any of the regular `react-apollo` stuff in the config, and there are a lot of different ways to build the query. Building the AST directly instead of parsing from text may be more reliable.

[2017-05-05 07:01] cyrilepinat commented on #622
@helfer oh ok I see, the query is actually refetched but the component is not rerender and keeps old data...

[2017-05-05 14:04] stevewillard commented on #464
I never had a chance to implement exactly what what @calebmer was proposing, but I was able to successfully use the 1.x version of Apollo using a combination of changing the client context (as I mentioned earlier in this thread) for endpoint-specific Component trees, and also aliasing queries that are identical, but hit different endpoints.

I'm pretty happy with our current set up now. Thanks for

[2017-05-05 16:50] colllin commented on #414
Leaving this for other people who find this issue:

I ran into this because I was trying to `import { ApolloProvider } from 'apollo-client'` rather than `from 'react-apollo'`.  That's a little confusing... maybe apollo-client should be called apollo-clientless?  Anyway, working now.  You can also import `ApolloClient` from there, i.e. `import {ApolloClient, ApolloProvider} from 'apollo-client'`.

[2017-05-05 16:52] andreasgruenh commented on #667
Hello everybody, I encountered this problem as well and I was able to reproduce this in this repo: https://github.com/andreasgruenh/react-apollo-error-template

Take a look at the PersonDisplay component. It receives an ID as prop and should render the corresponding person. To prevent some old state in the PersonDisplay component, I want it to completly unmount and remount it (by giving it a key p

[2017-05-05 17:23] morriq commented on #680
Yes. It's the same, even if i do it in vanila js.

[2017-05-05 17:53] helfer commented on #680
@morriq what are the contents of the store after the query? You can see it with the apollo devtools or redux devtools.

[2017-05-05 18:14] helfer commented on #622
@cyrilepinat in that case I think it's a different issue. Please open a new issue and provide a reproduction there! 🙂

[2017-05-05 18:14] #622 closed

[2017-05-05 19:06] michaelarick commented on #674
@aryo @jbaxleyiii I'm having a similar issue to the one described here (but I know there is a match in the provider, including __typename). We have a test that works, using a mockNetworkInterfaceWithSchema, but when I adapt that to a MockedProvider wrapping our Component, the Component doesn't receive data. Any chance there is a bug here?

[2017-05-05 19:17] pencilcheck commented on #170
If I have to load two queries with different variables (just different in one key) and use the { branch } from recompose to get around the loading, somehow it will get stuck in loading as well but only between loading of pages that has already been loaded (using nextjs). Which means it is loading the page in the client only.

Had to downgrade to 0.8.3 to remove the infinite loading.

[2017-05-05 19:41] michaelarick commented on #674
I found a workaround for the case I'm seeing. Basically, since it appears to be rendering before it has received data from the server, I figured it might be a race condition.

By putting a setTimeout around my test, things worked:

setTimeout(() => {
    expect(wrapper.find(InternalComponent).length).toBe(2);
  }, 0);

So that's our work-around we will use in our tests, for now, I guess.
I haven't

[2017-05-05 21:28] derek-duncan commented on #673
@appjitsu It looks like you're not seeing the graphql query fire because you're calling the raw react component recursively, not the graphql connected one. Try wrapping your component definition in the `graphql` function.

Example using a [functional component](https://facebook.github.io/react/docs/components-and-props.html#functional-and-class-components)
[code]

[2017-05-05 21:54] appjitsu commented on #673
Ah wow… yeah that makes sense. Thanks for pointing that out. I will try that and get back to you.

[2017-05-06 00:06] greenkeeper[bot] opened #690 "An in-range update of apollo-client is breaking the build 🚨"
## Version **1.2.1** of [apollo-client](https://github.com/apollographql/apollo-client) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/react-apollo/compare/greenkeeper%2Fapollo-client-1.2.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      apollo-client
    </td>
  </tr>

[2017-05-06 01:46] jbaxleyiii commented on #686
@jwickens I would love to support this! Do you have any experience setting it up?

@helfer who did this work for AC?

[2017-05-06 01:48] helfer commented on #686
@jbaxleyiii I believe it was @kamilkisiela who did this for Apollo Client.

[2017-05-06 01:50] jbaxleyiii commented on #686
awesome!

Looks like https://github.com/apollographql/apollo-client/pull/1069, https://github.com/apollographql/apollo-client/pull/1130, and https://github.com/apollographql/apollo-client/pull/1177 will be a good place to start!

@jwickens I'll work on this as soon as I can!

[2017-05-06 02:03] #690 closed

[2017-05-06 02:03] #689 closed

[2017-05-06 02:29] helfer commented on #170
Alright, small update: I've figured out that for the reproduction by @comus the issue doesn't occur without recycling observable queries. It's pretty hard to track down what the exact issue is, but it must have something to do with parameters not correctly being updated when a query is recycled.

That's all I know so far, I'll keep looking until I find the bug. 🐞

[2017-05-06 03:25] helfer commented on #170
Ok, the saga continues (writing down some notes for myself):

I found out last time that the result that's passed into react-apollo in the `next` call was different from what you got when `currentResult` was called after that. In `next` loading is false, but in `currentResult`, loading is true again. That's what happens for the last result, which is why things are stuck in loading.

However, the r

[2017-05-06 03:33] jbaxleyiii commented on #686
@jwickens I've deployed a version as `react-apollo@next` would you be open to giving it a shot?

[2017-05-06 03:35] jbaxleyiii commented on #686
If anyone is able / willing, I'm working to support tree shaking for react-apollo. If you have an app (one that would use tree shaking OR one that that doesnt), I'd love for some volunteers to try it out! `npm i --save react-apollo@next`. If / when you run into issues with the build, can you report them here!

[2017-05-06 03:36] jbaxleyiii commented on #170
@helfer did you see the failing test for this via #666?

[2017-05-06 04:15] helfer commented on #170
@jbaxleyiii yeah, the test looks good, but I think this is a bug in Apollo Client, so I'll have to fix it there first and write a test for it.

I'm getting pretty close though! I've figured out that the problem is that `queryStoreValue.variables` is the old variables when it should be the new ones. Now I just need to figure out why the variables don't get updated correctly in the store.

[2017-05-06 04:53] SachaG commented on #170
Just wanted to say thanks for all the detective work!

[2017-05-06 06:14] mmollaverdi commented on #558
So I later realised that this exception is only thrown on server-side rendering, which means this is a duplicate of this issue:
https://github.com/apollographql/react-apollo/issues/615

I'll create a separate issue for supporting partial data (when there are errors for certain fields, but some other fields are successfully returned) on both server and client.

[2017-05-06 06:14] #558 closed

[2017-05-06 09:49] vlasenko commented on #686
@jbaxleyiii I've checked `react-apollo@next` and it works without issues with our Apollo isomorphic starter kit:
https://github.com/sysgears/apollo-fullstack-starter-kit

However because we are using Webpack 2 and ES6 Tree Shaking is known to not work with Webpack 2:
https://github.com/webpack/webpack/issues/2867
 the effect is neglible, the bundle size is only 600 bytes less with `react-apollo@ne

[2017-05-06 16:22] morriq commented on #680
It looks like store did react on query well:
before:
<img width="580" alt="screen shot 2017-05-06 at 18 17 25" src="https://cloud.githubusercontent.com/assets/2962338/25774028/722abd02-3288-11e7-944e-e44ae659af1d.png">
after:
<img width="604" alt="screen shot 2017-05-06 at 18 17 38" src="https://cloud.githubusercontent.com/assets/2962338/25774031/77cf0d6c-3288-11e7-8e0e-38b77de5ff2e.png">

before:

[2017-05-06 17:29] helfer commented on #680
Looks like your userEdge is missing a cursor. If you update to the latest version of Apollo Client you should get an error saying that the shape of your result doesn't match the query and that the cursor field is missing.

[2017-05-06 18:22] morriq commented on #680
Thank you, I've added cursor to userEdge and it's fine now.

[2017-05-06 18:22] #680 closed

[2017-05-06 23:15] cesarsolorzano commented on #658
@cvle if you don't want to provide a field when updating the cache, you must provide a null-like value instead of omitting it!

fixed in apollographql/apollo-client#1638

[2017-05-06 23:15] #658 closed

[2017-05-07 02:40] jbaxleyiii commented on #686
@vlasenko thats great news! I'll take any savings I can get! Along with the linked PR, I'm going to move `withApollo` into its own file (still exported at the root). Then I'll release this as a minor version bump and see how it goes in the wild!

Thanks for testing it!

[2017-05-07 03:03] #686 closed

[2017-05-07 04:42] JBradBarnes commented on #455
@jbaxleyiii   I know I'm late on the reply here, but I still think there would be value in a subscribe HOC.

I don't know if I can speak for everyone here, but in my limited experience setting up subscriptions (in React at least) was messy. It required the React component life cycle instead of using stateless components, and I found myself repeating the same awkward process.

I ended up just creat

[2017-05-07 18:55] appjitsu commented on #673
@derek-duncan This does indeed work! Thanks! :beer:

[2017-05-07 18:55] #673 closed

[2017-05-08 09:12] alikhani commented on #667
I can try to reproduce it later when I have time. I can confirm that the issue manifests itself in react-apollo@1.0.1. So 1.0.0 works fine.

[2017-05-08 15:03] c10b10 opened #697 "Getting the status of a query from from outside the connected component"
Say I have a `Search` form component that when submitted sets a part of a state.

When the search state is changed, another `List` component that lists some data pulled with a GraphQL query updates its query to include search filtering.

Is there any way to access the `networkStatus` of that query from outside the `List` component, say through a selector in the connected `Search` component? (I'd l

[2017-05-08 15:48] Peterabsolon commented on #678
Experiencing the same issue.

[2017-05-08 19:02] Zn4rK opened #698 "BatchingNetworkInterface does not batch on SSR"
I initially encountered this bug while I was developing a Next.js application. I posted an issue with them [over here](https://github.com/zeit/next.js/issues/1900). There is a Next.js specific reproduction in that issue.

But I've set up a reproduction based on the template you guys have provided. It's also a bit crude, but it illustrates the point.

https://github.com/Zn4rK/react-apollo-batching-

[2017-05-09 00:37] helfer commented on #667
@alikhani what's the latest version of apollo-client (not react-apollo) that it works with and the first version where it breaks?

[2017-05-09 01:47] helfer commented on #698
@Zn4rK I'm not 100% sure, but I think this could be because the parent component needs to have its query resolved before it even knows which child components to render. @jbaxleyiii might know more.

[2017-05-09 01:48] helfer commented on #678
@rtymchyk @Peterabsolon can you guys check this with the latest version? If it still occurs, a minimal repro that we can run locally would be really really great. Thanks! 🙂

[2017-05-09 01:57] rtymchyk commented on #678
@helfer verified that this is still failing with the latest 1.3.0. The minimal repro provided in original post is still applicable. Specifically this commit https://github.com/rtymchyk/react-apollo-error-template/commit/108e2076c8f566ba2fa18c321afe340146114e7f is enough to reproduce.

[2017-05-09 05:04] thebigredgeek commented on #698
@helfer yeah that sounds right.

[2017-05-09 05:07] thebigredgeek commented on #697
@c10b10 generally this is something I try to avoid.  However, when cases arise where I need to observe a child from a parent, I usually build some sort of `subscribe` prop into the child that takes a function and is passed either the state as it changes or an observable depending on the case.  That way the parent can `subscribe` to the child's state

[2017-05-09 07:54] Zn4rK commented on #698
@helfer I do agree that it makes sense if it works like that. If that's the intended behaviour - I really think that it should be documented though.

If the queries live together it does batch them, but if it has any kind of hierarchy (an HOC) we have to wait for the network.

If I look at the client side behaviour it batches correctly and expected. It runs the queries it can access before loading

[2017-05-09 08:25] alikhani commented on #667
@helfer I'm importing apollo-client from react-apollo. Not sure how the dependencies work..
react-apollo@1.0.0 that works for me has the dependency: apollo-client "^1.0.0-rc.9". In my node_modules the version I find is apollo-client 1.2.2.

In react-apollo 1.0.0 where it breaks it says that it should use "^1.0.2" [#L132](https://github.com/apollographql/react-apollo/blob/d3fc77285769f34c2f14960632

[2017-05-09 11:45] c10b10 commented on #697
I understand why trying to access a prop in a child from a parent is not recommended. Since this is the only solution you can think of, I'm guessing there's no way to access the "networkStatus" part of the Redux state through an Apollo selector (which would be the proper way of doing it).

I guess I'm only left to moving the query on a Container component, and to pass that status down the prop cha

[2017-05-09 16:42] thebigredgeek commented on #697
The trick here is that `networkStatus` is specific to the query.  Could you "subscribe" to the child through a passed function via a prop?  That way you can keep the query in the child but react to state within the parent.

[2017-05-09 16:44] thebigredgeek commented on #698
@Zn4rK The trick here is that queries only run when their attached components are being mounted.  If you have two queries, A and B, where A lives on the parent and B lives on the child, Apollo can't very well tell whether or not the child is going to render or mount if it's rendering is conditional upon data returned from query A on the parent.

[2017-05-09 18:43] helfer commented on #667
@alikhani can you try this again after you set the version in your package.json explicitly `react-apollo@^1.2.0`, then `rm -rf node_modules && npm install`. Then `npm list | grep apollo` should tell you which versions you have.

[2017-05-10 06:18] jole78 commented on #667
I can also confirm that this is an issue. However, I got it working by downgrading react-apollo to 1.0.0

This is my setup (working):
apollo-client@1.2.2
react-apollo@1.0.0

Also using:
fetchPolicy: "network-only"

Upgrading react-apollo makes the network status stuck in "2", thus loading is always true and my UI is showing the "loading spinner".

[2017-05-10 12:48] SebastianSchenk commented on #475
Any updates?

[2017-05-10 14:16] gustavlrsn commented on #678
Also having this issue. Downgrading `react-apollo` to 1.0.0 solved it for me.

[2017-05-10 16:35] piyushcoader commented on #578
I am getting similar error though have all variables correct

[2017-05-10 20:52] AdamYee commented on #620
Hi guys and gals. As you say @helfer, the docs now indicate that using a query `reducer` isn't recommended and instead use `update`. It also says,

I would argue that `update` isn't that much more flexible than `reducer` aside from having the ability to update any part of the store with `update`. The `reducer` is a nice way to update the cache (for a specific query) after a mutation in just _one_

[2017-05-11 08:30] MichaelDeBoey opened #702 "v1.3.0 not yet released on npm?"
The release is present in the repo, but not yet on npm? 😕

CC: @helfer

[2017-05-11 08:52] ksmth opened #703 "unexpected behaviour when not querying for `id`"
## Steps to Reproduce

Query for `<First />`:
[code]

Query for `<Second />`:
[code]

- mount `<First />`
- `<First />` will receive props in the shape of `{ data: { people: [ ... ], /* other Apollo props */ } }`
- some time later mount `<Second />`

### Buggy Behavior

- `<First />` receives props in the shape of `{ data: { /* other Apollo props */ } }`, where `people` is missing

### Expected Be

[2017-05-11 10:46] erencay opened #704 "Store does not set after query error"
### Buggy Behavior

When I throw an error in a query resolver on the server side, -if the query was successfully fetched before- Apollo Client serves that data from cache.

### Expected Behavior

As far as I can say, query response clearly says returning data is null. Apollo Client saying that there was an error occurred on the server side for the query. But data in the store does not set to null.

[2017-05-11 11:09] ChrisGitter opened #705 "Subscriptions and mapping to props"
I'm not sure if I understand the whole thing correctly, but when I use the example in the Apollo guide for subscriptions it just doesn't work.

http://dev.apollodata.com/react/subscriptions.html

I'm confused about the section where the `graphql(...)` container is created and the `props` property. When I return only an object with the `subscribeToNewData` property on it, doesn't that remove all th

[2017-05-11 15:13] DDChiang opened #706 "Cursor Pagination"
I'm trying to implement cursor pagination and followed the examples in the doc but I keep getting an error: **GraphQL error: Cannot query field "cursor" on type "Query".** I'm aware that the "cursor" field doesn't actually exist on the Accounts schema...but from what I'm reading from the docs.. you need to stick it somewhere in the gql`` query. Furthermore, not sure if I'm missing anything but I'm

[2017-05-11 15:50] yury-dymov commented on #706
Cursor should be resolved by the backend and I suppose you haven't implemented/updated you scheme yet

[2017-05-11 15:56] MichaelDeBoey opened #707 "GraphQL error when not passing value for optional variables"
As you can see in Youshido/GraphQL#144, we ran into some problems when updating our backend.

If this is not possible by the GraphQL-spec (like @viniychuk said in [his comment](https://github.com/Youshido/GraphQL/issues/144#issuecomment-300812767)), shouldn't it be better to block this (and maybe throw an error) and not send a request at all to the server?

CC: @helfer

[2017-05-11 16:15] DDChiang commented on #706
@yury-dymov I assumed cursor pagination could be done solely be done by middle tier/front end but will look into it if it's the case. Would that mean that "cursor" is simply another parameter we send to the backend/api in order to get data back?

And am I correct in assuming that "offset" pagination also need to be resolved by work on the backend?

[2017-05-11 16:20] yury-dymov commented on #706
That's not correct. Cursor is just some value, which helps backend to determine the offset. This value is encoded based on your business logic and common sense. I assume that there are some libraries available, which solves this problem, but generally speaking GraphQL spec doesn't specify rules for encoding/decoding cursor, therefore it shouldn't work out-of-the-box

[2017-05-11 16:40] DDChiang commented on #706
I see.

Would the process be the same for "offset" pagination? As in...does that require backend work? Or can that be done solely through apollo/graphql? The docs mention that pages can be generated using "offset/limits" in SQL but is not clear on whether or not we need to do work on the backend to completely the process

[2017-05-11 16:46] yury-dymov commented on #706
Backend still should convert your offset/limit from GraphQL query to the SQL query. While your backend might support this out-of-the-box, it is still highly unlikely :)

[2017-05-11 16:58] DDChiang commented on #706
That is good to know! Thanks for the clarification!

[2017-05-11 18:03] AndrewHenderson commented on #706
@DDChiang. See [GraphQL Pagination docs](http://graphql.org/learn/pagination/). I believe the GraphQL server would need to handle queries that look like this:

[code]
Then respond with JSON that looks like this:
[code]

[2017-05-11 19:02] yury-dymov commented on #706
@AndrewHenderson, this is not correct in general case. Sample provided conforms to Relay spec, which is subset of GraphQL spec. GraphQL itself doesn't specify the structure for the pagination (edge-node-pageInfo stuff)

[2017-05-11 19:05] AndrewHenderson commented on #706
Thanks @yury-dymov! I just found this Medium post: [Explaining GraphQL Connections](https://dev-blog.apollodata.com/explaining-graphql-connections-c48b7c3d6976), which has shed light on how to write your GraphQL schema to support connections and pagination 👍 .

[2017-05-11 19:07] stubailo commented on #706
Yeah you can only query fields you have defined. Here's another post about possible pagination schemes in GraphQL: https://dev-blog.apollodata.com/understanding-pagination-rest-graphql-and-relay-b10f835549e7

[2017-05-11 19:08] stubailo commented on #706
Looks like there is no issue here, so going to close!

[2017-05-11 19:08] #706 closed

[2017-05-11 19:17] stubailo commented on #707
We are intentionally not validating everything before sending to the server, because the server is going to check it anyway. That would just make this library heavier and more complex, or even worse inconsistent with your server behavior. Is there some reason you don't want your server to receive this request?

[2017-05-11 19:17] stubailo commented on #702
(By the way, no need to mention Jonas here, he gets these notifications anyway)

[2017-05-11 19:18] MichaelDeBoey commented on #707
Not really a specific reason, but I thought you guys were validating it on the frontend also

[2017-05-11 19:20] jbaxleyiii commented on #702
Also, you should ping me 😎

1.3 will be released soon! I want to ship better types with it and that PR is almost done

[2017-05-11 19:21] MichaelDeBoey commented on #702
C'mon @jbaxleyiii you can do it! 😉

[2017-05-11 19:46] AndrewHenderson commented on #706
@stubailo I've begun writing a schema for supporting connections, however, I'm not understanding how to populate the connection with data for the response.

I'm using a single root query design. I'm not sure if this can support more complex structures such as connections and pagination. Perhaps you can point me to another article.

Here's what my graphql server looks like:

[code]
And this is my s

[2017-05-11 20:35] stubailo commented on #706
Hey, I think this isn't the right thread for this conversation, since it's no longer about `react-apollo` - perhaps you can post on Stack Overflow, or in the Apollo Slack community?

[2017-05-11 22:47] frehner commented on #238
For anyone that finds this in the future (since this is the first result for "react apollo multiple mutations" [the docs](http://dev.apollodata.com/react/mutations.html#multiple-mutations) are now very helpful about how to format this.

[2017-05-12 02:04] helfer commented on #705
@Urigo I think you're best equipped to answer this question

[2017-05-12 02:35] helfer commented on #707
@MichaelDeBoey @stubailo is right, we let the server return those errors because it makes the client a lot simpler and faster. Maybe in the future we could let people optionally do some validation in the client and not send queries that won't pass validation, but for now I think we can close this issue.

[2017-05-12 02:35] #707 closed

[2017-05-12 02:59] helfer commented on #704
@erencay this is something that Apollo Client currently does intentionally and by design, because most of the time users do not want the cached data to be removed just because a temporary error happens. I think the recommendation for your use-case would be not to throw an error, but simply return `null` when there is no active room. In general, errors should be thrown for unexpected conditions on

[2017-05-12 02:59] #704 closed

[2017-05-12 03:02] stubailo commented on #703
What do you mean by "doesn't receive any data"? Like, it doesn't get any props in the component?

[2017-05-12 03:09] helfer commented on #703
I'm pretty sure this is another example of what I ran into with @daniman today: https://github.com/apollographql/apollo-client/issues/1693

[2017-05-12 03:57] helfer commented on #620
@AdamYee you're right that there are cases where using `reducer` is more convenient. The main reason I'm no longer a fan of using it is that it requires keeping around instances of queries even when the components that asked for it have been unmounted, because otherwise those parts of the store won't be up to date any more when the component remounts. It's not clear how long to keep things around,

[2017-05-12 04:06] helfer commented on #667
@jole78 interesting! Can you tell us at exactly which version of react-apollo things start breaking? That will help us narrow down which change caused this.

[2017-05-12 07:02] ksmth commented on #703
@stubailo I've updated the comment to be more explicit on what is missing and what is passed to the component

If there's anything else I can do to help debug this issue, let me know. I'll take a look at https://github.com/apollographql/apollo-client/issues/1693 to see if I can make sense of it all or produce a failing test case, but I wouldn't hold my breath. ;)

[2017-05-12 09:08] erencay commented on #704
@helfer I see your point and I think I should redesign my schema and replace `Room` with something like `RoomQuery`.

But I think `graphql-tools` can optionally offer some special kind of `Error` type, flagging that was an expected error -maybe an user error / validation error- and informs the client to remove the cached data if that type of errors were to thrown, which might reduce the boilerplat

[2017-05-12 11:29] erencay commented on #704
I threw a custom `TestError` on queries, caught it on `formatResponse` and replacing the original response errors with my errors did the trick. Now I can handle errors on client with afterware and mask unexpected errors. Though, it would be nice to able to pass custom errors to HOC.

Still, altering my schema and queries might be a better idea depending on edge cases. I'll see how it turns out.

[2017-05-12 21:42] advance512 commented on #321
Wouldn't a more sane behavior be to set the `loading` flag to true, or at least add `refetching` flag?

I mean, imagine you have two buttons: Start/Stop, and a "loading..." indicator.

On first view, you'll see "loading..." and then the Start button.
When you click Start, you'll still see the Start button, which means (in slow networks) you can spam it with multiple clicks. Yes, you can lock it, b

[2017-05-12 22:54] c10b10 opened #708 "Updating cached data from multiple parameterized queries after a mutation"
Suppose I have a paginated infinite scroll list of `Items`. The list pulls data from a GraphQL server by using two parameterized queries: `ITEMLIST_QUERY` and `ITEMLIST_MORE_QUERY`. Both of those queries have arguments for ordering, and filtering, and whatever else is needed for pagination. The only difference between them is that the `MORE` query has an extra `$skip` argument (I know I could have

[2017-05-12 23:52] hiei189 commented on #667
I get this when running `yarn list | grep apollo`

├─ apollo-client@1.0.3
├─ react-apollo@1.0.2
│  ├─ apollo-client@^1.0.2

and it is working ok.

[2017-05-13 00:32] AdamYee commented on #620
Hi @helfer. A lot of that went over my head because I don't know the internals of the client, but I think I understand the gist. If I wanted to understand in better detail, could you recommend some places to start learning? I appreciate you taking the time to get back to me. Really enjoying working with react-apollo and I hope to continue down a path of contributing to it. I think this issue is no

[2017-05-13 06:25] michaelspeed opened #709 "Variable ID! remains undefined"
I have mutations in React Native-

`export const setTimeLineOnUser = gql
    mutation ($tID: ID!, $uID: ID! ){
        setTimeLineOnUser(userTimeLineId: $tID, timeLineUserId: $uID){
            userTimeLine {
                id
                updatedAt
                posts{
                    id
                    postType
                    updatedAt
                }
            }

[2017-05-13 16:45] jwickens commented on #686
@jbaxleyiii I can confirm that I'm saving 3.4 KB after gzip between react-apollo@1.2 and react-apollo@next. Thanks

However one issue i'm seeing is with source map support I'm getting the following error:
[code]

This is because the source map in lib refers to the src dir which is not published to npm.

For those using webpack you should be in theory able to use source maps of imported modules wit

[2017-05-14 03:20] ablbol opened #710 "Infinite scroll and fetchMore don't work right when going offline and then online again"
am using "react-apollo": "^1.0.0". I am experimenting with infinite scrolling. So I have a query that is supposed to load the first 20 users and when I scroll down to the bottom of the page, I get the next 20 users. Every thing works great. But then I turn the network off and log the error and networkStatus from within the component. I get:
[code]
Seem fine so far but when I turn the network on ag

[2017-05-15 11:49] jole78 commented on #667
@helfer sorry for the late response. Anything higher than 1.0.0

[2017-05-15 12:22] rovansteen commented on #667
I can confirm I have this issue too. Had to downgrade to 1.0.* for it to work properly.

[2017-05-16 00:58] visualskyrim commented on #674
Same here. I tried the gist above and it didn't work.
The `porps` received in the `Foo` component's `componentWillReceiveProps` has a `loading` equaling `false`, but there is no mocked data in it.
I print all the keys in the `props.data` in `componentWillReceiveProps`:
[code]

And the `error` in the `props` is `undefined`.

Any idea?

[2017-05-16 16:54] karloluis commented on #562
Please provide a solution. It'd be very helpful.

[2017-05-16 18:38] lucasfeliciano commented on #708
By default it update nodes based on the id of the `dataIdFromObject` that you defined.

If that is doesn't working for you, you might need define the `options.update` function.

You can find more information in the docs her: http://dev.apollodata.com/react/api-mutations.html#graphql-mutation-options-update

[2017-05-16 18:46] lucasfeliciano commented on #708
By default mutations updates happens based on node's id that are returned from  the `dataIdFromObject` that you defined and it will update with the results of your mutations.

If that is not enough, you might need define the `options.update` function.

You can find more information in the docs her: http://dev.apollodata.com/core/read-and-write.html#updating-the-cache-after-a-mutation

[2017-05-16 20:02] OllieJennings opened #711 "Apollo Pre-fetch on Route Change"
I have left the original issue below, just because i dug into the source code and realized how wrong i was :(.

I was wondering if it is possible for react-apollo to **prefetch** all data using react-router 4 in a route transition before the first render of a graphql component happens?

I know this is done on the server via the `renderToStringWithData` or `getDataFromTree`, so perhaps this can be

[2017-05-16 20:09] OllieJennings commented on #711
If i wrap a component in the react router helper `withRouter` and then use my own modified version of `Link` components (that is just calling this.props.history.push(<url)) then it works properly.

So this could be an issue of how `Link` and `react-apollo` work with each other

[2017-05-16 20:19] OllieJennings commented on #711
Okay so the `Link` component appears to work if you linking to an page that exists without the sub route you are at.

However if you are changing the top level route, then the `Link` will fail to make `react-apollo` properly fetch data.

E.g.

* `/some/top`
    * `/sub/:route`
* `another/top/route`
    * `sub/route/:page`

Clicking a `Link` from `/some/top` to `/sub/:route` will work, and `react-a

[2017-05-17 03:34] derek-duncan commented on #678
Having the same issue with react-apollo 1.3. :(

[2017-05-17 06:53] c10b10 commented on #708
Well, the question was how do I update the cache using `options.update` when I know the query that I want to update, but I don't know the variables that it has been called with.

In a pagination scenario, I could have dozens of queries already loaded. How do I update exactly the query that contains the `Item` that has been mutated.

[2017-05-17 08:22] OllieJennings commented on #417
I could be wrong, so forgive me if l am.

But with React-Apollo and RR4, it works perfectly when using the `StaticRouter`, could we therefore make use, after every location change, to sub-render the whole app using a `StaticRouter` then renderToString, then pass the State to the current client and then transition the UI?

I know this sounds really hacky, but my thinking is, if we can do it on the

[2017-05-17 09:02] sreucherand commented on #710
I am also experiencing an unexpected behaviour when using fetchMore after going offline.

### Reproduction test instructions

https://github.com/sreucherand/react-apollo-error-template#demo-instructions

### Version

apollo-client@1.2.2
react-apollo@1.2.0

[2017-05-17 16:50] brianlovin commented on #170
Wanted to +1 this same issue, and thanks for digging in @helfer - my query is getting stuck with `loading: true` whenever a variable changes, even though I'm actually getting back all the data for the new request from the server. Happy to chat or share more info about what's going on.

[2017-05-17 20:00] benwiley4000 opened #712 "React Router 4 not playing well with React Apollo"
I'm honestly unsure whether the "cause" of this problem is Apollo, or React Router, or me - but it appears that when using React Router 4 and react-router-redux 5 middleware, a call to `history.push(...)` either before **or** after a call to a refetching function passed down from the `graphql` component ends up canceling the apollo request.

Keep in mind the react-router-redux middleware sends a `

[2017-05-17 20:11] benwiley4000 commented on #712
P.S. I just did some more testing... and determined that this problem occurs regardless of whether the `LOCATION_CHANGE` action actually gets dispatched in response to the history change. If I cancel that action, but still change the location, my data will not load correctly, and we'll see the odd sequence of Apollo actions shown above.

[2017-05-17 21:10] TSMMark commented on #207
Hey guys what is this issue regarding exactly? I'm using apollo-codegen and it works great.

However, I have another issue which may or may not be related to this issue.

If I type the props of an inner / unconnected component, it does not make it up to the connected component, after all the higher-order components are applied. For example:

[code]

Not sure if it matters but both `queryOptions` a

[2017-05-17 21:36] TSMMark commented on #207
I think I got something working. I'm manually typing the connected component, like so:

[code]

The only issue with that is that `type Props` includes Apollo props such as `data`. To make it work I broke `Props` type into pieces using flow intersection types `&`.

[code]

[2017-05-18 03:06] devarashetty opened #713 "component won't rerender after the graphql query gives different data"
I tried a component with graphql query in the following way

[code]

MyUnderstanding: From `Apollo-client` has default `store` and `reducers which will update the state whenever the data observed from graphql query changes` .If this is true regarding my issue above , the `currentUser` data changes after login but the component is not rerendered .

[2017-05-18 09:50] eskimoblood commented on #674
Same here, it would really help to have at least an error logged that  tell you why the result is not used.

[2017-05-18 11:53] kadikraman opened #714 "Setting skip: true will remove any previously loaded data"
I am using a decorator on a modal component that has an `isOpen` prop being passed in. If `isOpen=true`, do the fetch, else skip. This ensures that the content is only loaded when the modal is open.

My problem is that when I close the modal, there's an extra 500ms where the modal fades out, however, because `isOpen=true`, the decorated function removes all previously fetched data so while my moda

[2017-05-18 14:31] OllieJennings commented on #711
Possible package to help?

https://github.com/ReactTraining/react-router/tree/master/packages/react-router-config

[2017-05-18 14:40] OllieJennings commented on #711
**Idea**

To have a static route config (like RR 2.x / 3.x required) onto of your standard route components (in RR4).

The on the client side, pass this route config into the `ApolloProvider`, which can analyze on a route change what data is required for the route change, to fetch data for this.

Have a custom `ApolloRR4Link` component that can intercept any link so that it halts a transition unti

[2017-05-18 15:24] c10b10 commented on #667
I can confirm the issue as well.

[2017-05-18 15:38] samdenicola opened #715 "Refetch query doesn't update original query instead creates new separate query"
Hey there, I've got a component rendering a list of items based of a query where I do an "arbitrary transformation" of the props of the child component. This child component also has a mutation which adds a new list item to be rendered. In the add mutation I have used a "refetch query" to grab the updated list of items. Two questions: 1) I was under the impression I wouldn't need to define a refet

[2017-05-18 19:20] serle opened #716 "mutate() should return optimistic response if defined"
This may be debatable, but when an optimistic response is defined does it not make more sense to return the optimistic response from a mutate() for immediate use, as opposed to a promise to the real result which will be received later in update props.

[2017-05-18 20:21] dallonf opened #717 "Problems setting up local environment"
I just forked and cloned react-apollo, hoping to try to fix a bug I found, but ran into some issues that prevent me from contributing:

### Steps to Reproduce

1. Clone react-apollo from `master` (this is commit `f15b41273f8d927cf74a6e03238e37e3cca44b4d` at time of writing)
2. Run `yarn install` (since there's a `yarn.lock` in the directory, I assume this is the right step)
3. Run `yarn test`

###

[2017-05-18 21:21] dallonf opened #718 "Synchronously re-mounting a graphql-wrapped component gets it stuck on `loading`"
This seems related to #170, but I think it'll be something much simpler to solve.

### Steps to Reproduce

Here's a sample project: https://github.com/dallonf/react-apollo-bug-sync-remount

In a nutshell, a `graphql`-wrapped component is rendered. On user input, the component is unmounted and replaced by another component that immediately, in `componentDidMount`, triggers a re-render that causes t

[2017-05-18 23:18] tnrich commented on #715
I might have some more insight as to why this isn't working. I used the mutation `update` instead of refetchQueries:

[code]

And I get this very interesting error:
[code]

As you can see, it is looking for something that is nearly identical:
`workflowTaskDefinitions({"where":{"workflowDefinitionId":"21"}})`
vs
`"workflowTaskDefinitions({\"where\":{\"workflowDefinitionId\":21}})"`

Looks like some

[2017-05-18 23:40] tnrich commented on #715
Aha! Okay, I see what is different: "21" vs 21. Our fault, we forgot to parseInt an id I was getting from the URL.

Thanks!

[2017-05-18 23:41] #715 closed

[2017-05-19 07:46] serle opened #719 "Subscription required for post mutation cache updates"
Is there a way to specify to Apollo that one would like to execute a state change on the wrapped component based on the following post mutation transitions i.e.
1) in the transition of storing the optimisticResponse in the cache (post mutate)
`(component, optimisticResponse) = component.setState(...)`
2) on the transition of replacing the ptimistic response with the actual response (post mutate).

[2017-05-19 15:16] lucasfeliciano commented on #708
You don't need to update all queries, you just need to update the item in the store which contains the item which was mutaded and apollo will update all references to related to that item.

Example:

[code]

If your server doesn't return the id of the deleted item you still have the id that you passed into the mutation variable.

[2017-05-19 16:11] pselden opened #720 "MutationOptions typings conflict with 'apollo-client' package?"
I'm not really sure whether this is a typescript issue or an apollo issue, but I was trying to add typings for my components that include mutations and am getting a conflict with MutationOptions, ending with:

[code]

## Steps to Reproduce

[code]

### Buggy Behavior

It is pulling the typings for MutationOptions apollo-client/core/watchQueryOptions.d.ts, which includes a required mutate object.

[2017-05-19 18:03] ksmth commented on #714
This is the intended behaviour of the `skip` option. [From the docs](http://dev.apollodata.com/react/queries.html#graphql-skip):
[code]

[2017-05-19 19:55] hiaw commented on #717
I have the same problem too

[2017-05-19 22:29] mvanlonden opened #721 "Cannot use addTypenameToDocument from queryTransform in create-react-app test"
## Steps to Reproduce
1. Upgrade to latest version of `react-scripts`, `yarn upgrade react-scripts`
2. Create test that includes `import { addTypenameToDocument } from 'apollo-client/queries/queryTransform'`
3. `yarn test`

### Buggy Behavior

[code]

### Expected Behavior
Should have umd version of file to import into jest test.

### Version
- apollo-client@1.2.2
- react-apollo@1.0.0-rc.3

[2017-05-20 01:41] rtymchyk commented on #678
Thanks for the info @gustavlrsn. I can confirm that things are fine in `1.0.0`, and the issue is introduced since in `1.0.1`. This branch is the culprit https://github.com/apollographql/react-apollo/pull/531.

Have you had a chance to look into this @helfer ?

[2017-05-22 13:06] matthewfowles commented on #718
I have a component that is mounting and unmounted by the router the same as this. I can never seem to keep in a state where it does not be loading constantly. Do you have a fix for this?

[2017-05-22 13:10] dallonf commented on #718
Not a fix - that's why I reported the ticket. I'm currently working around it by wrapping the component in an HOC that waits a tick before actually rendering it.

[2017-05-23 00:16] dylanmoz opened #723 "fetchMore does not respect options.fetchPolicy"
## Steps to Reproduce

[code]

### Issue

`fetchMore` makes a network request even though the fetchPolicy is set to 'cache-only'

### Expected Behavior

`fetchMore` respects `fetchPolicy` or there is another configuration such as `options.fetchMorePolicy`?

### Version
- apollo-client@1.2.2
- react-apollo@1.2.0

[2017-05-23 21:28] Kaihuang724 opened #724 "TypeError: Cannot read property 'variables' of undefined - During Mutation"
## Steps to Reproduce

Describe how to reproduce this issue.

1. Call a mutation in a click
2. Pass variables during a mutation

Note: I'm also using Auth0 as the user management.

### Buggy Behavior

The mutation goes through, and returns a positive result for creating a user, but the TypeError also is returned.

### Expected Behavior

When the result of the mutation is returned positive, then th

[2017-05-24 03:32] benwiley4000 commented on #712
Some of my statements above may have been erroneous. Long story short, I found the problem: Previously, the only prop received by my topmost `graphql` component was an initial filter state variable that never changed. But that data wasn't being refetched with the original `mapPropsToQueries` again - it was being refetched via a `refetch` function receiving modified variables.

When I added React R

[2017-05-24 03:32] #712 closed

[2017-05-24 06:41] kolpav commented on #667
This problem is driving me crazy. If there is any way how I can provide some information to help you narrow down the problem let me know.

[2017-05-24 20:51] johnrjj commented on #717
Second this...Can't find a workaround. Coming from CRA w/ react-apollo added in.

Tried to do a simple shallow render w/ enzyme. Even tried using only ReactDOM.

[code]

[2017-05-25 18:37] derek-duncan opened #725 "`graphql` HOC Creates New Reference to Mutation if any `props` Change"
## Steps to Reproduce
[code]

### Buggy Behavior

The `graphql` wrapper will always create a new reference to the `mutate` property. The same issue applies for any function in the `props` option. Thus, using any shallow comparison like React's PureComponent will always fail.

### Expected Behavior

If possible, I the `graphql` wrapper should keep a single reference to the `mutate` prop. This shoul

[2017-05-25 22:28] lorensr opened #727 "data.loading stays false during a fetchMore"
Inside render:

      console.log('render', User.length, loading, networkStatus)

When I call `data.fetchMore` twice, I get:

    render 100 false 7
    render 200 false 7
    render 300 false 7

Whereas I expect:

    render 100 false 7
    render 100 true 1
    render 200 false 7
    render 200 true 1
    render 300 false 7

- repo: https://github.com/lorensr/graphql-leaderboard/tree/a331af803b3

[2017-05-26 09:01] bogdansoare commented on #718
I have the same problem, when the same component is unmounted on a route leave and on the next route is mounted again.

[2017-05-26 09:09] bogdansoare commented on #667
Also have this problem

[2017-05-26 13:07] flexzuu commented on #717
Hey @johnrjj what branch did you use to get the test working?

[2017-05-26 13:13] johnrjj commented on #717
@flexzuu `npm install --save react-apollo@1.3.0-alpha.1` (latest alpha release) fixes it for me.

[2017-05-26 13:57] flexzuu commented on #717
@johnrjj i think we talk about different things. I want to get the tests working to develop a feature for react-apollo. It seems you just wanted to use react-apollo. On my side react-apollo is working but the test-setup seems to be broken.

[2017-05-26 14:48] flexzuu commented on #717
CI Seems to be broken aswell:

[Travis CI](https://travis-ci.org/apollographql/react-apollo/builds/236397137?utm_source=github_status&utm_medium=notification)

[code]

[2017-05-26 15:08] spoeck opened #730 "[RN 0.44]: Red Screen if unauthorized"
If I set an invalid/expired token, I get following red screen in my react-native app:
`Error: Network error: Server response was missing for query 'undefined'. at new ApolloError`
<img src="https://cloud.githubusercontent.com/assets/8719777/26499717/e495e690-4233-11e7-9322-14830cc9fc16.png" width="45%">

The response code of the server is `401 Unauthorized` as expected.

### Expected Behavior

I w

[2017-05-26 17:23] ivome opened #731 "childContext store shadows store from redux Provider"
The childContext property `store` shadows a potentially available store that was set in an outer `Provider` from the react-redux package.

## Steps to Reproduce

[code]

### Buggy Behavior
ApolloProvider returns unnecessary child context value `store`.

### Expected Behavior
Could we remove the store from the childContext? If we need the redux store to manipulate data ourselves, we can always pass

[2017-05-26 22:07] mmahalwy opened #732 "Non-graphql data stored in apollo?"
Would it be possible to store data that is not graphql related that typically in a redux app you can store inside the store?

For example, I'd like to grab the navigator's geolocation and utilize it in mutations. How can I store the geolocation with apollo and reuse it?

Thanks

[2017-05-26 22:47] helfer commented on #721
Closing this here since it's an apollo-client issue.

[2017-05-26 22:47] #721 closed

[2017-05-27 00:35] stubailo commented on #732
If you just want to use it in mutations, no need to store it! You can just pass it with the query.

Right now you can use the writeQuery and readQuery methods on the client with a fake query to save any data you want, that could be one approach!

[2017-05-27 03:08] aryo commented on #674
Not sure if this will help, but I've found that if the shape of the mocked data doesn't conform to the query (e.g. the mocked data is missing a field that is requested in the query, or is missing a typename), then the component's props won't get populated with the data.

It just silently fails without any error.

[2017-05-29 02:41] quytang opened #733 "Support to dispatch an action after mutation"
I use redux for react app development. I want to use a reducer to execute some tasks after the mutation completed. Thus, I find it's reasonable to have this feature in react-apollo.

Currently, I have to use `then` function like this:
[code]

I would be great if when I `compose` the grapql mutation I have the option for setting the action like this:
[code]

[2017-05-29 03:44] stubailo commented on #733
Is there anything wrong with using your own dispatch for this? As you showed in the snippet, it's very little code, and keeps `react-apollo` simple.

[2017-05-29 04:47] quytang commented on #733
well, I found it too verbose. I need to use this `.then(res => dispatch(A_Action with res))` many times. Moreover, I need to pass the dispatch action inside a callback prop most of the time.

Additionally, It would be more readable when I use it only in the compose phase of the container. Don't need to call it via `then function` in the presentation component. I think it is reasonable right?

[2017-05-29 04:59] stubailo commented on #733
You could put it in the composed container like so:

[code]

I can see that it does get a bit more verbose then.

You could create your own container that always does the above, as well.

One thing I can see getting complicated is that we then would also have to provide a way for people to set the properties on the action that is dispatched, which would make the whole thing almost as verbose as do

[2017-05-29 05:05] quytang commented on #733
`APOLLO_MUTATION_RESULT` is too generic, I need to handle many `if else`
This snippet could be the stuff that I am looking for.
[code]
Many thanks @stubailo

[2017-05-29 05:29] stubailo commented on #733
Hmm - it would be like:

[code]

I think it should be possible to create a reusable container/utility to get to minimum verbosity as well, let me know if that would be interesting.

[2017-05-29 06:22] quytang commented on #733
Yes, sure. If will be great if react apollo has one.

[2017-05-29 11:00] greenkeeper[bot] opened #734 "An in-range update of mobx-react is breaking the build 🚨"
## Version **4.2.0** of [mobx-react](https://github.com/mobxjs/mobx-react) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/react-apollo/compare/greenkeeper%2Fmobx-react-4.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      mobx-react
    </td>
  </tr>
  <tr>
    <th ali

[2017-05-29 12:45] eskimoblood commented on #674
@aryo that the same for use, the problem is that there is no error message and we cant debug it cause we have compiled apollo code

[2017-05-29 22:37] saimeunt commented on #562
What's the design pattern to actually achieve this?
Anyone can point in the right direction please? 👍

[2017-05-29 22:42] stubailo commented on #562
Have you guys read the docs here? http://dev.apollodata.com/react/cache-updates.html

Probably the easiest is to use the `refetchQueries` option.

[2017-05-29 22:42] stubailo commented on #562
Also covered in the tutorial here: https://dev-blog.apollodata.com/react-graphql-tutorial-mutations-764d7ec23c15

[2017-05-30 02:40] jbaxleyiii commented on #710
@helfer I imagine this is an AC issue under the hood yes? With the reproduction I'm game to take a look but I don't know if we will have a good solution until the new network transport design? Is this the expected behavior for network errors?

[2017-05-30 02:42] jbaxleyiii commented on #713
@devarashetty how are you updating currentUser? If the same query isn't used between the update and this component, it won't re-render. ApolloClient does not diff queries anymore so either you have to use the `update` function or use the same query

[2017-05-30 02:42] jbaxleyiii commented on #714
This is currently the intended behavior!

[2017-05-30 02:42] #714 closed

[2017-05-30 02:43] jbaxleyiii commented on #716
@serle why would this be the correct behavior? I would expect `mutate` to return the server result

[2017-05-30 02:45] jbaxleyiii commented on #717
@flexzuu this is fixed in https://github.com/apollographql/react-apollo/pull/695 I'm not sure where it was broken actually!

That PR will be merged tomorrow into master so I'd start working off of it 🎉

[2017-05-30 02:45] #717 closed

[2017-05-30 02:46] jbaxleyiii commented on #718
@dallonf thanks for the reproduction! I'll take a look and see if I can figure out what is happening.

[2017-05-30 02:46] jbaxleyiii commented on #720
Fixed with https://github.com/apollographql/react-apollo/pull/695 !

[2017-05-30 02:46] #720 closed

[2017-05-30 02:47] jbaxleyiii commented on #724
@Kaihuang724 could you setup a reproduction repo for this?

[2017-05-30 02:48] jbaxleyiii commented on #727
@lorensr I'll take a look! Would you be able to isolate this to a reproduction GitHub repo?

[2017-05-30 02:49] jbaxleyiii commented on #730
@spoeck are you handling the error in props?

@helfer have you seen something like this before with 401's in AC?

[2017-05-30 02:53] jbaxleyiii commented on #731
@ivome thanks for this! We used to interact with the store directly, however its not used anymore!

Removing it should be pretty simple. Remove it in the ApolloProvider and graphql.jsx files and update tests which expect it.

Would you be able to do this?

[2017-05-30 02:54] #732 closed

[2017-05-30 02:55] jbaxleyiii commented on #733
@quytang although we use redux under the hood, we don't want react-apollo to be tied to it so we can open up supporting a wide variety of stores in the future.

@stubailo thanks for the great example! Would make for a good recipe

[2017-05-30 02:55] #733 closed

[2017-05-30 02:55] #734 closed

[2017-05-30 03:13] jbaxleyiii commented on #681
@tnrich this can be done using a higher order component or (the method I would suggest) using `@skip` or `@include` directives.

I don't want to support dynamic queries since you loose so much of the static benefits and open up to potential attack vectors with user generated queries

[2017-05-30 03:13] #681 closed

[2017-05-30 03:15] jbaxleyiii commented on #702
@MichaelDeBoey sorry for the delay! I wasn't able to devote enough time to RA / AC following the enhanced types release until now. After AC releases the flow PR, I'll release 1.4 (which is 1.3 + better type support)

Btw, 1.3 is released on npm as an alpha!

[2017-05-30 03:15] #702 closed

[2017-05-30 03:15] jbaxleyiii commented on #635
fixed via #695!

[2017-05-30 03:15] #635 closed

[2017-05-30 06:05] stubailo commented on #723
I feel like that is expected behavior.

[2017-05-30 06:12] stubailo commented on #716
This is kind of the main problem with a promise - that it can only return one result. Give that, I think returning the final server result is best.

[2017-05-30 06:21] lorensr commented on #727
Thanks! The repo I linked felt like a small reproduction to me—what should
I take out or what should I isolate?

On Mon, May 29, 2017 at 10:48 PM James Baxley <notifications@github.com>
wrote:

[2017-05-30 12:43] serle commented on #716
The mutate method in my case is invoked via a button-click handler. At that point I would like to update the state of my component with the optimistic result. When the real result comes back the whole component gets re-rendered as a result of the property change, so my component gets the real response at a later data, but through the react re-render cycle as opposed to the promise.

[2017-05-30 15:42] igorlamos commented on #667
Same for me ... thanks for info about downgrade, which also solved the problem for me.

**The following works fine**:

[code]

**The following does not work**:

[code]

[2017-05-30 16:46] jbaxleyiii commented on #667
@helfer yeah recycled queries felt like it added in a lot of complexity / bugs. I wonder it it's worth taking a look at a different approach?

[2017-05-30 16:48] helfer commented on #667
@jbaxleyiii At this point I think recycled queries are there just for backwards compatibility to support updating queries that aren't currently being used. For folks that are using only `update` or who are never updating the cache, we could turn them off completely. We can make them opt-out for now, and for the next major version of react-apollo we'll make them opt-in. Do you see any issues with t

[2017-05-30 16:50] zackify commented on #604
This happens for me too. All you have to do is kill your graphql server and try running a query in react native. It will throw an unhandled error. I was trying to mimic the server being down and see how I was supposed to handle errors. Not sure how this isn't an issue for others?

[2017-05-30 16:50] jbaxleyiii commented on #667
@helfer I like it!

[2017-05-30 16:51] andreasgruenh commented on #667
Could you elaborate on the meaning of "queries that aren't beeing used"? Let's say I have 2 routes, on one route is a list of all cars, on the other Route there is a button to add a car. Can I  still update the cars list while beeing on the add car site (list site is not mounted)?

[2017-05-30 22:49] stubailo commented on #716
Why not use the optimistic result to update the store just the same way?

[2017-05-30 23:22] SachaG commented on #667
@helfer will correct me if I'm wrong, but I think the answer is that without recycled queries, you **can** do this if you use `update`, but you **can't** if you're using the (probably soon deprecated if they aren't already) `updateQueries` or a reducer.

[2017-05-31 07:29] eknkc commented on #718
Have the same issue. Within react router, we have a component that we use within different routes, when user navigates from one to another, remounting the component it results with `loading: true` indefinitely.

[2017-05-31 13:17] Deevent commented on #604
Yeah same for me ! I have absolutely no idea how to handle down server. When I open my app in Airplane mode it's just crashing...

[2017-05-31 14:59] ivome commented on #731
@jbaxleyiii I started to look into this briefly. There is still the `client.initStore()` logic in the provider. It feels like this does not belong into the provider and should rather be handled inside of the ApolloClient. Could that also be removed or do we still need this?

[2017-05-31 15:45] pawsong commented on #718
+1 I also have the same issue with 100% reproduction rate!

[2017-05-31 17:57] eknkc commented on #718
This seems to be also discussed at #667 which has some recent activity regarding to the source of issue and possible solution. Also see #678

This looks like a major issue so I hope there would be a release soon.

[2017-05-31 19:00] helfer commented on #667
@andreasgruenh It's basically what @SachaG said. You can't reference the query by name, but you can update the cache using the `update` function. This is because if the query isn't active any more, it will no longer be tracked and thus can't be updated by name.

[2017-06-01 04:22] jbaxleyiii commented on #731
@ivome hmm, we used to need it but we may not anymore. Try taking it out and see what breaks?

[2017-06-01 04:32] jbaxleyiii commented on #667
good news everyone! This will be fixed in 1.4.0 which should release tomorrow!

[2017-06-01 04:32] jbaxleyiii commented on #718
good news everyone! This will be fixed in 1.4.0 which should release tomorrow!

[2017-06-01 06:33] lucasfeliciano commented on #718
Good one James!

[2017-06-01 11:06] JonathanWbn opened #741 "Using query result in mutation passes through the __typename field"
I have mutation like this:
[code]
Mutation type:
[code]

I am calling my mutation in React like so:
[code]
And I define the mutation in the component like this:
[code]
But when I send the mutation, this is my request payload:
[code]
Which throws this error:
[code]

[2017-06-01 13:22] zackify commented on #604
How are we supposed to catch exceptions from this? Any ideas @jbaxleyiii

[2017-06-01 16:19] OscarYuen commented on #604
Same for me. In my case, I attach a jwt token in header for apollo client. Whenever the jwt token is expired, server side return error json with status equal to 401, and I got  'Unhandled (in react-apollo)', 'ApolloError .

[2017-06-01 16:21] THook commented on #578
i have the exact same issue. It's only happening when I pass a name to the config object. The error message is also pretty different from the one you get when some expected variable is not passed or undefined.

Any idea on that? React-apollo@1.0.0

[2017-06-01 17:50] stubailo commented on #741
Yeah this is because the queries have `__typename` added to them to make data normalization work better, and when you pass that result through to the mutation it's still there.

[2017-06-01 18:55] Ayc0 opened #742 "GraphQL error: Schema must be an instance of GraphQLSchema"
When I run react-apollo with a mockNetworkInterface (last versions of react-apollo and apollo-test-utils, an error is constantly poping :

[code]

[2017-06-01 19:11] mairh commented on #742
@Ayc0 Are you using `graphql-server-express`? If yes then you need to upgrade it to `0.8.0`. I don't think it is coming directly from `react-apollo`.

P.S -> Assuming you are running latest version of `graphql`

[2017-06-01 19:19] Ayc0 commented on #742
I am not connected to a server: I mock the data as the tuto says.

But I'm sure that It comes either from react-apollo or from apollo-test-utils: when I git clone, it works but with old packages and when I upgrade every packages, it crashes on both of them (this error with react-apollo)

[2017-06-01 22:15] stantoncbradley commented on #599
I get this error as well.  I am able to dismiss it and everything has loaded correctly

[2017-06-01 23:47] stubailo commented on #742
Can you post a reproduction with some code? We can't tell where that is coming without being able to see what you are doing.

[2017-06-02 01:44] helfer commented on #742
@Ayc0 what's the output of `npm list | grep graphql`?

[2017-06-02 03:43] JonathanWbn commented on #741
Okay, that makes sense. How can I approach to solve this problem tho?
Should I add __typename when I define the input, like so?
[code]

[2017-06-02 03:50] stubailo commented on #741
No I think the best workaround right now is to strip out the typename before passing the object into the mutation.

[2017-06-02 04:22] hizo commented on #718
Unfortunately this still hasn't resolved the issue for me. Upgraded `apollo-client` to `1.4.0`, I have `"react-apollo": "^1.2.0",` . The issue, as described, occurs when unmounting / remounting the same component on different routes. Also happens only on first change of the variables, if I go to back and forth using browser back button, it renders correctly. I receive the data from server correctl

[2017-06-02 04:52] pawsong commented on #718
@hizo Should we wait for this PR (https://github.com/apollographql/react-apollo/pull/740) to be merged?

[2017-06-02 05:34] JonathanWbn commented on #741
But the moment I call the mutation, there is nothing to strip out:
[code]

[2017-06-02 05:44] Ayc0 commented on #742
https://github.com/Ayc0/apollo

In the folder `client`, there is a version of the code which is working with old packages.
In the folder `client2`, there is exactly the same code but with the newest packages.

[2017-06-02 08:16] hizo commented on #718
hmm looks like it. hopefully it will happen soon

[2017-06-02 08:17] kombucha commented on #727
Hey @lorensr,

I had the same issue and I investigated a bit.

In [`ReputationLeaderboard.js`](https://github.com/lorensr/graphql-leaderboard/blob/a331af803b36ee2d65c85795d747e6cf4c83ba27/components/ReputationLeaderboard.js), you have to the set `notifyOnNetworkStatusChange` to `true` in the options of your container :

[code]

Only then will you see the `data.loading` change to true (and `network

[2017-06-02 08:49] dlindenkreuz opened #743 "Typescript Error: Types of property 'client' are incompatible"
## Steps to Reproduce

[code]

### Buggy Behavior

During setup of react-apollo and apollo-client, typescript throws the following error (highlights by me):

  Type '{ store: Store<{}>; client: ApolloClient; children: Element; }' is not assignable to type 'Readonly<ProviderProps>'.
    Types of property 'client' are incompatible.
      Type 'ApolloClient' is not assignable to type 'ApolloClient'.

[2017-06-02 12:32] jbaxleyiii commented on #718
This is now fixed via 1.4.0! You will need to update apollo-client to the same version!

[2017-06-02 12:32] #718 closed

[2017-06-02 12:32] jbaxleyiii commented on #667
This is now fixed via 1.4.0! You will need to update apollo-client to the same version!

[2017-06-02 12:32] #667 closed

[2017-06-02 12:33] jbaxleyiii commented on #743
This is now fixed via 1.4.0! You will need to update apollo-client to the same version!

[2017-06-02 12:33] #743 closed

[2017-06-02 12:34] dlindenkreuz commented on #743
Dope. Congrats on the release, the new TypeScript annotations arrived just in time!

[2017-06-02 13:11] igorlamos commented on #667
GREAT! Works for me ... Updated to:
[code]

and problem solved! **Awesome work** 👍

[2017-06-02 16:10] anthonator opened #745 "Importing MockedProvider in 1.4.0"
When using `react-apollo` 1.2.0 I was able to import `MockedProvider` like:

[code]

Doing this in 1.4.0 causes the following error:

[code]

I'm using `mocha` and `babel` and wasn't having issues prior to 1.4.0.

**.babelrc**

[code]

**mocha.opts**

[code]

[2017-06-02 16:25] anthonator commented on #745
If I import `MockedProvider` with the following:

[code]

I get the following error:

[code]

Here's the code causing this:

[code]

Again, this was working properly prior to 1.4.0.

[2017-06-02 16:28] jbaxleyiii commented on #745
I'm so sorry about this, this was most likely broken with the move to tree-shaking bundle. I will have a fix out tonight for this.

Thanks for the report!

[2017-06-02 16:28] greenkeeper[bot] opened #746 "An in-range update of @types/lodash is breaking the build 🚨"
## Version **4.14.65** of [@types/lodash](https://www.npmjs.com/package/@types/lodash) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/react-apollo/compare/greenkeeper%2F%40types%2Flodash-4.14.65">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/lodash
    </td>

[2017-06-02 18:20] greenkeeper[bot] opened #747 "An in-range update of @types/react is breaking the build 🚨"
## Version **15.0.26** of [@types/react](https://www.npmjs.com/package/@types/react) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/react-apollo/compare/greenkeeper%2F%40types%2Freact-15.0.26">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/react
    </td>
  </tr

[2017-06-03 01:04] jbaxleyiii commented on #745
fixed in 1.4.1! (which is going to npm now!)

[2017-06-03 01:04] #745 closed

[2017-06-03 03:57] aryo commented on #741
Are you sure each item in `fields` doesn't have `__typename` in it? Unless you've explicitly stripped them out from the query results, they'll be in there.

[2017-06-03 07:33] JonathanWbn commented on #741
Okay, I guess I didn't do it correctly then. Will try again.
Thanks for the help, @aryo @stubailo !

[2017-06-03 07:33] #741 closed

[2017-06-03 12:39] dcworldwide opened #749 "graphql HOC skip() and prop() sequence issue"
I have the following file. I have a class, and I export 2 graphql HOCs that wrap the class. When I use both of the exports in my React ui, only 1 works. The second is not initialised properly. I.e. the option.props(props) => {} callback doesn't fire.  This is a bug?

[code]

[2017-06-03 12:52] pawsong opened #750 "interface MutationOpts lacks some properties"
### Buggy Behavior

I found [`MutationOpts`](https://github.com/apollographql/react-apollo/blob/ddd3d8faabf135dca691d20ce8ab0bc24ccc414e/src/graphql.tsx#L38) does not contains `refetchQueries`, which is documented [here](http://dev.apollodata.com/react/api-mutations.html#graphql-mutation-options-refetchQueries) and already in `apollo-client`'s [`MutationOptions`](https://github.com/apollographql/a

[2017-06-03 17:40] helfer commented on #749
Just to get a bit more insight, what happens if you declare/use them in the other order?

[2017-06-03 22:27] Guardiannw commented on #708
Having the same issue... https://stackoverflow.com/questions/44348225/apollo-client-react-container-add-created-element-to-paginated-list-of-elements

[2017-06-03 23:11] dcworldwide commented on #749
Will test shortly. As a side note....it appears skip() is run before props(), If so, I think it needs to be the other way around.

[2017-06-04 01:16] dcworldwide commented on #749
Ok... I think i've narrowed down the issue.

1. Skip() runs before props()
2. If skip returns true, props isn't fired
3. In my wrapped class, I depend on the values provided by props(). So my code breaks. I need props to always run, even if skip returns true. I also need skip to run after props, so that skip has the necessary props from which it can make a decision.

Here is what I'm doing in more

[2017-06-04 14:32] advance512 commented on #315
I think the issue I encountered was having multiple versions of redux or react-redux installed. Non deterministic NPM FTW.

[2017-06-04 20:56] rtymchyk commented on #678
Fixed with >1.4.0 - thank you.

[2017-06-04 20:56] #678 closed

[2017-06-05 00:52] lorensr opened #753 "Default notifyOnNetworkStatusChange to true"
Regarding: http://dev.apollodata.com/react/api-queries.html#graphql-config-options-notifyOnNetworkStatusChange

I don't know whether it makes sense to change the default behavior of the core client:

http://dev.apollodata.com/core/apollo-client-api.html#ApolloClient.watchQuery

But I think it at least makes sense to change for React. Coming from React, I expect my component to be re-rendered when

[2017-06-05 00:53] lorensr commented on #727
Thank you @kombucha! 😄 Suggested the default change in #753

[2017-06-05 01:26] stubailo commented on #753
I think my main concern here is people having troubles with their components rerendering too often. It would be rough if people felt like adding Apollo makes their app inefficient, without looking into the options to turn it off.

[2017-06-05 01:26] stubailo commented on #753
Of course, we _should_ rerender whenever `loading` changes, which is independent of network status. Also, we should make sure not to provide `networkStatus` at all if that option is not passed. Not sure if either of the above are problems.

[2017-06-05 01:27] stubailo commented on #727
I think this is an independent issue - we should make sure `loading` updates correctly even without that option, regardless of the decision for #753.

[2017-06-05 01:40] lorensr commented on #753
Ah, thanks. To be clear, you're saying that if `options.notifyOnNetworkStatusChange` is `undefined` or `false`, then `data.loading` should be `undefined`? I've observed `options.notifyOnNetworkStatusChange: undefined -> data.loading: 1`.

[2017-06-05 02:56] Ramzeus commented on #597
@miltonhultgren My module rule looks something like this. Hope it can help you:
[code]

[2017-06-05 03:58] stubailo commented on #753
No - `data.loading` should always be present, and always be either `true` or `false`.

But `data.networkStatus` should be `undefined` if `options.notifyOnNetworkStatusChange` is not set.

[2017-06-05 04:04] lorensr commented on #753
Yes sorry meant networkStatus. Should I open separate issue for that and close this one?

[2017-06-05 04:07] stubailo commented on #753
Yeah we can also rename this one 🙂

[2017-06-05 04:12] lorensr commented on #753
Is that your pref in general? Curious for maintenance in the future—seems clearer/simpler to me to have a separate issue because otherwise you have to edit the first comment to explain the new issue, and people have to figure out which comments they have to pass over in order to get to the discussion about the current version of the issue.

[2017-06-05 04:17] stubailo commented on #753
I guess I don't really care, but the opposite opinion says that this thread already contains the context about how we came to this conclusion.

[2017-06-05 14:27] ngxiaoyi opened #754 "Inspector is not available on simulator once component connected to GraphQL server using graphql()"
Tried to open inspector on simulator, but got error stack. It occurs on those components connected to GraphQL server using the graphql() func:
[code]
Components without using react-apollo library is fine to open inspector.

![screen shot 2017-06-05 at 10 15 59 pm](https://cloud.githubusercontent.com/assets/3183116/26787820/e1ed374c-4a3d-11e7-9201-15eaf1b98a31.png)

### Version
- react-apollo@1.0.1

[2017-06-05 15:08] slackday commented on #667
I can confirm this works with `react-apollo: 1.4.2` and `apollo-client: 1.4.0`.

I ran into this issue when refactoring my code from using multiple graphql queries to a single. Thought I had some error in my components and without being able to resolve it myself I started looking for similar issues and found this.

network status got set to 2 and being stuck there when only changing the query vari

[2017-06-05 15:24] joeldn opened #755 "Error adding Component state when using graphql wrapper as decorator"
## Steps to Reproduce

Adding a state type to a React Component class when decorated with the `graphql` wrapper function.

[code]

### Buggy Behavior

The newly added type checking breaks my code with a `error TS1238: Unable to resolve signature of class decorator when called as an expression.` when adding state type, but only if the `graphql` wrapper function is used as a decorator. With 'normal'

[2017-06-05 15:59] AlexLeung opened #756 "FragmentMatcher.match() was called before FragmentMatcher.init()"
I'm getting this error while using the `fragmentMatcher:  new IntrospectionFragmentMatcher({...})` option when creating the ApolloClient. I'm using the fragment matcher so that I can make graphql requests which include fragments which match when an interface type is one of the subtypes.

[2017-06-06 12:01] saadbinsaeed opened #758 "Network error: Network request failed"
I always got this error in my application ( react-native ) when my mobile is not connected with internet. Googled it a lot but cant resolve. It works perfect when internet is connected. Here is my networkInterface code
[code]

As i already said it works perfect when my app is connected with internet. But my application crashes when its not. How can i handle this error?
`ExceptionsManager.js:71 Unh

[2017-06-06 14:00] C4rmond4i opened #759 "Refetching fails with fetchPolicy 'cache-and-network'"
I don't really know how to explain this bug, so just have a look at the [react-apollo-error-template](https://github.com/C4rmond4i/react-apollo-error-template). The main problem is that apollo fails to refetch the data when the data has changed while the application is running.

This is not really a important bug because there are some easy workarounds, but regardless of this I thought I should re

[2017-06-06 22:36] jpshelley opened #760 "Support React 16"
## Steps to Reproduce

It seems apollo will need to support React 16 sooner rather then later. React-Native under the hood is already using `react@16.0.0-alpha`

https://github.com/facebook/react-native/issues/13291

See the couple of issues linked to that specific issue ^^

Yes its dumb that they depend on an alpha version. Is there anyway for Apollo to support it?
For what its worth my build cur

[2017-06-07 06:25] Deevent commented on #758
Same problem here, I have no idea how to handle errors when the user is offline.

[2017-06-07 09:02] return007 commented on #558
I am also getting the same error :
[code]
This happens when I am using my own custom NetworkInterface (redefined query() method). The errors go off when I use the createNetworkInterface. I must mention here that in both cases, I saw the requests being made and the responses fetched from the server.

[2017-06-07 10:20] Ayc0 commented on #742
Last updates of apollo fix my problem
Thanks apollo team <3

[2017-06-07 10:41] #742 closed

[2017-06-07 13:00] koenpunt opened #761 "fetchMore doesn't work anymore after first error"
## Steps to Reproduce

1. Data is fetched using `graphql` HOC
2. Backend is made unreachable
3. `fetchMore` is called, an error is returned, which is correct
4. Backend is made reachable again
5. `fetchMore` is called again, the request succeeds and `updateQuery` is called, but the result passed down is still the old data, including the error of the previous request

### Buggy Behavior

Error and

[2017-06-07 14:32] chanan opened #762 "request headers are converted to lower case"
Using: "react-apollo": "^1.2.0"

Added the following middleware:

[code]

Looking at my headers in chrome network tab and in Fiddler4 (Windows debugging proxy) I see:

[code]

expected result:

[code]

[2017-06-07 18:12] kristojorg opened #763 "Uncaught Error: Network Error: Failed to Fetch"
I am seeing some unfortunate uncaught errors in Chrome 55. I am making simple graphql queries using the HOC `query` component, but am getting errors. Not sure if the root of the problem is an actual timeout as shown, or if it is something else in `react-apollo` or `apollo-client`, but either way it seems like this should be handled more smoothly?

Any ideas how to begin debugging this?

<img width

[2017-06-08 06:57] AdamYee commented on #763
Hi @kristojorg, I believe there is an ongoing struggle with error handling. See https://github.com/apollographql/react-apollo/issues/57.

But for your scenario:
- If you look in the debugger Network tab, what do you see?
- If you can, try to hit a break point in your render function and see if `props.data.error` has anything more revealing.

Feel free to ask any follow up question in the react-apo

[2017-06-08 07:45] helfer commented on #762
@chanan I'm pretty sure apollo-client doesn't somehow manipulate the headers, so it's probably being done by the `fetch` implementation. However, according to RFC 2616 (see [here](https://stackoverflow.com/questions/5258977/are-http-headers-case-sensitive)), header names are case-insensitive, so you should never write code that deals with HTTP header names in a case sensitive way.

[2017-06-08 07:45] #762 closed

[2017-06-08 08:02] ksmth opened #764 "Improve HOC API"
After discussing a bit with @helfer we agreed that it'd be better to discuss this as a GitHub issue, so here we go. 😄

After working with Apollo for a while and getting to know both `apollo-client` and `react-apollo` a bit better, I'm think there's room to improve the API for `react-apollo` and get it to the same level as `apollo-client`. I'm not familiar with all the reasoning going into each dec

[2017-06-08 09:02] saadbinsaeed commented on #758
There was a mistake in my application logic. I am executing the query on the index (Login) page. Which leads to the network failure and application crashes. The exception was not handled so i handled it now by checking that
[code]

[2017-06-08 09:02] #758 closed

[2017-06-08 09:34] saadbinsaeed commented on #604
I solved this by handling exception on each page where the apollo-query has been executed.
[code]

[2017-06-08 15:50] zackify commented on #604
This is horribly repetitious. I don't want to have to do that. I want to catch all these in my top level component and throw up an alert view, otherwise every render method I have to do this. Or make a higher order component in front of the component making the query.

[2017-06-08 16:42] sabativi commented on #604
Hello,

Here is a repo to reproduce the error https://github.com/sabativi/apollo-offline-network-error
I use `https://mpjk0plp9.lp.gql.zone/graphql` as graphql url

Also to look at the problem here is a video record : http://recordit.co/DrPPhE4Fof.

Hope it will help

[2017-06-08 16:46] sammkj opened #765 "Typescript throw a bunch of errors"
## Steps to Reproduce

Describe how to reproduce this issue.

[code]

Repo: https://github.com/sammkj/react-apollo-typescript-error

### Buggy Behavior

Typescript throws the following errors when building the app:

[code]

### Expected Behavior

It shouldn't have thrown any errors.

### Version
- apollo-client@^1.4.1
- react-apollo@^1.4.2

[2017-06-08 17:23] stubailo commented on #764
Note that the props and options functions actually take different props! One is the input props and the other is output. So those can't be merged in the way proposed.

[2017-06-08 18:43] TheoMer commented on #758
@saadbinsaeed Can you repost your Apollo client code inclusive of your exception handling, so as to ascertain where it's being handled. Are you handling it within 'networkInterface.use' or catching it after your mutation?

[2017-06-08 19:19] nenti opened #766 "Uncaught Error: You attempted to set the key `url` with redux + immutable"
### Version
- react-apollo@1.4.2,

Running with react-navigation and react-native when I navigate from the initial view to another view I get an error:
```Uncaught Error: You attempted to set the key `url` with the value "http://10.0.2.2:3000/products"```

Apollo gets instantiated into redux as follows:
[code]

The error seems to reset the uri for the networkinterface again. Is that an error in th

[2017-06-08 19:43] AlexLeung commented on #756
I figured out the problem.
I constructed the IntrospectionFragmentMatcher in the following way:
[code]
when I'm actually supposed to construct it as
[code]

[2017-06-08 19:43] #756 closed

[2017-06-08 20:57] raphaelcosta commented on #464
👍

[2017-06-08 22:02] figo77ll opened #767 "Automatic cache update after mutation not working"
## Steps to Reproduce

I made an example react-native expo project to demo this:

[expo demo link](https://snack.expo.io/S12MoHvfW)

![screen shot 2017-06-08 at 3 09 46 pm](https://user-images.githubusercontent.com/2785470/26952948-8b39ab6c-4c5c-11e7-91a5-5fa3c28cabd4.png)

(adapted from the official appollo githunt app demo): The app shows a list of car brands with price. Total of 3 car are liste

[2017-06-09 08:41] cyrilepinat commented on #620
Hi @helfer, I'm trying to migrate my `updateQueries` to `update` or `refetchQueries` (with real query instead of string query name) and for most of my cases, I cannot know the exact set of variables to pass to `readQuery`, so it's very difficult to use and so much complex - maybe even not possible - to create generic methods for reusability.
I'm wondering if it is possible (or will be in the futur

[2017-06-09 09:41] ksmth commented on #767
In line 27 of your example I can see that you're only querying for the ID of the mutation result. In order for the store to be updated, you need to query all fields you're interested in.

[2017-06-09 16:47] bartlett705 commented on #674
I noticed something unexpected when I was debugging `<MockedProvider>` tests yesterday that may relate to the issue @eskimoblood  or @michaelarick are having:

*If you have variables in your query, the ORDER they are declared in your actual request and your mocked request object must match.* I spent a lot of time banging my head against this, because ECMAScript usually doesn't care about object pr

[2017-06-09 18:57] OneCyrus commented on #755
same issue here

[2017-06-09 23:05] khankuan opened #768 "UpdateQuery does not update props."
## Steps to Reproduce
[code]

### Buggy Behavior
UI does not update after fetchMore.
Data in the redux store is updated but not the component.
Update: `next` function in subscribeToQuery does not get called even though store is updated.

### Expected Behavior
Props should be updated after updateQuery.

### Version
- apollo-client@1.4.2
- react-apollo@1.4.2

[2017-06-11 02:50] khankuan commented on #768
I've tried pagination on another component and it worked but not the one above. Also, when i click load more again, the ui instantly updates to show the new item. It feels like either queryObservable is not triggering an update or the update is behind by 1 iteration.

[2017-06-11 21:45] chrisself commented on #398
For anyone who stumbles across this issue who is also using Webpack, I was able to resolve the react-native related error message by ignoring the node_modules folder in babel-loader:

[code]

[2017-06-11 22:30] sammkj commented on #765
It seems this issue is happening is because I'm using v2.2.2 Typescript which doesn't support generic parameter defaults. My company still hasn't migrated over to v2.3 and above. Would it be possible to have `react-apollo` support v2.2.2?

[2017-06-12 00:59] #768 closed

[2017-06-12 01:19] skosch opened #769 "Mutation function causes typescript error 2453 (not a valid type argument)"
I'm applying Apollo's functionality on my component as follows:

[code]
This works fine as a JS file, but compiling with TypeScript results in an error:

[code]

Do I need to explicitly type things in my mutation query setup? If yes, how, and is this documented somewhere? Thanks!

### Version
- apollo-client@1.4.2
- react-apollo@1.4.2

[2017-06-12 02:58] helfer commented on #765
Hm, I see. What's the latest version of react-apollo that works with 2.2? I don't think we can maintain compatibility with 2.2 on the master branch, but if it's not too much work, you could maintain it on a separate branch that we release under a different tag. What do you think?

[2017-06-12 14:57] sammkj commented on #765
I brought up this issue in our briefing and decided that we're gonna migrate to v2.3 TS this week. :smile:

[2017-06-12 14:57] #765 closed

[2017-06-13 08:00] saadbinsaeed commented on #758
Hi @TheoMer  Sorry for replying late, I am not handling it within the networkInterface.use, i just catched the exception after the query execution. I am not posting the code because it do not follows the **Actual** Apollo's standards although it is working :P But I will try to explain that what causes trouble to me. May be you are also following the same approach. Let me explain you the scenario.

[2017-06-13 09:18] TheoMer commented on #758
Hi @saadbinsaeed Many thanks for your reply. My issue was I presumed cachePolicy and fetchPolicy were going to resolve the issue, but alas not:

[code]

I will make the appropriate amendments as you explained.

[2017-06-13 09:24] nouh commented on #760
+1

[2017-06-13 09:46] saadbinsaeed commented on #758
My Pleasure @TheoMer, I was first presuming that this is due to the networkInterfaceWithSubscriptions because it contains the socket connection but it wasn't. For more understanding have a look at [Sabativi's](https://github.com/sabativi/apollo-offline-network-error) repo. He has nicely explained that how we can handle this error.

[2017-06-13 10:00] RichardWepnerTU opened #771 "The "mutate" function in the client (obtained using "withApollo" on a react component) doesn't properly check the for a mutation parameter"
## Steps to Reproduce

- Create a react component using "withApollo" (e. g. `export default withApollo(MyComponent)`)
- call the mutate function of the client (`this.props.client.mutate`)
- don't pass a mutation in the parameter object (but as a "query" instead, e. g. `this.props.client.mutate({query: myMutation, variables: {[...]}})`)

### Buggy Behavior

As a result of the reproduction steps, yo

[2017-06-13 14:15] baerrach opened #773 "GraphQL.prototype.forceRenderChildren should use forceUpdate() and not setState({})"
### Buggy Behavior

GraphQL.prototype.forceRenderChildren is using setState to force a re-render, which breaks shallow equals rendering optimizations.

### Expected Behavior

Use the [React API forceUpdate()](https://facebook.github.io/react/docs/react-component.html#forceupdate) instead.

### Version
- apollo-client@1.4.2
- react-apollo@1.2.0

[2017-06-13 21:04] MichaelDeBoey opened #774 "Is it possible to use the default 'dataIdFromObject' when specifying 'customResolvers'"
After reading [part 5](https://dev-blog.apollodata.com/tutorial-graphql-input-types-and-client-caching-f11fa0421cfd#b01d) of the _Full-stack GraphQL + React Tutorial_, I was just wondering if it's possible to use the default `dataIdFromObject` when specifying the `customResolvers`?

It looks a bit cumbersome to _reïmplement_ the default `dataIdFromObject` if you're happy with that one isn't it?
Bu

[2017-06-14 04:12] lorensr opened #776 "data.networkStatus is defined in absence of options.notifyOnNetworkStatusChange"
## Steps to Reproduce

https://codesandbox.io/s/N2DMB7pv

Displays `props.data.networkStatus` on the page.

### Buggy Behavior

On load, starts as `1` and changes to `7`.

### Expected Behavior

Should instead be `undefined`. (As discussed [here](https://github.com/apollographql/react-apollo/issues/753#issuecomment-306098020))

### Version
- apollo-client@1.2.2
- react-apollo@1.2.0

[2017-06-14 04:16] #753 closed

[2017-06-14 07:58] giautm opened #778 "Add support function for operationOptions"
## Steps to Reproduce

I want to do something like this. It make a selector for reselector: [sharing-selectors-with-props-across-multiple-components](https://github.com/reactjs/reselect#sharing-selectors-with-props-across-multiple-components)

[code]
But currently `operationOptions` just accept a Object.

The transform of my `mapSelector` transform a array of item to `Immutable.Map()`, so i want i

[2017-06-14 11:43] eskimoblood opened #779 "MockedProvider does not return data when fetchPolicy is set to "cache-and-network""
MockedProvider does not return data when fetchPolicy is set to `cache-and-network`. When removing the fetchPolicy part from my `graphql` call, the test data are returned.

### Version
- apollo-client@<1.1.2r>
- react-apollo@<1.4.2>

[2017-06-14 12:54] jalooc opened #780 "Batching doesn't batch redux actions"
Not sure if it's by design or just an overlook, but batching in react-apollo fires as many redux-actions as queries, even though there's just one, properly batched network request. Imho it's a big, potential performance issue, as firing whole redux lifecycle several times jeopardises the whole batching purpose (not in terms of network usage, but in terms of cpu performance).

Maybe batching APOLLO

[2017-06-14 17:59] helfer commented on #780
@jalooc That is indeed the case. Has it been a performance issue in practice for you? We're currently actively working on refactoring the store, which should enable you to make changes like this yourself and share them with the community.

[2017-06-14 18:00] helfer commented on #779
Thanks for filing an issue @eskimoblood. Would you be able to provide a reproduction of this using the [react-apollo-error-template](https://github.com/apollographql/react-apollo-error-template)?

[2017-06-14 18:16] helfer commented on #774
@MichaelDeBoey yes you can! Maybe it's not well documented, but you can get the function that Apollo Client uses as `client.dataIdFromObject`.

[2017-06-14 18:16] #774 closed

[2017-06-14 21:05] MichaelDeBoey commented on #774
@helfer So you could use the following then?
[code]

[2017-06-14 21:06] helfer commented on #753
`notifyOnNetworkStatusChange` is used to determine whether or not the component gets new props when the network status changes. Setting it to `false` doesn't currently mean networkStatus will be `undefined`.

[2017-06-14 21:12] helfer commented on #774
Yes, but you'll have to replace `ApolloClient.dataIdFromObject` with `client.dataIdFromObject`.

[2017-06-14 21:15] helfer commented on #776
This is not a bug, it's currently the intended behavior. Happy to talk about changing it if it's a real issue.

[2017-06-14 21:18] lorensr commented on #776
Okay! Idc, was just following up on Sashko's comment 😊

[2017-06-14 21:18] #776 closed

[2017-06-14 21:20] helfer commented on #776
Just to be clear, I think it would be better if we changed it, but that doesn't change the fact that it's currently the intended behavior 😄

[2017-06-14 21:31] helfer commented on #771
Hi @RichardWepnerTU, thanks for filing an issue! This could easily be fixed by a simple PR to apollo-client, do you want to give it a try? 🙂

[2017-06-14 21:40] helfer commented on #760
@jpshelley @nouh we've already included react@16-alpha to peer dependencies. If there are any other changes we need to make, please send over a PR!

[2017-06-14 22:29] helfer commented on #765
Haha, that's one way to solve the problem 😁

[2017-06-14 22:51] helfer commented on #778
@giautm I'm not sure I understand correctly. You would like to be able to run a function on some props before passing them into the component?

[2017-06-14 23:11] tremby commented on #302
What was the resolution here? @tmeasday, what you say above looks great but what is this `propTypes()` function; where can I get that? I can't find it in react-apollo -- is it hypothetical? Or do I need to use graphql-anywhere as @sedubois suggests? Is that a replacement for react-apollo or an extra utility library, or what?

[2017-06-15 00:13] tmeasday commented on #302
@tremby - `propTypes` is [exported](https://github.com/apollographql/graphql-anywhere#utilities) by `graphql-anywhere`, yeah.

[2017-06-15 00:26] tremby commented on #302
Does this add much bloat, presuming that's the only feature I want?

[2017-06-15 00:30] tmeasday commented on #302
Not at all, `graphql-anywhere` is pretty simple.

[2017-06-15 05:09] giautm commented on #778
Sorry, my English too bad to explain. Please check out the first agrument of redux-react `connect` api: https://github.com/reactjs/react-redux/blob/master/docs/api.md#arguments

[2017-06-15 08:12] MichaelDeBoey commented on #774
But I'm still initializing the client here (i.e `new ApolloClient`) so...

[2017-06-15 12:10] greenkeeper[bot] opened #783 "An in-range update of react is breaking the build 🚨"
## Version **15.6.0** of [react](https://github.com/facebook/react) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/react-apollo/compare/greenkeeper%2Freact-15.6.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      react
    </td>
  </tr>
  <tr>
    <th align=left>
      C

[2017-06-15 12:33] greenkeeper[bot] opened #784 "An in-range update of react-dom is breaking the build 🚨"
## Version **15.6.0** of [react-dom](https://github.com/facebook/react) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/react-apollo/compare/greenkeeper%2Freact-dom-15.6.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      react-dom
    </td>
  </tr>
  <tr>
    <th align=l

[2017-06-15 12:33] pitr12 opened #785 "Flow definitions causing error: "Named import from module `react`.""
Using typedefs from react-apollo causes flow error to appear: `Named import from module 'react'. This module has no named export called 'Component'.`

Issue is exactly same as one referred here: https://github.com/facebook/flow/issues/3685

The cause of problem is probably that in index.js.flow
`import type { Component } from 'react';`is  outside of a declare module block.

When it is moved into d

[2017-06-16 03:23] #747 closed

[2017-06-16 03:38] #784 closed

[2017-06-16 03:41] helfer commented on #785
Hey @pitr12, thanks for filing the issue. Yeah, it seems like we could easily fix this by importing it in the proper way. Would you mind making a PR? 🙂  🙏

[2017-06-16 03:43] dsifford opened #786 "New TypeScript definitions broken + cause critical slowdowns of the language server"
Opening this issue from per the request of @jbaxleyiii in https://github.com/apollographql/react-apollo/pull/695#issuecomment-307812329

## The Gist
My personal issue in detail can be found in #695. In short, here's the issues I'm experiencing:

#### 1. The nested deeply-dependent type definitions are causing Visual Studio Code to freeze on any file that contains the `graphql` function provided by

[2017-06-16 03:45] #746 closed

[2017-06-16 03:54] helfer commented on #774
I know, but just give it a try, it should work. The wonders of JavaScript! 😉

[2017-06-16 07:45] MichaelDeBoey commented on #774
OK now I feel really dumb 😛 😓 😞
Why's this even possible? 😮

[2017-06-16 11:03] RSpace commented on #464
While we wait for proper multi client support in React, there's another hack you can use if you simply need use a different client in a child component:

[code]

Any graphql queries in `ChildComponent` and descended components will now go to `OTHER_ENDPOINT_URL`.