[2016-04-15 16:30] maartenbusstra opened #2 "Splitting into Redux/React packages"
Do you think it might be a good idea to split these into 2 separate packages? Like `apollo-react` and `apollo-redux`?

[2016-04-15 16:41] stubailo commented on #2
No, because the redux part is a very small component. Apollo client uses redux internally so the integration is not complicated. Plus, redux seems to be the state management of choice for many react devs.

[2016-04-15 16:44] maartenbusstra commented on #2
Hmm, alright. Packages being small didn't stop Dan from publishing redux-thunk separately, though. And let's not forget about left-pad. ;)

Anyways, it looks very slick! Props to you guys.

[2016-04-15 16:46] stubailo commented on #2
Yeah, I guess my hope is that if you're starting a new React project, you can just use `react-apollo` and not worry about whether you need to connect GraphQL data or Apollo data.

If we did have a small package for redux integration, how would it be different? It would just support more options for `connect` or something?

[2016-04-15 17:02] maartenbusstra commented on #2
To be honest, I think `connect` should be in the `apollo-react` package, since it's being used to "connect" to React, just like `<Provider />`.

The `apollo-redux` package could include helper functions to get the reducer and the middleware for a Redux store. Something like;
[code]

[2016-04-15 17:05] stubailo commented on #2
Right, but here's the thing - `apollo-client` uses `createReducer` internally, so it would just be a vanity package. But yeah, let's keep it one package for now and then if there is a good reason we can split it up. Going to close this issue if that's OK!

[2016-04-15 17:05] #2 closed

[2016-04-17 00:59] jbaxleyiii opened #4 "Create dist with different that supports different require methods"

[2016-04-17 03:28] jbaxleyiii opened #5 "Setup filesize check of library"
see https://github.com/apollostack/apollo-client/pull/122 for sample code

[2016-04-17 03:29] jbaxleyiii opened #6 "Configure CI and coverage reports"

[2016-04-17 03:29] jbaxleyiii opened #7 "100% coverage"

[2016-04-18 10:46] lgollut opened #8 "this.queryHandles keys refers to query options instead of actual WatchedQueryHandle"
`mapQueriesToProps` seems to be initially designed to call `watchQuery(options)` in bde5a2ce49286660bce51adad4b29eb12ff2ead5 but is implemented without passing the function. `this.queryHandles` hence only contains queries options and `unsubcribeAllQueries()` fails on `this.queryHandles[key].stop()`

[2016-04-19 00:05] jbaxleyiii commented on #8
@lgollut we actually changed the API and removed the `watchQuery` as part of the argument object. Curious, what do you need the handle for?

I'll add in a way to access the individual handles by key though!

[2016-04-19 01:42] #8 closed

[2016-04-19 05:13] stubailo opened #13 "Check error handling"
Doesn't work in example app

[2016-04-19 06:18] stubailo opened #14 "Doesn't properly pass through null props somehow"
This code doesn't rerender when Meteor.userId() becomes `null`:

[code]

[2016-04-19 06:39] stubailo commented on #14
Never mind - this is a problem with react meteor data: https://github.com/meteor/react-packages/issues/187

[2016-04-19 06:44] stubailo commented on #14
Wait, no, I'm actually not sure why this happens.

[2016-04-19 06:46] stubailo commented on #14
Basically, when you run this app: https://github.com/apollostack/meteor-starter-kit

If you log in, and then back out, it should show "log in", but it doesn't because the `userId` prop never makes it to the `App` component.

[2016-04-19 06:55] jbaxleyiii commented on #14
@stubailo I just added a test on my local react-apollo to test a null prop and its working. I'll pull down and see if I can figure out why it's not rerendering!

[2016-04-19 07:05] stubailo commented on #14
Yeah it's weird because if I remove the `connect` component in the middle, it re-renders fine.

[2016-04-19 07:06] jbaxleyiii commented on #14
@stubailo issue found and fixed with https://github.com/apollostack/react-apollo/pull/15

[2016-04-19 07:09] #14 closed

[2016-04-19 07:10] jbaxleyiii commented on #13
@stubailo which parts in particular? Do you have an example?

[2016-04-19 07:10] stubailo commented on #13
yeah let me whip up an example

[2016-04-19 07:14] stubailo commented on #13
https://github.com/apollostack/meteor-starter-kit/pull/1

You can look in the redux dev tools, and the error is in there - maybe the client itself somehow never reports it?

[2016-04-19 07:14] jbaxleyiii commented on #13
on it!

[2016-04-19 07:17] stubailo commented on #13
I'm going to go to sleep, then get back at it tomorrow morning! We're really getting somewhere, funny that these things don't really come up until you put them all together :]

[2016-04-19 07:21] stubailo commented on #13
Let me know if you learn anything, and I can pick it up then!

[2016-04-19 07:22] jbaxleyiii commented on #13
found and fixed with https://github.com/apollostack/react-apollo/pull/16.

I'll add in a test tomorrow 👍

[2016-04-19 07:25] #13 closed

[2016-04-19 19:03] stubailo opened #19 "Allow using data from queries in mutations in the same container"

[2016-04-19 19:17] jbaxleyiii commented on #19
@stubailo can you give me an example? Like fetch from the query to pass data to the mutation?

[2016-04-19 19:19] jbaxleyiii commented on #19
Fwiw, when calling a mutation to take place, you can define all the args you want so you could pass data from a query to the mutation

[2016-04-19 20:05] johnthepink opened #20 "mapStateToProps params"
It looks like `mapStateToProps` currently gets called with just the redux state. The docs show that it gets called with an object containing `ownProps` and `state`. Is it intended to contain `ownProps` as well? Or should we update the docs? cc @jbaxleyiii

[2016-04-19 20:12] jbaxleyiii commented on #20
@johnthepink it should have ownProps. I thought I had a test in place for that?

[2016-04-19 20:14] stubailo commented on #20
I had a few issues with various arguments as well. I don't think our tests totally cover the different lifecycle events with changes coming from props, redux, etc.

[2016-04-19 20:16] jbaxleyiii commented on #20
@stubailo the tests are pretty minimal right now. @johnthepink would you be up go taking that for me today and tomorrow? Trying to be better about actually being on vacation ;)

[2016-04-19 20:16] stubailo commented on #20
I managed to build an example app on top of it, so I'm happy! No rush on making these improvements, I think - vacation away!

[2016-04-19 20:18] jbaxleyiii commented on #20
@stubailo @johnthepink is triumphantly moving our stavj to Apollo now so he may need some changes.

I'm really happy it's all decent ly coming together though!

[2016-04-19 20:23] johnthepink commented on #20
Yep! I'll jump in on fixing some stuff here soon. Found a couple other things.

[2016-04-19 20:30] johnthepink opened #21 "mapQueriesToProps state"
In my current implementation, `mapQueriesToState` gets called the first time with `ownProps` and `state` in the object correctly. However, when the store is updated, and the function is called a second time (and each subsequent time), `state` isn't the redux store state. Instead, it's an object containing the ApolloClient instance, and the store instance:

[code]

[2016-04-19 21:14] stubailo commented on #21
@johnthepink update the package? I just fixed this I think: https://github.com/apollostack/react-apollo/commit/cf5e5b68d8df4989228b96ec6755e422e803912b

[2016-04-19 21:39] johnthepink commented on #21
@stubailo updated and it looks like it's still doing it for me. i'll debug some more

[2016-04-19 21:55] johnthepink commented on #21
nope. you were right. i had a stray dependency

[2016-04-19 21:55] #21 closed

[2016-04-19 22:00] stubailo commented on #19
Ah, I forgot mutations take arguments! Yeah, I guess I can just pass the data from the props back up, no big deal!

[2016-04-19 22:00] #19 closed

[2016-04-19 22:30] jbaxleyiii commented on #7
At 97% now, more so we need better life cycle tests and better organization and sample app fixtures

[2016-04-19 22:30] #7 closed

[2016-04-19 22:31] #6 closed

[2016-04-19 22:34] stubailo commented on #4
What do you mean by this one?

[2016-04-19 22:36] jbaxleyiii commented on #4
I'd love to support a few built versions with umd, commonjs, and global exposing of ReactApollo. That way if people want to include it in a script they can. We should be able to do it all with the build tools

[2016-04-19 22:52] stubailo commented on #4
Hmm is this something you need for your project? I feel like most people can integrate it into their existing build with browserify, webpack, meteor, etc

[2016-04-19 22:53] jbaxleyiii commented on #4
Nope not at all! Just saw that redux did it so thought we could. No worries :). I'll close and if it comes up we can do it later

[2016-04-19 22:53] #4 closed

[2016-04-19 22:56] stubailo commented on #4
Haha I don't want to shut down the ideas - just trying to see the motivation behind them!

[2016-04-19 22:59] jbaxleyiii commented on #4
Haha didn't think you were :) but I don't think it's worth an issue for it now

[2016-04-20 13:58] gauravtiwari opened #22 "Server rendering and hydrating apollo store"
Hey @stubailo I am exploring the new apollo client with Rails (https://apollo-rails.herokuapp.com/) and was wondering - how the client supports hydrating the store without redux. I see it's react-container is inspired heavily from redux and redux does offer hydrating store while creating the store, but not sure how this works with react-apollo (basic apollo version)? `let store = createStore(todoA

[2016-04-20 14:17] jbaxleyiii commented on #22
@gauravtiwari the Apollo client offers a reducer to add to your existing redux reducers before creating the store. If you add that then pass the store to the provider, you should be able to rehydrate. Check out the docs on using with Apollo with redux.

Store rehydration is fantastic isn't it

Let me know if you run into any issues!

@stubailo it may be cool to add in the ability for the default s

[2016-04-20 14:22] gauravtiwari commented on #22
Thanks @jbaxleyiii for swift reply. Yeah I know, but was wondering if it would work without using redux. Yeah, it would be handy for a lot of folks who are not using Redux, plus basic apollo version does use Redux under the hood to track the state so, would be super cool 👍

[2016-04-20 14:24] jbaxleyiii commented on #22
@gauravtiwari that's a fanatic idea the more I think about it. I'll add that in this evening and let you know when it's there!

[2016-04-20 14:26] gauravtiwari commented on #22
Awesome @jbaxleyiii - this feature would be super handy for Server rendering.

[2016-04-20 14:32] jbaxleyiii commented on #22
@gauravtiwari I am curious, it's been awhile since I've done anything with rails. My thoughts would be to add something like `getStore` method that returns the data from the internal store. Then on the client see if there is a `window.__APOLLO_STORE__`  and pass that to rehydrate?  Would that be sufficient for you? Then your app could get the data and pass it to the client in a script tag?

This w

[2016-04-20 14:48] gauravtiwari commented on #22
@jbaxleyiii Yup, it would work. Yes, it would make sense to keep the setup versatile so, something like `__APOLLO_STORE__` bound to window object would be super easy to use for any setup.

I am using this approach though: https://github.com/gauravtiwari/apollo_on_rails/blob/master/app/views/posts/show.html.erb#L2. You see I am passing a hydrated prop using this helper function on rails. This rende

[2016-04-20 14:50] jbaxleyiii commented on #22
Awesome, thanks for the examples! I'll knock out this functionality this evening and let you know

[2016-04-20 14:54] jbaxleyiii commented on #22
Note to self: `client.store.getState()` should work or we can create a shortcut with `client.getState()` but it seems unnecessary

[2016-04-20 19:39] jbaxleyiii commented on #22
Coressponding PR: https://github.com/apollostack/react-apollo/issues/22

[2016-04-21 00:27] jbaxleyiii opened #25 "Refactor test"
Right now the tests are overly verbose in their boilerplate, and they don't accurately test common lifecycle events that can happen with changing props.

### Todo:

- [ ] split the connect test into files for `prop api`, `redux integration`, `queries`, and `mutations`
- [ ] create reusable boilerplate
- [ ] better test lifecycle events

Hopefully this will clean up some issues like https://github.

[2016-04-21 15:08] abhiaiyer91 opened #26 "Make it easy to use Apollo with Redux directly"
How does this play well with existing React Redux setups?
What was the design decision here?

Should you be more transparent about whats in this via standalone react redux. If i add this, do I have to remove my current module?

[2016-04-21 18:27] stubailo commented on #26
Yeah, I should write a post about this with a diagram.

Basically, Apollo lives in Redux alongside your normal Redux data. It could be a separate store, but there are a lot of advantages to having exactly one store if you're using Redux in other parts of your app. Since the store format is normalized and relatively complex, most people won't want to interact with the store directly using `mapState

[2016-04-21 20:02] gauravtiwari commented on #22
Hey @jbaxleyiii I tried implementing this, and looks like it doesn't works with `react-apollo`. Does this function needs to be exposed to `react-apollo` package?

#### Implementation on server:

`const initialState = client.store.getState()` this gives me undefined (`store isn't available`) initially. For example, here is how I am trying to set it up on server:

[code]

The props does show up sepa

[2016-04-21 20:10] stubailo commented on #22
Can you file the exact same thing in a new issue? I don't think these closed threads are a great place to discuss stuff.

[2016-04-21 20:12] gauravtiwari commented on #22
@stubailo Could we reopen this issue may be (avoid duplication)?

[2016-04-21 22:26] ciwolsey opened #27 "Errors regarding synthetic events with basic modification on the starter kit"
When clicking on the refetch button on the starter kit  I get the following:
https://slack-imgs.com/?c=1&url=http%3A%2F%2Fi.imgur.com%2FbbbbqFA.png

All my packages and npms are up to date in terms of what has been published.

Repo for reproduction:
[code]
Run this from /imports/ to restore my db:
[code]
Then in browser hit the refetch button and check browser console.

[2016-04-21 22:50] ciwolsey commented on #27
Pulled in changes to react-starter-kit from last 24 hours and remade my app with it, no more errors.

[2016-04-21 22:50] #27 closed

[2016-04-21 23:11] stubailo commented on #27
Oh glad it worked out! If you have a query error you should be able to see it in the UI as well!

[2016-04-22 00:29] abhiaiyer91 commented on #26
Don't you think this is the same slippery slope Meteor did from the very beginning? Building out some custom library that you then have responsibility to maintain and therefore increase the potential surface area of issues?

I personally think what would have been more appropriate would be to provide helper functions so people have more control of their own Futures.

[2016-04-22 00:38] abhiaiyer91 commented on #26
Can you also ship those helpers so people can use mapStateToProps themselves?

[2016-04-22 00:54] stubailo commented on #26
I think this library is far far smaller than the scope of Meteor so I don't think it's a huge problem, but it shouldn't be too hard to export those helpers!

[2016-04-22 00:59] jbaxleyiii commented on #26
@abhiaiyer91 what helpers are you taking about? I'm happy to export anything you would like!

We were able to switch out our existing redux react all using the steps @stubailo mentioned. Can you outline how you would rather use Apollo with your setup?

[2016-04-22 01:01] stubailo commented on #26
OK so what about a design like this:

1. We export the Apollo reducer
2. We export the Apollo action creators (init query, stop query, etc)
3. We export something like `readQueryFromStore`

These all exist inside the client anyway, so it's not a lot of work!

Then we just document how to use these.

[2016-04-22 01:03] jbaxleyiii commented on #26
Let's export the action types too, that's common for redux modules to do

[2016-04-22 01:08] jbaxleyiii commented on #26
[code]

Something like this?

[2016-04-22 01:10] stubailo commented on #26
Yeah, we need the `client` because we have some config we need to share between the reducers and the function that reads out of the store.

[2016-04-22 01:13] jbaxleyiii commented on #26
@stubailo I was thinking we could write that sync read method and use it with a normal query. This helper wouldnt actually call the query, only read whats in the store right? Otherwise that's a redux antipattern

[2016-04-22 01:14] jbaxleyiii commented on #26
Fwiw, this feels like it would be 100% changes to the apollo-client, not this library. This one choose the wrapping of redux route

[2016-04-22 01:15] stubailo commented on #26
Oh, I guess I was thinking that passing in `queryId` rather than `QueryOptions` would be better.

Agreed.

[2016-04-22 01:19] stubailo commented on #26
Going to close it here - thanks for the suggestion, @abhiaiyer91! I think we'll keep this wrapper though if at least to use it internally. Going to start rewriting parts of Galaxy with this soon.

[2016-04-22 01:19] #26 closed

[2016-04-22 01:42] abhiaiyer91 commented on #26
Thanks for the quick replies on this guys! By all means I think the wrapper is great for people ! Don't get me wrong, but for devs or teams with more preference and need for fine grained control we much rather have the building blocks and we'll put together the interface ourselves! Thanks again!

[2016-04-22 14:17] jbaxleyiii commented on #22
@gauravtiwari so I think I misunderstood your build out. It looks like you are rendering data as props on different container components yes? and passing those through to `react-apollo` as props?

With redux, store rehydration happens when you actually create the store itself. The way the change was written was to support rehydration from a fully generated store that was on the server.

Steps on t

[2016-04-22 19:05] gauravtiwari commented on #22
@jbaxleyiii I see, how it may work work fine for full-stack JS environments, but this would be hard to achieve (atleast hacky) for other non-js server side framework. It's achievable, but very hacky and hard.  I guess, we need a function that allows to inject the required data wherever possible, possibly within initial state that takes the initial data as argument and merge it with store.

[2016-04-22 19:06] gauravtiwari commented on #22
No worries, lets see how possibly we can make it work for all solutions (JS or Non-js server environments) :)

[2016-04-22 20:52] Krabaul opened #28 "Support Context"
You are already supporting props and state in the mapQueriesToProps function, but what about [context](https://facebook.github.io/react/docs/context.html)?

Its useful to pass down a varibale from the root to a child without needing to pass the variable as prop into every component.

    ROOT > MainLayout > Sidebar > Header > MYCOMPONENT

[2016-04-22 21:03] stubailo commented on #28
Can you give an example of what you're passing down? If it's some state from the ROOT, then it's probably a better idea to put that in Redux, no?

[2016-04-22 21:08] Krabaul commented on #28
For example global settings like default limit. I could store it in redux, but I just wanted to try out this new feature.

[2016-04-22 22:09] stubailo commented on #28
If the data isn't changing, then I'd just make a variable and import it. If it's changing I'd put it in Redux... either way context seems to be on the path to big changes: https://facebook.github.io/react/docs/context.html

I dunno I just don't think there is a real need for this, and I don't really think it's good to encourage people to use context in this way. Open to comments from other people

[2016-04-22 22:17] Krabaul commented on #28
Yeah you are right, Redux is probably better. But for example material ui is using Context for setting the Custom Themes. In a scenario where you want to request a different icon if its a dark theme, you would want to get it via context.

I don't think many people need it, but i think it should be added to make the transition to apollo smoother: You don't have to change the app to redux, before sw

[2016-04-22 23:20] stubailo commented on #28
OK - curious to see what @jbaxleyiii thinks.

[2016-04-22 23:35] jbaxleyiii commented on #28
@Krabaul @stubailo while I agree that using context is dangerous, it is a supported feature of react. We don't block context for usage in children component scurrently, the question is should we expose context to the mapQueriesToProps.

Because we are using an object as the argument, I see no reason to not add it in personally. I need to see how much of a perf loss we have by tracking context chan

[2016-04-22 23:36] jbaxleyiii commented on #28
Actually, I think getting your context from a parent component and passing it as a prop is a better way to go. I don't think redux exposes context to its map functions either so I'd rather not since passing it as a prop is so easy. @Krabaul will that work for yiu?

[2016-04-23 02:17] jbaxleyiii commented on #28
At this point, I think using a wrapped container that manually specifies the `context` and passes it to react-apollo as a prop is the way I would recommend. I'm open for further discussion but I think keeping the api and watched data limited is the right call for now

[2016-04-23 02:17] #28 closed

[2016-04-23 16:22] mquandalle opened #29 "API simplifications"
I find the API to expose Apollo state to UI components too complex, especially considering that this is an operation we’ll have to do for almost every single component. So I’ll start with an example and share some iterative improvement ideas; here it is:

[code]

It’s clear from this example that a lot of code is duplicated, but there is actually a good reason for that which is that some symbols l

[2016-04-23 19:17] jbaxleyiii commented on #29
@mquandalle thank you so much for such a detailed outline of improvements!

Overall I'm a really big fan of these improvements! I do think that statically setting the query could be really great and could even make it easier for a pre-processing tool like webpack to use `.gql` files to build the query. I also don't think that manipulating the GraphQL string is a good thing to do, strings don't mak

[2016-04-23 19:18] jbaxleyiii commented on #29
also:

🔥 🔥 🔥

[2016-04-23 19:38] mquandalle commented on #29
@jbaxleyiii One possible solution for multiple queries would be function composition:

[code]

[2016-04-23 19:54] mquandalle commented on #29
I’m not sure about the advantages of re-introducing an explicit call to Redux’s `connect`, but that could certainly be done. Instead of having a `exposeQGL` function calling `connect` under the hood, we would export a `apolloConnector` function and let the user giving than as an input to `connector`:

[code]

But I don’t understand what we gain.

[2016-04-23 20:55] jbaxleyiii commented on #29
@mquandalle the benefit of combining redux is reducing the number of compositions and making it easier to adapt for redux apps while still providing a good api for non redux apps.

This would work but I think it adds back in the boilerplate we were seeking to reduce? However it could allow you to chain queries so you can pass the state / result from one query to another.

[2016-04-23 21:03] jbaxleyiii commented on #29
We could introduce something akin to this if you are doing multiple queries:

[code]

This would pass the query keys as props to the `RawComponent`. We would need to throw or at least warn on like keys but that seems easy enough.

[code]

This is a pretty significant api change. We certainly aren't very far into this so I'm open to the change for sure! I'd love to get some more thoughts on this fr

[2016-04-23 23:20] jbaxleyiii commented on #29
After reviewing the current API, I'm not sure I think it's too much boilerplate. Removing the key definition for what is in the query means we have to parse each query from react-apollo instead of letting the client do all of that internally. The argument as a single object makes itterative API additions much easier and safer, and dynamically changing queries seems like more common use case than I

[2016-04-24 05:06] abhiaiyer91 opened #30 "Experience with mapQueriesToProps"
first i'll say, `mapQueriesToProps` is pretty cool! To me, this function means we'll be mapping the result of a graphql query. Which in fact we do

[code]

My question is, why tuck it away under a results key? Wouldn't it be nice to just have our prop
[code]
I would then in my component much rather do

[code]

Essentially when the query yields, can we just extend this state structure? If you guys

[2016-04-24 10:58] jbaxleyiii commented on #30
@abhiaiyer91 💯 go for it! Looks great!

[2016-04-24 11:06] jbaxleyiii commented on #30
When you do it, will you add a warning about key collision of someone uses `loading` or `errors` as the prop key?

[2016-04-24 15:08] johnthepink commented on #29
Personally I'm good with the current API. 👍

[2016-04-24 17:19] abhiaiyer91 commented on #30
Yeah i think in mutations we still would want to interact with the values of our data directly rather tucked away in results. And checking for this data should be best practice regardless if result existed or not.

[2016-04-24 19:30] jbaxleyiii commented on #30
@abhiaiyer91 PR https://github.com/apollostack/react-apollo/pull/31

[2016-04-25 18:31] stubailo commented on #29
I think these are pretty similar conversations, right? https://github.com/apollostack/react-apollo/issues/30

So we did end up with a few simplifications.

[2016-04-26 10:45] #30 closed

[2016-04-26 10:46] jbaxleyiii opened #32 "Expose subscription.unsubscribe in prop object"

[2016-04-26 13:19] mquandalle commented on #29
This is actually something I find really weird. React-Apollo imitates Redux’s `connect` by exporting a function with an identical name but with a different signature:

[code]

With that, how do I connect my client Redux store *and* Apollo data in the same component? Do I have to import the two connects functions and rename one of them,

[code]

or do I have to use only the Apollo `connect` but cha

[2016-04-26 13:28] mquandalle commented on #29
Good point. In this case assuming that we use a custom connector function like the `exposeQGL` one I used in the original post, we could change it’s signature from:

[code]

to

[code]

where options would basically contains all the current options like `forceFetch` or `returnPartialData`. I also don’t really like the function name `exposeGQL` but I still think it could reduce the complexity invol

[2016-04-26 16:05] stubailo commented on #32
What would this be used for?

[2016-04-26 16:59] jbaxleyiii commented on #32
@stubailo if you are polling, you may want to manually stop after a certain number of changes, or after a certain data change

[2016-04-26 17:07] stubailo commented on #32
Hmm, unsubscribe isn't really the right thing here though, because then you also wouldn't get optimistic updates or refetches from other queries. I was thinking the react integration would internally create a new query handle on a `stopPolling` call, or maybe use an argument passed into `mapQueriesToProps` to change the `pollInterval` argument?

[2016-04-26 17:15] jbaxleyiii commented on #32
@stubailo gotcha, okay I'll rework this PR some

[2016-04-26 17:15] jbaxleyiii commented on #32
Sorry, the polling API to allow for stopping the polling without stopping the query

[2016-04-27 11:58] mattiasewers opened #34 "Publish new versions to npm"
If new versions exist please push them to npm! Love this!

[2016-04-27 16:24] stubailo commented on #34
Not sure if you closed because it isn't an issue anymore?

[2016-04-27 18:34] mattiasewers commented on #34
@stubailo  Sorry no issue! Thought I needed version 0.2.0...

[2016-04-27 18:36] #34 closed

[2016-05-03 02:52] jbaxleyiii opened #39 "Library at 0.2.0-rc* is broken currently"
If you run into an issue using the library using a rc, please `npm i --save react-apollo@0.2.0`

Will get this fixed up ASAP

[2016-05-03 17:55] stubailo opened #41 "Inconsistent state in mapMutationsToProps"
[Originally posted](https://github.com/apollostack/apollo-client/issues/170) by @deoqc on apollo-client:

------

I am using redux-form and have 2 forms (lets say FormA and FormB, 'living' in `state.form.FormA` and `state.form.FormB`).

The problem is that `FormB` is not always showing in the state when using `mapMutationsToProps`, but it is correct in `mapStateToProps` or in the store (as shown b

[2016-05-04 00:38] stubailo opened #42 "Update peer dep to apollo-client 0.3.0"

[2016-05-04 00:42] jbaxleyiii commented on #42
Fixed with 0.3.1

[2016-05-04 00:42] #42 closed

[2016-05-05 18:42] jbaxleyiii opened #43 "Pass `startPolling` and `stopPolling` to component props"

[2016-05-06 02:34] #32 closed

[2016-05-06 02:34] #43 closed

[2016-05-06 02:34] #39 closed

[2016-05-06 14:44] mattiasewers opened #45 "Multiple queries"
Does react-apollo not support multiple queries or is it graphql?

[2016-05-06 17:14] stubailo commented on #45
It depends on what you mean by "multiple queries". What are you trying to do?

[2016-05-07 11:10] mattiasewers commented on #45
@stubailo I am trying to query something like this `query { user{} project{} }` got an error saying `Error: Multiple root queries, cannot print that yet.`

[2016-05-07 16:48] stubailo commented on #45
@mattiasewers as a short-term workaround, you can pass `forceFetch: true` in your container. Opened an issue on apollo-client, going to close here since there isn't anything `react-apollo` can do about it.

[2016-05-07 16:48] #45 closed

[2016-05-07 17:15] stubailo commented on #45
Should be fixed now - just update to apollo-client 0.3.3, and let me know if it works!

[2016-05-08 18:14] mattiasewers commented on #45
Yes, works great! Thanks!

[2016-05-09 14:52] NeoPhi opened #46 "returnPartialData throws error on empty store"
If in `mapQueriesToProps` I specify `returnPartialData: true` I get an error thrown from `diffFieldAgainstStore` saying that `Uncaught Error: Can't find field viewer on object [object Object].`. I would expect an undefined object to be returned to the view if no data was in the store and `returnPartialData` was set to true.

[2016-05-10 09:20] mattiasewers opened #47 "Upgraded to 0.3.3 getting error in diffFieldAgainstStore"
Just upgraded to the latest version and getting `Error: Can't find field user on object [object Object].`in diffFieldAgainstStore, worked great with 0.2.1.

[2016-05-10 09:58] mattiasewers commented on #47
Tested to downgrade `0.3.1` and it works, latest does not

[2016-05-10 12:47] jbaxleyiii commented on #47
@mattiasewers can you provide a code sample of your query? And what version of `apollo-client` are you using?

[2016-05-10 12:50] jbaxleyiii commented on #41
@stubailo @deoqc This happens because mapMutationsToProps is called on render of the child component, but is not called on subsequent state changes. I'll work on updating it to support state changes to rebuild the mutation action.

Will let you know when it is improved!

[2016-05-10 12:59] mattiasewers commented on #47
@jbaxleyiii Thanks for answering! Using `apollo-client@0.3.4`.  Here's an example query: `
        query {
          user {
            projects{
              title
            }
          }
        }
`, I've also tested my queries against graphiql, which works as expected.

[2016-05-10 17:47] NeoPhi commented on #47
Sounds similar to the issue I'm seeing in #46 which appeared after I upgraded from `0.3.1` to `0.3.3`.

[2016-05-10 18:11] jbaxleyiii commented on #47
@NeoPhi @mattiasewers I can confirm this bug! I'm not sure if the issue is in the `apollo-client` or `react-apollo` but I'm tracking it down. For now, if you turn `partialData` and `forceFetch` to false, do you still get the issue?

[2016-05-10 18:13] stubailo commented on #47
Sounds like it's in `apollo-client` to me! I messed with diffing quite a bit last week, and could have messed this up in the process.

[2016-05-10 18:14] stubailo commented on #46
Closing in favor of: https://github.com/apollostack/apollo-client/issues/193

[2016-05-10 18:14] #46 closed

[2016-05-10 18:14] stubailo commented on #47
Closing in favor of: https://github.com/apollostack/react-apollo/issues/46

[2016-05-10 18:14] #47 closed

[2016-05-10 18:24] jbaxleyiii opened #48 "Update to new refetch location"
Per https://github.com/apollostack/apollo-client/pull/196

[2016-05-10 22:42] stubailo opened #49 "Make it possible to avoid query rerun when the query doesn't actually consume state"
Right now, if you use Redux state for client data, and your query doesn't actually use that to filter anything, the query still reruns. There should be a way to prevent that.

[2016-05-10 22:56] stubailo commented on #41
Hmm, perhaps we could instead just use the current store state? Rather than initializing a function that includes the state?

[2016-05-10 23:31] jbaxleyiii commented on #41
@stubailo we could pass a method to get the state which would give more dynamic options:

#### Option 1
[code]

#### Option 2
[code]

[2016-05-11 00:42] stubailo commented on #49
Wait I know what this is - since gql is parsing e query every time, it's a new object. We just need to add memoization to gql.

[2016-05-11 02:21] stubailo commented on #41
Hmm, this seems a bit odd and kinda encourages people to start doing interesting stuff with `getState` which ruins the "declarative-ness" of the current API. Perhaps we should just rebuild the mutations.

[2016-05-11 02:27] stubailo commented on #49
Closed in favor of https://github.com/apollostack/apollo-client/issues/199

[2016-05-11 02:27] #49 closed

[2016-05-11 03:37] stubailo commented on #47
This should be fixed in Apollo Client 0.3.5. Please let me know if it isn't!

[2016-05-11 03:37] stubailo commented on #46
This should be fixed in Apollo Client 0.3.5. Please let me know if it isn't!

[2016-05-11 10:32] jbaxleyiii commented on #48
Misunderstood that PR, I thought it was moving refetch and polling methods to the handle instead of the subscription

[2016-05-11 10:32] #48 closed

[2016-05-11 13:33] deoqc commented on #41
@jbaxleyiii I can think in some use cases - like signup vs login w/ username vs login w/ email - that I would be tempted to put the logic there like the **Option 2**. But I think should be better to just have a function that do these logic and call the correct *static* mutation.

@stubailo Vote for keeping the initial proposed API `mapMutationsToProps = ({ state, ownProps, ...})` but with the curr

[2016-05-11 21:12] mattiasewers commented on #47
@stubailo Yes it's fixed

[2016-05-11 21:27] jbaxleyiii commented on #41
@deoqc what are your thoughts around #51?

[2016-05-11 23:50] jbaxleyiii commented on #25
Incrementally better with #50

[2016-05-11 23:50] #25 closed

[2016-05-12 00:10] #41 closed

[2016-05-12 00:27] jbaxleyiii commented on #20
Fixed with #51

[2016-05-12 00:27] #20 closed

[2016-05-12 00:31] #5 closed

[2016-05-12 17:15] deoqc opened #53 "Bug when upgrading to 0.3.4"
First referenced [here](https://github.com/apollostack/react-apollo/pull/51#issuecomment-218658161).

---

When upgrading to 0.3.4, app just slows down way too much. The XCode console (using React Native) just spiting a lot of things like this bellow:
[code]

I'm currently trying to make a reproducible repo.

[2016-05-12 18:41] deoqc commented on #53
Sorry @stubailo and @jbaxleyiii but I did not succeeded reproducing this. =(

I will try again latter if no one comes up with a solution before...

[2016-05-12 21:15] stubailo commented on #53
@deoqc do you mean this doesn't happen for you anymore? Or that you can't make a simple app that demonstrates the behavior?

[2016-05-12 21:58] deoqc commented on #53
@stubailo It didn't go away, I just could not replicate in a simple app.

[2016-05-16 17:14] wizardzloy opened #54 "Server-side rendering: Create an API for async data fetching"
Our goals on server are:
- fetch all data required for current React tree
- save data to store
- do initial render to string with data resolved (`ReactDOM.renderToString()`)
- send DOM string along with the serialized store state to a client

The main problem here is that, if we have several `connect`ed components in a tree, we have to use some sort of waterfall fetching - child component cannot f

[2016-05-16 17:56] jbaxleyiii commented on #54
@wizardzloy I'm thinking this will be my focus late this week / next week. I've got a ton of thoughts on it + react-router integration.

Just curious, what does your stack look like? React / React Router / Meteor?

[2016-05-16 18:35] wizardzloy commented on #54
It's react + react-router + react-apollo. So far the code looks like this:

[code]

@jbaxleyiii Could you, please, share your ideas regarding this topic?

[2016-05-16 23:47] jbaxleyiii commented on #54
Okay this is going to be a brain dump:

### Possible SSR / rehydration methods

Static `fetchData` on router level component (how we are currently doing it)

[code]

Issues with above:
- [ ] only hits router level components
- [ ] duplicated code between static method and `connect` function

---

Router based queries (from apollostack/react-router-apollo draft)

[code]

Issues with above:
- [ ] re

[2016-05-17 07:43] tomitrescak opened #55 "Caching"
Dears, this is more of a question than issue.

Current functionality maps the query to react component. This, whenever is displayed fetches new data from the server. While this is OK for many cases, it would be great to have a decision mechanism to use cached data. For example, I can cache data in the store and then in the container I can decide whether to use cached data or get fresh data.

Do yo

[2016-05-17 12:11] jbaxleyiii commented on #55
@tomitrescak react-apollo does the caching behind the scenes. As long as you aren't specifically adding in `forceFetch: true` to your query object, the wrapper component will pull cached data from the store if it exists

[2016-05-17 12:31] tomitrescak commented on #55
Thanks for the reply. That's fantastic news! Is this process described somewhere? I just want to understand how it works. Does it cache  data per text of the query? Where in store are the data stored? I'll try to look I to sources.

[2016-05-17 12:54] jbaxleyiii commented on #55
@tomitrescak yep! React-apollo uses the core's `watchQuery` method under the hood. The section about query diffing (the caching mechanism we use) is [here](http://docs.apollostack.com/apollo-client/core.html#forceFetch). It is stored under the apollo redux key (default is `apollo`) then under a data key.

[2016-05-17 12:54] #55 closed

[2016-05-17 19:32] wizardzloy commented on #54
regarding serialization of data, why not to simply use:
[code]
I believe everybody uses this way of serialization when it comes to passing data from server to a client in a markup.

[2016-05-17 19:35] jbaxleyiii commented on #54
We can probably make that the default. We obfuscate our data for SEO reasons so having that option is nice

[2016-05-18 14:21] tomitrescak opened #56 "How to redux-form? Or how to copy the Apollo result to redux store."

[2016-05-18 14:25] tomitrescak commented on #56
Hi,I really like the redux-form project. I was wondering how could I make it work with Apollo redux? My issue is, that form values need to be preloaded from the store. How do I access the store values returned by Apollo? Will the disappear if I perform an update query or another query?

Can I copy the results into another store key?

Ps: sorry for that weird title. Was writing on tablet and accide

[2016-05-18 15:50] gauravtiwari commented on #54
@jbaxleyiii, I guess colocation of data is very important, because that would make the client pluggable with almost all front-end frameworks or libraries and it will also help in caching. One of thing that's quite unique with apollo client is that it can work with any framework or library, which is very important and USP.

@jbaxleyiii  you already mentioned all points that are necessary to make SS

[2016-05-18 16:01] stubailo commented on #56
Hey, thanks for asking - I've heard several people talking about using redux-form, so we should have something that documents how to do that directly.

Can you link me to some directions of how redux-form says one should do this? It would be helpful to take a look before making a specific suggestion.

[2016-05-18 16:05] gauravtiwari commented on #54
@jbaxleyiii Another example, here a redux store is exposed to `window` or `global `object as available, https://github.com/shakacode/react_on_rails/blob/master/node_package/src/StoreRegistry.js and then used on both client and server. Same could be done with instantiated client object.

https://github.com/shakacode/react_on_rails/blob/master/spec/dummy/client/app/startup/serverRegistration.jsx#L40

[2016-05-18 22:20] tomitrescak commented on #56
@stubailo the project is really nicely documented. The data preload from the store can be found here http://redux-form.com/5.2.3/#/examples/initializing-from-state?_k=y0vyu4

Basically, I need to point the redux-form to a specific key in the store. All the rest is done automatically.

[2016-05-18 23:19] stubailo commented on #56
I see the problem here - both Apollo Client and Redux Form are introducing their own versions of `mapStateToProps` to do nice things for you.

I think if we have something like https://github.com/apollostack/apollo-client/issues/225, it will be much easier. Then we can just do something like:

[code]

Until then, I think you can also pass `initialValues` as a prop. So you should be able to use Apo

[2016-05-20 13:15] jbaxleyiii commented on #54
Okay so it sounds like we can tackle this in multiple steps:

- [ ] allow per component data prefillling (typically useful for non js backends)
- [ ] allow registering a query to be SSR and react-apollo doing everything needed to render

### Per Component Prefilling

This should be pretty simple overall because it is primarily a client side action. Given a prop (detailed below), react-apollo's con

[2016-05-20 14:43] timsuchanek opened #57 "All Errors Catched"
When using the `connect` method from `react-apollo`, all errors that occur in one of the child components, are catched by apollo and fail silently.

Development gets nearly impossible then.

Any ideas why that could be the case?
Using `apollo-client 0.3.5` and `react-apollo 0.3.3`

Thanks!

[2016-05-20 15:33] jbaxleyiii commented on #57
@johnthepink didn't you run into this case as well?

[2016-05-20 15:41] jbaxleyiii commented on #57
@timsuchanek do you have some code I can use to replicate and write a test? Where is the child component failing and what is `react-apollo` doing?

[2016-05-20 15:41] jbaxleyiii commented on #57
As soon as I can replicate I'll fix ASAP!

[2016-05-20 16:05] jbaxleyiii commented on #57
For instance:
[code]

Correctly passes? So two different error types both throw correctly

[2016-05-20 17:20] timsuchanek commented on #57
Hmm of course when I try to create a minimal example, also all errors throw correctly.

So I am using this boilerplate: https://github.com/graphcool-examples/react-apollo-todo-example

Probably some other side effects are involved in interfering the proper error propagation.

My conclusion was that the problem should be `react-apollo` when I substituted the `connect` method with the one from `reac

[2016-05-20 17:22] johnthepink commented on #57
@timsuchanek I have been running in to this issue as well. I'll do some digging.

[2016-05-20 19:12] johnthepink commented on #57
@timsuchanek would you be willing to share the class that isn't throwing errors in your app?

[2016-05-20 20:24] johnthepink commented on #57
@timsuchanek it looks like our issue didn't have to do with `react-apollo`, but with react's error reporting directly. In certain cases, React swallows exceptions and doesn't report them.

Here is the open issue on the react repo https://github.com/facebook/react/issues/2461

For our project, I added [react-transform-catch-errors](https://github.com/gaearon/react-transform-catch-errors), and alter

[2016-05-21 12:42] NeoPhi opened #58 "Unexpected APOLLO_QUERY_ERROR fired due to bug in render"
If I have an error in the render function of a component that is receiving data from the apollo-client, I see that an `APOLLO_QUERY_ERROR` action is fired and the bug is captured as the `networkError`, even though the query did run successfully. An unhandled Promise error is also thrown. The following console output is from Chrome 50:

[code]

I have a simple in-memory example that demonstrates th

[2016-05-23 11:25] wizardzloy commented on #54
https://github.com/iamdustan/tiny-react-renderer

[2016-05-23 13:25] tlvenn commented on #29
Any follow up on this topic ? I do share @mquandalle concern over the usage of `connect` especially when not using Redux with React. It's maybe nice to have a 2 in 1 `connect` in a Redux app but I feel it should be optional and the end user shouldn't really have Redux bleeding in his app if he is not using it at all.

[2016-05-23 17:28] stubailo commented on #29
I don't see why using a function called `connect` would be a problem if you're not using Redux. Just ignore the Redux part and you're good to go!

[2016-05-24 00:07] tlvenn commented on #29
Hi @stubailo,

It's not really problem, we are just mostly debating over names here..

`connect` is a strong reminiscence of Redux and it actually does provide Redux. When I see `connect`, I see Redux, not React for Apollo. Imho, what you use underneath to power Apollo should ideally not surface so much to the end user unless it makes sense and it does only when the end user is also using Redux.

[2016-05-24 00:28] stubailo commented on #29
How would this be different from just not using the parts of `connect` you don't want?

[2016-05-24 00:36] tlvenn commented on #29
It would sandbox away Redux so that no one suddenly decide it would be a good idea to leverage redux in a given component just because they can... The name of that function would also hopefully convey better that we are dealing with Apollo / GraphQL, something that `exposeGQL` is doing for me.

I have nothing against Redux, it's a great lib but imho it should not be in my face so to speak when I d

[2016-05-24 00:37] tlvenn commented on #29
The way it is now give me the impression that I am using Redux with a Apollo Client middleware while it should be the other way around.

[2016-05-24 00:41] stubailo commented on #29
I think it would be pretty simple to make a wrapper for `react-apollo` that makes a simpler connect API that doesn't have the redux stuff. Would you be interested in working on that?

[2016-05-24 01:19] tlvenn commented on #29
I can definitely look into it but is there any chance we can not name it `connect` ?

[2016-05-24 02:12] stubailo commented on #29
Yeah I mean if you make a package for it you can call it whatever you want. There's no reason there couldn't be two equally supported React integrations for Apollo, with different APIs and whatnot.

[2016-05-24 02:50] tlvenn commented on #29
For my own sake for sure but I was kinda trying to convince you that it was not necessarily a good idea to expose Redux upfront by default the way the Apollo Client for React lib is currently doing.

[2016-05-25 09:11] saeho opened #60 "mapStatesToProps() NOT working in the latest version."
mapStateToProps() does not work in React-Apollo connect().

The redux state changes are triggered and the change triggers the mapStatesToProps() function. However it stops there.

After hitting the mapStatesToProps(), the changed states do not get passed as props to the underlying components.

[2016-05-25 11:03] jbaxleyiii commented on #60
Do you have a reproduction? I added a test to verify that redux changes do pass to the child component here: https://github.com/apollostack/react-apollo/commit/18e65145466cac22de476916030e599ed5bed313

[2016-05-25 13:25] saeho commented on #60
It might only fail when the redux mapStateToProps() is used together with mapQueriesToProps(). As is the case for me. I have not tested mapStateToProps() alone yet. When used together they both work, however the props do not get passed down to the component (despite the dispatch working and the result of dispatch hitting the mapStateToProps() successfully).

[2016-05-25 16:14] jbaxleyiii commented on #60
@saeho I added some more tests to see if I can replicate (https://github.com/apollostack/react-apollo/commit/69921f6f021e1825503a450ea8fd2865fb469c19). I still can't seem to replicated it. Do you have anything you can share to help?

[2016-05-25 20:52] saeho commented on #60
Actually, I think this might be a react-native issue. Since React Native .26, when they split the Component class from React Native back to React, mapStateToProps() behaved differently.

[2016-05-25 20:55] saeho commented on #60
Question for you.

Why are you importing connect from 'react-redux'?

Since this is Apollo and attempting to use mapStateToProps() and mapQueriesToProps() together, shouldn't you be importing connect from 'react-apollo' ?

[2016-05-25 20:58] stubailo commented on #60
It's kind of unfortunate that there are so many react-native specific bugs. I would have hoped that it would be more similar to a browser-based React environment.

[2016-05-25 21:04] saeho commented on #60
Well, it may or may not be. Actually there's a very good chance I'm wrong, after all React Native works extremely well with all react packages, including Apollo.

I don't have time to investigate to see if it is RN or not at this immediate time however.

Can you please tell me why jbaxley used connect() imported from 'react-redux' and not 'react-apollo'?

[2016-05-25 21:05] jbaxleyiii commented on #60
@saeho where do you see me doing that?

[2016-05-25 21:06] jbaxleyiii commented on #60
@stubailo looks like its time to figure out a way to test in react native 👍

[2016-05-25 21:08] saeho commented on #60
line 7 in your example

https://github.com/apollostack/react-apollo/blob/69921f6f021e1825503a450ea8fd2865fb469c19/test/connect/queries.tsx#L7

[2016-05-25 21:09] jbaxleyiii commented on #60
@saeho I'm only using that to test `react-apollo` connect against `react-redux`. In the test I added to verify this, I'm using `connect` which comes from react-apollo aside from `ReactReduxConnect` which is how I'm importing connect from redux

[2016-05-25 21:26] saeho commented on #60
Hello folks, I'd like to apologize.

I mistyped mapStateToProps(). I wrote the function name as "mapStatesToProps" (notice the plural on States). This issue was my fault.

[2016-05-25 21:26] #60 closed

[2016-05-25 21:27] stubailo commented on #60
Oh gosh! I bet there is some way we can catch that and print an error, lol

[2016-05-25 21:57] saeho opened #61 "Refetching query from component returns "loading: true""
After fetching a query using mapQueriesToProps(), If I refetch the query from the React Component, the returned query has "loading: true" and it never resets to "loading: false" even though the loading is clearly finished.

While on the subject, is the best way to trigger a data refresh by doing a .refetch() inside the react component when its appropriate to do so?

[2016-05-25 21:59] stubailo commented on #61
Not sure about the bug, but:

Yep, the two options are that, or `pollInterval`.

I think this bug would be easier to identify with a reproduction.

[2016-05-25 22:05] saeho commented on #61
In this example, props.something.loading will be true initially (because query hasn't finished).
Then props.something.loading will be false once the initial query is finished.

Then if I refetch from <RealComponent />, props.something.loading will be true because refetch was requested.

After that props.something.loading never becomes false.

`
connect({
  mapQueriesToProps({ownProps,state}) {

[2016-05-26 01:32] saeho commented on #61
Also, I'd like to point out that I don't think pollInterval is a very good solution for re-fetching/reactivity.

[2016-05-26 01:41] stubailo commented on #61
Is there a better one that is equally simple? What would you prefer?

[2016-05-26 01:43] deoqc commented on #53
Bug went away =)

[2016-05-26 01:43] #53 closed

[2016-05-26 01:50] stubailo commented on #53
Haha sorry, I feel bad for ignoring this issue for so long...

[2016-05-26 01:51] stubailo commented on #53
Glad it was fixed though!

[2016-05-26 02:30] deoqc commented on #53
I was the one feeling bad for not coming up with the reproducible repo.

But I had hope that it would go away, and it did!

[2016-05-26 02:57] saeho commented on #61
Well, in my app, I have web sockets running and I'm using that to re-fetch when necessary.

[2016-05-26 03:01] stubailo commented on #61
Ah that's a great pattern! Any way I can help make that approach easier? Perhaps we should add something to the docs about it.

[2016-05-26 22:12] deoqc opened #62 "mergeProps with queryProps/mutationProps"
Currently the `mergeProps` function doesn't allow for `queryProps` or `mutationProps`.

Will it be different? I find useful to keep the logic in this higher order components. Usually only use `map*ToProps` but the `mergeProps` is a must when needed.

[2016-05-26 22:28] stubailo commented on #62
Can you give an example of a use case for this? Just want to understand it better.

[2016-05-26 22:50] deoqc commented on #62
It is never a need but sometimes a must.

tl;dr: It helps to keep code more organized (*presentational* vs *container* component), and as a side effect may have good optimizations with regard to re-render.

---

I have 2 use cases:

###### Convenient place to make calculations
I have a `mapQueryToProps` that get informations of products and have shopping cart data only on client. If I want to calc

[2016-05-26 23:32] hamzapurra opened #63 "for queries with forceFetch: true that have already been subscribed to, loading should initially be true"
![screen shot 2016-05-27 at 3 19 08 am](https://cloud.githubusercontent.com/assets/1947927/15593235/60bab180-23bb-11e6-8e60-87b8a0de8b78.png)

[2016-05-26 23:54] hamzapurra opened #64 "loading is true for mutations that haven't been invoked yet"
![screen shot 2016-05-27 at 1 46 27 am](https://cloud.githubusercontent.com/assets/1947927/15593576/b6ce331e-23be-11e6-895d-e1351c2a27e1.png)

[2016-05-28 14:35] timsuchanek commented on #57
Hey guys, thanks for the input so far!
I still can't figure out a reproducible example, but this is my quick fix, using it in the `render()` method of my `connect`'ed component:

[code]

[2016-05-28 16:47] inyono commented on #64
Same for me. I scanned over the code and tests and found this: https://github.com/apollostack/react-apollo/blob/master/test/connect/mutations.tsx#L84. According to the test, `loading: true` before invocation is intended.

[2016-05-28 21:37] jbaxleyiii commented on #64
Thanks for pointing this out! Originally the query data and mutation data (defaults) had the same state. It doesn't make a lot of sense on the mutation side. Fixed here: https://github.com/apollostack/react-apollo/pull/65

[2016-05-28 21:42] jbaxleyiii commented on #63
Fixed in https://github.com/apollostack/react-apollo/pull/66

[2016-05-28 21:45] #64 closed

[2016-05-28 21:51] #63 closed

[2016-05-28 21:55] jbaxleyiii commented on #62
@deoqc so are you saying having access to the props from `mapQueriesToProps` and `mapMutatationsToProps` in `mergeProps`?

Currently react-apollo does `redux-connect [mapStateToProps, mapDisptachToProps` => `apollo-connect [mapQueriesToProps, mapMutationsToProps]`. I could see how switching them could be helpful since apollo-connect has the entire redux state, but `mapStateToProps` doesn't get the

[2016-05-28 22:07] deoqc commented on #62
That's right, it's just having access to mapQueriesToProps and
mapMutationsToProps in mergeProps.
Em sáb, 28 de mai de 2016 às 18:55, James Baxley <notifications@github.com>
escreveu:

[2016-05-28 22:09] jbaxleyiii commented on #61
@saeho I added a test to try and replicate your issue here: https://github.com/apollostack/react-apollo/commit/ed52c5970d0dfe85c4ae7584d6faee0d8c20980e

I'm not having any luck, do you have a reproduction somewhere?

[2016-05-28 22:40] jbaxleyiii commented on #29
After some further time to let this sit, here is what I'm thinking (that I hope gives everyone a win 👍)

`import { connect } from "react-apollo"` stays the default export / connect method. There is a large amount of community projects that use react + redux and I think keeping a single method of connect is still really helpful. I have heard from quite a few developers that the sameish signature ha

[2016-05-29 01:27] stubailo commented on #29
Personally I'm not yet convinced that having this different API will make or break Apollo client usage among react applications. Do you think one API could be implemented in terms of the other? It doesn't seem worth it to me for us to maintain two different ones, the better alternative I think would be to give people the tools to make whatever API they want, perhaps by moving some of the prop diff

[2016-05-30 21:30] brettlaforge commented on #61
I'm running into the same issue using React Native:

[code]

Pressing the refresh button will correctly refetch the account query, but 'this.props.account.loading' will still be false.

[2016-06-01 05:46] tlvenn commented on #29
Thanks a lot for this proposal @jbaxleyiii ! For me, this is pretty much what the Apollo API for React should look like. I believe @mquandalle might be able to give you better feedback on the details of this proposal but it seems to capture most of his ideas.

@stubailo another thing that is important to consider is that by shielding the details of the implementation (Having a public API that is n

[2016-06-01 10:20] jbaxleyiii commented on #61
This should be fixed in 0.3.6

[2016-06-01 10:52] jbaxleyiii commented on #61
@timbotnik @saeho  @brettlaforge I did find that if the data didn't change on refetch, it wouldn't rerender and update the loading state. That is fixed in https://github.com/apollostack/react-apollo/pull/67 (0.3.7). Would you see if that fixes your issue?

[2016-06-01 17:15] deoqc opened #68 "mapMutationsToProps don't automatically subscribe to store changes"
I believe the `mapMutationsToProps` don't have the state updated unless the `mapStateToProps` is also present.

To be precise, I have an [redux-form](https://github.com/erikras/redux-form) that I use the state for input in my `mapMutationsToProps`. When no `mapStateToProps` is present, `APOLLO_MUTATION_INIT` action has empty `variables`, due to the emptiness of the initial form state. If I use `ma

[2016-06-01 21:41] jbaxleyiii commented on #68
@deoqc yep that sounds like a lifecycle bug due to our methods to re-renders. I'll take a look and try to get it fixed asap!

[2016-06-01 22:15] jbaxleyiii commented on #61
Closing for now, if this issue still persists let me know!

[2016-06-01 22:22] jbaxleyiii commented on #68
@deoqc I actually already have a test covering what I think you are describing: https://github.com/apollostack/react-apollo/blob/master/test/connect/mutations.tsx#L486-L579

Do you have a sample of how you have it setup where its not working?

The linked test covers if the store changes (outside of `apollo`'s internal data), then when the mutation is actually called it checks to ensure it has the

[2016-06-01 22:32] jbaxleyiii commented on #29
@stubailo as we work to make `apollo-client` easier to use with native redux implementations, I could see the current implementation becoming redundant. Whereas, this API strips the redux stuff out totally but could be composed with redux quite well. For instance:

https://github.com/apollostack/react-apollo/issues/56#issuecomment-220186349

and

https://github.com/apollostack/react-apollo/issues/

[2016-06-02 00:01] deoqc commented on #68
@jbaxleyiii that sound's like it. I will try to reproduce it.

[2016-06-02 04:37] timbotnik commented on #61
Working for me, thx @jbaxleyiii!

[2016-06-03 12:32] stubailo commented on #62
I just heard about this at React Europe: https://github.com/acdlite/recompose

Could be a good utility to suggest for people who want to transform their query results before passing them down!

[2016-06-03 17:29] brettlaforge commented on #61
Works for me as well. Thank you.

On Wed, Jun 1, 2016 at 9:37 PM, timbotnik <notifications@github.com> wrote:

[2016-06-06 13:35] sgoll opened #69 "Wrong props passed to `mapQueriesToProps` and `mapMutationsToProps` on store change"
In connect's `bindStoreUpdate` method, `this.props` is bound only once:

https://github.com/apollostack/react-apollo/blob/69ce020acbc6b21e43def5e1eca1f36f263e353f/src/connect.tsx#L202

Whenever `this.subscribeToAllQueries` and `this.createAllMutationHandlers` are called further down in this method due to store state changes, they receive the probably outdated props bound on initialisation instead

[2016-06-06 14:19] jbaxleyiii commented on #69
@sgoll do you have a replication that shows the outdated props? We have a few tests to ensure that the correct props are passed to the map functions

[2016-06-06 14:27] sgoll commented on #69
Yep, it happens in our current project. I'll write up a minimal example tonight.

[2016-06-06 15:52] sgoll commented on #69
@jbaxleyiii I created a minimal test that replicates the behavior; the test fails at line 79 where the original prop value "foo" is passed to `mapQueriesToProps` again despite not actually having been changed:

https://gist.github.com/sgoll/8519d638feb9489242f517cf954e4681

[2016-06-06 16:17] jbaxleyiii commented on #69
@sgoll fantastic replication! I'll take a look and try to get a fix out today!

[2016-06-07 01:45] #69 closed

[2016-06-07 01:49] jbaxleyiii commented on #69
Also thanks so much @sgoll for the fantastic test reproduction!

Fixed via https://github.com/apollostack/react-apollo/pull/70 in `0.3.8`

[2016-06-09 12:57] simenbrekken opened #71 "Include `variables` in query props"
There's currently no way to access variables inside a component wrapped with `connect`.

It would be great if `variables` passed to queries in `connect()` were also passed as a query prop.

E.g:

[code]

[2016-06-09 15:23] helfer commented on #71
@simenbrekken Is there a good reason for not setting the variables through props? In my opinion variables should always be set through props or state, otherwise your components are going to be difficult to understand and maintain.

[2016-06-10 02:07] tmeasday opened #72 "When rendering to string on the server, shouldn't continue to load/re-render"
Not sure the above is the best description, but here's a repro:

https://github.com/tmeasday/react-apollo-ssr-repro

To repro:

[code]

You should see:

[code]

I would expect it to render but not throw an error because it tries to re-render after the query completes.

[2016-06-17 13:57] jbaxleyiii commented on #72
@tmeasday thanks for the repro! I'm hoping to get to this soon!

[2016-06-17 14:34] AlmaasAre opened #74 "typescript typings broken?"
![image](https://cloud.githubusercontent.com/assets/1777366/16154079/8c451c10-34a9-11e6-899b-3b98a57afaf8.png)

When installing the project with npm, it seems like the typings-folder is not included.

[2016-06-17 19:11] jbaxleyiii commented on #72
@tmeasday could you see if https://github.com/apollostack/react-apollo/pull/75 fixes your problem?

[2016-06-17 19:13] jbaxleyiii commented on #74
@AlmaasAre interesting! Is this something you would be able to open a PR and fix?

[2016-06-19 19:50] AlmaasAre commented on #74
sure @jbaxleyiii

[2016-06-20 01:40] tmeasday commented on #72
Hey @jbaxleyiii, still seeing the problem above on my repo (and app).

I'm not sure if I'm installing the branch correctly? I did

[code]

[2016-06-20 03:26] tomitrescak opened #76 "Loading component"
Currently it is possible to compose components in a way that we show "loading" text when apollo is querying data, based on the "loading" flag.

What would be great it to have a possibility to specify a second component in the connect method, and when this component is specified it would render that component instead of the original one.

Example:

[code]

Would you consider this?

[2016-06-20 03:29] stubailo commented on #76
I'm personally not a fan of building this in directly, but I bet we could get pretty far with a small separate module that just handles showing a loading state. Curious what others think.

[2016-06-20 04:44] helfer commented on #76
I think this is more appropriately handled inside the component. If you want, you could write a small function that takes two components, and returns a single one that does what you describe.

[2016-06-20 15:32] tomitrescak commented on #76
@helfer I actually tried that, but I failed as I could not access the loading flag. Do you have any snippet I could use? Thanks.
Currently I solve it in components as you guys say, but it is a lot of repeated boilerplate for 20+ components in my app.

[2016-06-20 17:57] helfer commented on #76
Does something along these lines not work?

[code]

[2016-06-21 14:18] AlmaasAre opened #78 "Object assign gives error when bundling react native package"
Using react native and this line: https://github.com/apollostack/react-apollo/blob/master/src/connect.tsx#L158 gives me the following error in the react native simulator:

[code]

Anybody else receiving this?

[2016-06-21 14:31] AlmaasAre commented on #78
changed from
[code]

to

[code]

And it started working again. Seems like an issue with Object.assign and react native, prooobably not related to this lib :))

[2016-06-21 14:47] tomitrescak commented on #76
@helfer looks fine! Thanks!

[2016-06-21 14:47] #76 closed

[2016-06-21 15:03] stubailo commented on #78
@jbaxleyiii perhaps we should use `lodash.assign`?

[2016-06-21 15:20] jbaxleyiii commented on #78
@stubailo sounds good too me. I can change that out and open a PR this evening for it, unless you or someone else wants to get to it sooner?

[2016-06-21 15:57] stubailo commented on #78
Hey good to be back! So relaxing :) I can try, but I have a lot of meetings so it might be much later today.

[2016-06-22 06:36] tmeasday commented on #72
@jbaxleyiii I'd love to dig a bit deeper here if you can fill me in on the development process here..

[2016-06-22 10:05] AlmaasAre opened #79 "npm package doesn't use dist/index.js"
Seems like the npm-package uses unconcatinated index.js and not the one in dist?

![image](https://cloud.githubusercontent.com/assets/1777366/16262816/9ccf2834-3871-11e6-842b-1332b4d3b245.png)

[2016-06-22 11:06] AlmaasAre commented on #78
Does assign even work with immutable Map?

[2016-06-22 12:05] AlmaasAre commented on #78
nvm.. Seems like react-apollo doesn't treat immutable data very well :)

[2016-06-22 12:52] jbaxleyiii commented on #72
@tmeasday sorry for the lack of response! You should be able to do something like this:

[code]

I did this locally, and I'm still getting the error 👎 So 1. the test was not fully accurate and 2. this still fails.

I think it is failing is because in SSR, `componentWillUnmount` is never called. Instead, I need to batch the updates and only run `handleQueryData` if the component has been mounted (v

[2016-06-22 12:52] jbaxleyiii commented on #78
@AlmaasAre can you show me your usage? I'd love to improve this lib to support immutable data! Are you using immutable.js?

[2016-06-22 12:54] jbaxleyiii commented on #79
@AlmaasAre we use the the dist to get a read of the filesize of the library. The build tools move the compiled code from `/lib/src` to the root level when publishing to npm

[2016-06-22 13:38] jbaxleyiii commented on #72
The issue with the test is our usage of jsdom so react thinks it is rendering to string on the client

[2016-06-23 08:04] AlmaasAre commented on #78
@jbaxleyiii Yes sure, thanks! Yes i am! When using the connect function it fails. Tries to deep copy state by using Object.assign which i believe doesn't work well with immutablejs. I also got some errors of wrong usage of Object.assign:

[code]

I get this error by just using connect from apollo.

Dunno what needs to be done tho. Check if the state is immutable before assigning? not sure

[2016-06-23 13:53] jbaxleyiii commented on #78
@AlmaasAre yep! I need to add in a check for immutablejs 👍

[2016-06-24 01:43] tmeasday commented on #72
I think the issue is that `componentWillMount` runs on client and server, but `componentDidMount` only runs on the client. So that's the one we want!

[2016-06-24 02:24] tlvenn commented on #29
Is there any consensus reached here ? For non redux app, I definitely think that @jbaxleyiii API proposal is best and I hope given the momentum mobx is currently having, you will see even more value in such API. @stubailo any more though on this topic ?

[2016-06-24 02:35] stubailo commented on #29
I quite like @jbaxleyiii's idea. Perhaps it is good to have single-purpose containers rather than trying to have a single mega-container that handles everything. Does the current container approach have any advantages over this new syntax? Perhaps we should switch over completely.

I also really like the idea of using the root fields on the query as the prop names, since you can use aliases to cha

[2016-06-24 05:55] tmeasday opened #81 "Development process"
I'm trying to slightly modify the `forceFetch` behaviour in order to respect the changes in this PR:  https://github.com/apollostack/apollo-client/pull/309

But I can't get this project to build with the new typings from `apollo-client`. @jbaxleyiii can you fill me in on how I'm supposed to bring typings over from `apollo-client`? I ran `node_modules/.bin/typings install` but it just brought a bun

[2016-06-24 13:27] leoasis opened #82 "Apparent redundant check in `connect` file"
Hi! First of all great work on the whole apollo platform, following this with high excitement!

I'm just starting to get into the code, debugging the GitHunt app and seeing how things work under the hood. While I was poking around the code in `connect`, I found this check that I think evaluates to true all the time it is reached, because of the way `oldQueries` is defined a couple of lines above:

[2016-06-24 13:42] jbaxleyiii commented on #81
@tmeasday well thats no good! I'll take a look and see if I can figure out whats going on!

[2016-06-24 13:46] jbaxleyiii commented on #82
hey @leoasis! Glad you are exploring apollo!

That check was added due to some oddities in the testing system. It should always be true in actual usage. I need to refactor the tests (sometimes it was coming in as `undefined` for some reason) which should allow the removal of it!

Thanks!

[2016-06-24 16:52] #72 closed

[2016-06-24 16:53] jbaxleyiii commented on #81
@tmeasday fixed in https://github.com/apollostack/react-apollo/pull/75/commits/d4c3d03dfcaa8b2c08c8f35c016fe176d4938856

That PR should also fix #80 and #72

[2016-06-24 16:53] #81 closed

[2016-06-24 19:14] leoasis commented on #82
Thanks for the response @jbaxleyiii! Got it (still seems like that `assign` will never return `undefined`, unless as you say, the testing environment is mocking it or something weird), thanks for the explanation, and will definitely keep playing and considering for some real work to be done anytime soon!

Again thanks for all the work

[2016-06-26 17:12] #79 closed

[2016-06-27 00:25] tmeasday commented on #81
Oh, I think I figured out the issue I was having. I needed to symlink `apollo-client/gql.d.ts` into `lib/src`. @stubailo we should document this somewhere.

[2016-06-28 18:47] jbaxleyiii commented on #29
@mquandalle @tlvenn @stubailo @johnthepink I'm going to be making these changes starting in two weeks. I'm going to ship SSR, then ship a feature for NewSpring (my job haha), then ship the new api

Thank you all for the great input!

[2016-06-28 19:49] tyscorp opened #85 "Superfluous re-renders with non-apollo redux state changes"
Changes in the redux store force a re-render of apollo `connect()`ed components even though there's no change to the query.

I'm sure what is wrong, as [shouldComponentUpdate](https://github.com/apollostack/react-apollo/blob/master/src/connect.tsx#L189-L194) is being implemented.

[Example](https://github.com/tyscorp/apollo-starter-kit/commit/b5304262ac9919a6939df1ca14811fbcf22c6c57)

[2016-06-28 21:20] #85 closed

[2016-06-28 21:36] tyscorp commented on #85
Works great, thanks!

[2016-06-28 22:22] #82 closed

[2016-06-28 22:25] jbaxleyiii commented on #22
Server rendering and hydrating the store is being added for a first run via #83 and most of the discussion is in #54. Closing this in favor of the other issue

[2016-06-28 22:25] #22 closed

[2016-06-28 22:26] jbaxleyiii commented on #62
#29 will abstract out redux-connect, making this possible to compose `connect(apollo(component))` or `apollo(connect(component))`

[2016-06-28 22:28] jbaxleyiii commented on #58
@NeoPhi I still haven't been able to replicate this super well (even in the repro I couldn't get it to work). I know this is a bug however! I'm going to close this in favor of #57 and I have hope that #29 will fix it!

[2016-06-28 22:28] #58 closed

[2016-06-28 22:28] jbaxleyiii commented on #68
@deoqc is this still a problem?

[2016-06-28 22:29] jbaxleyiii commented on #56
This should be possible after #29

[2016-06-28 22:30] jbaxleyiii opened #87 "Support immutable.js"

[2016-06-28 23:38] nnance opened #88 "loading is always false when setting returnPartialData: true in mapQueriesToProps"
so while Apollo Client makes a remote query as a result of react-apollo connect the loading indictor never transitions to true and then false.

[2016-06-29 16:15] Aweary commented on #78
Does it make more sense to provide a way for the user to map their `storeState` to `connect`'s local state? If you just add a check for immutable.js you'll still have the same problem when users are using other immutable libraries.

Instead maybe `connect` call accept a function like `getStateFromStoreState` that passes in `storeState` and lets the user return whatever is appropriate for their sta

[2016-06-29 17:08] Aweary commented on #87
Quoting relevant comment from here: https://github.com/apollostack/react-apollo/issues/78#issuecomment-229407444

Does it make more sense to provide a way for the user to map their `storeState` to `connect`'s local state? If you just add a check for immutable.js you'll still have the same problem when users are using other immutable libraries.

[2016-06-29 18:27] stubailo commented on #57
This gist could help from @jlevycpa: https://gist.github.com/jlevycpa/d681974915b8ccec10d378a4736af24c

[2016-06-29 18:43] deoqc commented on #68
Sorry for leaving this open.
The problem - as usual with Apollo - faded away. =)

[2016-06-29 18:43] #68 closed

[2016-06-29 21:37] jlevycpa commented on #57
Here is a repro that should help. See the Readme for details. I've never put something like this together before so any feedback is appreciated.

https://github.com/jlevycpa/apollo-error-repro

[2016-06-30 02:35] jlevycpa commented on #57
I updated to the latest version of react-apollo but I'm still seeing this issue. When I update the reproduction I posted above, the behavior changes slightly. The behavior of an error in the `Item` component is now the same as the behavior in the `Container` component - an error in the apollo store and no error in the console. The cryptic console error `Cannot read property 'replaceChild' of null`

[2016-06-30 13:41] sgoll opened #90 "`connect` reruns queries after store changes"
I stumbled upon an intricate bug, I think.

Whenever the Redux store is changed (by some arbitrary reducer outside of Apollo), `connect` calls `mapQueriesToProps` and checks if the returned queries have changed, re-evaluating them if necessary: https://github.com/apollostack/react-apollo/blob/master/src/connect.tsx#L263

So far, so good. However, the `isEqual` check here returns false whenever a q

[2016-06-30 17:34] stubailo commented on #90
Fixed and released in `0.3.25`!

Thank you for the extremely detailed analysis, I hope that fix works. Please reopen if it doesn't.

[2016-06-30 17:34] #90 closed

[2016-06-30 18:02] stubailo commented on #88
Related: https://github.com/apollostack/apollo-client/issues/342

[2016-06-30 21:22] sgoll commented on #90
@stubailo Perfect solution, thank you. The fix works as intended.

[2016-07-04 01:51] Vanuan opened #91 "Cannot find module 'graphql/language/printer'"
Following steps to test locally:

[code]
[code]

How to fix it?

[2016-07-04 02:29] Vanuan commented on #91
npm shrinkwrap is missing. Probably some package has got updated.

[2016-07-04 02:38] helfer commented on #91
I think `apollo-client` no longer depends directly on graphql, so the import should come from `graphql-tag`. I'm a bit surprised that this has already made it into `react-apollo` though...

[2016-07-04 02:43] Vanuan commented on #91
So this is a bug in apollo-client, not in react-apollo.
Temporary fix: https://github.com/Vanuan/react-apollo/commit/c2ff016d18d01bc7af19a7465fd72edbf426cca8

I.e. apollo-client 0.3.26 has got this problem.

[2016-07-06 05:32] stubailo commented on #78
Apollo Client now supports React Native as of 0.3.27! Going to close this issue because most of the conversation is about Immutable.js and not React Native.

[2016-07-06 05:32] #78 closed

[2016-07-06 19:11] stubailo opened #93 "Pass through resultBehaviors option to `mutate`"
We added a new feature to mutations in ApolloClient, and it's not being passed through by `react-apollo`.

By the way, is there any reason we don't just pass through all of the options? It seems like an unnecessary step to need to update react-apollo whenever we add new options.

[2016-07-06 19:13] jbaxleyiii commented on #93
@stubailo originally we didn't because we didn't want to pass `watchQuery` through. However, I'm good to pass everything down!

[2016-07-06 19:16] stubailo commented on #93
Sounds good to me!

[2016-07-06 20:56] tychota opened #95 "Bug on react native polyfill for Object.assign"
cc @jbaxleyiii
# Short description

Running it on RN, I get:
[code]
Seems related to recent  #94

# Package versions

|  Package | Version |
| ------------- | ------------- |
| apollo-client | 0.3.27 |
| graphql-tag | 0.1.9 |
| react | 15.2.0 |
| react-apollo | 0.3.14 |
| react-native | 0.29.0 |

# Context

<details>
  <summary>**BooksListPage.js**</summary>

[code]
</details>

<details>
  <summar

[2016-07-06 21:18] tychota commented on #95
Till this resolved, going back to 0.3.13 of react-apollo fix this.

[2016-07-06 22:42] sync commented on #95
same problem here, going back to 0.3.13 did fix it

[2016-07-06 23:12] jbaxleyiii commented on #57
still not fixed

[2016-07-06 23:22] #95 closed

[2016-07-07 11:08] Vanuan commented on #91
Looks to be fixed by https://github.com/apollostack/apollo-client/pull/357/files

[2016-07-07 11:08] #91 closed

[2016-07-07 18:48] jlevycpa commented on #57
Is it possible that [this line](https://github.com/apollostack/react-apollo/blob/master/src/connect.tsx#L556) is the problem? It looks like the rendered child is getting stored instead of being returned directly. I'm wondering if that is breaking the call stack instead of letting the error bubble all the way up through the return calls in the render methods. If I have time I will test this theory.

[2016-07-08 09:01] rricard opened #97 "Don't strip data away when the query errors (if there is existing data) in long-polling situations"
See https://github.com/apollostack/apollo-client/issues/334. If I put some long polling on a query and that query fails, the data is not pulled anymore from the store but just disappears.

Example:
![Prod example](https://cloud.githubusercontent.com/assets/246520/16682512/4370aa92-44fb-11e6-9acc-6023ec80f5ea.png)

[2016-07-11 02:04] #97 closed

[2016-07-11 02:11] tlvenn opened #100 "Query composition"
Similarly to how query composition works in Relay, it would be neat to be able to compose queries using fragments defined in child components.

A good overview on how Query composition is handled by Relay:

[2016-07-11 02:15] tlvenn commented on #100
Another interesting read: https://github.com/facebook/relay/issues/309

[2016-07-11 02:17] jbaxleyiii commented on #100
@stubailo I'd love to get your thoughts on this as well

[2016-07-11 14:51] nevir opened #101 "Guidance: Avoiding unnecessary re-renders"
So, I'm a bit new to the GraphQL/Apollo world, and am a bit confused about the right approach to structure components to avoid unnecessary re-renders.  Particularly when you're also juggling some state in traditional redux (e.g. frequently making use of _both_ `mapQueryToProps` and `mapStateToProps`)

In the traditional redux world, you can just do a shallow comparison over your props, and call it

[2016-07-11 18:34] stubailo commented on #100
Just shipped some docs about this! http://docs.apollostack.com/apollo-client/fragments.html Perhaps we should add something React-specific to the docs as well, like attaching fragments as static properties on the components?

[2016-07-11 18:36] stubailo commented on #101
Are unnecessary re-renders currently a problem for you?

Ideally, we can get apollo client and react-apollo to the point where you don't have to worry about this at all because the GraphQL layer will handle avoiding rerenders for you, based on the fields you are using. We already do some of this, for example we avoid rerenders when non-apollo Redux state changes.

Would such an approach work for y

[2016-07-11 18:44] nevir commented on #101
Currently nope - I'm still exploring switching over to apollo for several relatively complicated apps.  This is currently speculation on my part - and I just want to make sure I'm structuring these apps in a way that won't hamper any perf improvements you guys ultimately add

---

I think so!  In that world, should I prefer to `@connect` most of my components (vs composing queries a.la. Relay)?

[2016-07-11 18:47] stubailo commented on #101
We're trying to achieve a world where it doesn't matter what patterns you use to connect the data - IMO it should be fast regardless of whether you have a lot of small queries or one big one.

I think fragments should only be necessary for nested data fetching, not as a required thing to increase performance. This is why we built the batching feature, which gives you a lot of the same benefits as

[2016-07-12 02:50] jbaxleyiii commented on #54
First round of this is shipped in #83. If anyone can try this in an app and file bugs that would be great!

[2016-07-12 02:50] #54 closed

[2016-07-12 04:46] jbaxleyiii opened #102 "mapStateToProps to called during SSR"
Since we bypass ever calling the react-apollo connect method, the redux methods are not called so ownProps may not be accurate if they rely on the mapStateToProps

[2016-07-12 17:29] jbaxleyiii commented on #102
fixed in 0.3.17

[2016-07-12 17:29] #102 closed

[2016-07-12 21:16] stubailo commented on #93
This wasn't fixed - what I meant is that `react-apollo` only uses the `variables` and `mutation` options when calling `client.mutate`, even if more options were passed. We should pass in any options the user provides to the `mutate` call.

[2016-07-12 21:16] stubailo commented on #93
Slava will add a PR for this in a bit.

[2016-07-14 14:26] saikat commented on #57
@jbaxleyiii not sure if you have already started on this bug, but I believe the test here has a logic bug in it: https://github.com/apollostack/react-apollo/issues/57

count gets incremented to 1 the first time render gets hit with data.loading set to true
count gets incremented to 2 the second time render gets hit with data.loading set to false.  It then hits that line in the code and the test pa

[2016-07-14 15:05] saikat opened #110 "API idea for child components to communicate their GraphQL data requirements"
Now that we have named fragment support (huzzah!) in Apollo, I was thinking a bit about how it would be cool if there was a simple API for child components to communicate their GraphQL data requirements to parent containers via fragments.  Relay's approach here is for every child component to, itself, be a container where the data requirements for each child are defined when creating the container

[2016-07-14 16:42] stubailo commented on #110
@saikat I think there are a few things one might want to preserve when using fragments to split up queries:

1. Fragments and queries are statically analyzable, with tools like https://github.com/apollostack/eslint-plugin-graphql that can actually save you from writing invalid queries - this requires that they be strings and not arbitrary JSON objects
2. Fragments have meaningful names, so that yo

[2016-07-14 21:55] saikat commented on #110
Ah so generate proptypes from fragments instead of vice-versa.  That makes sense.  With createFragmentFromPropTypes, you would still get 3 (it would be, essentially, a helper to create fragments, but not the only way), and you could get 2 (the function could essentially create a fragment string with meaningful autogenerated fragment names), but 1 would probably be impossible.

[2016-07-16 17:42] wuzhuzhu opened #112 "Interegrate with react-loop reducer cause error"
I'm trying to use apollo on pepperoni(React Native) which use 'react-loop' reducer combiner.
https://github.com/futurice/pepperoni-app-kit
https://github.com/raisemarketplace/redux-loop
and got error "Existing store does not use apolloReducer for apollo".

reducer.js:
[code]
Maybe combinReducer from redux-loop break the apolloReducer?
Is there any possible to make apollo work with react-loop toget

[2016-07-17 05:52] saikat opened #113 "Calling refetch causes the calling component to be destroyed and lose internal state"
Whenever you call refetch on some data, the entire component seems to get destroyed and recreated, losing any internal state that was being kept on the component.  Not sure if there is a workaround for this behavior for now.

[2016-07-17 06:18] #113 closed

[2016-07-17 14:59] ads1018 opened #114 "Are there plans to support server side rendering?"

[2016-07-17 15:15] ads1018 commented on #114
Apologies, I somehow glossed over this section the the apollo-client docs: http://docs.apollostack.com/apollo-client/index.html#store-rehydration.

[2016-07-17 15:55] jbaxleyiii commented on #114
@ads1018 we also just landed early support for auto SSR with #83. Still a few bugs to work out, but all in all its working well

[2016-07-17 15:55] #114 closed

[2016-07-17 15:56] ads1018 commented on #114
Fantastic!

[2016-07-18 05:33] Vanuan opened #115 "Server side rendering: Link activeStyle is inherited"
I don't know if it's specific to apollo or the router, but it looks like there's some discrepancy between rendering "Link" on server and in the browser:

Browser:
[code]

Server:
[code]

Common code:

[code]

The difference is that on the server activeStyle looks to be always set.
On the client it works as expected.

Can somebody reproduce it?

[2016-07-18 14:05] Vanuan commented on #115
Looks like the context is somehow propagated to unrelated components.

[2016-07-18 15:10] danielbuechele opened #116 "How to use watchQueries?"
I am wondering how I can connect a component using a watchQuery. I connected my component like this, which is working, but I don't get an update after the mutation is executed. This is why I think I should switch to watchQueries. However, I am not sure how to transform this code to create a watchQuery. I can add a `pollInterval` which is also working, but I am wondering if there isn't a better way

[2016-07-18 19:01] stubailo commented on #113
Did this resolve itself somehow? I assume this is no longer an issue since it's closed.

[2016-07-19 00:55] stubailo commented on #116
`watchQuery` doesn't automatically get an update after a mutation completes. We're still working on the final API for that. Right now the best option is to use `refetch` or `pollInterval`, but we should have something better this week.

`connect` _does_ use watchQuery, so it's identical to the results you would get from it.

[2016-07-19 00:55] #116 closed

[2016-07-19 00:57] stubailo commented on #112
Yes, `combineReducers` means that your state is no longer on the `apollo` key in the root, now it's at `reducers.apollo`.

Currently it's not supported to have apollo state be at a not-root key of the store. Have you considered using it on the top level instead? I doubt Apollo Client will work with `redux-loop` anyway, but I haven't tried it.

[2016-07-19 00:59] stubailo commented on #110
Yeah, I just think it makes sense for it to be in that direction because you can't describe stuff like arguments using proptypes. I'd be happy to collaborate on something to auto-generate proptypes from fragments.

[2016-07-19 03:26] timbotnik opened #117 "Update error interface to be compatible with 0.4.x ApolloError"
@stubailo shouldn't we should change the `errors` property to be a single `error` object of type `ApolloError`?  Also, not sure what we should see in the console, but I'm getting:
![screen shot 2016-07-19 at 1 25 09 pm](https://cloud.githubusercontent.com/assets/1831709/16937661/50490630-4db4-11e6-8295-65867b5bce1e.png)

[2016-07-21 00:13] jbaxleyiii commented on #29
I'm planning on starting this build on friday for all of those interested. Any volunteers to test release candidates?

[2016-07-21 01:11] tlvenn commented on #29
Sure thing, count me in

[2016-07-21 03:46] jbaxleyiii commented on #117
@timbotnik I'm going to get this into the next milestone

[2016-07-21 03:47] jbaxleyiii commented on #115
@Vanuan I'll take a look!

[2016-07-21 03:51] jbaxleyiii commented on #100
@stubailo I'm planning on adding an API for attaching fragments to components in the 0.4.0. I still need to work on the API. @tlvenn or @stubailo do you have a sample where this would be helpful?

[2016-07-21 03:52] jbaxleyiii commented on #93
@stubailo are you good with me rolling this into the 0.4.0?

[2016-07-21 04:32] stubailo commented on #93
Oh so we already fixed this and published a new version. so it's all good!

[2016-07-21 04:32] #93 closed

[2016-07-21 08:28] rstuven opened #118 "Wrapped component instance accessor"
react-redux has [a getWrappedInstance method and a withRef option](https://github.com/reactjs/react-redux/blob/master/docs/api.md#getwrappedinstance-reactcomponent). These can be helpful if we want to access [exposed component functions](https://facebook.github.io/react/tips/expose-component-functions.html).

If I pass `withRef: true` to apollo-react's `connect` options, I only get access to the `

[2016-07-21 19:28] Poincare commented on #101
Btw, this should be fixed now; we have both query composition through fragments and only deliver results to query observers when there is a change in results. I wrote [this](https://medium.com/apollo-stack/snappier-uis-with-apollo-client-graphql-bffab0b52b79#.hr7uzso1y) that describes some of the perf. related work we've been doing.

[2016-07-21 23:12] ads1018 opened #119 "Can we add SSR integration to docs?"
I noticed support for SSR was merged into master with #83. I'm really looking forward to integrating server side rendering in my apollo stack application but I'm not quite sure how to implement it!

[2016-07-21 23:23] jbaxleyiii commented on #119
@ads1018 you bet! I've shipped it silently to make sure it is all working great before documenting it. With the upcoming 0.4.0 API changes, we will be redoing a lot of the docs!

[2016-07-21 23:24] ads1018 commented on #119
Fantastic! You guys are the best. I <3 apollo.

[2016-07-22 02:23] stubailo commented on #100
Right now the most helpful situation for me is if I have a query and a mutation that updates the query. Since I need to fetch the same fields in both, I'd like to use a fragment.

I think one thing that could be sad though is if you have to make a container or something heavy just to attach a fragment. I feel like ideally it could just be a static React component property or something?

[2016-07-22 06:47] tmeasday commented on #29
I like the direction of this thread although I have a couple of things to add.

## Querying

I was always confused by the name `mapQueriesToProps` -- and thinking about it again, I think I understand why. In vanilla redux, state comes into the store somehow (not relevant to the HO connecting component), and then the component takes the store's state and turns it into props for its wrapped child (t

[2016-07-23 01:21] saikat commented on #113
Yes, was a late night oversight on my part.  Did not realize I had a wrapper component in between that was removing and recreating the component.  Sorry!

[2016-07-24 04:24] jbaxleyiii commented on #29
PR for new API #120.

The changes are all documented on the PR

[2016-07-27 19:02] Glavin001 commented on #87
Any progress on this? Thanks!

[2016-07-27 19:32] Aweary commented on #87
I'd be happy to get a PR going for my suggestion, if it sounds good to the Apollo team 👍

[2016-07-28 02:34] nevir opened #121 "isEqual"
In a few places, `@connect` is relying on [`_.isEqual`](https://lodash.com/docs#isEqual) to compare values:

* [In `componentWillReceiveProps`](https://github.com/apollostack/react-apollo/blob/master/src/connect.tsx#L205) to check for props differences since last render.
* [In the store observer](https://github.com/apollostack/react-apollo/blob/master/src/connect.tsx#L264) comparing the _entire st

[2016-07-28 03:41] stubailo commented on #121
I'm pretty worried about looking at code to find suspected hotspots - is there some way we can run tests in a production-like environment to find out which hotspots are the most important during real execution?

[2016-07-28 14:49] nevir commented on #121
I wasn't auditing for perf; just ran into these when trying to understand
some of the logic - using deep equality comparisons just didn't seem like
the intention of that code

On Wed, Jul 27, 2016, 20:41 Sashko Stubailo <notifications@github.com>
wrote:

[2016-07-28 15:39] rricard opened #122 "Proposal: Relay-like containers"
Hello!

I know that being Relay is not a goal of Apollo but since the fragments appeared, I'm asking myself if we can do a similar system to what Relay is proposing with Routes and Containers.

Basically, I think that instead of only be able to associate a component to a query in a `connect` HOC, we should allow to associate named fragments exposed to the rest of the world.

We won't handle stuff

[2016-07-28 15:53] stubailo commented on #122
I think a couple of people have mentioned that the current fragment API isn't good for them - we should evaluate this and pick the best thing! One aspect I was hoping to stay away from is automatically generating queries or fragments at all so that the queries you type in your code can be maximally similar to what you log on your server. Once you start doing random fragment names stuff that arrive

[2016-07-28 15:59] rricard commented on #122
I agree The core idea behind this proposal (that may have not been clear) is to get the benefits behind the relay containers without needing a babel plugin.

[2016-07-28 16:10] rricard commented on #122
And definitely, this should only be a `react-apollo` thing. This has nothing to do at client-level.

[2016-07-28 16:11] stubailo commented on #122
Btw, here's one good reason not to randomize fragment names: https://github.com/graphql/express-graphql/pull/109

One thing that would help me more is specificity:

Which benefits are we talking about? Relay containers do a lot of stuff, so it's hard to know exactly which things we are thinking about here.

[2016-07-28 16:15] rricard commented on #122
Yep, mainly, it is just colocating the fragment with the component (I know there are ways to do that without containers) but I'm mainly interested in colocating the variables linked to the what's in the fragments as well. Randomizing is not required, actually, I agree it's not that great and since we have a parsed AST with`gql`, we could just extract the name of the fragment.

[2016-07-28 16:18] rricard commented on #122
In fact, given the example, let's say I'm in `Person` and I want to refetch with new vars, today, I still need to pass the complete `people` query result to be able to refetch. With this proposal, I could just refetch on the fragment (ultimately retriggering the query) but it doesn't need me to pass along the root of the query all the way down my component tree...

[2016-07-28 16:19] rricard commented on #122
(and of course, we can extend that to `fetchMore` :wink:)

[2016-07-28 16:21] rricard commented on #122
Again, the current fragment implementation is really good for what I do. I'm just asking for more sugar! (and I would be ready to implement that sugar)

[2016-07-28 16:21] stubailo commented on #122
So the main issue with that seems to be that if you change the fragment variables from the inner component, you are setting a global variable on the whole GraphQL query, which means any other component using that fragment will also get the data with the new variables?

(BTW I'm not against this general idea, I just want to get down to really specific details so that we can work out any potential p

[2016-07-28 16:22] stubailo commented on #121
That's true - we should ask @jbaxleyiii if those are necessary or intended.

This is the part I was responding to.

[2016-07-28 16:25] rricard commented on #122
No, it's not even that, if that was the issue, that would need I have an issue on how my schema work. I don't mind having the rest updated. I mind having to pass down the root of the query in react down to the smallest components (that shouldn't care about the whole query results). Let's take the example again, one Person shouldn't have all of the People data just in order to perform a refetch

[2016-07-28 16:27] stubailo commented on #122
For that specific concern, you could just pass down just the `refetch` callback. (Again, not against the proposal in general, just making sure we are talking in terms of concrete details)

[2016-07-28 16:29] rricard commented on #122
Yup that would be it (and kinda what I'm doing btw). But again, that would add some welcome sugar and force users to have a more structured codebase (for example force my colleagues to do this instead of doing whatever they want with fragments).

[2016-07-28 16:30] rricard commented on #122
It's not about the feature, it's more about structuring (the feature is there). but I agree, it's not a vital need!

[2016-07-28 16:31] stubailo commented on #122
So I guess the idea is that a fragment, rather than being a static object that is included in a query, can be a "smart" object with some special methods like refetching, setting variables, reading from the store directly, etc? I think that does make sense, even if it is only for code structure purposes.

[2016-07-28 16:31] rricard commented on #122
Exactly!

[2016-07-28 16:39] stubailo commented on #122
I think it makes sense to have this as a core feature! That way it can be shared between view integrations, and all react Apollo has to do is attach that standard object to the component. Or is there some reason it should be a react specific thing?

[2016-07-28 16:43] rricard commented on #122
I thought of the example in a react setup and I have to admit I don't know the other implementations.

[2016-07-29 00:53] rricard commented on #122
@stubailo I'll try to translate this proposal to core and try to implement it then in my free time.

[2016-07-29 16:31] jordan-burnett opened #124 "Nested fields in fragments not passed to props."
When using multiple fragments, I'm finding that nested fields aren't being resolved to props as expected.

For example, I have a query attached to a connected component like:

[code]

with two fragments like:

[code]
[code]

I can see in the server response city.name and city.countryName is returned as expected for each neighbourhood, but my component only seems to receive the data from the first

[2016-07-29 18:45] stubailo commented on #124
Definitely not expected! Fragments are relatively new so there might be a few bugs. It would be really helpful to have a more complete code snippet of how you declared the fragment and included it in the query to debug this though.

[2016-07-29 19:49] jordan-burnett commented on #124
No problem, here's a compressed version of the code I'm using which I've just tested produces the same result:

[code]

The order in the root query changes the output.  If I place fragmentTwo first then city contains 'countryName' and 'image'

[2016-07-30 13:05] pkieltyka opened #125 "redux coupling?"
Hello,

Just wondering if you've considered a flux-agnostic library for react? For example, our app is written using mobxjs, which is also picking up huge popularity for its productivity and simplicity for managing state in js/react apps, and I've been checking out apollo to use with our app. If you have plans / thoughts on this that would be much appreciated. And thanks for Apollo, its very nice

[2016-07-30 13:14] jbaxleyiii commented on #125
@pkieltyka actually yes! Take a look at #120 ! It should be done pretty soon!

[2016-07-30 13:16] pkieltyka commented on #125
@jbaxleyiii awesome! thanks

[2016-07-30 23:50] #125 closed

[2016-07-31 13:20] tomitrescak opened #126 ""Reactive" updates"
Guys, would you be keen on sharing a full example on how would you approach "reactive" updates of react ui via watchquery? It's not very clear. It would be a great addition also to official documentation.

Scenario is simple.

1. I paint my react ui with data fetched via Apollo
2. On server data is changed via another user's mutation
3. Data travels to the observing client and ui is repainted

Any

[2016-08-01 23:27] fusepilot commented on #61
I'm experiencing this on 0.3.19. Same circumstances. Data is always loaded successfully on refetch. But if it hasn't changed, `loading` will remain true.

[2016-08-01 23:32] jbaxleyiii commented on #61
@fusepilot so refetch where data is the same still is `loading`? I'll take a look!

[2016-08-02 00:23] fusepilot commented on #61
@jbaxleyiii I'm not so sure now, it may be a new issue. There's one `connect``ed component that I have working that's very similar to the one that's not working. I haven't yet been able to find what's different other than it having a different query.

[2016-08-02 00:28] jbaxleyiii commented on #61
@fusepilot it looks like something changed in the apollo-client. What version are you using?

[2016-08-02 00:30] fusepilot commented on #61
@jbaxleyiii 0.4.8

[2016-08-02 00:32] jbaxleyiii commented on #61
@fusepilot yeah I don't think the client reruns the `next` on the observable if data doesn't change anymore. I'll work on a way to fix that

[2016-08-02 00:37] jbaxleyiii commented on #61
@fusepilot I've got a fix. I'll work on a release tonight!

[2016-08-02 00:39] fusepilot commented on #61
@jbaxleyiii awesome, thank you!

[2016-08-02 01:29] jbaxleyiii commented on #61
fixed again

[2016-08-02 01:38] fusepilot commented on #61
@jbaxleyiii it works! thanks again!

[2016-08-02 02:07] jbaxleyiii commented on #87
@Aweary I'm assuming this would need to be supported in the client as well? If you can do a PR and/or provide a gist of using immutable.js with redux I can get it going

[2016-08-02 02:11] jbaxleyiii commented on #87
@Aweary the new API doesn't do any store copying so it should support immutable 👍

[2016-08-02 02:26] jbaxleyiii commented on #121
@nevir @stubailo I've reduced a number of these in the 1.0.0

[2016-08-02 02:26] #121 closed

[2016-08-02 02:29] jbaxleyiii commented on #71
@simenbrekken I think this could be valuable for merging / using original props in refetch methods. I'll add it in the 1.0

[2016-08-02 05:04] nevir commented on #121
Sweet!

[2016-08-03 04:07] tomitrescak opened #127 "Polling starts even if the container is not present on the page (React router mounts all containers and fires queries)"
Hi. There is a bit of a weird behaviour with containers that contain polling query. If I have such container and it is referenced in the router, the polling will start no matter whether that component was actually mounted or not.

When looking at the stack trace, it actually mounts ALL containers from the react-router and fires the queries.

Does this mean, that when I use react router, this will

[2016-08-03 04:11] tomitrescak commented on #127
Well ... there was something terribly wrong with my Chrome. When I restarted Chrome all went back to normal ... sorry.

[2016-08-03 04:11] #127 closed

[2016-08-03 06:42] deoqc commented on #64
@jbaxleyiii I'm seeing this same issue again.

[2016-08-04 09:26] BenjaminThong opened #128 "Redux connect + Pagination"
Hi,

it would be great if there was an example on pagination via Redux connect().

Also the existing pagination examples on the Apollo-client documentation don't show the schema used on the server side.

Are Relay styled edges/node connections supported?

Thank you :)

[2016-08-04 11:58] scottmcpherson opened #129 "updateQueries is not updating queries for mutations"
We had a debugging session on the [slack Apollo Stack #general channel](https://apollostack.slack.com/archives/general/p1470260863002725). We were unable to get `updateQueries` to fire and update the queries.

I tried several approaches but the two main one were:
- [define `updateQueries` in `mapMutationsToProps`] (https://github.com/scottmcpherson/meteor-starter-kit/blob/51084e6064ab825d9ad99b8b6

[2016-08-04 16:34] Slava commented on #129
It seems like your query is unnamed? https://github.com/scottmcpherson/meteor-starter-kit/blob/master/imports/ui/Tasks.js#L74-L80

Your query name should match what you are updating. So in your case it will be:

[code]

[2016-08-04 16:36] deoqc opened #130 "Should I expect the same error handling as `apollo-client`?"
Well, these two are the *same*?

[code]
or...
[code]

Now, the `apollo-client` throw errors with graphQLErrros array and message inside it, but `react-apollo` is throwing and the object is somewhat strange.

It seems they should behave equals, but if not, what are to be the differences?

[2016-08-04 16:39] Slava commented on #128
Can you please be more specific? What would an example with Redux connect show? Why is it important?

[2016-08-04 19:13] stubailo commented on #130
I think this might be a bug: https://github.com/apollostack/react-apollo/issues/117

Those are definitely expected to be the same.

[2016-08-04 19:26] jbaxleyiii commented on #130
@deoqc @stubailo yeah the current release has not updated to support the new error syntax. I'll get that out soon

[2016-08-04 19:39] stubailo commented on #126
This is definitely not trivial, since GraphQL doesn't currently have any features about realtime updates from the server. We are working on an experimental "GraphQL subscriptions" feature though that might provide some of this functionality, hopefully it will be usable in about two weeks.

[2016-08-04 21:45] deoqc commented on #130
Thanks a lot @stubailo @jbaxleyiii .

Just one more thing: could we expect some major changes in the current error handling api for `apollo-client`?

It used not to throw, now it is throwing (I didn't consider it a bug, I thought it were the intended behaviour); the errors are in a graphQLErrors, etc... Just wondering if this is kind of stable now, or should we expect (major?) changes like these.

[2016-08-04 22:27] stubailo commented on #130
We're hoping to release a stable version in the coming months (before the end of the year for sure) and then we won't change it anymore. Until then, I think it is unlikely to change but it's possible.

[2016-08-04 22:52] deoqc commented on #130
Thanks @stubailo @jbaxleyiii

[2016-08-04 22:52] #130 closed

[2016-08-08 01:01] sntran commented on #129
@scottmcpherson were you able to get `updateQueries` working by naming your query? I could not get it run either. `updateQueries` never fired for me, even with named query.

[2016-08-09 20:20] sammkj opened #131 "Is there a way to do some validation before sending queries/mutations?"
My use case is I wanna check if JWT token is still valid before sending queries to server like how we are able to use middleware in the `networkInterface`.

[2016-08-09 23:21] scottmcpherson commented on #129
No, unfortunately not @sntran. Instead, I used a combination of polling and calling refetch on the data. My repo is up to date if you want to check it out

[2016-08-10 00:16] Slava commented on #129
@scottmcpherson I would like to dig into the origin of your problem. Can you please help me to gather more information? A smaller reproduction demonstrating the issue would help a lot.

[2016-08-10 08:47] stubailo commented on #131
Could you do this using a network interface middleware? You can do anything you want in there, and the function runs before every single request.

[2016-08-11 00:41] voodooattack opened #132 "SSR: renderToStringWithData issues"
Quotes are missing when rendering the string literal in HTML output:
[code]
It should quote the string literal like so:
[code]

Another issue that's driving me crazy is that some react components (like the ones offered by [grommet](https://github.com/grommet/grommet)) don't forward the props and context to React.Component in the constructor, which is kind of allowed by React for some reason. Is th

[2016-08-11 01:58] nevir opened #133 "loading frequently gets stuck true during refetches"
On react-apollo `0.3.20`, we're seeing behavior where `loading` state is stuck to `true` upon calling `refetch()`. Same behavior also occurs when there are errors from the server (the `error` persists even if the query succeeds later on). The state becomes reset when _another_  `@connect`ed component triggers a query.

Unfortunately, it's not 100% reproducible; and I'm not sure exactly what combin

[2016-08-11 04:57] voodooattack commented on #132
Also found another bug while browsing the code:
[code]
Should become:
[code]
Otherwise it will cause a stack overflow.

[2016-08-11 15:48] nevir commented on #133
It may also be related to https://github.com/apollostack/apollo-client/pull/524 ?

[2016-08-11 21:22] nevir commented on #133
Tracked it down. It's purely a problem with our use of react-apollo; nothing to see here!

(There was a bug in https://github.com/apollostack/apollo-client/pull/446, fixed via https://github.com/apollostack/apollo-client/pull/446/commits/39d798f2b587f62b07f8b82794576e7ec29c6897)

[2016-08-11 21:22] #133 closed

[2016-08-12 12:52] jbaxleyiii commented on #132
@voodooattack why does the initial state need to be quoted?

I've fixed the assignment issue in the new API but not sure I follow on the `props` issue?

[2016-08-12 12:53] jbaxleyiii commented on #131
@sammkj the new API ( #120 ) allows you to set `skip: true` on a query to bypass it based on information. If you can't use the network interface middleware, this is a place you could do that.

[2016-08-12 12:54] jbaxleyiii commented on #124
@stubailo I'm assuming this is a client issue?

[2016-08-12 13:15] #74 closed

[2016-08-12 13:15] #101 closed

[2016-08-12 13:18] jbaxleyiii commented on #115
@Vanuan this should be fixed in #120

[2016-08-12 13:26] #29 closed

[2016-08-12 13:26] #57 closed

[2016-08-12 13:26] #62 closed

[2016-08-12 13:26] #71 closed

[2016-08-12 13:26] #87 closed

[2016-08-12 13:26] #88 closed

[2016-08-12 13:26] #115 closed

[2016-08-12 13:26] #117 closed

[2016-08-12 13:26] #118 closed

[2016-08-12 13:26] #119 closed

[2016-08-12 13:26] #131 closed

[2016-08-12 15:20] deoqc commented on #62
Hey @jbaxleyiii, what would be the status of this?

I'm currently using [recompose](https://github.com/acdlite/recompose) as suggested by @stubailo, but I used to only need `mergeProps` with [reselect](https://github.com/reactjs/reselect).

[2016-08-12 15:29] jbaxleyiii commented on #62
@deoqc the new api #120 separates connect and apollo. So you can `connect(apollo(component))` or `apollo(connect(component))`. It should be released today!

[2016-08-12 16:05] deoqc commented on #62
Awesome!

[2016-08-12 17:35] stubailo commented on #124
Ah, I think we missed it because it was on this repo. Just opened an issue there, let's close this one.

[2016-08-12 17:35] #124 closed

[2016-08-12 17:37] stubailo commented on #118
Did we do this one?

[2016-08-12 17:38] stubailo commented on #29
Hooray!

[2016-08-12 20:18] voodooattack commented on #132
@jbaxleyiii When it's not quoted it produces errors like this in the browser:
[code]
This is because `encodeURI` is being used to encode the JSON string.

As for the props issue, it gets fixed with the solution in the comment above.

All I had to do to make server rendering work with many (otherwise unusable) react libraries was to add the following lines of code in server.js after line 120:

[cod

[2016-08-12 21:21] jbaxleyiii commented on #132
@voodooattack gotcha. Do you have any libraries in particular you can reference? `componentWillMount` should be called when actually doing the renderToString so I was trying to avoid this when just finding and fetching data sources. I'm not sure of the cost of doing this though and I'm open to adding it in!

Why would that throw?

[2016-08-12 21:30] voodooattack commented on #132
@jbaxleyiii Here's an example with [fixed-data-table](https://github.com/facebook/fixed-data-table):
[code]

It sets `this.onWheel` during `componentWillMount()` and tries to reference it during `render()`.

As for the exception-handling part: I think that normal calls to `super(props, context)` use `defineProperty` to set `props` as a read-only property, so it might throw with some components.

[2016-08-12 21:38] jbaxleyiii commented on #132
@voodooattack that makes sense! I'll add it in for the next release! Thanks for the discussion and help!

[2016-08-12 21:48] voodooattack commented on #132
@jbaxleyiii Awesome, thank you!

[2016-08-12 22:36] jbaxleyiii commented on #132
@voodooattack added in the next release. Thanks again!

[2016-08-12 22:36] #132 closed

[2016-08-12 22:53] jbaxleyiii commented on #100
Related: https://github.com/apollostack/react-apollo/issues/122

[2016-08-12 23:34] tomitrescak commented on #56
@jbaxleyiii I went through the the whole discussion and a discussion on the related PR and I don't e see the possibility to copy the result into another point in store :/ only to reshape the result for the current component. This still will not work with optimistic updates. PR looks good though! Only this I see probkematic is that if I run 5-6 queries on a component and 4-5 mutations I get layerin

[2016-08-13 00:36] stubailo commented on #56
Agreed, we need a pattern to copy data from Apollo Client results into a different redux key. I think it's basically just `client.query(...).then((result) => { dispatch({ type: 'MY_ACTION', result }) })` but let's make sure we have something that feels nice to use since I hear about Redux Form a lot.

[2016-08-13 15:00] gauravtiwari opened #135 "updateQuery: Can't read property data of undefined"
Hey,

I am trying to implement pagination using latest version of `apollo client` and `react apollo` and getting this error when merging the old props with new props in `updateQuery`.

[code]

Seems to be coming from here: https://github.com/apollostack/react-apollo/blob/master/src/graphql.tsx#L460

The error:

![screen shot 2016-08-13 at 15 55 46](https://cloud.githubusercontent.com/assets/771039

[2016-08-13 16:41] jbaxleyiii commented on #135
Ah shoot, that's right. There is a PR in the client that I needed to finish to fix that. I'll fix that bug asap and finish the PR

[2016-08-13 16:49] gauravtiwari commented on #135
Cool. Thanks @jbaxleyiii

[2016-08-13 21:47] jbaxleyiii commented on #135
Fixed in 0.4.2

[2016-08-13 21:47] #135 closed

[2016-08-13 22:17] jbaxleyiii commented on #56
@tomitrescak @stubailo I'm pretty sure this can be done without any changes to the client. Check out this PR: https://github.com/apollostack/react-apollo/pull/136

[2016-08-13 22:17] #56 closed

[2016-08-13 22:27] jbaxleyiii commented on #128
@BenjaminThong here is an example of using `fetchMore` to query the endpoint again with new variables. https://github.com/apollostack/react-apollo/blob/master/test/react-web/client/graphql/queries.tsx#L538-L545

Apollo can use any kind of valid GraphQL server so edges and nodes are supported. We use nodes with our server right now and it works great!

If you have a relay compliant server that has

[2016-08-13 22:59] jbaxleyiii commented on #112
@wuzhuzhu here is an example of it working with redux-loop: https://github.com/apollostack/react-apollo/pull/137

The issue with the above actually has to do with immutablejs support for the core client. I've added that in the same PR

This will work in `0.4.3`

[2016-08-13 22:59] #112 closed

[2016-08-14 10:49] gauravtiwari opened #138 "Variables don't mutate after update"
Hey folks, So, looks like the variables are not reactive, meaning they don't update if they are mutated. For ex, I have this scenario, initially I have set variables like so, `variables: { start: 0 }` and  later when user scrolls to the bottom of the page, I have updated the variables to this in the `updateQuery` method, `variables: { start: this.props.data.variables.start + 20 }`. Now, here is th

[2016-08-14 12:27] jbaxleyiii commented on #138
@gauravtiwari thanks for reporting this! I think it should be fixed with https://github.com/apollostack/react-apollo/pull/139

[2016-08-14 12:35] gauravtiwari commented on #138
@jbaxleyiii Cool thanks for looking into it 🍰

[2016-08-14 15:09] jbaxleyiii commented on #138
@gauravtiwari this is released in `0.4.4`. Let me know if it doesn't solve the problem!

[2016-08-15 03:17] jbaxleyiii opened #140 "Discussion: Fragment Composition"
After some thinking and some tinkering. I think we can create a pretty awesome and reusable fragment enhancer. Here are my initial thoughts on it:

Fragment Enhancers do the following:
- [ ] attach the fragment / fragments statically to the component (or a way for an operation enhancer to read)
- [ ] attach the variables statically to the component (or a way for an operation enhancer to read)
- [

[2016-08-15 03:18] jbaxleyiii commented on #122
Closing in favor of common discussion in #140

[2016-08-15 03:18] #122 closed

[2016-08-15 03:18] jbaxleyiii commented on #110
Closing in favor of common discussion in #140

[2016-08-15 03:18] #110 closed

[2016-08-15 03:18] jbaxleyiii commented on #100
Closing in favor of common discussion in #140

[2016-08-15 03:18] #100 closed

[2016-08-15 10:17] voodooattack opened #141 "0.4.4: Mutations overlapping queries stop SSR"
Take the following query:
[code]
Here SSR works well, but the mutation has no access to the refetchQuery prop on the client.
[code]
Here the exact opposite happens: SSR doesn't work, but the client can access the props normally.
[code]
I traced the issue to [line 221 in graphql.jsx](https://github.com/apollostack/react-apollo/blob/master/src/graphql.tsx#L221):
[code]
When I turned it into an `if`

[2016-08-15 11:56] jbaxleyiii commented on #141
@voodooattack thank you for the excellent example and starting to hunt down the issue! I'll take a look and see what I can figure out!

[2016-08-15 13:08] pfulop opened #142 "refetch is gone after remount?"
Hi,
I have noticed that after upgrade to new version with new api, I sometimes don't get refetch in props. By sometimes I mean when component is remounted (I go to other page and go back using react-router).

This is on first load
`errors
:
null
fetchMore
:
(vars)
loading
:
true
refetch
:
(vars)
startPolling
:
(pollInterval)
stopPolling
:
()
variables
:
undefined
__proto__
:
Object`

This is after

[2016-08-15 16:40] deoqc opened #143 "Support for fragments"
Two issues:
- Problem, but not sure if in this integration or in react-client;
- Feature request;

#### - Problem

I tried to use fragments but got error `undefined is not an object (evaluating 'definition.kind')` in line 46 of `getFromAST.js`.

I'm doing a standard thing:
[code]

Where fragments is a list of:
[code]

#### - Feature request

`options` could also receive a object, instead of only a

[2016-08-15 17:33] jbaxleyiii commented on #142
@pfulop thanks for the report! I'll take a look!

[2016-08-15 17:34] jbaxleyiii commented on #143
@deoqc this *should* work as is currently? Can you show any more of your app?

I think allowing an object for options would be helpful! I'll work on that. Could you open it as a separate issue?

[2016-08-15 17:52] deoqc opened #144 "Feature Request - Options as object"
Originally posted [here](https://github.com/apollostack/react-apollo/issues/143).

---

`options` could also receive a object, instead of only a function returning a object. So avoid, `options: () => ({ fragments })`, for example.

It's quite common to do this, like in [recompose](https://github.com/acdlite/recompose/blob/master/docs/API.md). Also, it could be a general pattern for anything return

[2016-08-16 00:39] jbaxleyiii commented on #141
@voodooattack I have no idea why that changes fixes it, but it definitely does! I've made the change and will release it and keep poking around to figure out why!

[2016-08-16 00:39] #141 closed

[2016-08-16 00:41] jbaxleyiii commented on #142
Yep this was a bug! `refetch` and `fetchMore` don't exist before the `componentDidMount` method is called since an observable query isn't setup yet. I've added a mocked way to call those which will run a normal query until they are replaced by the actual observer.

Thanks for reporting!

[2016-08-16 00:41] #142 closed

[2016-08-16 00:41] jbaxleyiii commented on #144
Added in the next release!

[2016-08-16 00:41] #144 closed

[2016-08-16 00:41] jbaxleyiii commented on #143
@deoqc would you be able to show your component / enhancer code?

[2016-08-16 00:48] voodooattack commented on #141
@jbaxleyiii Excellent. Thank you!

[2016-08-16 03:40] deoqc commented on #143
@jbaxleyiii I did a silly mistake (`export const` instead of `export default`) and were passing `undefined` as one of fragments.

As a suggestion, the component could check if fragment is the expected object and return a nice error message if it's not.

thx for the usual fast help.

[2016-08-16 03:40] #143 closed

[2016-08-16 03:58] stubailo commented on #143
I think this is indeed an error in apollo client - we should have a nicer message here. Opened an issue about it if anyone wants to contribute: https://github.com/apollostack/apollo-client/issues/546

[2016-08-16 04:18] stubailo commented on #140
One thing I'm not sure about - how do you associate get the result data into the child component? Like let's say you have an array of todo items, and you have a fragment for the todo fields. You have multiple todo items in the result, so how do you know which result goes with which child component?

[2016-08-16 07:20] wuzhuzhu commented on #112
@jbaxleyiii I added immutable = {true} option on provider and got "Existing store does not use apolloReducer for apollo" error.

reducer.js:

[code]

main.js:

[code]

[2016-08-16 11:02] rricard commented on #140
I agree with @stubailo on this, it feels like magic, I have personally nothing against passing a person prop, it makes things clear from where the data is coming from...

[2016-08-16 11:03] rricard commented on #140
[code]

This part is really confusing to me... Do the person inference is done through the key ?

[2016-08-16 11:15] rricard opened #146 "[Batching] Can't find field X on result object ROOT_QUERY. when activating batching with two queries on the same component"
I have two different queries `connect`ed to a same component and use fragments, let's say:

[code]

This works perfectly well usually, but if I activate query batching on the apollo client, things start to go bad:

I will get an error like this without a stack, completely crashing redux: `Can't find field field1 on result object ROOT_QUERY`.

Here is what my redux devtool looks like:

<img width="

[2016-08-16 11:42] jbaxleyiii commented on #140
@stubailo that isn't clear because it isn't possible 👎 yep this idea won't work.

[2016-08-16 11:44] jbaxleyiii commented on #146
@rricard the latest version of react Apollo doesn't have `connect`. Although this sounds more like an apollo-client bug

[2016-08-16 11:45] rricard commented on #140
@jbaxleyiii I'm not sure it's worth closing it though, I really think we can make it work, just with transmitting the props explicitly...

[2016-08-16 11:48] rricard commented on #146
@jbaxleyiii I managed to upgrade to the latest version and my `connect` calls were still working, either a cache was left either there is still the deprecated method. However, I think there is still an issue with batching and having two queries on the same component.

[2016-08-16 11:49] rricard commented on #146
It seems linked to apollo-client but I have hard time reproducing this situation there and only there.

[2016-08-16 13:41] jbaxleyiii commented on #140
@rricard I'm just not sure of what the value is of something like this? Variables will still need to be declared on the operation level, fragments still need to be attached to the operation, and I don't think we could reliably refetch a parent query based on a fragment without manually passing those props down?

[2016-08-16 13:51] rricard commented on #140
I mean, having something like @stubailo proposed earlier in #122 may be interesting: https://github.com/apollostack/react-apollo/issues/122#issuecomment-235949889

Maybe just making the fragments a bit smarter would do the trick (for instance, having the possibility to refetch or fetchMore on a fragment could be cool, this would be achieved by having the fragment refresh all of the queries it's us

[2016-08-16 13:55] jbaxleyiii commented on #140
@rricard I think my concern with that is fragments can be used in vastly different queries. I don't think refreshing all queries from a fragment is a good idea

[2016-08-16 14:04] rricard commented on #140
yea, I agree, maybe do a similar system that what you did with mutations, target queries by name ... I dunno, just proposing

[2016-08-16 18:33] stubailo commented on #140
I think the

[2016-08-16 18:33] #140 closed

[2016-08-16 18:35] stubailo commented on #140
Oops, was gonna say: the problem with this is I think the issue has too many proposals. For example, I think having a way to statically attach fragments to components is great. Once we impement that, we can keep looking at other ways to improve. But I don't think we should come up with a grand multi-step plan for it yet, let's make some incremental improvements and see where it goes.

[2016-08-16 19:03] jbaxleyiii commented on #140
@stubailo fwiw, that already exists ;) If you pair an operation and fragments at least! I can make `graphql(FRAGMENT)` do the same if its helpful

[2016-08-17 06:13] jbaxleyiii opened #147 "Feat: Refactor tests to use Jest"
Since we don't render any markup in any of the client tests, if we refactor to use jest everywhere, the react-web and react-native tests could all be the same. This would vastly increase our react native coverage and how how easy it is to share code between web and native

[2016-08-17 08:03] gauravtiwari commented on #138
@jbaxleyiii Looks like the problem still persists - same as the initial issue. The variables mutates first time and the comes back to it's initial value.

[2016-08-17 10:42] sntran commented on #129
@jbaxleyiii , I have updated to `0.4.x` and can verify that `updateQueries` work as expected. Thanks for the update!

[2016-08-17 11:33] bompi88 opened #148 "Pre-step of restructuring / modifying the props before composing"
Hi, I'm wondering whether it is possible to restructure / modify the props as a pre-step before composing a component when using `graphql` from `react-apollo`?

I have the scenario below where I query for a list of contacts. The `jobTitle`variable of a contact contains a key I use to look up i18n translations using a meteor package `TAPi18n`. The `setData` method illustrates what I want to do, in

[2016-08-17 12:24] pfulop opened #149 "options pollinterval after remount doesn't work"
Hi,

So I have noticed today another problem that comes from remounting a component (again same principle let's say we reroute and come back, the component was mounter->unmounted->mounted).

When using pollInterval this is what happens:

- 1st mount: query is refetched every `interval` seconds : pass
- umount: query is stopped from refetching: pass
- 2nd mount: queries is still stopped from refetc

[2016-08-17 13:17] jbaxleyiii commented on #148
@bompi88 Are you wanting to change the shape of the props that get sent to the child component? If so take a look at http://docs.apollostack.com/apollo-client/react.html#graphql-props

Otherwise, I'm not sure I follow

[2016-08-17 13:18] jbaxleyiii commented on #138
@gauravtiwari oh no! I'll keep looking

[2016-08-17 13:29] jbaxleyiii commented on #138
@gauravtiwari I've been able to reproduce and have pushed a failing test. You can track progress here: https://github.com/apollostack/react-apollo/pull/150

Thanks for the report!

[2016-08-17 16:11] marvinhagemeister opened #151 "React.createElement: type should not be null"
I'm having trouble getting react-apollo to work. Just followed the docs and haven't gotten pass the following error:

[code]

app.js
[code]

[2016-08-17 17:01] BLamy commented on #149
Just noticed this issue myself.

[2016-08-17 20:15] bompi88 commented on #148
@jbaxleyiii thanks, i must have overlooked it while reading the docs. It seems that I have to put the logic I wanted inside the component anyways, as I did not manage to reactively update the props while the language changes. If you have any suggestions I'd be very grateful. Thanks again :)

[2016-08-17 20:27] jbaxleyiii commented on #148
Ah, I see. If the user changes their language, you want to translate the query result, not requery the server? Yeah I think that is best inside the component

[2016-08-17 20:27] #148 closed

[2016-08-17 21:22] voodooattack commented on #146
@jbaxleyiii If it's any help: I've noticed that this only happens with fragments and batching enabled in my case. When I remove fragments from the query everything works.

I'm using `react-apollo: 0.4.5` and `apollo-client: 0.4.11`.

[2016-08-18 01:07] jbaxleyiii commented on #149
@pfulop @BLamy can you see in the network panel if requests are still going out? If the data doesn't change, the child component won't update because no props have changed

[2016-08-18 01:16] jbaxleyiii commented on #151
@marvinhagemeister this looks like maybe a compilation issue or something? That error is returned when `render()` doesn't return something valid

[2016-08-18 01:16] jbaxleyiii commented on #149
I added a test case for this (which is working as expected) in #150

[2016-08-18 01:20] jbaxleyiii commented on #138
@gauravtiwari try `0.4.6`

[2016-08-18 01:20] #138 closed

[2016-08-18 01:21] #129 closed

[2016-08-18 01:21] jbaxleyiii commented on #126
Closing until subscriptions are ready

[2016-08-18 01:21] #126 closed

[2016-08-18 01:55] gauravtiwari commented on #138
Awesome it works @jbaxleyiii. Have some 🍰

[2016-08-18 02:06] BenjaminThong commented on #128
thanks @jbaxleyiii , things are much clearer now. Cheers!

[2016-08-18 02:06] #128 closed

[2016-08-18 05:04] marvinhagemeister commented on #151
@jbaxleyiii you're likely right. Just did some more debugging and it seems like the issue is with rollup treating some exports incorrectly. Opened a bug there: https://github.com/rollup/rollup/issues/866

[2016-08-18 05:04] #151 closed

[2016-08-18 05:31] pfulop commented on #149
No the request are not going out since the polling is not active.

[2016-08-18 08:19] rricard commented on #146
@voodooattack yup, thank you for the precision, I'm in the same situation...

[2016-08-18 10:20] amannn opened #153 "Pre-fetch data recursively before a route transition"
Congratulations on the release of v0.4! Looks really good to me!

I once commented on [an issue of react-router-apollo](https://github.com/apollostack/react-router-apollo/issues/1#issuecomment-213713960) (which is now a bit outdated) with a description of a scenario that I'd like to implement using react-apollo.

It's actually very similar to when you're on https://github.com/apollostack/react-apo

[2016-08-18 11:55] jbaxleyiii commented on #149
@pfulop can you provide a reproduction or some code for me to look at?

[2016-08-18 13:58] BLamy commented on #149
Example:

Assuming `SomeContainer` and `AnotherContainer` are containers boostrapped with apollo querries using poll Interval

[code]

[2016-08-18 15:52] pfulop commented on #149
I dig around a little and I think it may be problem with apollo-client scheduler.

The thing is, if you add something on scheduler it's nice and warm there. When you take it out, scheduler clears it's own interval function (what is expected). However if you add it back, the scheduler takes this conditions
`       if (this.intervalQueries.hasOwnProperty(interval.toString())) {
            this.inte

[2016-08-18 16:11] pfulop commented on #149
I submitted PR there so this can be probably closed.

[2016-08-18 16:11] #149 closed

[2016-08-19 10:35] edmulraney opened #154 "Nested redux selector causes infinite loop in react-apollo"
The following selector causes react-apollo to dispatch APOLLO_QUERY_INIT infinitely:

[code]

To recreate you need a redux container connecting to an apollo container that has a query.

I'm using the latest redux, react, apollo-client and react-apollo.

[2016-08-19 13:18] rewop opened #155 "SSR error "cannot read property 'store' of undefined""
Hi,

I am using `react-apollo` to perform server side rendering and I am receiving the error

[code]

This error is only present server side, and not client side. When I disable SSR client side works perfectly.

I looked into the code and I found out that the error is thrown from the function `getDataFromTree` in the `server.ts` file.

Basically when the function `getQueriesFromTree` tries to get

[2016-08-19 14:17] danielbuechele opened #156 "Context updates are not propagated to child components"
When using the `graphql` HOC, context updates are not propagated to child components. This is because if any intermediate parent returns `false` on `shouldComponentUpdate` the context is not updated. (see [react docs on context](https://facebook.github.io/react/docs/context.html#known-limitations)).
I think this is the corresponding line: https://github.com/apollostack/react-apollo/blob/master/src

[2016-08-19 15:18] rewop commented on #155
I did some digging, and I have might found the problem.

I saw that GraphQL was instantiated twice, despite I use `graphql` decorator only once. The first time the context is set correctly set, while the second time it is an empty object.

Looking at the function `getDataFromTree` I see it [first calls `getQueriesFromTree`](https://github.com/apollostack/react-apollo/blob/master/src/server.ts#L81)

[2016-08-19 15:23] jbaxleyiii commented on #154
Can you show how you are combining this with a graphql enhancer?

[2016-08-19 18:31] voodooattack opened #157 "SSR broken with react-router 3"
[code]

It seems like this might be related to #155 and #156 somehow.

[2016-08-19 21:32] tgdn opened #158 "Force fetch does not change loading state"
Using apollo-client 0.4.11 and react apollo 0.4.5. I've got a basic component and a basic query

[code]

However, `data.loading` is `true` only on the first roundtrip. Because I'm using react-router, whenever the view is unmounted and mounted again, when the query is sent again (after the first roundtrip), `data.loading` stays false and does not change back to true while the request is being sent.

[2016-08-20 04:31] jaden-chen commented on #157
I encountered a similar issue as well, or likely the same issue with the same root cause.

Here is my wordy explanation:

- When calling `getDataFromTree`, subsequent function calls of `getChildFromComponent` would trigger calling the `render()` function of every components that have children.

- Often times, `render()` function would try to read from the component's state, which means that it nee

[2016-08-20 10:02] voodooattack commented on #157
@jaden-chen That'd be awesome. Do you have a repo with the fix somewhere?

[2016-08-20 16:34] crubier commented on #146
I am not using fragments but I have the same problem here with react-apollo: 0.4.5 and apollo-client: 0.4.11.

[2016-08-20 16:36] rricard commented on #146
@jbaxleyiii I'll try to work on that once I managed to upgrade to 0.4.x, even if it's triggered by the apollo-client, I need to have the latest setup to clearly assess this.

[2016-08-22 02:35] raymondsze opened #159 "How to make the reducer works with ImmutableJs"
Not quite understand http://docs.apollostack.com/apollo-client/react.html#usage-with-immutable
I follow the guideline but not works
`const store = createStore(combineReducers({ counter }), initialState);
`
There is no reducer defined when create the store, how apollo client reducer works?
I have this error
`Error: Existing store does not use apolloReducer for apollo`
[code]

[2016-08-22 12:41] jbaxleyiii commented on #146
@rricard @crubier I think this was fixed with https://github.com/apollostack/apollo-client/pull/509

Can you confirm?

[2016-08-22 12:43] rricard commented on #146
@jbaxleyiii I'm migrating to the latest react-apollo today, will tell you if it does, thanks!

[2016-08-22 12:49] jbaxleyiii commented on #156
@danielbuechele you bet! Would you be able to write up a failing test case?

(adding a link to the issue to raise our hands of wanting a robust solution)
https://github.com/facebook/react/issues/2517

[2016-08-22 12:50] jbaxleyiii commented on #155
@rewop thank you so much for such excellent debugging! It shouldn't be required that the parent container is the `ApolloProvider`. I'll happily work on fixing this unless you would like to take a try at it?

[2016-08-22 12:51] jbaxleyiii commented on #157
@jaden-chen or @voodooattack could one of you setup a reproduction or write a failing test case? I'd love to get this fixed!

[2016-08-22 12:52] jbaxleyiii commented on #158
@tgdn thanks for the report and sample code! I'll work on getting that fixed!

[2016-08-22 12:54] jbaxleyiii commented on #159
@raymondsze currently ImmutableJs  only works for a store outside of apollo-client. The docs need to be more clear but essentially, if you have an ImmutableJs redux store, you can seperate it and not have apollo-client use that store (it will create its own store)

[2016-08-22 12:55] rewop commented on #155
@jbaxleyiii I could give it a try for sure. But I read that a fix could be already on its way from #157. If not I am happy to contribute.

[2016-08-22 12:57] jbaxleyiii commented on #154
@edmulraney so are you saying something like this does not work?

[code]

[2016-08-22 13:08] rewop commented on #155
@jbaxleyiii I think I overlooked a bit the description, and I see now that #157 is a different problem. I will give a first go to this later on as I have some time.

[2016-08-22 13:34] rricard commented on #146
Doesn't work just yet with
- apollo-client 0.4.12
- react-apollo 0.3.20

I'll now try to upgrade react-apollo

[2016-08-22 13:34] jbaxleyiii commented on #146
@rricard dang

[2016-08-22 13:35] rricard commented on #146
@jbaxleyiii lemme try more stuff, if that doesn't work, I may come back with more diagnosis info and if I have time, I'll try to fix it by debugging it myself inside the apollo code and maybe provide a patch.

[2016-08-22 13:36] rricard commented on #146
but I think I'll have to come up with a test case!

[2016-08-22 13:57] rricard commented on #146
@jbaxleyiii the migration to the newest react-apollo is not trivial, it'll take time

[2016-08-22 13:57] jbaxleyiii commented on #146
@rricard I totally understand! We are still migrating ourselves

[2016-08-22 14:04] crubier commented on #146
Still not working, with the last versions. Here is a minimal example:

[code]

[2016-08-22 15:10] jbaxleyiii commented on #158
This should be fixed in https://github.com/apollostack/react-apollo/pull/161 👍 (will be released today)

[2016-08-22 15:10] #158 closed

[2016-08-22 15:27] voodooattack commented on #157
I will do it once I get back home :)

[2016-08-22 15:43] jbaxleyiii commented on #156
Fixed in the next release! https://github.com/apollostack/react-apollo/pull/162

[2016-08-22 15:43] #156 closed

[2016-08-22 16:18] rricard commented on #146
@jbaxleyiii I'm not sure but it has been a few days I'm waiting for one of my PRs to be published in the latest client. Look at the changelog there, the fix you are talking about may still be scheduled for vNext...

[2016-08-22 16:20] tgdn commented on #158
Thank you!

[2016-08-22 16:49] rricard opened #163 "[API discussion] The new API does not correspond to apollo-client"
Hi! I'm trying to migrate to your new API and one point makes it very hard for us to migrate without making things too difficult.

Until now, we were strongly based on the way the apollo-client was modeling query options, meaning something like this:

[code]

For instance, we use this representation to create functions that returns these kind of structures.

This works still well while using the v

[2016-08-22 16:53] rricard commented on #163
## Proposal 1
### Make the const query optional, read directly the query options

[code]

That way, we can enable doing things like in apollo client:

[code]

[2016-08-22 16:56] rricard commented on #163
## Proposal 2
### Make it easier to add const fragments

I propose this API that does not completely fix the problem but makes the fragments more accessible:

[code]

[2016-08-22 16:58] rricard commented on #163
## Proposal 3
### All-in-one API

This one enables everything: better fragment access + options but it may be messy:

[code]

[2016-08-22 17:35] jbaxleyiii commented on #163
@rricard I'm a little confused? why can't you do this:

[code]

[2016-08-22 17:42] rricard commented on #163
I can do this, yes, it just semantically separates the query. Secondly, my main issue is mainly to get Proposal 1 if possible, because I would like to still stay close to what the Apollo client would do and especially how I would use that

For example:

[code]

Not saying the API is bad again, but it surely could be better if we want to handle those cases.

[2016-08-22 17:47] stubailo commented on #163
I think it's a pretty good point actually, that you can't create functions that generate the options.

Is a wrapper like the below basically what you are thinking about? Or is there something more complicated? (not saying that's a good solution, just trying to get an idea about your needs)

[code]

[2016-08-22 17:52] rricard commented on #163
@stubailo I agree it's a good point but we needed to generate queries dynamically as an escape hatch, again, not saying it's good but in our case, it was needed. I'm progressively replacing that using skip and include directives but this effectively slows down the migration ... And some new features permitted by this new API are something we really need to ;) !

[2016-08-22 17:53] rricard commented on #163
However, your wrapper seems good indeed, problem is, we still can't dispatch dynamically queries depending on ownProps (bad, I know)

[2016-08-22 17:55] rricard commented on #163
The main issue that I have today with the new API (mainly not well explained) is that it diverges from what the apollo client does. Having the two corresponding was really powerful and if we could bring back that in one form, I think it would enable more flexibility.

[2016-08-22 17:56] stubailo commented on #163
@rricard oh, when I said "good point" I was talking about your original thing.

Good point as well. Hmm... yeah I think your proposal will solve it, by having one big options thunk, but I wonder if having too many ways to do stuff will be bad. I'd also like to see what @tmeasday thinks about it.

Did you end up using both APIs together? And sharing the options between them?

[2016-08-22 17:58] rricard commented on #163
Yes, as we have a legacy (backbone) and a new (react) env cohabiting, we use both API. We even use those query generation functions in both backbone and react (we share it via a global var, but since we want to nuke backbone ASAP, that's good enough!)

[2016-08-22 17:59] jbaxleyiii commented on #163
@rricard one of the things that I added as an escape hatch is the [`withApollo`](http://docs.apollostack.com/apollo-client/react.html#withApollo) HOC. For cases when you need to do dynamic queries.

I also added a `skip: true` so you could define the queries but not run them http://docs.apollostack.com/apollo-client/react.html#graphql-options

[2016-08-22 18:00] rricard commented on #163
withApollo doesn't give the whole react-apollo experience unfortunately, but I agree, if I really get stuck I'll fallback on that! 😉

[2016-08-22 18:02] rricard commented on #163
anyway, I understand the issue with implementing this proposal and definitely, we'll do what works best! In the meantime, I'll try anyway to shape things the way it should be: the new API

[2016-08-22 18:02] jbaxleyiii commented on #163
So just so I understand, everything can be done with the current API except dynamically creating the operation?

[2016-08-22 18:03] stubailo commented on #163
That, and you need a custom wrapper to be able to share the options object.

[2016-08-22 18:03] rricard commented on #163
@stubailo the custom wrapper is not that bad, I should have thought about it.

[2016-08-22 18:04] rricard commented on #163
Last thing are the fragments but I suggest we should move the discussion elsewhere... Let's handle the dynamism first!

[2016-08-22 18:39] rricard commented on #163
@jbaxleyiii Just got how skip would work for dynamic queries! Indeed there is no need to change the API **but** having Proposal 1 would still help keeping things concise I think. I mean it's up to you but if it's not that hard to implement I think it's worth a shot.

[2016-08-22 20:00] jbaxleyiii commented on #163
@rricard 🎉 so glad!

Sadly most of the current API is built around the idea of a static query which makes changing to be dynamic would very difficult.

I do want to make sure we make all needs possible!

[2016-08-22 22:35] brunolemos commented on #93
I'm new to Apollo. There is this code in the saikat/react-apollo-starter-kit repo:

[code]

What should be the new code now that this issue is closed?

[2016-08-22 22:38] tmeasday commented on #163
Given that dynamic queries seem to be discouraged by GraphQL (and us?), I think it's OK that using them is a bit less nice.

@jbaxleyiii I definitely see why it's a problem with the current implementation to consider the above APIs. Perhaps after we implement https://github.com/apollostack/apollo-client/issues/554 it might become easier. Not sure it will though :)

[2016-08-22 22:46] olistic opened #164 "Getting "Variable was not provided" but variable is there"
Hey! I'm decorating a component using `graphql` and I'm getting the following error:

However, the variable `token` is being provided (I can also see it's there by inspecting the `APOLLO_QUERY_INIT` action).

[code]

Am I doing anything wrong?

[2016-08-22 22:50] stubailo commented on #163
I think we aren't talking about totally dynamic queries - it's more like "if this prop, pass query A, if this other prop, pass query B".

[2016-08-22 22:52] stubailo commented on #93
Hey, probably best to ask @saikat. I haven't really looked at that code myself.

[2016-08-22 23:37] jbaxleyiii commented on #163
@stubailo yeah I get that. fwiw I do think the `skip: boolean` solves that pretty well

[2016-08-23 00:12] olistic commented on #164
I figured it out, it was a problem with my server implementation actually (I'm not using apollo-server). I thought variables were merged into the query string in the client, while they are sent along with the query in the request and need to be handled by the server.

Passing the `variables` body param to the [graphql](http://graphql.org/docs/api-reference-graphql/#graphql) function solved it.

[2016-08-23 00:12] #164 closed

[2016-08-23 01:45] jbaxleyiii commented on #157
This *should* be fixed in the next version (set to release today)

If it is not, please reopen!

[2016-08-23 01:45] #157 closed

[2016-08-23 01:45] jbaxleyiii commented on #155
This *should* be fixed in the next version (set to release today)

If it is not, please reopen!

[2016-08-23 01:45] #155 closed

[2016-08-23 01:46] jbaxleyiii commented on #163
closing for now, if we want to keep discussing feel free to open

[2016-08-23 01:46] #163 closed

[2016-08-23 01:52] jbaxleyiii commented on #153
@amannn this is really interesting. I'm not sure the best way to go about doing this. A variation on `getDataFromTree` may be what you are looking for but I'm not totally sure

[2016-08-23 07:10] rewop commented on #155
@jbaxleyiii Great! I am also working on a SSR demonstration with react-apollo based on a fork from https://github.com/apollostack/GitHunt.

[2016-08-23 07:11] stubailo commented on #155
@rewop heads up - GitHunt has SSR now

[2016-08-23 07:19] rewop commented on #155
Perfect then. I missed the open PR yesterday when I forked.

[2016-08-23 07:24] stubailo commented on #155
Also, another heads up, I just split up the API server and the React frontend into separate repos, since we want to share the server between all of the example frontends.

[2016-08-23 08:08] rricard commented on #163
@jbaxleyiii I'll try to see if Proposal 1 is doable and in this case submit a PR. Are you ok with this design ? (I don't want to work on something that will be abandoned later...)

[2016-08-23 16:40] amannn commented on #153
I got a non-recursive version working with a react-router onEnter hook.

The gist is:
[code]

That works pretty well so far.

One thing that might could be improved though is that I have to put a check like the following in the render function:
[code]

As far as I understand, while server rendering the `getDataFromTree` method [will try to render my component](https://github.com/apollostack/react-

[2016-08-23 17:37] jbaxleyiii commented on #153
@amannn the server will go to the deepest part of the tree it can. Then fetch the data, then pick up there to keep going.

[code]

If you do the above, it will stop there, then pick up rendering down the tree after it gets data

[2016-08-23 19:02] amannn commented on #153
Oh, really? That's pretty cool actually.

I just tried it out. If a put `console.log` above that condition, I can see it printed 3 times. The first one is to go as deep as it can (without data), the second one is with data to look for new queries down the tree and the third one is from my renderToString call I suppose.

Really cool anyway!

[2016-08-23 19:04] raymondsze opened #166 "ChildContext of component inside render function seems not detected in SSR in v0.4.7"
I am using react-apollo with material-ui.

in server side
[code]

here is render function inside App

App.render
[code]
content of MuiThemeProvider: https://github.com/callemall/material-ui/blob/0.15-stable/src/styles/MuiThemeProvider.js

get this error: `TypeError: Cannot read property 'prepareStyles' of undefined`

However, I changed to this, it would works.
[code]
So what I think is the child c

[2016-08-23 19:06] stubailo commented on #153
I think pre-caching data based on traversing the view hierarchy is a _Really Cool Idea_. @amannn if you get this working, I'd love to learn more about how we can make it easier, because that would be a seriously killer feature.

[2016-08-23 19:12] raymondsze opened #167 "Warning related to setState in componentWillMount when doing SSR in v0.4.7"
Current codes of react-apollo seems directly call the component's componentWillMount and render functions which seems not behave similar to `ReactDOMServer.renderToString(<Component />)`

I am playing react-apollo with material-ui.

There is no WARNING when I call `ReactDOMServer.renderToString(<Root />)`
But there is WARNING when I call `getDataFromTree(<Root />)`
My Root Component render functio

[2016-08-24 11:46] amannn commented on #153
I did an experiment with running `getDataFromTree` on the client side. Seems to work pretty good. I've noticed there's a [2nd parameter to that function](https://github.com/apollostack/react-apollo/blob/master/src/server.ts#L78) where a pre-existing context can be supplied.

In a very simple case where you have a `graphql`-wrapped component, it's possible to prefetch all of its data with something

[2016-08-24 11:46] #153 closed

[2016-08-24 13:14] msimulcik commented on #146
@crubier, I had similar problem and in my case it was caused by `optimisticResponse`. Try  your example with modified `optimisticResponse` object:
[code]

[2016-08-24 13:58] crubier commented on #146
@msimulcik Thank you so much, you are absolutely right !

@jbaxleyiii You can forget about my last messages, the problem is solved on my side !

Thank you very much every one, and sorry for polluting this thread.

[2016-08-24 16:38] stubailo commented on #153
It would be really cool to get a blog post going about this!

[2016-08-24 17:11] rricard commented on #146
@jbaxleyiii will retry once https://github.com/apollostack/apollo-client/pull/584 is merged (this PR covers a bug that breaks my batching anyway!)

[2016-08-24 17:19] rricard opened #168 "[API discussion] Allow dynamic query documents"
This is a partial followup to #163

Right now the new API (0.4+) forces you to define your query non-dynamically, which is the advised way of doing things. However, as stated in #163, allowing dynamism would be interesting for many reasons, even if it's hard to integrate, it would be an interesting escape hatch.

Note that at this time we have migrated to the new API but some of those concerns cou

[2016-08-25 02:20] jbaxleyiii commented on #168
@rricard could you give an example of `Allow requiring external queries that rerequire fragments in the module using the query`?

Do you want something different / in addition to `skip`? I was thinking we could add a client method on the `data` object to force query so you could `skip: true` then `data.query() // or something` on internal state change or what not

[2016-08-25 10:28] rricard commented on #168
Here is an example of a circular dep:

[code]

[code]

This may not work if webpack loads PersonQuery first (that will then load Person but PersonQuery will have personQueryDoc as undefined, resulting in a nice bug: `can't find property kind of undefined`)

[2016-08-25 10:30] rricard commented on #168
Ultimately the solution we'll be doing here is to separate components from fragments but you have to acknowledge that can be blocking if you want to apply the structure I just demonstrated to you ...

[2016-08-25 10:31] rricard commented on #168
To be clear, this is not an issue with apollo (here it is webpack + babel, webpack 2 or rollup should not raise the issue) but apollo doesn't help by requiring a static document...

[2016-08-25 11:05] hugoduraes opened #169 "Server-side rendering: renderToStringWithData causing react warning"
I'm experiencing this warning while rendering on the server side using the method `renderToStringWithData`:

This is `renderToStringWithData` current implementation:

[code]

I believe the warning is being caused by the injection of the payload on the markup, which will end up on the target node. On the client side, when React  tries to render the components on the target node, it finds an unrelat

[2016-08-25 11:06] msimulcik commented on #61
I think the problem still persists in 0.4.7 in case when only variables change but results stay the same. `loading` is set to `true` and `this.queryObeservable.refetch` is called but, due to unchanged result, subscription is not triggered and `loading` remains `true`. I think the fix may be to call bounded version of refetch available as `this.data.refetch` that correctly changes `loading`. Here i

[2016-08-25 11:36] sgoll opened #170 "`loading` stuck true after variable change"
I have the following problem: when the props of my GraphQL-connected component change, and I use one of the props in the options (as variables), `loading` is stuck to the value `true` whenever both the previous value and the current value resolve to no result.

Here is an example:

[code]

Here, during the initial render, everything is fine: `Demo` receives `{ loading: true, stuff: null }`. After

[2016-08-25 12:44] msimulcik commented on #61
@jbaxleyiii can you confirm that my fix is ok? Should I open PR?

[2016-08-25 12:49] jbaxleyiii commented on #61
@msimulcik it looks like it should work! A lot of the loading logic has moved to core so we can remove some of my custom stuff like you did. A PR would be great!

[2016-08-25 19:41] Ice32 opened #171 "react-apollo setup - "Cannot read property 'getState' of undefined""
I'm new to Apollo, but I'm having some real problems connecting it to react/redux. I keep on getting "Cannot read property 'getState' of undefined" error on page load even though my createStore returns a valid redux store and you can call its getState method. The weird part is, **if I call a simple query (any query, I guess) in my index.js file before anything else, I don't get this error**. Here'

[2016-08-25 19:58] Ice32 commented on #171
It seems that this fix from another issue also fixes my problem:
https://github.com/apollostack/react-apollo/compare/master...msimulcik:master

[2016-08-26 17:01] hugoduraes commented on #169
I've noticed you added a note about this on the documentation:
http://docs.apollostack.com/apollo-client/react.html#renderToStringWithData

I'm currently using `getDataFromTree` directly, but when do you plan to have a fix?

[2016-08-26 20:17] jbaxleyiii commented on #169
@hugoduraes yes! We are still thinking through the best way to make this useful. Currently we are thinking `renderToStrinhWithData.then({ markup, initialState }) => ...`

[2016-08-26 22:31] stubailo opened #172 "Avoid importing from sub-directories of apollo client"
Hey, right now it's pretty hard to use react-apollo or apollo-client with `npm link` because this package reaches into sub-directories of the published package.

I'd love to be able to eliminate that completely.

Can we just make a list of everything that needs to be exported from `apollo-client` to avoid the internal imports?

[2016-08-26 23:39] jbaxleyiii commented on #61
@msimulcik what version of apollo-client are you using?

[2016-08-26 23:41] jbaxleyiii commented on #172
sure thing! I'll open a PR to the client with all of the needs. It's mostly type defs anyway

[2016-08-26 23:44] stubailo commented on #168
Oh - I guess this is just referring to the fact that the whole static document has to be available at the time that the `graphql` function is called, making it hard to resolve certain dependency issues.

[2016-08-26 23:48] jbaxleyiii commented on #61
@msimulcik I tried to add a failing test for the issue you described but can't seem to get it to fail? https://github.com/apollostack/react-apollo/pull/173

[2016-08-26 23:48] jbaxleyiii commented on #170
@sgoll I can't seem to replicate in a test? https://github.com/apollostack/react-apollo/pull/173

[2016-08-26 23:49] jbaxleyiii commented on #170
Can you create a repo or a failing test?

[2016-08-27 00:41] hugoduraes commented on #169
That's perfect. It solves the problem and it's a simple fix. Looking forward to it. :)

[2016-08-27 01:07] sgoll commented on #170
@jbaxleyiii Sure. I created a failing mock demo at https://github.com/sgoll/react-apollo-170. Please let me know if that helps.

[2016-08-28 16:49] HriBB opened #174 "[0.4.7] Weird problem with react-hot-loader@3.0.0-beta.2"
I am seeing some really weird behavior with `react-hot-loader@3.0.0-beta.2` and `react-apollo@0.4.7`.

To make things easier to explain, this is my component hierarchy:
`Admin > Modal > AddAlbum > [Title, Content, Footer]`

`Admin` is my `react-router` `Route`.

If I enhance `AddAlbum` with `graphql()` and put it inside `Modal`, first hot reload does not work. When I change `Title` for example, no

[2016-08-28 16:57] HriBB commented on #174
I understand that this is a very low-priority bug, if it can even be considered a bug. You can close it if you wish, just wanted to get some feedback from the community.

[2016-08-28 20:07] HriBB opened #175 "Add documentation for 'updateQueries' and friends"
Please add a simple example how to use `updateQueries` with the new 4.x API to the documentation. Something like this would be more than enough

[code]

I can do a PR, if someone points me into the right direction.

Thanks for all the great work!

[2016-08-29 06:06] stubailo commented on #175
We're working on it here: https://github.com/apollostack/client-docs/pull/29

(There's a totally new client documentation site in progress over there, going to be awesome!)

[2016-08-29 06:06] #175 closed

[2016-08-29 06:06] stubailo commented on #174
I think it's a pretty good bug to fix, but it's definitely hard to know what's going on without a concrete reproduction.

[2016-08-29 07:22] msimulcik commented on #61
@jbaxleyiii, I'm using apollo-client 0.4.13. Let me take a look at that test and I'll let you know if I can get it to fail.

[2016-08-29 08:44] HriBB commented on #174
I will try to create a reproducible example, but it might take some time, because I'm pretty busy these days.

[2016-08-29 10:39] msimulcik commented on #61
I added the test case and opened the PR [#176](https://github.com/apollostack/react-apollo/pull/176)

[2016-08-30 08:36] tomitrescak opened #177 "Update queries fails on strange error (detects incorrect amount of parameters)"
Hi, I'm trying to perform update queries on my mutation, which fails on the error below. Do you have any idea why is exercise detected only with one parameter?

[code]

Here is my mutation

[code]

And here is my query

[code]

[2016-08-30 08:39] tomitrescak commented on #177
The issue seems to be, when the userID parameter is passed as null or undefined, subsequently it detects incorrect amount of parameters.

[2016-08-30 11:27] jbaxleyiii commented on #167
@raymondsze the fix for this and I think #166 are going to require a custom react rendered to be written. I'm planning on working on this soon! In the interim, I think removing the `componentWillMount()` call and noting that not everything currently works on SSR is the best option.

Writing the renderer is the top priority for this library so it should be done pretty soon!

[2016-08-30 11:29] jbaxleyiii commented on #171
@Ice32 this looks like an issue with a missing store? Do you have a reproduction repo I can use to debug?

[2016-08-30 11:35] jbaxleyiii commented on #177
@tomitrescak this looks like an apollo-client issue. @helfer @Poincare @stubailo any thoughts?

[2016-08-30 15:42] schlaup opened #180 "GraphQL variables have wrong format in query"
See GraphQLHub:

[GraphQL Tour: Variables](https://medium.com/the-graphqlhub/graphql-tour-variables-58c6abd10f56)

Following Apollo's documentation and using:

[code]

The query should be:

`{"query":"query getUser(id: $ID!) { user { name } }\n}\n","variables":"{\n  \"id\": \"1\"\n}","operationName":"getUser"}`

but it is:

`{"query":"query getUser(id: $ID!) { user { name } }\n}\n","variables":{"i

[2016-08-30 16:08] schlaup commented on #180
I investigated more and it seems that the issue is with the Apollo Client and not only with React Apollo:

[Apollo Client issue](https://github.com/apollostack/apollo-client/issues/600)

[2016-08-30 18:54] casoetan commented on #151
Same issue here, but with webpack

[2016-08-30 20:25] helfer commented on #177
afaik you cannot pass null values in graphql queries. Passing null or undefined is the same as not providing the variable at all. I'm not sure if that's the problem here though... @tomitrescak could you try to create a PR with a failing test case for this? That would help us figure out what's going on.

[2016-08-30 21:08] jbaxleyiii opened #181 "loading state true for skipped queries"
as reported by `sircharleswatson` in slack (https://apollostack.slack.com/archives/react-apollo/p1472591117000042)

[code]

This should be a pretty easy bug if anyone wants to contribute! Essentially the default `true` value for `data.loading` should be set to false if skipping the query.

[2016-08-31 01:12] tomitrescak opened #182 "Redux Form"
Hi

your example for redux form does not seem to work.

[code]

I am using the latest react-apollo and redux-form v.6. (latest)

Any idea how can I fix this?
Thanks!

[2016-08-31 06:11] stubailo commented on #180
Let's close this one in favor of the other

[2016-08-31 06:11] #180 closed

[2016-09-01 01:34] tmeasday opened #183 "Check for client comes too late"
This line https://github.com/apollostack/react-apollo/blob/master/src/graphql.tsx#L262 is kind of redundant right now because it will have already errored on the line before.

@jbaxleyiii should I just fix this on devel?

While we are on the subject is it odd that we preference `props.client` to `context.client`? It's a bit of a gotcha that people can't use a prop to their component called `client

[2016-09-01 01:35] tmeasday commented on #169
@jbaxleyiii should I just implement this?

[2016-09-01 01:46] jbaxleyiii commented on #169
@tmeasday I've got it done in a local branch. I'll push it up!

[2016-09-01 01:51] jbaxleyiii commented on #183
@tmeasday thats a great point on both regards! Let's remove the prop usage and fix the warning!

[2016-09-01 01:51] jbaxleyiii commented on #169
@tmeasday https://github.com/apollostack/react-apollo/pull/184

I'm planning on finishing a few bugs and doing a release on friday fwiw

[2016-09-01 15:01] strangegit opened #185 "[Question] adding multiple graphql containers to components"
The basic usage of graphql is as follows:

[code]

But what if I need to add more than one QUERY OR MUTATION to `MyComponent`?

I think there is a better way than - `MyComponentWithData2 = withdata2(MyComponentWithData)`

[2016-09-01 17:58] stubailo commented on #185
You need to add two `graphql` containers to have two queries. It might feel unusual, but I think using multiple containers for stuff like this is pretty common in modern React code.

You can also do it like this:

[code]

@jbaxleyiii should we document using `compose` somewhere?

[2016-09-02 13:50] strangegit commented on #185
thanks

[2016-09-02 13:50] #185 closed

[2016-09-02 14:01] jbaxleyiii commented on #185
@stubailo I'd say one better and include it as an export and document it

[2016-09-02 16:59] stubailo commented on #185
Good idea IMO!

[2016-09-02 17:24] townmulti opened #186 "updateQueries with null previousQueryResult"
I get this error when I do a mutation insert that would be the first result of the query.

`Uncaught Error: Can't find field _id on result object $ROOT_QUERY.allTaskList({"userId":"q32a73EhE2SGWMHR4"}). `

I believe it is due to `previousQueryResult` being null or empty, meaning when the query was performed it returned nothing or a blank result. So the mutation is the very first insert, so when it

[2016-09-02 17:54] stubailo commented on #186
Curious for more info - how is the query result null? Is it when your fetch isn't done yet and you do a mutation? Or you are creating a query that isn't meant to be fetched?

[2016-09-02 18:56] townmulti commented on #186
Sorry for the bother, looks like it was a mistake on my part, coding in circles. Originally it comes in as `this.props.data.allTaskList: Array[0]`

My testing senario was adding and removing tasks with only one in the list.

In my `removeTask` mutation I have an `updateQueries`, I mistakenly set `mutatedList` to `null` instead of `[]` as in this snippet
[code]

I had to check if the `mutatedList`

[2016-09-02 19:12] stubailo commented on #186
That's pretty much how I would do it.

Isn't this exactly the same as `mutatedList = mutatedList`? Not sure why the conditional is necessary here.

I feel like if you're at the point where iterating over a list takes too long, you are probably loading too much data for the client anyway. Iterating is pretty fast.

[2016-09-02 19:21] townmulti commented on #186
Very insightful! I appreciate your help 💯

[2016-09-02 19:21] #186 closed

[2016-09-02 19:21] stubailo commented on #186
No problem!

[2016-09-04 22:44] danielbuechele opened #187 "How to use updateQueries?"
I am trying to update my `props.data` after a mutation is successfully sent. However, I don't understand how to use `updateQueries` correctly.

I tried to set it in the options of the HOC:
[code]

and also in the call of the mutation method:
[code]

However, non of this worked. Is this a bug, or am I doing it wrong?

[2016-09-04 22:50] HriBB commented on #187
Which version are you using? Does mutation actually work and you get a valid GraphQL response? I think that if there are errors, `updateQueries` wont be called.

Anyway, it's hard to tell from your example what's wrong, so I'm posting my code that works 100%

[code]

[2016-09-04 23:03] danielbuechele commented on #187
ok, I can't really see a difference.
- `react-apollo`: 0.4.7
- `apollo-client`: 0.4.14

[code]

The mutation seems to work fine. The data is modified on the server, when I add `.then(...)` it is also called.

[2016-09-05 01:20] tmeasday opened #188 "Make `this` inside `props` and `options` the component instance?"
It seems like it's a sensible place to store state (at the moment it's undefined):

[code]

Or does this seem like an antipattern? Where is a sensible spot to store `cursor` if not?

[2016-09-05 15:18] #169 closed

[2016-09-05 15:50] jbaxleyiii commented on #183
Fixed in next release!

[2016-09-05 15:50] #183 closed

[2016-09-05 15:51] jbaxleyiii commented on #181
Fixed in next release!

[2016-09-05 15:51] #181 closed

[2016-09-05 18:23] HriBB commented on #187
The only difference I see is that you pass a function as the `options` parameter.

[2016-09-05 21:15] HriBB opened #192 "Architecting for deeply nested UIs"
This is not an issue but a question about application architecture with `react-apollo`. Specifically with deeply nested UIs.

Let's say I have the following `react-router` routes defined

[code]

Which translates into the following URLs

[code]

I am trying to see the big picture on how to structure the client, but this is a bit beyond me ATM. So I am hoping for some help from the community. But i

[2016-09-05 22:29] hugoduraes commented on #169
Cool! :) When do you plan to make a release containing this?

[2016-09-05 23:42] jbaxleyiii commented on #170
Fixed with #191

[2016-09-05 23:45] jbaxleyiii commented on #61
fixed again in next release!

[2016-09-05 23:45] #61 closed

[2016-09-05 23:55] jbaxleyiii commented on #172
@stubailo after the next AC release, I can change this around!

[2016-09-06 00:09] stubailo commented on #188
I don't think we should use 'this' if we can avoid it. Given that some people like to use arrow functions all the time, etc.

[2016-09-06 00:09] jbaxleyiii commented on #169
@hugoduraes today is the plan!

[2016-09-06 00:17] tmeasday commented on #188
@stubailo, I'm inclined to agree. But I need some "instance" to store the cursor on. The current approach (http://dev.apollodata.com/react/pagination.html#cursor-pages) is pretty crappy IMO

[2016-09-06 00:18] tmeasday commented on #188
The only way I can really see it working is to use *another* wrapper component for "state", which is... kind of ugly.

[2016-09-06 00:18] stubailo commented on #188
Maybe expose "setState" or something?

[2016-09-06 00:19] tmeasday commented on #188
Or maybe just `component` as a named argument?

[2016-09-06 00:26] jbaxleyiii commented on #188
@tmeasday would the only use case for this to update potential variables?

[2016-09-06 00:29] tmeasday commented on #188
@jbaxleyiii I suppose so, yeah. Actually I was just thinking about it a little more -- we are just trying to get the result of our query (the `cursor` field). So maybe it's just:

[code]

[2016-09-06 00:29] tmeasday commented on #188
(What were you thinking?)

[2016-09-06 00:30] tmeasday commented on #188
/me is testing that actual approach.

[2016-09-06 00:31] jbaxleyiii commented on #188
@tmeasday I was thinking about adding a setVariables or setOptions method but because of the mixed method / object, I don't think that is practical / clear.

If what you included works. I'd say lets go that route!

[2016-09-06 00:36] tmeasday commented on #188
Yeah, I think it works; in fact it's conceptually the same as the [previous example](http://dev.apollodata.com/react/pagination.html#numbered-pages) where we use the query results (`feed.length`) to bind the `loadMoreEntries` function w/ the correct `offset`.

I should dip my toes in and try and create a test case for this maybe?

[2016-09-06 00:36] tmeasday commented on #188
Closing this and I'll update the guide example.

[2016-09-06 00:36] #188 closed

[2016-09-06 00:37] jbaxleyiii commented on #188
@tmeasday that would be an awesome test case!

[2016-09-06 01:17] stretchkennedy commented on #192
We do something along the lines of
[code]
for the most important data, pass it down using `React.cloneElement(children, { customer: salon.customer })`, then run additional queries for less important data like pretty graphs, number-crunching, and things like that. You might find https://github.com/reactjs/react-router/issues/1857 interesting, particularly the bits about cloneElement.

Having said t

[2016-09-06 01:50] HriBB commented on #192
@stretchkennedy thanks for the feedback. I know how to pass props to children, but how can I do nested queries with variables? I don't think I've ever seen that in the docs/examples.

I read the docs about batching again and I am wondering if all three queries in first try would be batched together? I don't really mind doing some slight over fetching or some extra queries. But if there's a relativ

[2016-09-06 03:22] stretchkennedy commented on #192
With variables, the query would look like
[code]
The [GitHunt example](https://github.com/apollostack/GitHunt-React/blob/master/ui/Feed.js#L179) has some nested queries in it.

The problem we ran into with batching was dependencies, i.e. component B relied on information from component A's query to render. If you don't have dependencies like that, batching does sound easier.

[2016-09-06 04:37] stretchkennedy opened #195 "withApollo missing from docs"
`withApollo` seems to be missing from the new documentation. I had to go digging in Google's cache of the old page to find it.

[2016-09-06 14:22] jbaxleyiii commented on #195
@tmeasday is this something you can help out with? I need to get the new docs running on my system

[2016-09-06 16:52] bkniffler opened #196 "How to skip querying"
Hi,
Is there a way to skip fetching data by defining an option?

[code]

I'm aware of the skip decorator, but it will only evaluate on the server, thus a query is still sent.

[code]

Use case would be a detail view, that if not provided with an ID, would skip querying and just use an empty (new) object to save the form state.

[2016-09-06 17:29] jbaxleyiii commented on #196
@bkniffler this actually already exists just the way you wrote it out! http://dev.apollodata.com/react/queries.html#other-graphql-options

[2016-09-06 17:29] #196 closed

[2016-09-06 22:23] tmeasday commented on #195
It's here: http://dev.apollodata.com/react/initialization.html#withApollo do you guys think it should be somewhere else?

[2016-09-06 22:31] helfer commented on #182
@tomitrescak can you be more specific? Is it just that the documentation is broken, or does the feature actually not get executed?

[2016-09-06 22:42] tomitrescak commented on #182
Yea, it never gets executed. Looking at the redux-form implementation, I'm not sure how it did work in the first place .. maybe with previous version 5?

This is what I have with the latest version:

[code]

and form is created simply as

[code]

[2016-09-06 22:45] jbaxleyiii commented on #182
@tomitrescak it is using version 5.*. I'll work on updating the example to use the new api.

https://github.com/apollostack/react-apollo/blob/master/package.json#L85

[2016-09-06 22:50] jbaxleyiii commented on #195
@tmeasday oh that looks like a great spot! Thanks!

[2016-09-06 22:50] #195 closed

[2016-09-06 22:59] jbaxleyiii commented on #192
@HriBB this is a great question! I'd love to give a thorough answer. Let me think through a few things and get back to you!

[2016-09-06 23:00] stretchkennedy commented on #195
Huh. I started looking in the usage section, and must have missed it when scanning through initialisation. My bad.

I don't have a problem with its current location. Once google picks up the new docs, everything should be fine, so I'm closing the issue.

[2016-09-06 23:01] jbaxleyiii commented on #159
closing this for now as its been more than two weeks without a response. Feel free to open again!

[2016-09-06 23:01] #159 closed

[2016-09-06 23:01] jbaxleyiii commented on #154
closing this for now as its been greater than two weeks without a response. Feel free to open again!

[2016-09-06 23:01] #154 closed

[2016-09-06 23:02] jbaxleyiii commented on #146
@rricard is this still an issue?

[2016-09-07 01:00] HriBB commented on #192
@jbaxleyiii thanks!

I've been thinking about this for some time now, going through all possible scenarios in my head, but there's a lot to take in. It would be good if more people got involved in this discussion, so that we can figure things out together. Maybe we can even create some good [recipes](http://dev.apollodata.com/react/) for the `react-apollo` docs.

[2016-09-07 01:05] HriBB commented on #192
@stretchkennedy when I write a nested query such as the one above, do I always need to query the entire hierarchy, or can I for example only query `salon`?

[2016-09-07 06:14] tmeasday opened #197 "Allow optional variables?"
If I declare a variable type to be nullable (e.g. `query people(cursor: Int) { .. }` as opposed to `Int!`), I don't think we should throw an invariant error if the `cursor` variable is missing.

[2016-09-07 06:45] tmeasday commented on #187
@danielbuechele I think your query is unnamed (`query(...)`, rather than `query NAME(...)`.

Instead you are trying to update a top-level field on the query, which isn't supported.

[2016-09-07 07:52] bkniffler commented on #196
Hey, I'm very sorry! I thought I had checked the whole docs, but I must have missed this part.. thanks for the hint!

[2016-09-07 08:25] rricard commented on #146
@jbaxleyiii oh! Need to check! Had a lot of stuff going on, will try now!

[2016-09-07 08:43] danielbuechele commented on #187
Ok, I got it working with naming my query like this:
[code]
and then
[code]
But how would I split my query into multiple queries?

[2016-09-07 09:55] maximblack opened #199 "After upgrading to 0.5.0 - SSR component doesn't see the props"
On 0.4.7 works fine, but after upgrading to 0.5.0 or 0.5.1 on server side rendering i am getting:

<details>
[code]
</details>

If i run it in webpack-dev-server, it's ok

[2016-09-07 12:59] jbaxleyiii commented on #199
@maximblack the 0.5.0 removed the manual call to componentDidMount on the server. I'm working to write a custom server renderer that supports it correctly (mainly the setState). However, looking at https://github.com/facebook/react/issues/7671 it may be a bad pattern anyway

[2016-09-07 13:08] jbaxleyiii commented on #197
@tmeasday this is a great point! I'll get that fixed and out!

[2016-09-07 13:22] jbaxleyiii commented on #197
@tmeasday I don't think AC allows this?

[code]

[2016-09-07 13:26] jbaxleyiii commented on #199
@maximblack could you provide what your component looks like?

[2016-09-07 13:27] jbaxleyiii commented on #197
We could pass `null` as the value though if they are missing.

[2016-09-07 13:57] jbaxleyiii commented on #197
fixed in #200 (going out today!)

[2016-09-07 13:57] #197 closed

[2016-09-07 13:58] jbaxleyiii commented on #197
should be out soon! https://github.com/apollostack/react-apollo/releases/tag/v0.5.2

[2016-09-07 14:15] maximblack commented on #199
It's simple `this.props` call. And the `this.props` is `undefined`. Tried in constructor and render method of component. So the component doesn't receive props.

[2016-09-07 15:48] jbaxleyiii commented on #199
@maximblack that certainly seems like a bug. Could you try to create a failing test case? We have SSR tests that are all passing so a failing test would be critical for me to know what is wrong

[2016-09-08 00:09] tmeasday commented on #197
Do you think we should fix this in AC? Maybe AC can be more strict and force you to explicit about your null

[2016-09-08 00:12] tmeasday commented on #187
@danielbuechele I mean you could use multiple `graphql` wrappers (or the new `compose` support, I'm not sure it's documented yet).

But otherwise reaching into the query to update a single field is pretty standard.

[2016-09-08 01:21] jbaxleyiii commented on #197
@tmeasday there is an issue open in AC about it where @stubailo was on the fence. I'm happy to do that or keep this shim 🎉

[2016-09-09 00:26] helfer opened #202 "updateQuery is undefined in componentWillMount"
I'm trying to get subscriptions to work, and I noticed that `updateQuery` is undefined in `componentWillMount`. Works fine in `componentWillReceiveProps`.

[2016-09-09 00:46] #202 closed

[2016-09-09 01:11] helfer commented on #202
:tada:

[2016-09-09 01:19] stretchkennedy commented on #192
@HriBB you can query as much or as little as you like. Check out [this example](http://graphql-swapi.parseapp.com/?query=%7B%0A%20%20allPlanets%20%7B%0A%20%20%20%20planets%20%7B%0A%20%20%20%20%20%20name%0A%20%20%20%20%20%20filmConnection%20%7B%0A%20%20%20%20%20%20%20%20edges%20%7B%0A%20%20%20%20%20%20%20%20%20%20node%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20director%0A%20%20%20%20%20%20%20%20%2

[2016-09-09 21:03] helfer commented on #199
@jbaxleyiii I think I see the same bug in https://github.com/apollostack/GitHunt-React/issues/89

[2016-09-09 21:04] jbaxleyiii commented on #199
Yep, I'll work on a fix today!

[2016-09-09 21:06] jbaxleyiii commented on #199
@helfer do you think you could create a failing test case?

[2016-09-09 21:09] helfer commented on #199
I'll take a look. Maybe @davidyaha can help as well.

[2016-09-09 21:39] maximblack commented on #199
@helfer yes, it's the same issue i think. I also encountered when using GitHunt project. Tried with apollo-client@0.4.13 and with the last version of react-apollo and works fine

[2016-09-09 21:51] helfer commented on #199
@maximblack are you saying it works with apollo-client 0.4.13 and the newest react-apollo, but not with apollo-client 0.4.14 and the newest react-apollo?

[2016-09-09 22:11] jbaxleyiii commented on #199
@maximblack @helfer this is the commit that introduced the regression. Namely line 49 in `src/server.ts`. I'd like to keep the `componentWillMount()` call out until I can write a custom renderer that supports transactions correctly.

The server tests are super minimal and the first step in my opinion is a few more tests (failing or now) around react server lifecycle events. Namely `constructor, co

[2016-09-12 02:44] nickpisacane commented on #174
After upgrading from 0.3.x to 0.4.7 (now 0.5.4) I am noticing issues with hot-reloading as well (since the upgrade to 0.4.7). I will look more into this, but it seems to be something odd with the graphql higher order component. The project I am working on is using redux, and react-router. When Components are decorated with `connect`, or `withRouter` from redux, and react-router respectively on top

[2016-09-12 11:09] jbaxleyiii commented on #174
@HriBB @nickpisacane any chance you could set up a sample repo with the issue? If love to fix this but don't use HMR myself

[2016-09-12 12:47] jbaxleyiii commented on #166
@raymondsze would you be able to create a failing test for this? I'm not sure I'm following 100%

[2016-09-12 12:49] jbaxleyiii opened #206 "Remove typings"
following https://github.com/apollostack/apollo-client/pull/624

[2016-09-12 12:49] jbaxleyiii opened #207 "Add flow typings"

[2016-09-12 12:50] jbaxleyiii commented on #199
fixed with #205 which will be out shortly

[2016-09-12 12:50] #199 closed

[2016-09-12 12:50] jbaxleyiii commented on #167
fixed with #205 which will be out shortly

[2016-09-12 12:50] #167 closed

[2016-09-12 13:01] deoqc opened #208 "Query callback"
Is there any way to call a callback after the query has finished loading?

[2016-09-12 15:18] gajus commented on #159
@jbaxleyiii why was this closed if there is no solution ... ? using a second store is just a workaround.

This could be an easy fix. All you need to do is to abstract the method used to get data from the state, e.g. such as this one:

https://github.com/apollostack/react-apollo/blob/4042b7e7366c51f05e185d8b298f3019f3adc178/src/graphql.tsx#L216

[2016-09-12 15:30] jbaxleyiii commented on #208
@deoqc you can use `componentWillRecieveProps` to do it!

[code]

[2016-09-12 15:37] deoqc commented on #208
Yeah, I think I remember having in library in the past, but no problem using it in component.

Thanks!

[2016-09-12 15:37] #208 closed

[2016-09-12 15:43] jbaxleyiii opened #209 "support custom store getter"
https://github.com/apollostack/apollo-client/pull/631

[2016-09-12 16:27] stubailo commented on #159
There's actually a PR for that here: https://github.com/apollostack/apollo-client/pull/631

[2016-09-12 16:35] gajus commented on #159
Turns out there is a WIP PR, https://github.com/apollostack/apollo-client/pull/631.

[2016-09-13 01:02] deoqc commented on #192
*I won't pretend I'm an expert, but wanted to share my experience so far...*

I struggle with this questions every-time and usually can frame it as a trade-off in **optimisation** (e.g.  avoid overfetching, loading from cache) vs **decoupling** (or modularity).

Bellow I dig deeper in how I usually structure things.

---

My architecture was inspired/copied from Relay - I even use graphql-relay -

[2016-09-13 05:32] HriBB commented on #174
@nickpisacane my thoughts as well.

@jbaxleyiii here you go https://github.com/HriBB/react-apollo-rhl-problem Let me know if you need any assistance.

This was a bit of a twilight zone for me :) Really hard to reproduce. Had to keep the folder and route structure for the bug to "work". Please keep in mind that this could be a bug in RHL3 or more likely in my code.

[2016-09-13 16:31] gajus commented on #153
I am struggling with server-side rendering when using an existing redux store.

Here is my route handler:

[code]

Here is the output:

[code]

`test.client.store.getState().apollo` is the expected output. But this state is not registered with either `context` returned from `getDataFromTree` or the store passed to the `ApolloProvider`.

What am I missing?

[2016-09-13 16:33] stubailo commented on #153
Can you open a separate issue on react-Apollo about this please?

[2016-09-13 16:35] gajus opened #210 "Fetch data from React tree using an existing store"
Originally posted in: https://github.com/apollostack/react-apollo/issues/153#issuecomment-246741537

[2016-09-13 17:21] Ice32 commented on #171
@jbaxleyiii Here it is:
https://github.com/Ice32/react-apollo-bug-reproduction

Here's the component in which I'm connecting to Apollo:
https://github.com/Ice32/react-apollo-bug-reproduction/blob/master/src/js/components/postsList/PostsList.js

BTW, any critique on my code/app structure is very welcome (I'm not asking you to analyze my code, but if you notice something bad, I'd be more than glad t

[2016-09-15 07:29] stubailo opened #212 "Move `skip` out of options, and avoid calling `props` and `options` if it's false"
I think if `skip: true` is passed, it should be as if this container doesn't exist at all. Right now, I have a `props` function that expects a `data` object, and it's still called but without any data if I pass `skip: true`.

[2016-09-15 15:14] herdibintang opened #213 "react-apollo not working in android phone browser"
I have created an apollo web. It's as simple as [this](https://www.meteor.com/tutorials/react/components) tutorial. I only change so it gets the data from apollo. I put the data on resolver so there is no call to database.

This web is worked in desktop browser. But when i try it from android browser, the list is not rendered. I used chrome and firefox but it's still not working. My android phones

[2016-09-16 21:39] stubailo opened #214 "Strategy for not catching errors?"
https://twitter.com/dan_abramov/status/776891811222675457

[2016-09-17 17:17] stnwk opened #215 "SSR breaks with React Router v4"
When using Apollo's SSR implementation with react-router v4 with the following code (in express-context, assuming `res` was provided bei `express`) the following error appears:

[code]

Error Message:
[code]

Any idea on how to setup react-router v4 with apollo?

[2016-09-17 19:51] stnwk commented on #215
So the error seems to occur because `react-apollo`'s `getDataFromTree()` calls the `render()`-Function on the `<Miss>` Component, as it does with all children to iterate through and detect possible graphql-bindings.

Unfortunately, the `<Miss>` Component's `render` Method relies on a variable which is actually set in its `componentWillMount`, which is too available on the server but for some reaso

[2016-09-17 20:25] jbaxleyiii commented on #215
@stnwk if you look [here](https://github.com/apollostack/react-apollo/blob/master/src/server.ts#L55) we do actualy call `componentWillMount()` before the render.

What version are you running? Could you open a failing test?

[2016-09-17 20:27] jbaxleyiii commented on #212
@stubailo it calls props to create the object sent to the client. If we didn't call it when `skip` is true, then things like the variables, `refetch()`, etc wouldn't be possible.

I'm not opposed to this but need to think through what all it would remove.

Just curious, do you have a use case where you don't want props() called?

[2016-09-17 20:28] jbaxleyiii commented on #214
@stubailo currently we only catch ApolloError's thrown within the observable and pass all the rest as typical throws.

https://github.com/apollostack/react-apollo/blob/master/src/graphql.tsx#L522-L525

Are you seeing error issues?

[2016-09-17 20:29] jbaxleyiii commented on #213
@herdibintang are you using a fetch polyfill? Fetch is supported in most browsers but you will have to polyfill for some

[2016-09-17 21:13] stnwk commented on #215
Ah, thanks @jbaxleyiii!
I was still using 0.5.4, the issue was almost resolved by updating to 0.5.5,
but one thing is still missing:

When you look at this specific part in this [file](https://github.com/apollostack/react-apollo/blob/4271f68d604e7a6f9c23c7a123a0b15573cafd0e/src/server.ts#L50):

[code]

`ownProps` and `context` get passed on to the `ComponentClass` Constructor, but since this is no

[2016-09-17 21:15] stubailo commented on #212
I thought the point of `skip` is that the query doesn't run at all -- if the query is not running, why do you need refetch etc?

[2016-09-17 22:04] stubailo commented on #213
Apollo brings its own polyfill. But those old android browsers are really weird, so it's hard to predict what the problem could be.

@herdibintang can you get some output from the browser? What errors come up?

[2016-09-18 18:16] tommyJS opened #216 "this.props.data without query root field"
I would like to ask if do something wrong. I have the following React Component:
[code]

`console.log` returns:
[code]

Unfortunately, there is no query root field: `wp_query`.
What might be wrong?
In advance, thank you for resolving this issue. I used the [official documentation](http://dev.apollodata.com/react/queries.html#basics).

[2016-09-18 18:20] stubailo commented on #216
It is currently loading, since `loading: true` is set. Have you tried waiting for loading to complete?

[2016-09-18 18:21] stubailo commented on #214
Oh ok never mind - I'm way behind.

[2016-09-18 18:21] #214 closed

[2016-09-18 18:44] jbaxleyiii commented on #146
@rricard any updates on this?

[2016-09-18 18:46] rricard commented on #146
@jbaxleyiii : Good question, last time I tried, I had issues with something else. I'll just close this one and reopen one if I still get issues. Thanks!

[2016-09-18 18:46] #146 closed

[2016-09-18 18:48] jbaxleyiii commented on #215
@stnwk great point! I'll add that in for the next release!

[2016-09-18 18:58] stnwk commented on #215
Thanks :)

[2016-09-18 19:00] jbaxleyiii commented on #171
@Ice32 The issue with the setup you have is you are creating multiple clients.

1. https://github.com/Ice32/react-apollo-bug-reproduction/blob/master/src/js/main.js#L18
2. https://github.com/Ice32/react-apollo-bug-reproduction/blob/master/src/js/store/configureStore.js#L34
3. https://github.com/Ice32/react-apollo-bug-reproduction/blob/master/src/js/reducers/rootReducer.js#L8

The client should onl

[2016-09-18 19:08] jbaxleyiii commented on #209
^^ has landed 💯 so this should be in the next release

[2016-09-18 19:20] jbaxleyiii commented on #147
thanks to @johnthepink this is done!

[2016-09-18 19:20] #147 closed

[2016-09-18 23:20] tommyJS commented on #216
Thank you for the fast reaction. I got the point.
I use `menu.map` in `return (...)`, so the app was just crashing and the component never rendered correctly.

Now, I do something like this:
[code]
and it works. However, I have a question: do I need to always check loading flag or is there any option to render only when loading equals false?

[2016-09-18 23:51] jbaxleyiii commented on #216
@tommyJS there currently isn't although I've thought about that as an option

[2016-09-19 02:55] Vanuan opened #218 "SSR: this.context is undefined"
Suppose you have the following react component,
and you want to render it using `getDataFromTree`.

[code]

`Cannot read property 'something' of undefined` error occurs.

It appears that this code:

https://github.com/apollostack/react-apollo/blob/4271f68d604e7a6f9c23c7a123a0b15573cafd0e/src/server.ts#L48

[code]

Doesn't set context if it isn't used in constructor (for some reason it does in the

[2016-09-19 02:56] Vanuan commented on #218
Here's a documentation about context: https://facebook.github.io/react/docs/context.html

[2016-09-19 08:15] wizardzloy opened #220 "Use "reduxRootSelector" client's property instead of deprecated "reduxRootKey""
The API of the client changed [here](https://github.com/apollostack/apollo-client/pull/662) so we need to use the new constructor parameter `reduxRootSelector` instead of the deprecated `reduxRootKey`

[2016-09-19 08:18] stubailo commented on #220
Duplicate: https://github.com/apollostack/react-apollo/issues/209

Also, this makes me think we should add back `reduxRootKey` for backcompat if we don't want to bump the minor version (and we don't) since who knows what could be using it.

[2016-09-19 08:18] #220 closed

[2016-09-19 11:57] #218 closed

[2016-09-19 15:06] herdibintang commented on #213
I'm very sorry @jbaxleyiii and @stubailo. It seems that my apollo client always targeting localhost:3000 even though i'm targeting another URL. Is there a way to change this? I just following [this](http://dev.apollodata.com/core/meteor.html) configuration.

[2016-09-19 15:43] herdibintang commented on #213
I feel very stupid. Using `const networkInterface = createNetworkInterface('/graphql')` do the tricks. Now everything works fine. I'm sorry and thank you @jbaxleyiii and @stubailo.

[2016-09-20 01:20] herdibintang commented on #213
Thank you @jbaxleyiii. I really appreciate it.

[2016-09-20 11:41] tommyJS commented on #216
Thank you for the answers. Feel free to reopen.

[2016-09-20 11:41] #216 closed

[2016-09-20 12:27] rewop opened #221 "TypeError: Cannot read property 'queries' of undefined"
I just updated to `react-apollo@0.5.5` and `apollo-client@0.14.6` and my application is now crashing with the error:
[code]

The error refers to [this line](https://github.com/apollostack/react-apollo/blob/master/src/graphql.tsx#L460).

I do SSR and I integrate with redux. I use `apollo` as name of the key for the apollo state.
Despite the initial state is passed correctly from the server to the f

[2016-09-20 13:23] rricard commented on #221
@rewop that's exactly the issue! If you can produce a PR to support both Key and Selector and add a deprecation warning in react-apollo if Key is the one used, that would be awesome! In the meantime, the client should also be patched (see https://github.com/apollostack/apollo-client/issues/676)

[2016-09-20 14:13] wizardzloy commented on #220
@stubailo should I make the change or you'll handle that?

[2016-09-20 15:04] stubailo commented on #220
I wasn't planning on it - I'd say open a PR for sure

[2016-09-20 15:08] wizardzloy commented on #220
ok

[2016-09-20 15:31] stubailo commented on #221
Yep, the newest release has reverted this change, and we're going to work on making it more backwards compatible before shipping it again.

[2016-09-20 17:03] rewop commented on #221
Great. I will try to make a PR asap. My first contribution to `react-apollo` so it may take a moment to get into the code.

[2016-09-20 21:32] rricard commented on #221
@rewop great to have new contributors! Hopefully it will not be that hard. The codebase is quite easy to get started with :wink:

[2016-09-20 21:50] rewop commented on #221
@rricard I gave it a look, and this would be my approach:

I would create a function called `getReduxRootKey(client : ApolloClient, store: ApolloStore) : string` which would be implemented something like follows:

[code]

I also noticed that the `reduxRootKey` is used in the [server.ts](https://github.com/apollostack/react-apollo/blob/master/src/server.ts#L110) file. For that reason, I am thinking

[2016-09-20 22:28] rewop commented on #221
I think I overlooked the implementation of the reduxRootSelector, because it could returns ApolloStore type and not String. So may previous example is wrong.

So the function actually can just return the apollo state:
[code]

[2016-09-21 23:30] amsayk opened #224 "Passing immutable to ApolloProvider breaks ssr"
Fix available #222.

[2016-09-22 00:46] jbaxleyiii commented on #224
in the next release (going out now!)

[2016-09-22 00:46] #224 closed

[2016-09-22 00:46] jbaxleyiii commented on #215
in the next release (going out now!)

[2016-09-22 00:46] #215 closed

[2016-09-22 00:46] jbaxleyiii commented on #166
in the next release (going out now!)

[2016-09-22 00:46] #166 closed

[2016-09-22 20:59] ivosabev opened #227 "Data not added after insert mutation to Relay compliant GraphQL server"
I have a GraphQL server that is compliant with the Relay specification and a React/Redux client.

I do a query and it returns the data as expected:
[code]

Then I call my insert mutation:
[code]

I see the new record being added to the `apollo.data` store, but the entry doesn't show in my list of entries.

Update mutations work just fine.

I believe it is something with the __typename as the Relay

[2016-09-22 21:02] stubailo commented on #227
How did your mutation look when using Relay? (If you were using Relay before)

[2016-09-23 01:58] migueloller opened #228 "[Bug] `loading` doesn't change back to false if updateQuery doesn't mutate the store"
This is a continuation of apollostack/apollo-client#698.

@tmeasday,

I'm very low on time at the moment but I'll try to get a PR done in the next couple of days with the failing test case.