[2016-09-23 02:00] tmeasday commented on #228
Thanks @migueloller. I may end up doing this myself, I'll let you know if so.

[2016-09-23 08:06] ivosabev commented on #227
I haven't got a Relay client side, but as I said the mutation works in Apollo and its result gets inserted into the `apollo.data` store, but the UI where I show my query doesn't get updated.

The mutation code is:
[code]

I suspect after the insert mutation the `id` should be appended to the `$ROOT_QUERY.teamNodes.nodes`, but I doesn't.

[2016-09-24 23:56] stubailo commented on #227
Yeah there is no way to automatically insert items into arrays with GraphQL - having a relay-compatible mutation doesn't really help.

Have you looked into the "updateQueries" option to mutations which let you update query results? It's designed for this situation.

[2016-09-26 05:21] linonetwo opened #230 "Sometimes return null for non-null type"
When data is still loading, data that I want will be undefined, So I use:

[code]

to avoid empty data passing to UI logic, such as Array.map() .

But sometimes, LineChartSources will still become null, causing enigmatic error: `typeerror no default value` and props validation error: `invalid prop of type object supplied to LineChartSources, expect array`

I guess that it's similar to https://gith

[2016-09-26 12:18] HriBB opened #231 "After upgrading from 0.3.17 to 0.5.6, optimisticResponse does not work as expected."
I upgraded `react-apollo` from `0.3.17` to `0.5.6` and am rewriting components one by one for the new API. I noticed that some of my `optimisticResponse` mutations don't work as expected. It works if I change something simple, such as `active` from `true` to `false`, but not when a mutation is more complex and returns an array or deeply nested object.

For example, I have a `reorderBrands` mutatio

[2016-09-26 12:31] HriBB commented on #231
I have also noticed that in this particular case, my list is not updated with the new result set from the server. Even if I remove `optimisticResponse`. Server returns a new array with the right order, but my list still shows the old order.

[2016-09-26 21:16] HriBB commented on #231
I tried to debug this, but it's really hard. Not really sure if this is a problem with my code, `react-apollo` or `apollo-client`. It's crazy, because some simple `optimisticResponse`s work just fine, but not the code above, although the optimistic data and data returned from the server are exactly the same.

The only thing I have figured out so far: if I enable `optimisticResponse` in the code ab

[2016-09-27 02:06] migueloller opened #232 "updateQueries gets extremely contrived when trying to update lists"
I'm using `updateQueries` to alter a list when a user "likes" or "dislikes" one of the list items but I've run into many issues which I will try to explain below.

My mutation query looked something like this:

[code]

The first issue I came across is that if I wanted to update the list, I needed to query a lot more than simply `id` and `viewerHasLiked` because the list query expects many more fie

[2016-09-27 02:10] migueloller opened #233 "Expose updateQueries for query operations and not just mutations"
Sometimes, one wants to cache objects that result from some query that could also appear on the root query by id. I go into more detail on this here: apollostack/apollo-client#706.

A potential solution to this could be by passing `updateQueries` for query operations (and not just for mutation operations). This would allow the user to simply update the relevant queries given the data they get back

[2016-09-27 02:31] tmeasday commented on #232
@migueloller If I understand your use case correctly, the issue here is that when a user likes an item, you want to update the `List` query to either add the `item` (which is tricky because you need get other fields for that item) or remove it.

I think the API you want here, rather than getting the results of some known query to get the item details, is instead to query the store for the item. So

[2016-09-27 02:36] tmeasday commented on #232
I'm not an expert, but I think the code for `readObjectFromStoreById(store, item.id);` is literally just `store.data[item.id]`, and also you can get store right now with `client.store`.

[2016-09-27 02:44] tmeasday commented on #233
@migueloller I'm confused why we want this issue on RA as well as https://github.com/apollostack/apollo-client/issues/706?

Ultimately, the RA will mirror AC pretty closely so let's solve the issue there first and then bring it here.

[2016-09-27 02:47] migueloller commented on #232
@tmeasday, exactly. I basically just implemented `readObjectFromStoreById` in the lines:
[code]

Keep in mind, though, that it would have to be something along the lines of ``readObjectFromStoreById(store, `${__typename}:${item.id}`)`` or whatever `dataIdFromObject` returns.

[2016-09-27 02:49] migueloller commented on #232
In this case, `item` wouldn't be available in the implementation.

[2016-09-27 02:52] tmeasday commented on #232
I assume `dataId` just uses `item.id` and maybe `item.__typename__`?

[2016-09-27 02:56] migueloller commented on #233
@tmeasday, fair enough. I'll comment on apollostack/apollo-client#706 mentioning a variation of this as a potential solution. I didn't care to do that initially because `updateQueries` is a `react-apollo` thing (as far as I know... I might be wrong).

[2016-09-27 02:58] tmeasday commented on #233
Oh, no `updateQueries` is definitely an `apollo-client` thing. http://dev.apollodata.com/core/apollo-client-api.html#ApolloClient\.mutate

[2016-09-27 03:02] migueloller commented on #232
I'm seeing this [this](https://github.com/apollostack/apollo-client/blob/da81f28fc01e02c40e9440b2a2863030fabf9a0f/src/index.ts#L329) line that it is whatever is passed into `dataIdFromObject`. Given that, the API could be:
[code]
Internally, `readObjectFromStoreLike` would call `store.data[client.dataId(item)]`.

There are a couple of issues with this though.
- The user has to be sure that the pas

[2016-09-27 03:05] migueloller commented on #233
@tmeasday,

I see, I apologize for the confusion. I'll mention the suggested solution in the other issue and close this one.

[2016-09-27 03:05] #233 closed

[2016-09-27 03:06] tmeasday commented on #232
Oh, right, yeah if the item has subfields, you'd need an API like `readSelectionSetFromStore`. I'm not sure we have one to do so by id.

[2016-09-27 03:08] tmeasday commented on #232
Perhaps we just need a "special" root field for reading by id, so you could do:

[code]

[2016-09-27 03:20] migueloller commented on #232
I'm liking where this is going. And I'm assuming it will use [`graphql-anywhere`](https://github.com/apollostack/graphql-anywhere) internally, no?

Perhaps whenever you want to query anything from the store you could simply call a special function that will allow you to do this with GraphQL. Moreover, this special function could be made available as an argument to `apollo-client` options (e.g., up

[2016-09-27 03:25] tmeasday commented on #232
That seems sensible. Thinking ahead, I am thinking you would also want the shape of the GraphQL query to be the same as a (sub-part) of the GraphQL query you are updating. I'm not sure AC needs to go too far to support this, but what is the best way to do that? Fragments?

[2016-09-27 03:31] migueloller commented on #232
Right now if you try to update the query result and there are fields missing from its selection set, AC will complain. I think this is the right behavior, we simply need better error messages.

If we wanted to implement something a bit more in-depth then I think fragments would be the way to go. You would be able to make a fragment that contains all the data that is needed by the query. That fragm

[2016-09-27 03:36] migueloller commented on #232
How finalized is the current API for `apollo-client`? I know that there have been various changes recently and that there are many more in the works but I would be more than happy to collaborate if it's something you guys are looking for. I've perused over the source code and have seen some room for improvement in documentation and architecture. For example, we could separate different parts of `a

[2016-09-27 04:19] tmeasday commented on #232
Yeah, I think there is an effort underway at the moment to do exactly that. I'm not sure what the exact status is right now.

[2016-09-27 04:21] migueloller commented on #232
@tmeasday,

Gotcha, well when I have some time (probably mid October) I'll try to help and get some PRs done. 😄

[2016-09-27 11:35] tmeasday commented on #182
It might be worth pointing out that using `enableReinitialize: true` seems a little risky if you think the underlying data may change from another source, leading to users clobbering each other and a bad UX. Another solution to the same problem would be to inject some loading state:

[code]

[2016-09-27 15:26] jbaxleyiii commented on #231
@HriBB I think the first step would be to try and either create a failing reproduction repo, or ideally, a failing test on react-apollo!

[2016-09-27 16:44] jbaxleyiii commented on #221
Fixed in `0.5.7`

[2016-09-27 16:44] #221 closed

[2016-09-27 16:44] jbaxleyiii commented on #209
Fixed in `0.5.7`

[2016-09-27 16:44] #209 closed

[2016-09-27 16:44] jbaxleyiii commented on #206
Fixed in `0.5.7`

[2016-09-27 16:44] #206 closed

[2016-09-27 16:55] #172 closed

[2016-09-27 16:57] #171 closed

[2016-09-27 17:05] jbaxleyiii commented on #212
@stubailo thinking through this more. Right now `props()` acts as a reducer to create custom props. When `skip: true` it doesn't run the query, but it is still useful to run the reducer. This also helps with PropType validation when working locally because the reducer method should create the required props.  Example:

[code]

Thoughts? @stubailo

[2016-09-27 17:51] stubailo commented on #232
We are going to try to knock out some big refactors on Thursday and Friday. The biggest one that will enable huge improvements is refactoring to use [graphql-anywhere](https://github.com/apollostack/graphql-anywhere).

That's kind of like our "power tool" for GraphQL - it will make it super easy to build tons of modules that consume the store and queries in tons of different ways.

[2016-09-27 17:56] stubailo commented on #212
Hmm, can't I use `getDefaultProps` for that?

[2016-09-28 00:14] HriBB commented on #231
So I finally figured this out. First of all, this is NOT a bug in `react-apollo`. There was a problem in my code, although I'm not really sure what I was doing wrong. I suspect I was mutating the existing data, and after I used `react-addons-update`, things started working again. I guess immutability comes with a price.

If anyone is interested in how I got it working, let me know ;) Closing this

[2016-09-28 00:14] #231 closed

[2016-09-28 12:27] Morganjackson commented on #210
@gajus did you end up figuring this out?

[2016-09-28 14:37] rewop opened #237 "SSR fails with NODE_ENV=production"
I am doing SSR with react-apollo@0.5.7 and node v6.5.0 and.
- When `NODE_ENV=development` server side works correctly.
- When `NODE_ENV=production`, SSR fails with the following error:

[code]

The error can be decoded at http://facebook.github.io/react/docs/error-decoder.html?invariant=23, and is referred to the fact that the prop children of **ApolloProvider** is undefined.
### How to reproduce

[2016-09-28 21:30] seeden opened #238 "multiple mutations in one @graphql(gql`"
is it possible somehow to use more then one mutation with just one graphql(gql`

I am trying to do something like
[code]

I am able to do that with two graphql but I am not sure if this is what we wanted.
[code]

[2016-09-28 22:20] stubailo commented on #238
Yep that's the recommended way to do it! Mind submitting a PR to the docs to clarify?

[2016-09-29 09:42] seeden commented on #238
Yep there is not information about it in the docs. Do we have any special reason why we cannot support two and more mutations in one graphql? I have one second question. Next two examples are identical

[code]

[code]

Can we use "SOMETHING" as name of the props instead of mutate? I would like to use

[code]

instead of

[code]

[2016-09-29 09:48] HriBB opened #239 "Calling refetch() does not update 'loading' if component is enhanced with multiple graphql() HOCs using compose()"
## Steps to Reproduce

1. enhance component with multiple `graphql` HOCs
2. call `this.props.data.refetch()`

### Buggy Behavior
3. `this.props.data.loading` always stays `false`

### Expected Behavior
3. `this.props.data.loading` is set to `true` and when client gets a response from the server it is set back to `false`

### Version
- apollo-client@0.4.19
- react-apollo@0.5.7

## Code sample

[cod

[2016-09-29 13:44] jbaxleyiii commented on #239
@HriBB thanks for the excellent issue! I'll take a look and see what's going on!

[2016-09-29 17:27] stubailo commented on #238
The operation names are important for debugging purposes, and we are thinking of using them to power Redux-style actions in the next iteration of the API. Perhaps it would also make sense to use them for the name of the prop.

I mean, right now each container passes down exactly one function. So this would require passing down two functions if you want to be able to call those mutations independen

[2016-09-30 01:22] migueloller commented on #238
@stubailo, don't you think it would be better to be able to pass an arbitrary number of operation as props, though? It feels like that intuitive API would be to pass a GraphQL query to the `graphql` HoC and then expose query operations via the `data.operationName` prop and export mutation operations via `operationName` props?

That way one could potentially do something like this:

[code]

[2016-09-30 01:25] stubailo commented on #238
What if you need to pass some options though? Also, this means Apollo is doing operation splitting for you, which will make it harder to do persisted queries, for example.

Is this concretely better other than having to type fewer characters?

[2016-09-30 01:29] migueloller commented on #238
I guess that the options object would need to be a map by operation name. If there's a single anonymous operation then the API could behave like it does now, if there's multiple operations, the options object has to be a map where each key has to be the name of the operations defined.

I'm not sure what persisted queries are so I can't comment on that.

Other than having to type a fewer characters

[2016-09-30 01:31] migueloller commented on #238
I think the Apollo API is great by the way! This is something that is definitely and added bonus. But there is definitely benefit with being able to declare the needs in a single query and to support the full extent of what a GraphQL document is. It just feels right that for completion one could pass any valid document that GraphiQL could take into the `graphql` HoC.

[2016-09-30 01:45] stubailo commented on #238
For context we used to have an HoC that would take an object with multiple operations but it ended up being quite complicated to use. Perhaps we can work back up to that though.

[2016-09-30 01:50] migueloller commented on #238
@stubailo,

Ah I see. How complex was the API? Was it much different from the current one?

I think that adding support for multiple operations could be a non-breaking change. Basically if given 1 anonymous operation behave like it is now but if given multiple operations, expect options to be a map of options (helpful error messages similar to those used in `graphql-tools` can let people know when

[2016-09-30 03:50] jbaxleyiii commented on #238
@migueloller @seeden @stubailo thanks for the open discussion around the API. Always looking to improve! I can give you some backstory into the current API and why I ended up going with a 1:1 relationship between document and HOC. The below and [this](https://medium.com/apollo-stack/seamless-integration-for-graphql-and-react-6ffc0ad3fead#.70n77pl6b) will hopefully shed some light on the design

##

[2016-09-30 04:10] migueloller commented on #238
@jbaxleyiii,

First of all, don't be sorry on the long response, it was awesome! Not many people care to be as detailed in their response and it really helps (or at least it helped me) understand what you're trying to communicate.

First off, I want to commend you guys on the great work in the entire Apollo stack. Super awesome work and I'm glad to be using it in production for our product (React

[2016-09-30 04:18] jbaxleyiii commented on #238
@migueloller thats awesome you are using it in a production RN app! Thanks for the thoughtful reply! I'm glad it made some sense haha.

I'd love more contribution help for sure! Its one the biggest driving forces behind #240! I think once that has developed a little bit more, I can start outlining some next steps and ideas for future goals!

[2016-09-30 20:30] seeden opened #241 "call refetchQueries without mutation | question"
Is it possible to call refetchQueries without mutation?
Here is my scenario:
Logged user is trying to logout. That means I will just delete bearer token locally. But I need to refetch viewer from server after this operation.

something like:
[code]

I tried but without any success
[code]

[2016-09-30 20:46] seeden opened #242 "add client as optional parameter to decorator"
It would be nice to have ability to get apollo client via @graphql instead of using contextTypes
Here is small example

[code]

I can create a PR if you agree with it

[2016-09-30 21:00] jbaxleyiii commented on #242
@seeden have you tried out http://dev.apollodata.com/react/higher-order-components.html?

[2016-09-30 21:01] jbaxleyiii commented on #242
Specifically the `withApollo‘?

[2016-09-30 21:02] seeden commented on #242
thank @jbaxleyiii  withApollo is working

[2016-09-30 21:02] #242 closed

[2016-09-30 21:06] stubailo commented on #241
The new Apollo Client API will have this functionality.

[2016-10-01 16:50] seeden commented on #241
Thank you @stubailo

[2016-10-05 09:03] mmmdreg opened #243 "0.5.7 Typings break artifactory npm proxies"
Version: react-apollo@0.5.7

In corporate environments, it is common to have internal proxies for dependency repositories for various environments (maven, npm, gem etc).

At my current company, our internal repositories use artifactory, which does not support typings (https://www.jfrog.com/jira/plugins/servlet/mobile#issue/RTFACT-11980). This makes it impossible to use the latest react-apollo.

ap

[2016-10-05 09:16] pfulop opened #244 "Server Side Rendering and skip option"
Hi,
 I am using skip option to get user name only if he is authenticated. However, it looks like this option is ignored by  renderToStringWithData since the query will fire anyway.
[code]

[2016-10-05 11:02] davidyaha commented on #228
@migueloller @tmeasday Is there any known workaround?
It seems that returning a cloned object will not do the trick.

[2016-10-05 14:45] migueloller commented on #228
@davidyaha, the way I got to work around it was by checking if the query variable existed and used that as a proxy for loading.

For example, if your top level query is named `post` then do `post !== undefined` to check if it has finished loading. This is far from ideal but it worked for me in the mean time while loading is fixed in `apollo-client`.

I would also recommend to assume that loading i

[2016-10-06 02:25] stretchkennedy commented on #228
We do
[code]

It's not perfect by any means, and could have some nasty bugs with regards to loading state in other components, but it works for our use case.

[2016-10-07 00:30] stubailo commented on #212
Another situation, if you have code like the below:

[code]

It turns out that `foo.bar` doesn't exist.

My proposed solution is now:

[code]

`skip` would be evaluated before everything else, and it would short-circuit the entire HOC.

[2016-10-07 00:30] glasser opened #245 "Feature request: Pass `skip` outside of `options` so you can assume skip is false when evaluating other options"
## Steps to Reproduce

A common reason that you might want to use `skip` is that some necessary data for evaluating the query is not available.  For example:

[code]

### Buggy Behavior

However, you can't actually write the code as above: the `skip` and `variables` fields are evaluated at the same time, so you have to check `foo` again in the variables clause.

### Expected Behavior

I'd like to

[2016-10-07 00:31] stubailo commented on #212
Closing in favor of https://github.com/apollostack/react-apollo/issues/245

[2016-10-07 00:31] #212 closed

[2016-10-07 00:32] stubailo commented on #245
The same applies to `props` IMO, which was opened as #212 before.

[2016-10-07 00:32] glasser commented on #245
Note that we might want to keep the old `skip` around for backwards compatibility.

[2016-10-07 00:38] jbaxleyiii commented on #245
@glasser @stubailo well presented! I'm onboard and will do!

[2016-10-07 00:38] stubailo commented on #245
I think @glasser is going to give it a shot!

[2016-10-07 00:50] jbaxleyiii commented on #245
oh perfect!

A couple thoughts:
1. What happens if skip becomes true after a query is already being watched?
  - should we unsubscribe?
  - should the old props (data / etc) go away?
2. We will need to make sure this works on SSR as well

[2016-10-07 01:20] glasser opened #246 "`npm test` fails with Node 4"
## Steps to Reproduce

Describe how to reproduce this issue.

With node 4.4.3 and npm 3.10.8:

[code]

### Buggy Behavior

There are some warnings about peer dependencies with `npm install` but I don't think that's the real issue:

[code]

My real concern is what happens with npm test:

[code]

### Expected Behavior

Tests should pass instead of failing with a syntax error about `...`

### Version

[2016-10-07 01:27] stubailo commented on #245
I'd say yes and yes - it should be as if the component was I rendered IMO.

[2016-10-07 01:58] glasser commented on #245
@stubailo Actually, between my trouble getting a test environment up (blocking on @tmeasday fixing a test) and my lack of familiarity with the code, I think I'm going to just work around this for now instead of fixing this.

[2016-10-07 02:19] #246 closed

[2016-10-07 05:10] tomitrescak opened #249 "@types to dev dependencies"
Hi, thanks for all the good work! One problem though, can you please bring all @types definitions into devDependencies from dependencies? It breaks compilation of all my projects since it introduces your typings into my project.

Thanks!

[2016-10-07 14:31] graphan opened #250 "SSR: getDataFromTree works only for the first nested level of components in the tree"
## Steps to Reproduce

I have the following structure of components (you can create own with such a structure):

[code]

Components with asterixs are connected with graphql queries. Unfortunately, only data for Page component are fetched during Server Side Rendering.
It is depicted in [this project](https://github.com/WeLikeGraphQL/universal-react-apollo-example). Execute [these steps](https://git

[2016-10-07 19:46] seeden opened #252 "unsubscribeQuery is not working properly"
## Steps to Reproduce

1. create component with graphql decorator
2. do multiple componentDidMount and componentWillUnmount (for example with react-router I have this component in my header menu)
3. after each cycle you will see more and more same queries like

[code]

### Buggy Behavior

The number of queries is bigger and bigger. After first cycle I can see just one query. After five cycles ther

[2016-10-07 20:10] #245 closed

[2016-10-07 20:23] jbaxleyiii commented on #252
@seeden would you be able to help reproduce or create a failing test case? I was unable to initially reproduce it https://github.com/apollostack/react-apollo/pull/254

[2016-10-07 20:23] jbaxleyiii commented on #244
@pfulop this is fixed with #253 which will be released today!

[2016-10-07 20:23] #244 closed

[2016-10-07 20:24] jbaxleyiii commented on #243
fixed in the next release (out today)

[2016-10-07 20:24] #243 closed

[2016-10-07 20:24] #238 closed

[2016-10-07 20:25] #168 closed

[2016-10-07 20:25] #177 closed

[2016-10-07 20:25] #182 closed

[2016-10-07 20:26] #187 closed

[2016-10-07 20:44] jbaxleyiii commented on #252
actually, an older version of AC I have locally works, but the newer version doesn't!

[2016-10-07 20:44] jbaxleyiii commented on #252
@stubailo this looks like a bug in AC

[2016-10-07 20:57] jbaxleyiii commented on #252
@seeden confirmed this is a bug introduced in apollo-client 0.4.20

For now, I'm going to lock the AC version to 0.4.19 as the top range. With the upcoming refactor, some internals in react-apollo will have to change as well so it will be a minor level change in both libraries

[2016-10-07 21:05] glasser opened #255 "TypeError: Cannot read property 'variables' of undefined"
## Steps to Reproduce

I'm currently working to minimize this issue.  I've only seen it in a big app doing a bunch of apollo stuff.

### Buggy Behavior

Sometimes, on the client, I get

[code]

When setting break-on-exception in Chrome, I tracked it down to:

https://github.com/apollostack/react-apollo/blob/7980ae10475692d6764bcbff72c60b2c61e5e67c/src/graphql.tsx#L452

[code]

I have a secret gist

[2016-10-07 21:16] glasser commented on #255
It seems like this happens when I click somewhere which results in the component that was making the request being removed from the screen.

[2016-10-07 21:17] glasser commented on #255
Also this component has a custom polling implementation.

[2016-10-07 21:52] tmeasday commented on #255
We should merge the refactor, which may end up just fixing this

[2016-10-07 21:53] stubailo commented on #255
@glasser this might be a case of calling `refetch` when the query is no longer in the store, or something like that.

[2016-10-07 21:53] jbaxleyiii commented on #255
@tmeasday can you rebase it so I can merge?

[2016-10-07 21:55] glasser commented on #255
That seems likely.  I can test with the refactored version if you can give me something to stick in my package.json...

[2016-10-07 23:13] acorcutt commented on #237
I'm also seeing something similar, my code is similar to above but without the router match wrapper.
Non-minified but in production error is reported at https://github.com/apollostack/react-apollo/blob/master/src/server.ts#L59 as:
`Invariant Violation: <Subscriber channel="location"> must be rendered in the context of a <Broadcast channel="location">`

[2016-10-08 02:57] jbaxleyiii commented on #239
@HriBB can you try version 0.5.8?

[2016-10-08 02:57] jbaxleyiii commented on #228
@migueloller can you try version 0.5.8?

[2016-10-08 02:58] jbaxleyiii commented on #255
@glasser can you try version 0.5.8?

[2016-10-08 12:27] davidyaha commented on #228
@jbaxleyiii From what I see now, it is not changing into true when I use fetchMore. There is a new `networkStatus` variable instead?

[2016-10-09 06:44] vlasenko opened #258 "0.5.8 version seems to be broken, 0.5.7 is fine"
## Steps to Reproduce

1. Clone this example:
  ``` git clone https://github.com/sysgears/apollo-fullstack-starter-kit ```
2. Run the example:
  ``` npm start ```
3. Point your web browser to `http://localhost:3000` and check that there is no React warnings in the browser console
4. Modify package.json, to replace react-apollo version from `0.5.7` to `0.5.8`
5. Run ``` npm update ```
6. Stop and t

[2016-10-09 12:30] jbaxleyiii commented on #258
@vlasenko I see the error but I'm not sure what is causing it? The server side render seems to be correct. This leads me to believe it is an issue with starting up apollo-client with the correct data store? I'll try to look into it more this week!

[2016-10-09 13:53] vlasenko commented on #258
I'm not sure as well, but 0.5.7 and 0.5.6 of react-apollo do not trigger this problem. I will investigate on my side the coming week too and if I find some pointers I report here.

[2016-10-09 22:12] seeden commented on #252
Thank you @jbaxleyiii  I am going to try 0.4.19

[2016-10-09 23:04] tomitrescak commented on #182
@tmeasday I already ran into issues with enableReinitialise, so it's highly disregarded and your solution it probably the best one.

[2016-10-10 05:41] vlasenko commented on #258
@jbaxleyiii @tmeasday The offending commit for the issue is this one:
https://github.com/apollostack/react-apollo/commit/246eca0f46e52062cf63c08074da04c42b5e57cf

Right before this commit issue doesn't get triggered. After this commit the issue shows up.

[2016-10-10 06:34] vlasenko commented on #258
Seems in 0.5.8 on the client-side query results don't get really read from Initial Apollo Store which came from server.

[2016-10-10 09:25] rewop commented on #237
I have created a PR to show how the problem would be fixed in my case. I would like feedback on this one from @jbaxleyiii as he worked on #205

[2016-10-10 15:56] seeden commented on #252
@jbaxleyiii I have same problem with apollo-client 0.4.19

[2016-10-11 00:30] glasser commented on #255
I did. Unfortunately that gives me an error at https://github.com/apollostack/react-apollo/blob/6baf0fda9de62e6a0c8fe36da6ae0679af7e0057/src/graphql.tsx#L419 of

[code]

[2016-10-11 00:44] glasser commented on #255
Possible PR for that issue. Seems to fix it. I don't actually understand the relevant objects though; this is basically just a guess.

[2016-10-11 03:51] linonetwo commented on #19
Seems I can 't use mutation and query in the same component? Using two mutations in a component seems unsupported too. @stubailo

[2016-10-11 04:49] linonetwo commented on #19
Solved, by looking at https://github.com/apollostack/react-apollo/issues/238

[2016-10-11 05:07] tmeasday commented on #258
The issue is that you aren't using the same apollo client options on client and server; specifically, on the client you have [a `queryTransfomer`](https://github.com/sysgears/apollo-fullstack-starter-kit/blob/master/src/client/main.jsx#L31) whereas on the server [you do not](https://github.com/sysgears/apollo-fullstack-starter-kit/blob/master/src/server/middleware/website.jsx#L47-L52).

This means

[2016-10-11 05:08] #258 closed

[2016-10-11 05:19] vlasenko commented on #258
Many thanks Tom, for tracking this down!

[2016-10-11 05:38] linonetwo commented on #238
@jbaxleyiii  I use graphQL to control IoT in my React-Native testing project and display collected IoT Data in my company's production project.

My experience is that this API is OK for now, It force me to separate mutations into different small Components, which in fact will increase the reusability, I think.

[2016-10-11 18:40] sedubois opened #262 "Nested components with data masking"
Hi and apologies if this is redundant! But I didn't find documentation about nested components using fragments and preserving data isolation?

Similar to [Relay](https://facebook.github.io/relay/docs/api-reference-relay-container.html#fragments), how can Apollo GraphQL containers be nested within each other, with the child container passing its fragment to the parent which then assembles the full

[2016-10-11 19:13] helfer commented on #262
@sedubois you're right, it's not documented because we currently don't do anything to pass the data only to the component which defined the fragment. If you have some ideas for how to add it without tying Apollo Client to a specific router or force a specific setup, I'd love to hear your ideas.

[2016-10-11 21:57] imthehell commented on #210
Same problem, it seems that the existing store passed as prop it is not used, however the Apollo internal store is used.
So you have resolved?

[2016-10-11 23:26] stubailo commented on #262
I don't think it's a foregone conclusion that data isolation specifically through fragments is a core benefit of GraphQL, but it's certainly a feature we should consider including a simple implementation of.

[2016-10-11 23:28] stubailo commented on #262
Do you have a specific example of the kind of developer experience you would be looking for? Is it something like having a property on the result with the fragment name as the key, which could be passed down into the component?

[2016-10-12 00:27] #255 closed

[2016-10-12 00:56] tmeasday commented on #252
@seeden can you try with 0.5.9?

[2016-10-12 00:59] tmeasday opened #264 "Refactor to calculate `this.data` at render time"
It seems like we are going through [some contortions](https://github.com/apollostack/react-apollo/pull/260#issuecomment-253064810) to keep `this.data` up to date, which seems unnecessary given we can now call `this.queryObservable.currentResult()` in the render function to get the current data.

So I would suggest something like:

[code]

[2016-10-12 01:00] jbaxleyiii commented on #264
@tmeasday YES!! I love this idea!

[2016-10-12 08:57] saeho opened #266 "Plan for subscription integration for graphql() ?"
Is there a plan for subscription integration with react-apollo's graphql() "with Data" function? (i.e. the same way queries and mutations are mapped)

Or is the plan to stick with GitHunt demo's way of subscribing using the Apollo Client on componentDidMount?

[2016-10-12 10:04] jbaxleyiii commented on #266
@saeho I quietly shipped it I'm 0.5.8 :). Can you give it a shot? Same usage as a query

[2016-10-12 10:08] sedubois opened #267 "reduxRootSelector not found"
I tried to follow the [doc](http://dev.apollodata.com/react/redux.html#creating-a-store) to integrate Apollo with an existing store, but encountered the error `Existing store does not use apolloReducer. Please make sure the store is properly configured and "reduxRootSelector" is correctly specified.`

The doc speaks of `reduxRootKey` whereas the error message speaks of `reduxRootSelector`. I have

[2016-10-12 10:23] sedubois commented on #262
I'd be looking for an experience like Relay: being able to pass objects to nested components as props just like now, but if looking at the object's contents from within the parent, the nested data shouldn't be visible.

A core benefit of GraphQL is presenting data exactly where it should be consumed so yes, IMHO _data masking_ is essential, whether it be through fragments or otherwise. Right now i

[2016-10-12 10:28] seeden commented on #262
Hi guys I am using fragments too
Here is my example with "multiple fragments" and my current logic maybe it will help you

UserThumb.jsx
[code]

Profile.jsx - Main container (this container is using UserThumb in render function)
[code]

Here is my combineFragments function.

[code]

This function will return array of all fragments from all components. And you can use "get" function if you want to

[2016-10-12 10:37] sedubois opened #268 "Automatically handle loading and failure renders"
Hi and apologies again if this is documented somewhere, couldn't track it down. If possible, documentation would be needed.

It seems Apollo requires to manually handle cases when data is not yet available in a view, or when a failure occurs, leading to more boilerplate/bloat code.

Like in [Relay](https://facebook.github.io/relay/docs/api-reference-relay-root-container.html#renderloading), it sho

[2016-10-12 11:26] seeden commented on #268
You can simply create component/decorator with this functionality based on loading property

[2016-10-12 11:31] sedubois commented on #268
@seeden thanks, but that's something to add on every component? What I mean is that specific handling loading/error cases should be something opt-in. In general shouldn't need to think about that for each and every component, things should "just work" like in Relay.

[2016-10-12 11:33] seeden commented on #268
@sedubois what if you don't want to use it because you want to show something else?

[2016-10-12 11:36] sedubois commented on #268
@seeden Relay allows to configure the renders, if the default behaviour isn't appropriate for your case (see [doc](https://facebook.github.io/relay/docs/api-reference-relay-root-container.html#renderloading)).

[2016-10-12 11:37] seeden commented on #262
Maybe I can create a high order component which will get all fragments from all children during the render.

[2016-10-12 12:10] seeden commented on #252
@tmeasday the problem is still here with 0.5.9. I can see this issue when I change the route in react-router but component with this query is always visible. Therefore I think that there is a problem with componentWillReceiveProps or something like that.

[2016-10-12 12:34] seeden commented on #262
I found http://relax.github.io/relate/fragments.html They are using mergeFragments. It is almost same functionality.

[2016-10-12 13:15] seeden opened #269 "refetchQueries don't update components | bug"
## Steps to Reproduce

I have component with

[code]

1. When user is not logged in - viewer is not defined. (I can see in the console that viewer is not defined)
2. After login I am calling refetchQueries: ['getViewer']
3. Query to server looks like this

[code]

and response looks like this:

[code]

But my component is not updated. There is no info in the console.

### Expected Behavior

Compon

[2016-10-12 13:21] seeden commented on #268
@sedubois you need to use graphql that means you can use your own instead of graphql which will use graphql inside your own component. But I agree it will be nice to have it in the graphql too

[2016-10-12 13:26] seeden commented on #269
I have tried to turn off batching. But this issue is still here.

Query looks like this
[code]

and response is correct too but component has old data

[2016-10-12 14:19] strangegit opened #270 "update is not defined"
I follow example at http://dev.apollodata.com/react/cache-updates.html
[code]

Bit I get

`update is not defined`

### Version
- apollo-client@0.4.15
- react-apollo@0.5.5

[2016-10-12 14:33] seeden commented on #269
Here is more info about this issue.
There is a problem only with components which are already mounted. If I am using new component this component will get correct data.

[2016-10-12 15:01] #270 closed

[2016-10-12 15:14] seeden commented on #269
After debugging react-apollo I found that component is subscribed but there is no next call.
That means the problem is somewhere in the apollo-client.

[2016-10-12 16:39] drFabio commented on #171
I have only a Client and I put only the apollo reducer  just using
[code]
And I am also receiving

Is there something else to connect redux ?

[2016-10-12 17:03] drFabio commented on #171
Just doing
[code]
```html`
  <ApolloProvider client={client} store={store}>

[code]

[2016-10-12 17:14] drFabio commented on #171
I had to do:
[code]

[2016-10-12 17:24] stubailo commented on #269
Looks like the problem is indeed in apollo client. Going to close this issue and try to fix there.

[2016-10-12 17:24] #269 closed

[2016-10-12 17:33] webular commented on #228
I'm also seeing this bug since updating to 0.5.9  - any work arounds?

[2016-10-12 17:46] saeho commented on #266
@jbaxleyiii I tried it in React-Native. Pretty much the same usage as query except instead of query, "subscription".

However I'm getting a very non descriptive error that's very hard to debug.

[code]

Hard to tell if this is an error from the server or client. But I know that I'm not trying to access the property "value" of any object in either my client or server code.

Any ideas?

[2016-10-12 17:53] saeho commented on #266
Sorry, the error above is for something else. That was my second attempt to get subscription to work without your new feature.

Using your feature, I get:
[code]

I get exactly that in String format. Which is not really debuggable.

[2016-10-12 18:07] saeho commented on #266
Versions I'm using:
[code]

[2016-10-12 19:10] helfer commented on #267
reduxRootKey was deprecated, but it's still supported, so we'll need to update the docs. The rootSelector should be a function.

For your actual issue, are you using an external redux store? If so, are you constructing it with the apollo reducer as specified in the docs, and then using the apollo middleware?

[2016-10-12 22:54] stubailo commented on #267
Yeah, this sounds like you might not have added the middleware correctly.

[2016-10-12 23:02] stubailo commented on #262
Thanks for the example! I think it should be pretty simple to make this work.

Why do we need `mergeFragments` by the way? Is it not good enough to just say `...userPhotoThumb`?

[2016-10-13 07:42] rricard opened #271 "Mutually exclusive "skip" queries now fail"
## Steps to Reproduce

See the following failing test: https://github.com/apollostack/react-apollo/commit/16f41044722ac14f2e1fcbb8b4ae0215e7d12b32
### Buggy Behavior

Two `graphql` wrappers, one skipping, one not skipping can't seem to resolve to the unskipping one.
### Expected Behavior

Two mutually exclusive `graphql` wrappers with `skip` should be able to resolve the unskipped query.
### Versi

[2016-10-13 07:52] glasser commented on #271
Hmm, I'm confused — when I use two nested `graphql` I always use the `name` option to assign their data to two different props.  Both of these `graphql`s are going to assign to `data`, so I don't really even get how this is supposed to work in a useful way?

[2016-10-13 07:55] rricard commented on #271
@glasser worked before and is supposed to work if we have clearly mutually exclusive skips. We leveraged that at different points of our app and worked well so far. I think it is a completely valid use case.

[2016-10-13 07:55] rricard commented on #271
Should we support it though ? I'm open to discuss it!

[2016-10-13 08:13] glasser commented on #271
Yeah, I get why doing the "mutually exclusive skips" makes sense for the actual data part of the data prop, but it does make the "metadata" part (eg loading) a little confused — and even in 0.5.7, skipped queries did set `loading: false` explicitly...

[2016-10-13 08:15] rricard commented on #271
@glasser: that actually explains some other issues we had, however, I still think it's worth fixing: and while we're at it fixing the metadata part as well...

[2016-10-13 08:52] sedubois commented on #267
Yes tried to integrate into `react-boilerplate` which has its own store, here it is in case you understand it 😁 https://github.com/sedubois/belong/compare/gql...apollo

[2016-10-13 15:04] seeden commented on #269
Maybe it is a problem with react-apollo because component will stay in state **loading === true** forever.

[2016-10-13 15:52] seeden commented on #269
The problematic line in react-apollo is https://github.com/apollostack/react-apollo/blob/master/src/graphql.tsx#L382

As you can see loading will be changed to value "true". But this function is called from componentWillReceiveProps and no componentDidMount. Anyway after that loading value will be equals true forever.

[2016-10-13 21:22] iktl commented on #133
@nevir What was the issue you had with your implementation, believe we are hitting the same.

[2016-10-13 22:29] saeho commented on #266
After a lot of trial and error I discovered this won't work:
[code]

Changing it to this worked:
[code]

However, every time a publish event happens in the server, WS on the client is triggered, which is good but every WS publish event crashes with "Cannot read property 'data' of undefined".

[2016-10-14 01:50] tmeasday commented on #271
This issue will be fixed by https://github.com/apollostack/react-apollo/issues/265

But in the meantime you could switch to the new `skip` API which I believe will do what you want.

[2016-10-14 05:29] saeho commented on #266
@0.5.10 fixed it. Thanks!

However I noticed that the socket connection is not persistent. If I turn off the socket server and restart it, I expect the App to reconnect to the socket server. However it doesn't.

Is there an option to enable re-connect?

[2016-10-14 06:26] zdne commented on #174
Hi,
 I've ran into the HMR problems as well. For me, a component "with data" never hot reloads. See https://github.com/apollostack/apollo-client/issues/764 for detailed description.

[2016-10-14 06:47] rricard commented on #271
@tmeasday was intending to do that anyway. But if the test can help you cover this case as well: that's better!

[2016-10-14 07:30] saeho commented on #266
From the subscriptions-ws package, I discovered that there is a reconnect: true option!

It seems to work great! Can't wait for the official documentation. Thank you!

[2016-10-14 07:30] #266 closed

[2016-10-16 13:32] jbaxleyiii opened #272 "Feature request: assistance in not rendering wrapped component till data.loading is true"
When I make a component like this:

`export default graphql(keyValueQuery)(CreateProjectFormLayout)`

I have to put this into the `render()` of `CreateProjectFormLayout`, in order to avoid issues with the requested data elements not being present yet:

[code]

It would be good if the graphql() provided this assistance itself as part of the job it does in wrapping.

(Note: this ticket emerged out o

[2016-10-16 23:02] rnenjoy opened #273 "Not getting the prop client from graphql()"
I have tried the examples and created an easy test:

[code]

[code]

However my console.log shows that the props only holds the data object. Should it not also give me access to the apollo client from the higher order component ApolloProvider gives? withApollo() works, but i thought graphql should do the same thing?

[2016-10-16 23:10] TimMikeladze commented on #273
@rnenjoy The client is set in the context, not the props. https://github.com/apollostack/react-apollo/blob/master/src/ApolloProvider.tsx#L35

[2016-10-17 00:26] tmeasday commented on #272
Is this a dupe of https://github.com/apollostack/react-apollo/issues/268?

[2016-10-17 00:27] tmeasday commented on #273
Short answer: no :)

[2016-10-17 00:27] #273 closed

[2016-10-17 01:24] tmeasday opened #274 "SSR runs queries twice if a mutation wraps a query."
CF https://github.com/apollostack/GitHunt-React/blob/master/ui/Feed.js#L270

PR to follow

[2016-10-17 01:26] GreenAsJade commented on #272
# Proposal

## Preamble

(terminology `presentational-component` means "the component wrapped by a `container` in the
[container-component pattern](http://redux.js.org/docs/basics/UsageWithReact.html.  As distinct from any old generic react component.)

One reason why this feature request seems like a Good Idea(TM) is that right now using `data.loading` and `data.error` in a `view-component` somew

[2016-10-17 01:26] #274 closed

[2016-10-17 01:34] GreenAsJade commented on #272
@tmeasday It does appear to be a duplicate, though coming from a slightly different direction.

(#268 started from the premise of "do this for me automatically" and tacked on the idea of customising, wheras this starts from the premise of "help me handle this by decoupling" and could easily be extended to "handle the automatic case")

[2016-10-17 01:34] tmeasday commented on #272
I don't know if I really agree that dealing with what to show while waiting for the data to load isn't the concern of the presentational component. The component doesn't need to know *why* the data is loading (a GraphQL query is in flight; data is being loaded from localstorage; we are conversing with aliens, who knows?), but's not a technical detail that is irrelevant to the UI.

In my experience

[2016-10-17 02:02] tmeasday commented on #250
Hi @graphan -- it is possible to boil it down to a simpler reproduction?

Certainly I would expect `getDataFromTree` to work in your case. A quick inspection of your code makes it look like it should work.

I wasn't able to run your example above -- in which directory am I supposed to run `npm install`?

It would be easier to run an example against a simpler server;

a) ideally as a test, you coul

[2016-10-17 02:06] tmeasday commented on #250
Interestingly I added a test to try and replicate (https://github.com/apollostack/react-apollo/pull/275/commits/65127351a7f90a316ed38c71f42569568021eeeb) and although it works normally, it fails when running w/ `NODE_ENV=production`.

Are you doing that?

[2016-10-17 02:32] GreenAsJade commented on #272
Yeah - I agree this could be argued.     The fundamental question is whether the presentational component should care or not that there's even a concept of data loading.

I can see an argument that presenting "we haven't got you dinner menu yet" is part of the presentational responsibility of a "dinner menu  display component".

My argument is that a presentational component that takes it's data t

[2016-10-17 02:43] tmeasday commented on #272
I would just split the presentational component up into two, and then maybe reuse the loading handling bit.

Anyway, this is all a bit academic ;)

[2016-10-17 03:34] jbaxleyiii commented on #237
@rewop, @tmeasday is working on this over the next couple of days!

[2016-10-17 06:25] GreenAsJade commented on #272
Another possible reason not to ask the presentational-component to handle loading and errors this is that it means the presentational-component can't specify "isRequired" on its propTypes.

[2016-10-17 10:54] gajus commented on #210
I have ended up using `context.store.getState().get('apollo')`. This is a workaround, though.

[2016-10-18 06:07] tomitrescak opened #276 "Black box integration testing of Apollo container"
Hi, do you have any hint on how can I do intergration testing for apollo containers?

I desire to test against live server.
I have set up everything I needed, my test:

1. spins of new server instance with graphql
2. initialises client apollo provider and then tries to mount the container within

The problem is that I only see the initial data, I do not know how to wait for data transfer to be com

[2016-10-18 06:10] stubailo commented on #276
Hmm, you could check for the `loading` state for all queries at once by iterating over `store.queries`. That way you don't have to specify which components have queries on them.

[2016-10-18 06:12] tomitrescak commented on #276
So you reckon that the approach with setTimeout and for loop is ok? Is it possible to hook on some promise in the store?

[2016-10-18 06:13] stubailo commented on #276
You could do it on every store change perhaps!

[code]

[2016-10-18 06:36] tomitrescak commented on #276
That's a great idea! Will explore. Thanks.
Meanwhile I'm getting a really weird error, do you have any idea where "fetch" is coming from?

[code]

[2016-10-18 07:16] stubailo commented on #276
I'd prefer opening new issues for stuff like that, but if this is being run on the server you probably want to use isomorphic-fetch: https://github.com/matthew-andrews/isomorphic-fetch

[2016-10-18 07:18] tomitrescak commented on #276
Sashko, yes, it is run on server, how can I plug it in into Apollo? I promise I'll open the new issue with my findings for future users.

[2016-10-18 07:19] stubailo commented on #276
It's a global polyfill so you just need to install and import it, and it makes global `fetch` appear.

[2016-10-18 07:49] tomitrescak commented on #276
Awesome! I'll soon put together a small giude for black box testing. Thanks a lot! Very much appreciated!

[2016-10-18 07:49] #276 closed

[2016-10-18 12:04] drFabio opened #278 "Fragments are never used when two batch queries share a part"
I have two pages that use the same data with diferent behaviours they have the following format:
[code]
When traversing from page to page using react-router one of the pages  get the common part removed on the query sent to the server (devices) and so the required fragments that are saved arrive at the server as unused
## Steps to Reproduce
1. Make two batch queries with a common part and that use

[2016-10-18 17:29] Axure opened #279 "Cannot find module 'recompose/compose'."
## Steps to Reproduce

Just import `react-apollo`.

### Buggy Behavior

[code]

### Expected Behavior

No error.

### Version
- apollo-client@0.4.21
- react-apollo@0.5.11

[2016-10-18 17:31] Axure commented on #279
It seems that delete the definition for `recompose/compose` in `react-apollo/typings.d.ts`, and modify the import statement in `react-apollo/index.d.ts`ex.d.ts` resolves the error.

[2016-10-18 18:21] graphan commented on #250
@tmeasday, thank you for the reaction.

Maybe, I misled you posting execution steps above (already deleted). Please, just execute [these steps](https://github.com/WeLikeGraphQL/react-apollo-example#running-the-app).

[This server](https://github.com/WeLikeGraphQL/wordpress-graphql-api-example) was set up in order to prove that `react-apollo` can be used against every GraphQL API (even the one crea

[2016-10-18 18:43] graphan commented on #250
@tmeasday, currently you need to set up sample data [manually](https://github.com/WeLikeGraphQL/wordpress-graphql-api-example#sample-data), so please wait until I do it all automatic. I will let you know.

[2016-10-18 19:22] stubailo commented on #279
Send a PR?

[2016-10-19 02:49] tomitrescak opened #282 "No error displayed"
Hi, I was browsing through closed issues such as #57 but I cannot find a solution to the problem that Apollo silently swallows all errors. The only error I see is from React "Attempted to update component that failed to mount".

I have a container that fetches data (using graphql from react-apollo) the code is below.
The component then renders data. The problem is that I forgot to add the waiting

[2016-10-19 03:24] stubailo commented on #282
Which versions of react-apollo and apollo-client are you running?

[2016-10-19 03:29] tomitrescak commented on #282
Apollo Client: 0.4.21
React Apollo: 0.5.10

This is the workflow:

1. There is a component that shows two containers A and B
2. In the beginning only A is shown
3. Through user activity (login) B is supposed to show
4. But, B contains error and never renders and no error is shown on the screen.

[2016-10-19 03:51] tmeasday commented on #252
So AC doesn't remove the query from the store when you stop it:

https://github.com/apollostack/apollo-client/blob/master/src/queries/store.ts#L137

[code]

@seeden I'm not sure what you are showing in the first code snippet? But in any case this isn't a bug in `react-apollo`. I don't think it's really a bug in `apollo-client` as currently designed.

[2016-10-19 03:51] #252 closed

[2016-10-19 03:51] tmeasday commented on #252
(By which I mean the store in AC will grow without bounds as you use it).

[2016-10-19 04:11] stubailo commented on #252
@tmeasday that looks like a batched query, so perhaps there is something broken in there. But definitely not related to apollo client.

[2016-10-19 04:22] tmeasday commented on #252
Ok, perhaps the bug is different from what @jbaxleyiii (and I) thought, wrt queries remaining in the store.

@stubailo do you mean definitely not related to `react-apollo`? It actually sounds like it could be a bug with query batching in AC. @seeden can you open a bug there w/ a little more info?

[2016-10-19 04:28] stubailo commented on #252
You're right! I meant not related to react-apollo.

[2016-10-19 09:18] seeden commented on #252
I am going to try AC@0.5 again today and I will let you know. I saw few days version from trunk and few my reported bugs were fixed already. (I will close these bugs too). Anyway you are doing a great work. Thank you

[2016-10-19 13:22] graphan commented on #250
@tmeasday, [the server](https://github.com/WeLikeGraphQL/wordpress-graphql-api-example) has been already updated. You can launch it using one/two commands on every OS. I tried to do it as automatic as possible. You can try it.

Meanwhile, I will try to reproduce the issue against any simpler server.

[2016-10-19 13:47] drFabio commented on #278
Closing as this [one](https://github.com/apollostack/apollo-client/issues/762) explain it better and is already handled

[2016-10-19 13:47] #278 closed

[2016-10-19 16:37] stubailo commented on #278
Great, thanks!

[2016-10-19 18:34] graphan commented on #250
I have already applied your hints. I just forked `react-apollo-example` and made it compatible with: https://github.com/apollostack/frontpage-server.

Fork here: https://github.com/graphan/react-apollo-example
The only [changes](https://github.com/graphan/react-apollo-example/commit/be213f427e09fa9339d4542659e28688bd228a85) that I applied. Please, don't laugh at Readme :)

Unfortunately, the probl

[2016-10-19 19:25] jeffbski opened #284 "Update docs for subscriptions"
From the commits it would appear that subscriptions is available in react-apollo now, correct?

Assuming this is true, it would be great to get the docs updated to explain this exciting feature.

Thanks!

[2016-10-19 19:41] stubailo commented on #284
Yep! We're doing that as part of releasing 0.5, which has much better ways of using subscriptions than before.

[2016-10-19 22:53] Axure commented on #279
@stubailo I wonder if is only a problem of mine.

[2016-10-20 01:41] stubailo commented on #279
Neither I nor @jbaxleyiii use this package with an app written in TypeScript, so I don't have an easy way to test this.

[2016-10-21 00:45] tomitrescak opened #286 "Announcing Errors"
Hi, in the current state the errors are fed to component via props. Unless there is a custom mechanism that catches these errors they are silently swallowed and do not appear in console.

Would you consider to add a functionality to your graphql component that would announce errors from Apollo?

For example add console.error at following line?

https://github.com/apollostack/react-apollo/blob/eb9d

[2016-10-21 05:05] tmeasday commented on #228
Ok, I foolishly created a failing test and then realised it doesn't make sense any more: https://github.com/apollostack/react-apollo/tree/228-failing-test

[2016-10-21 05:06] tmeasday commented on #228
@davidyaha you are correct on both counts. See https://github.com/apollostack/apollo-client/issues/707

[2016-10-21 05:08] tmeasday commented on #228
@webular by "bug" do you mean the fact that it never goes loading when `fetchMore`?

If so a "workaround"[1] is to use your own internal state, just as you would for mutations:

[code]

We should document this better but I'm going to close this because this isn't really a bug any more.

[1] Arguable this behaviour is more correct than before ;)

[2016-10-21 05:08] #228 closed

[2016-10-21 10:27] svrcekmichal opened #287 "Bug: fragments in fetch more are not handled"
If i use fragment in `fetchMore` query, it is not flatten and it throws error, which is somehow not good too `Schema type definitions not allowed in queries. Found: "${definition.kind}"`

https://github.com/apollostack/apollo-client/blob/master/src/queries/getFromAST.ts#L38

Quick solution to fix this is to handle fragments in `fetchMore`, but what i propose is little bit more work. I propose to c

[2016-10-22 06:10] HriBB commented on #286
@tomitrescak your monkey patch just helped me find a bug in my app. Thx!

+1

[2016-10-22 14:00] HriBB opened #288 "Cannot compose withApollo()"
When I try to compose `withApollo()` I get

[code]

In `getDisplayName` function
[code]

This does not work
[code]

This works
[code]

Version
- apollo-client@0.5.0-1
- react-apollo@0.5.13

[2016-10-22 15:01] svrcekmichal commented on #288
My 2cent, shouldn't it be
[code]
?

[2016-10-22 20:46] HriBB commented on #288
@svrcekmichal you're right, thanks! Stupid mistake ...

[2016-10-22 20:46] #288 closed

[2016-10-24 12:37] bkniffler opened #289 "Skip & data.refetch"
Skipping a query will not allow to refetch data, since the refetch function will be undefined. Is this a bug or by design?

[code]

[2016-10-24 16:17] seeden opened #290 "fetchMore has no support for fragments"
I am trying to do fetchMore with fragments. But without any success
I tried next syntax but it is not supported

[code]

Am I missing something?

Currently we are using same syntax in the graphql decorator but it is not supported in the fetchMore syntax

[2016-10-24 16:26] seeden commented on #290
I created same issue in the apollo-client because I found that you are using just fetchMore from apollo-client

[2016-10-24 16:41] stubailo commented on #290
Thanks!

[2016-10-24 16:41] #290 closed

[2016-10-24 21:19] GGAlanSmithee commented on #267
A clarification for anyone else having this issue...

[code]

...is what needs to be added.

[2016-10-25 17:16] jnwng commented on #272
@GreenAsJade re: our discussion in slack, here's the wrapper component we're using here to make sure the presentational component doesn't have to deal with the loading state:

[code]

where the `waitFor` module is just a simple HOC that does not render the underlying component until the callback is true. example usage looks like

[code]

the underlying component _never_ receives a `loading` state,

[2016-10-26 15:38] vlasenko commented on #279
I have the same problem too with TypeScript app

[2016-10-26 15:44] vlasenko commented on #279
@Axure Could you actually submit Pull Request for your patch, so that guys could merge it into react-apollo?

[2016-10-26 15:45] migueloller commented on #279
Apollo already uses Redux internally. Why not just use Redux's compose instead?

[2016-10-26 15:48] vlasenko commented on #279
@migueloller It's not the topic of this issue. Current issue is about error when using react-apollo in TypeScript apps. And it has trivial solution. What is best to use - compose from Redux or from Recompose is a different topic

[2016-10-26 16:34] vlasenko commented on #279
So, this change fixes the error:
https://github.com/vlasenko/react-apollo/commit/cbdee3a24496769b25ffba3f966ef531452a15db
However it's not a proper fix, because lint complains on this line.

In case someone in a hurry working on TypeScript app and faces this error,  you can use
npm i -S git+https://git@github.com/vlasenko/react-apollo.git
at the moment as a temporary workaround, until this issue w

[2016-10-27 19:42] thebigredgeek opened #292 "`options.forceFetch` seems to break SSR"
## Steps to Reproduce

Describe how to reproduce this issue.

-  Create a component, decorate with `graphql` from `react-apollo`.  Write a simple query, and in the options of the query set `forceFetch` to `true`.  Render isomorphically using `getDataFromTree` from `react-apollo/server` combined with  `ReactDOMServer.renderToString` against root component, OR `renderToStringWithData` from `react-ap

[2016-10-27 19:47] thebigredgeek commented on #292
from [here](https://github.com/thebigredgeek/infrastructure-boilerplate) (WIP)

[2016-10-27 22:14] tmeasday commented on #292
This is surprising. Are you saying it's not sending the fragment?

PS I think you should call the fragment `UserRow.fragments.user` ;)

[2016-10-27 22:14] tmeasday commented on #292
Can you log the query document that is actually sent?

[2016-10-28 00:25] thebigredgeek commented on #292
It's sending the fragment.  The query actually happens.  As you can see in the server response, the store is fully hydrated on `window.__INITIAL_STATE__`, which apollo slurps up after the client JS loads.  The problem appears to be that the server isn't connecting the fetched data to the component before rendering it on the server.  Removing `options.forceFetch` results in the expected behavior.

[2016-10-28 00:27] thebigredgeek commented on #292
Here is `window.__INITIAL_STATE__` pretty printed from the above server response HTML:

[code]

[2016-10-28 00:27] thebigredgeek commented on #292
^ So you can see that the data surely loaded on the server.  It appears that the problem is the connection of the store to the component server-side when `forceFetch` is true, per my reproduction steps above

[2016-10-28 02:01] heysailor commented on #289
I agree this could be made more helpful. I may be missing something in the react apollo docs, so I've opened a SO question: http://stackoverflow.com/questions/40296800/how-do-you-dynamically-control-react-apollo-client-query-initiation

Ideally, it'd be great to be able to dynamically control when a query is initiated.

Apparently skip is not evaluated in response to prop updates.

For example, I

[2016-10-28 04:27] vlasenko commented on #292
I confirm, that I'm able to reproduce this too. Reproduction steps:
[code]
Point your browser to: [http://localhost:3000](http://localhost:3000)

Notice that it says 'Loading...'

Change line in src/ui/containers/counter.jsx:109 to
`forceFetch: false`

In the browser notice that the query is loaded now and page shows current counter value.

[2016-10-28 16:30] #279 closed

[2016-10-28 16:34] jbaxleyiii commented on #210
@gajus this is really a lack of documentation on my part. Including `context.store` is done to make it easy for projects which use a custom redux store. The correct state to pull from is `context.client.store`. I need to make this clearer

[2016-10-28 16:34] jbaxleyiii commented on #227
Closing due to lack of response

[2016-10-28 16:34] #227 closed

[2016-10-28 16:35] jbaxleyiii commented on #239
closing for lack of response (should be fixed)

[2016-10-28 16:35] #239 closed

[2016-10-28 16:35] jbaxleyiii commented on #241
closing since this is an AC feature

[2016-10-28 16:35] #241 closed

[2016-10-28 16:36] #267 closed

[2016-10-28 16:37] jbaxleyiii commented on #268
closing in favor of #272

[2016-10-28 16:37] #268 closed

[2016-10-28 16:39] jbaxleyiii commented on #286
@tomitrescak I've been working on adding a logging method on the `<ApolloProvider>` component which would allow for custom dev tooling / something like this.

No timeline as of yet though 👎 I'm pretty busy ATM. If anyone wants to pick it up, I'd be happy to give direction!

[2016-10-28 16:40] jbaxleyiii commented on #287
@svrcekmichal I think this is an AC issue yes?

[2016-10-28 16:42] jbaxleyiii commented on #289
@bkniffler, @heysailor  it currently is by design because the idea is you can't refetch something not fetched? I can see the usefulness in supporting it though! Would you be able to open a PR?

[2016-10-28 17:02] jbaxleyiii commented on #292
Fixed in next build

[2016-10-28 17:02] #292 closed

[2016-10-28 17:43] thebigredgeek commented on #292
Should we close this before a PR is linked?  That might be helpful for other ppl :)

[2016-10-28 18:53] stubailo commented on #287
Yep! Fixed in the newest release: https://github.com/apollostack/apollo-client/pull/842

[2016-10-28 18:53] #287 closed

[2016-10-28 18:54] stubailo commented on #286
Can we set a getter function on `error` that warns if it isn't accessed? That's the only way I can think of to know if the component is handling the error or not.

[2016-10-28 21:20] svrcekmichal commented on #289
It would be also awesome if we can pass some option, for example `onlyInitialFetch` or `disableFetchingOnVariableChange` so we can create component which will not listen to variable changed. this way we can make big fetch with `graphql` HOC and then define custom fetching on props change with fetchMore

[2016-10-28 21:32] svrcekmichal opened #294 "Proposal: move query in graphql HOC"
Is there some reason why query is first argument of graphql HOC? Wouldn't it be better if pass it in options under `query` key like it is in `fetchMore`? It would be awesome if we can select query depending on props passed to parrent component and also if https://github.com/apollostack/apollo-client/issues/853 will be approved it would make perfect sense

[2016-10-28 21:43] heysailor commented on #289
That's a great idea. Two new  would handle it:

`disableAutoQuery` in the query options to prevent initial and subsequent queries in response to mount and prop/variable changes

`fetch` as opposed to `refetch` - supplied as a prop to the wrapped component only if `disableAutoQuery` is `true`. Which is really only renaming the usual `fetch` prop.

[2016-10-28 23:58] tomitrescak commented on #286
Guys, better yet as per component basis, can logger be set globally via some config file? You probably will not change logging component by component

[2016-10-29 02:47] jbaxleyiii commented on #294
@svrcekmichal that is actually and API we moved away from. Here is more info detailing the design behind the current API https://github.com/apollostack/react-apollo/issues/238#issuecomment-250652349

[2016-10-29 02:47] #294 closed

[2016-10-29 14:04] sedubois opened #295 "Example for Next.js"
The new [next.js](https://github.com/zeit/next.js) framework looks quite promising, it would be awesome to have an example of integration with Apollo 😃 Especially as it does not (currently) expose a root-level routing component. (please close issue if you think it should be figured out on next.js side...)

[2016-10-29 14:05] jbaxleyiii commented on #295
I'd love that! Been wanting to try out next.js!

[2016-10-29 14:12] jbaxleyiii commented on #295
@sedubois do you have any links or any idea what would need to be added?

[2016-10-29 14:14] jbaxleyiii commented on #292
@thebigredgeek #293 is linked?

[2016-10-29 15:18] jasonnathan opened #296 "Server not rendering data"
I am trying to render my app from the server  and everything works, for the most part. When I `curl localhost:3000`, I get generated html returned. However, I cannot seem to get past getting data to load on the server. I suspect it is simply because the data is not available yet - which is completely understandable on the client side.

This component is loaded on both server and client:
[code]

Th

[2016-10-29 15:19] sedubois commented on #295
Well, this works but I guess it creates a separate Apollo store per page...

https://github.com/sedubois/realate

[2016-10-29 15:21] jbaxleyiii commented on #295
Does that work with SSR out of the box?

[2016-10-29 15:22] sedubois commented on #295
@jbaxleyiii yes, at least that is the claim

[2016-10-29 20:50] stubailo commented on #295
Does Next have an example with Redux? I imagine Apollo would be initialized and provided in exactly the same way.

[2016-10-29 21:59] seeden commented on #252
This problem is still here in AC@0.5 and latest react-apollo. I can see 20 same queries in one time

[2016-10-30 09:05] sedubois commented on #295
Indeed, here it is: https://github.com/zeit/next.js/wiki/Redux-example

The Redux client-side trick is:
[code]

So I guess the only choice is to manually configure Apollo with such an external store: `<ApolloProvider store={store} client={client}>`.

I propose to close this and any next.js Apollo example could be added in their wiki.

[2016-10-30 09:05] #295 closed

[2016-10-30 11:04] sedubois commented on #295
The example is being developed here, and it's not trivial:

https://github.com/zeit/next.js/issues/106

[2016-10-30 12:27] jbaxleyiii commented on #296
@jasonnathan where are you doing your SSR? Are you using `getDataWithTree` to prefetch all of the data?

[2016-10-30 12:28] jbaxleyiii commented on #296
If I remember, with `reactrouter:react-router-ssr` you can do something like this:

[code]

[2016-10-30 12:30] jasonnathan commented on #296
No, I was just reading about that, but I got all confused because there seemed to be an existing implementation via `meteor-react-router-ssr` here https://github.com/thereactivestack/meteor-react-router-ssr/blob/master/lib/server.jsx#L85

Right, I'll try that!

[2016-10-30 12:33] jbaxleyiii commented on #296
Yep! That package preforms the SSR for you. So you should be able to use that hook, and Meteor's Fiber implementation of promise to prefetch all of your data!

[2016-10-30 12:53] jasonnathan commented on #296
Ok, I tried that, now I'm getting another error:

[code]

[2016-10-30 14:46] jbaxleyiii commented on #296
@jasonnathan that looks like an issue with the Meteor Promise implementation. Not sure if it is a bug there or not though. I don't see react-apollo in the strack trace

[2016-10-30 15:37] jasonnathan commented on #296
Thanks @jbaxleyiii, all sorted. For anyone else getting this bug, it is related to https://github.com/nodejs/node/issues/5687 where `Promise.all` expects an array an isn't getting one. In my case, I was only resolving a single endpoint and changing `awaitAll` to `await` solved it.

The only issue I am still having is:
[code]
Which seems to be related to this https://github.com/apollostack/react-ap

[2016-10-30 15:37] #296 closed

[2016-10-31 00:13] rattrayalex opened #297 "Stateless Components not working with SSR"
This line: https://github.com/apollostack/react-apollo/blame/master/src/server.ts#L48

throws this error: `ComponentClass is not a constructor`
with this stack:

[code]

This occurs only with Stateless Components, which work fine when rendered on the client but break when rendered on the server with react-apollo and react-router.

This is the immediately surrounding code:

[code]

When I only have

[2016-10-31 00:19] rattrayalex commented on #297
This also occurs when `<RouterContext />` is not used

[2016-10-31 01:55] bkniffler commented on #250
I got the same issue, works fine while developing, but in my production build there is only one level of data fetched.

[2016-10-31 06:16] stubailo commented on #295
Cool, let me know if I can help at all, other than the SSR bug. But yeah, attaching the store as a global variable could work I suppose. Just need to make sure it doesn't end up setting a global variable on the server during SSR!

[2016-10-31 08:39] DenisNeustroev commented on #267
Hi @sedubois I think you should pass the immutable prop to ApolloProvider `<ApolloProvider immutable store{...} client={...}>` and change reduxRootSelector to `reduxRootSelector: (state) => state.get('apollo')`

[2016-10-31 08:42] sedubois commented on #267
Thanks I'll keep it in mind if I play with that project again. (Note that my original issue was that I couldn't get Apollo to work, even when specifying neither `reduxRootSelector` nor `reduxRootKey`, so probably my issue was elsewhere.)

[2016-10-31 09:36] sedubois commented on #295
Thanks 😊 discussion continues in that other thread.

[2016-10-31 14:28] HriBB opened #298 "UNMET PEER DEPENDENCY react-native when installing"
When I do

[code]

I get

[code]

Why do I need `react-native`?

[2016-11-01 11:52] sedubois opened #299 "Fragment.propType.isRequired undefined"
Taking a peek at the new [documentation](https://github.com/apollostack/react-docs/pull/90) for fragments, I got this code working (simplified):

[code]
[code]

Although everything works, I get the console error `Warning: Failed prop type: UserPreview: prop type `user` is invalid; it must be a function, usually from React.PropTypes.`

If I remove `isRequired`, the warning disappears. Maybe `isRequ

[2016-11-01 19:22] stlbucket opened #300 "react-codemirror not updating"
### Version
- apollo-client@<0.4.22>
- react-apollo@<0.5.13>
- react-codemirror@<0.2.6>

i'm new to apollo (new to react, really).  i'm trying to use react-codemirror in an apollo component.

i'm loading some code from the server as base64, then attempting to decode it and display in the react-codemirror component i have wrapped in an apollo component.

here is console.log info that is pertinent:

[2016-11-01 19:55] stlbucket commented on #300
and the solution...

[code]

[2016-11-01 19:55] #300 closed

[2016-11-01 22:48] jbaxleyiii commented on #298
fixed in latest! Sorry about that!

[2016-11-01 22:48] #298 closed

[2016-11-01 22:51] tmeasday commented on #299
Hi @sedubois.

I guess we can take this conversation to https://github.com/apollostack/graphql-fragments but the short answer is you don't need to (and shouldn't) use `isRequired` for a `fragment.propType`. They are always required.

I'm not sure if there is a valid use case where they are not required? If we can think of one perhaps we should change the default, add an `isRequired` version, and u

[2016-11-01 22:51] #299 closed

[2016-11-01 22:54] tmeasday commented on #284
For the record, I don't believe subscriptions currently work w/ RA (unless it was fixed in one of the recent versions).

[2016-11-01 22:55] jbaxleyiii commented on #284
@tmeasday they do! I added it a few releases back!

[2016-11-01 22:58] tmeasday commented on #284
@jbaxleyiii I tried using them sometime last week and there was some problem, maybe it had snuck in with some other changes in the last couple of releases?

[2016-11-01 22:59] tmeasday commented on #284
I'll investigate further today rather than just throwing aspersions in an issue ;)

[2016-11-01 23:01] tmeasday commented on #289
If you want that level of control over when the query runs etc, I wonder if you should just use `withApollo` and run the query yourself?

[2016-11-01 23:02] tmeasday commented on #297
That's interesting, I'm pretty sure it does work in some cases (for instance GitHunt has some SFCs). In any case, I'm going to refactor this code soon, thanks for reporting it.

[2016-11-01 23:04] heysailor commented on #289
Yes, that's what I'm doing currently. But it seems like a handy feature that would allow more use of the container style.

On Wed, Nov 2, 2016 at 10:01 AM +1100, "Tom Coleman" <notifications@github.com> wrote:

If you want that level of control over when the query runs etc, I wonder if you should just use withApollo and run the query yourself?

—
You are receiving this because you were mentioned.

[2016-11-02 02:17] rattrayalex commented on #297
Awesome, thanks @tmeasday ! Looking forward.

[2016-11-02 06:23] svrcekmichal commented on #289
@tmeasday It is fine to use `withApollo` but you have to do quite a lot of logic myself and don't know if it will be cleaner
@heysailor can you create some snippet on gist with your usage?

[2016-11-02 06:54] heysailor commented on #289
Hey Michel, I'm not doing anything fancy but doing a direct call to 'apolloClient.query({ options })' - documented in the API reference of the Apollo client. It returns a promise with a data parameter which I parse in the same way you can parse the Apollo result from a containerised call.
In order to avoid data duplication and my fetched data being out of date, I pull out only the IDs of the data

[2016-11-02 14:16] sedubois commented on #299
OK I agree that they are required, I just found confusing that the API is incoherent with what's done in React/Relay proptypes. Here the propTypes is implicitly required, whereas it's flagged explicitly in React/Relay. (Might confuse people.)

[2016-11-02 14:28] sedubois opened #302 "Apollo PropTypes"
Similar to the nifty Fragment [propTypes](https://github.com/apollostack/graphql-fragments/blob/master/src/Fragment.ts#L20), is an ad-hoc react-apollo propType shape available? It might be quite helpful to bring the GraphQL type system within JS? Something like:

[code]

[2016-11-02 18:44] stubailo commented on #299
Interestingly, Relay doesn't even have proptypes for fragments: https://facebook.github.io/relay/docs/api-reference-relay-proptypes.html

[2016-11-02 20:56] daniman opened #303 "Throw more useful errors from options functions that cause exceptions"
[code]

The above options function throws because `currentRoute` is undefined. The error thrown is an opaque apollo error
[code]

[2016-11-03 00:00] tmeasday commented on #299
@stubailo what do you think? I'm inclined to make it optional by default and add an `isRequired()`, this has confused a couple of people already.

[2016-11-03 00:50] stubailo commented on #299
Sounds great! Let's talk on the other issue.

[2016-11-03 04:21] tmeasday commented on #284
OK, I think I was talking total jive, I apologise. Not sure what the problem I ran into last week was, but this seems to work just fine now.

[2016-11-03 04:30] tmeasday commented on #250
@bkniffler can you tell if you are getting the production version of React locally? You can tell easily by e.g. passing incorrect prop types; does it log a long warning?

[2016-11-03 04:40] rattrayalex opened #304 "TypeError: Cannot read property 'getApolloState' of undefined"
at server.ts:109:44

When you call `renderToStringWithData` with an app tree that does not include any graphql queries, the above error is thrown. It seems this is because `client.queryManager` is undefined; presumably it is only added to `client` when a query is found.

I tried "fixing" this by changing the line to:
[code]

Then it turned out that `client.store` was undefined. I assume this had t

[2016-11-03 12:05] bkniffler commented on #250
Yes, I just checked it and I'm certain to be running production version. Especially, since react throws a warning if minified and non production. Haven't you been able to reproduce the issue on your side?

[2016-11-03 18:27] vonwao opened #307 "Component is rendered a second time, graphql object is undefined, when accessing nested property of null property"
We have some code that looks like this:

[code]

### Buggy Behavior

in react-apollo@0.5.8 and above:
When rendering, we see something like this in console

[code]
### Expected Behavior

in react-apollo@0.5.7 we see the correct/expected error:

`AnotherComponent.js:78Uncaught (in promise) TypeError: Cannot read property 'z' of null(…)
`
### Version
- broken in react-apollo@0.5.8 and above
- workin

[2016-11-03 20:52] koz commented on #174
Hi,
I'm having this problem with `react-hot-loader@1.3.0` as well. Hot reload doesn't work with any components with `graphql` HOC except if they are decorated with `react-redux` `connect`.

[2016-11-04 00:01] tmeasday commented on #250
I guess I am wondering about the odd behaviour you are seeing when the issue doesn't happen locally. I've seen the bug in production mode in OSX.

[2016-11-04 02:21] rattrayalex commented on #304
Ah, combing through the source, it looks like `initStore()` needs to be called on `client`. It doesn't seem likely that will cause problems to do manually, since it's a public method and doesn't take parameters. Not sure why it isn't called within the constructor – assuming something related to tests.

I'll submit a PR shortly.

[2016-11-04 03:52] heysailor commented on #289
Note that with the release of Apollo client version 0.5, the query merging style of query batching is being discontinued. You need a batching capable server to do it. It would therefore now be better to avoid many individual components making queries as I was using earlier.

On Wed, Nov 2, 2016 at 5:54 PM +1100, "Nick McIntosh" <nick@nickmcintosh.net> wrote:

Hey Michel, I'm not doing anything fan

[2016-11-04 08:24] bojandragojevic opened #309 "Selector and business logic in apollo"
We know that with redux if you want to apply some additional logic on your data response in state before you pass it to component you can do it in selector. But since with apollo you connect data response directly to component I don't know where to apply this logic, here we do not have selectors.

so we know store can look like this if we use redux and apollo
[code]
So for redux you would select p

[2016-11-04 10:45] ryannealmes opened #310 "Error in documentation for Pagination"
Looking at the [documentation](http://dev.apollodata.com/react/pagination.html#numbered-pages) on pagination.

[code]
Shouldn't the offset being set in `loadMoreEntries` be something like `pageSize * pageNumber - 1`.

For example if I am on page 1 with a page size of 10 and I click on page 3, based on the example, my offset will be 10, when it should be 20.

[2016-11-04 13:29] HriBB commented on #174
@jbaxleyiii maybe it has got something to do with [reassigning components](https://github.com/gaearon/react-hot-loader/blob/next-docs/docs/Known%20Limitations.md#reassigning-components).

[2016-11-04 13:51] HriBB opened #311 "How can we test react-apollo components?"
Hey. I'm trying to figure out how to test `react-apollo` components. Are there any good examples out there? There's nothing in the docs.

I want to test queries and mutations. Looking at the [Pokemon.test.js](https://github.com/apollostack/react-apollo/blob/master/examples/create-react-app/src/Pokemon.test.js) example, but it uses `create-react-app`, which has testing setup through `react-scripts`

[2016-11-04 14:36] jbaxleyiii commented on #311
@HriBB `react-scripts` uses `jest` under the hood. Everything else should be the same! I'll try and update the meteor and react-native projects. Although the test-utils imported by that file can be used with any testing framework!

[2016-11-04 15:48] HriBB commented on #311
Ok, thanks!

[2016-11-04 19:16] helfer commented on #289
@heysailor We're still planning on publishing query merging in a separate package. If making lots of individual components with small queries made your code easier to understand and maintain, I would stick to that, and not make things more complicated just because there's currently no package that does batching for you if the server doesn't support it.

[2016-11-04 23:01] tahaykACF commented on #231
@HriBB : please can you tell me how you fixed it ?

[2016-11-05 18:56] deoqc opened #312 "graphql is caching the variables when using object instead of function in options"
Usually I have this type of code:
[code]

But since I don't need to pass any args explicitly, it could be write as:
[code]

Or:
[code]

**BUG**: this third case, without a function, is using a cached `variables`. So, the first time a item is rendered, it runs correctly. But if I the navigate to another item, with different `id`, it uses the same old `id` of the first item.

*ps1: I prefer to alway

[2016-11-07 00:48] tmeasday commented on #250
This is probably fixed on `refactor-ssr` if you are game to give it a try.

[2016-11-07 02:40] SachaG opened #314 "Network error: Cannot read property 'remove' of undefined"
I've been running into the following error in my Apollo container:

[code]

## Steps to Reproduce

This is probably an error specific to my own code so I don't know how easy it would be to reproduce. It also happens only with a specific document in my database, which makes it even weirder.

### Version
- apollo-client@0.5.0
- react-apollo@0.5.13

[2016-11-07 02:43] SachaG commented on #314
![https://d3vv6lp55qjaqc.cloudfront.net/items/1e0K2m131w3c1k3w3r1T/Screen%20Shot%202016-11-07%20at%2011.42.57%20AM.png?X-CloudApp-Visitor-Id=01406470cd8cc4d8af4ff992d3ec662f&v=443219b2](https://d3vv6lp55qjaqc.cloudfront.net/items/1e0K2m131w3c1k3w3r1T/Screen%20Shot%202016-11-07%20at%2011.42.57%20AM.png?X-CloudApp-Visitor-Id=01406470cd8cc4d8af4ff992d3ec662f&v=443219b2)

[2016-11-07 03:22] SachaG commented on #314
A `meteor reset` seemed to fix it. Super weird, but I'll close this for now.

[2016-11-07 03:22] #314 closed

[2016-11-07 07:45] ryannealmes opened #315 "Compose function not working as expected"
Using the compose function I ran into a problem where props were not being passed to my connected component state changes.

I was using the compose function below

[code]

after changing to

I was using the compose function below

[code]
I think some things required to reproduce might be related to my setup.
- I am using redux
- it's integrated with the apollo client

"apollo-client": "0.5.0",
"re

[2016-11-07 10:56] bkniffler commented on #250
Unfortunately it seems like the problem persists. If it helped, I could give you access to the private repository on bitbucket and heroku server, so you can take a look, experiment with your code on an affected repository and push to the server to see if you can find the cause within react-apollo (which I just pulled in as a webpack alias, so the react-apollo code is now part of the repository).

[2016-11-07 15:28] bkniffler commented on #250
I got multiple problems when using refactor-ssr branch.

- walkTree throws undefined on `var Component = element.type;`, as element isn't defined
- same goes for `getQueriesFromTree -> walktree -> var Component = element.type || element;`
- if I fix these by making sure that element is defined, React-Router v4 throws an error in https://github.com/ReactTraining/react-router/blob/v4/modules/MatchPr

[2016-11-07 15:53] bkniffler commented on #250
I'm revisiting this bug (with react-apollo master branch), but I can't find anything that would explain this behaviour. I've inserted some console.logs into my code and its clear that on the server, render is only called once on the components, which results in only one level of data being resolved, while locally on my workmachine render is called multiple times (at least 4 times). Still talking a

[2016-11-08 01:07] tmeasday commented on #250
Hi @bkniffler; thanks for investigating further.

It sounds like the new branch has a few rough edges, thanks for helping me sort them out.

A) How do you get `null` elements into `walkTree`?
B) How did you work around the context issue w/ RR? What was it being caused by?

If you are feeling keen, perhaps you could submit a PR to the `refactor-ssr` adding some simple tests to https://github.com/ap

[2016-11-08 01:08] tmeasday commented on #250
@bkniffler the only thing I'm aware of is the issue mentioned here: https://github.com/apollostack/react-apollo/pull/259 where the old SSR code did something funky that threw an exception in development, and led to a different code path in the two cases.

But you said that you were running React in production locally so I can't really suggest anything else. Is it possible that on the server the qu

[2016-11-08 07:13] stubailo commented on #315
This is surprising, I would have expected it to work both ways. I wonder if perhaps it's something to do with `react-redux`. Can you create a reproduction app or failing test we can try out?

[2016-11-08 07:19] ryannealmes commented on #315
I don't have time right now, have a long flight today, but I will see what I can do in the next couple of days.

[2016-11-08 07:49] linonetwo opened #316 "Can mockNetworkInterface be exported?"
MockNetworkInterface is useful for testing queries for apollo-server, can it be exposed from here or apollo-server or some where?

[2016-11-08 08:42] bkniffler commented on #250
Yesterday I was totally focused on trying to fix the master branch after being frustrated with the refactor-ssr one, but nothing worked. After your messages I thought I'd give the new branch a try and.. it works perfectly now, on the server and locally with react-router, code-splitting and nested data to the lowest level!

It was actually quite easy to fix the refactor-ssr branch. Here is a PR: ht

[2016-11-09 09:46] tomitrescak opened #318 "Reducer is not called on non-apollo actions."
Hi, I have the latest apollo-react [0.5.16] and I'm trying to modify apollo-store based on my own redux action.
Yet, when I monitor actions that are being fed to the `reducer: (previousResult, action)` are only Apollo Actions such as Mutation or query results. Is this a feature, would it be possible to listen to ALL redux actions? Thanks.

According to the documentation it should work :/

This is

[2016-11-09 10:46] dotansimha opened #319 "Unable to use Subscription with `graphql` wrapper? (setOptions error)"
## Steps to Reproduce

Using: `graphql-subscriptions` and `subscriptions-transport-ws`, created React Component and try to extend it with graphql object, with Subscription:
[code]

When the subscription executed, I am getting the following errors:
[code]

This is the line with the issue: https://github.com/apollostack/react-apollo/blob/71bad833733904a5fda427830479d159ddeca016/src/graphql.tsx#L388

[2016-11-09 13:45] ansonla3 commented on #296
@jasonnathan  how can you do SSR with Meteor?

do you have apollo server that is running on a standalone apollo server node app?
I just trying to find out how to do SSR with meteor apollo , but have no idea.

[2016-11-09 13:50] jbaxleyiii commented on #296
@ansonla3 check out https://github.com/apollostack/react-apollo/tree/master/examples/meteor

[2016-11-09 13:51] #311 closed

[2016-11-09 13:55] ansonla3 commented on #296
@jbaxleyiii cool! check it out now. thanks very much!!

[2016-11-10 10:06] stefanorg commented on #315
I had the same issue, a very simple component with a search input text and a tabular data filtered by the search input.

[code]

I had to put **graphql(TestQuery, queryOptions)** at the bottom as pointed by @ryannealmes

[code]

At this point the client is aware of the changed `searchQuery` prop once the redux action is dispatched and the apollo middleware take care of re run the query.

[2016-11-10 10:34] sedubois opened #320 "Authentication with header missing Bearer prefix"
I copied the code snippet about authenticating with a header from this page: http://dev.apollodata.com/react/auth.html

But didn't pay close enough attention that it was missing the "Bearer" part, and the result was that authentication was simply ignored.

1. change the doc to something like this? `req.options.headers.authorization = token ? `Bearer ${token}` : null`
2. throw an error when it has

[2016-11-10 17:40] stubailo commented on #320
What's your backend?

[2016-11-11 08:41] sedubois commented on #320
@stubailo Graphcool

[2016-11-11 11:48] PascalHelbig opened #321 "refetch() does not update loading to true"
## Steps to Reproduce
[code]

### Buggy Behavior
When I call `props.data.refetch()`, `props.data.loading` is still `false`.
![image](https://cloud.githubusercontent.com/assets/1886867/20213679/30a2142e-a80a-11e6-85af-859b35e8396a.png)

### Expected Behavior
I thought it would change loading to `true`.

From [docs](http://dev.apollodata.com/react/queries.html):

### Version
- apollo-client@0.5.2
-

[2016-11-11 18:57] cannoneyed opened #322 "Add networkStatus prop to connected components"
## Steps to Reproduce

When fetching more data, using a pattern identical to that proposed in the docs, the `loading` prop that is passed down to the wrapped component is `false` after `fetchMore` is invoked.

[code]

### Buggy Behavior

It seems the `loading` prop is only ever tied to the initial load of data. For simple components that don't need to update or paginate, this is fine. However, the

[2016-11-12 00:06] richburdon opened #323 "Static fragment defs aren't compatible with static propTypes {} syntax."
One disadvantage of the convention to declare fragments as static members of the component is you can't reference these from static propTypes {} member functions. Also, while the fragments proptype is useful, it sort of "infects" the component (whereas, graphql and redux's connect go to pains to leave the component alone; but I don't see how you could have both...)

So the following is the path I

[2016-11-12 00:07] stubailo commented on #323
Basically we didn't specify a convention at all, but a lot of people were really adamant about wanting to attach their fragments to a specific component.

So you can't do `Item.fragments.item.propType` if you use a static property?

[2016-11-12 00:19] jasonnathan opened #324 "getQueriesFromTree breaks SSR on production with latest version"
Hi, I'm not sure if this is related to the fact that `react-motion`'s children prop is a function. But I am getting this error only in production.

[code]

### Version
- apollo-client@0.5.2
- apollo-server@0.3.3
- react-apollo@0.5.16

[2016-11-12 01:42] helfer commented on #322
@cannoneyed FYI, the `fetchingMore` network status isn't implemented in apollo-client yet. All others should be.

[2016-11-12 08:09] sedubois commented on #267
By the way I had briefly tried the suggestion with react-boilerplate but still had same issue. Actually a similar issue was created here: https://github.com/apollostack/apollo-client/issues/898

[2016-11-12 10:47] graphan commented on #250
@tmeasday or @bkniffler , could you tell me how to try `refactor-ssr` in the easiest way?
I mean that I added something like this to my `package.json`:
[code]
However, this way is not correct. I cannot import `react-apollo`:
[code]
How to do it seamlessly?

[2016-11-12 11:47] DenisNeustroev commented on #267
I have a fully worked app with RBP and Apollo, there is no any issues. I can send example of integration.

[2016-11-12 11:57] #324 closed

[2016-11-12 13:23] bkniffler commented on #250
@graphan Just create a file 'apollo-server-fix.js' or similar inside your project and insert the apollo server code (https://github.com/apollostack/react-apollo/blob/master/src/server.ts) and import that script to call getDataFromTree/renderToStringWithData. For the sake of comfortability and if you don't use typescript, here is a compiled version of the server.ts file that you can copy&paste: htt

[2016-11-12 15:02] DenisNeustroev commented on #267
https://github.com/mxstbr/react-boilerplate/issues/1041#issuecomment-260126495

[2016-11-13 00:03] jnwng opened #325 "The `graphql` HOC should uniquely declare passed fragments"
### Steps to Reproduce

1. Pass in multiple instances of the same fragment to the `graphql` HOC.
[code]
2. See that the query that gets sent looks like
[code]

NOTE: Of course, this is a very trivial example. Where this occurs in a real application is when two fragments in separate branches of a particular fragment tree _both_ declare a dependence on the same fragment, and otherwise have no knowle

[2016-11-13 00:05] jnwng commented on #325
I actually created a (potential) solution to this before seeing that I should open an issue first - see that pull request [here](https://github.com/jnwng/react-apollo/pull/1). If that seems suitable, happy to make a pull against this repo and reference this issue, as noted in the pull request template.

[2016-11-13 23:24] tmeasday commented on #319
Ahh! @jbaxleyiii this is the issue I was talking about! I guess it only happens if you set options on the subscription.

@helfer - do we have plans to make the subscription `Observable` take a similar API to `ObservableQuery` (or even be an `ObservableQuery`)?

It would help RA a lot if you could call `setOptions` and `currentResult` on a subscription.

[2016-11-14 01:46] tmeasday commented on #316
It should probably be exported from `apollo-client`, can you open an issue there?

[2016-11-14 01:46] #316 closed

[2016-11-14 02:08] #264 closed

[2016-11-14 02:08] tmeasday commented on #297
Fixed in 0.6.0 (I think?)

[2016-11-14 02:08] #297 closed

[2016-11-14 02:08] tmeasday commented on #250
This is now out in 0.6.0. I think it fixes this issue.

[2016-11-14 02:08] #250 closed

[2016-11-14 02:08] tmeasday commented on #237
I assume this is fixed in 0.6.0

[2016-11-14 02:08] #237 closed

[2016-11-14 06:47] stubailo commented on #325
Thanks for the detailed description of the issue!

Looks like this is the same bug: https://github.com/apollostack/apollo-client/issues/897

As I mentioned on your PR probably the right place to put it is in `apollo-client`, here: https://github.com/apollostack/apollo-client/blob/372bca9881b374caf56d0cbd0795a88dcc13ec0f/src/queries/getFromAST.ts#L150

[2016-11-14 06:47] stubailo commented on #325
(In the `apollo-client` bug report there is also a workaround, by the way: https://github.com/apollostack/apollo-client/issues/897#issuecomment-260087424

[2016-11-14 06:48] stubailo commented on #325
(If it's OK, let's close this one and talk on apollostack/apollo-client#897)

[2016-11-14 06:49] jnwng commented on #325
Yep, sgtm. Will see if the fix can be ported to the area you pointed out.

[2016-11-14 06:49] #325 closed

[2016-11-14 09:01] adam-bernau commented on #309
Hi @bojandragojevic, have you figured out how to do it?
 We have same problem :-(

[2016-11-14 09:13] bojandragojevic commented on #309
No I did not figure it out, Seams that for project where we will use graphql we will use https://github.com/kadirahq/lokka instead apollo. This is for us important to be able in selectors apply business logic. With lokka that is possible.

[2016-11-14 10:05] medv commented on #309
Correct me if I'm wrong (I'm just starting with apollo), but is this not described [here](http://dev.apollodata.com/react/redux.html)? You graphql-connect your already redux-connected component so you still have the redux selector function.

[2016-11-14 15:23] srosset81 commented on #321
I'm having the same issue, but with apollo-client@0.4.22

[2016-11-14 21:51] cannoneyed opened #326 "Downstream component error being swallowed by react-apollo"
## Steps to Reproduce

This is a bit of a head scratcher, but it seems like in certain cases errors in the render methods of child components are being swallowed by react-apollo, showing up in the `error.networkError`property of the `data` object. Here's the best approximation of code to reproduce:

[code]

Unfortunately, the type error of accessing a property on undefined (`user.property.doesntEx

[2016-11-14 22:04] cannoneyed commented on #326
Closing because it's fixed in 0.6.0! :D

[2016-11-14 23:02] wizardzloy commented on #322
I would like to implement this functionality since my app depends on it. @jbaxleyiii  @cannoneyed @helfer Is anybody working on it now?

[2016-11-14 23:19] cannoneyed commented on #326
OK, So it turns out that 0.6.0 doesn't fix the issue, it just silences the issue (arguably much worse. The same code as listed above lead to a much more inscrutable downstream error being thrown:

![screen shot 2016-11-14 at 3 18 58 pm](https://cloud.githubusercontent.com/assets/7818584/20286842/b20e5ade-aa7d-11e6-9de1-cfc5d151e920.png)

Seems like there's some issues with exception handling in th

[2016-11-15 02:11] cannoneyed commented on #326
In `graphql.tsx` ([here](https://github.com/apollostack/react-apollo/blob/master/src/graphql.tsx#L389-L396)), it seems the following thing that is warned about in a comment is actually happening...

[code]

[2016-11-15 04:13] cannoneyed commented on #326
OK. Think I have something of a handle on what's happening here.

In `apollo-client/src/core/QueryManager.tsx` (code truncated)
[code]

When the next result (`this.transformResult(resultFromStore)`) is returned from the store, it's passed as an argument into the observer's `next` method, which is defined below in `react-apollo`

In `react-apollo/src/graphql.tsx` (code truncated)
[code]

The `next`

[2016-11-15 06:45] stubailo commented on #309
Hi, have you seen the part of the docs that describes how to transform your data before passing it down? I think it's exactly what you are looking for.

http://dev.apollodata.com/react/queries.html#graphql-props

We use it very heavily in the example app, I'd suggest taking a look at that as well: https://github.com/apollostack/githunt-react

[2016-11-15 06:45] #309 closed

[2016-11-15 07:35] cannoneyed commented on #326
This is an issue with `apollo-client`. I've submitted a PR resolving it

https://github.com/apollostack/apollo-client/pull/910

[2016-11-15 07:36] cannoneyed commented on #322
@wizardzloy I'm starting to look into this now.

[2016-11-15 14:17] skuridin commented on #57
I still have this but on latest version of Apollo

[2016-11-15 17:00] novus57 opened #328 "Can't get full markup from "renderToStringWithData""
I can't get full page markup, only part without queries. Intial state come with data but markup doesn't full. Sorry for my English. Thanks a lot for help.
[code]

[2016-11-15 17:30] cannoneyed commented on #326
Resolved in apollostack/apollo-client#910. Closing

[2016-11-15 17:30] #326 closed

[2016-11-15 19:37] cannoneyed commented on #322
@helfer @wizardzloy So what I've found so far is that there seems to be some work needed in `apollo-client`... it looks like when `ObservableQuery.fetchMore` is called, a new query is created but no corresponding listener is tied to it. I'm going to dig in a little bit to check out what the implications of attaching the observer to the newly created `fetchMore` query are

[2016-11-15 21:37] acorcutt opened #329 "SSR nested queries broke with apollo-client 0.5.3"
Nested queries on the client are showing the checksum error with 0.5.3...
`Warning: React attempted to reuse markup in a container but the checksum was invalid... etc`

The server is generating the correct markup with the nested queries results, and it looks like the initalState is correct - but the client initial render shows loading state and re-fetches them.

Working in 0.5.2 + 0.6.0

[2016-11-16 13:49] acorcutt commented on #329
This is only happening with the development build, NODE_ENV=production is fine.

[2016-11-16 16:22] skuridin commented on #57
Update: I happens only if I use Apollo's reducer and middleware with redux. Without connecting it to my redux store I can see errors, but they are all caught in `apollo-client/store.js`.

[2016-11-16 16:39] jbaxleyiii commented on #57
@skuridin looks like this was a bug in apollo client that was reintroduced. I believe a fix is already in place for it in the next release. react-apollo as the issue point was refactored and fixed to correctly error. Including tests added to prevent this regression

[2016-11-16 19:10] helfer commented on #57
@jbaxleyiii does this still happen with 0.5.4? I'm not aware of any bug having been reintroduced.

[2016-11-16 21:14] cannoneyed commented on #289
@helfer Any word on the concept of query merging?

[2016-11-17 08:29] chillu opened #330 "Dynamic queries passed into graphql()"
We're converting data access for our PHP-based CMS UI into GraphQL. Naturally, the "active record" style data types managed by the CMS are user defineable (via PHP), so every installation of the CMS will have a different UI. We have a dynamic "form schema" which determines the form fields in a particular installation, and are hoping to use a GraphQL mutation for the form submission - with a 1:1 ma

[2016-11-17 11:23] SachaG opened #331 "Suggestion: add getWrappedInstance to withApollo"
Unless I'm mistaken I think the `withApollo` HoC doesn't have a `getWrappedInstance` method, unlike the `graphql` wrapper. Maybe one could be added?

[2016-11-18 00:50] drFabio opened #332 "Is there a way to make queryVariables be available on reducer option?"
Currently it seems that unlike [updateQueries](http://dev.apollodata.com/react/cache-updates.html#updateQueries), the [reducer](http://dev.apollodata.com/react/cache-updates.html#resultReducers) option can't get the query variables on the update.

Was this by design? Is there a way to achieve it or it is a constraint of some sort?

One example of why this may be needed is this:

- Suppose a query

[2016-11-18 01:02] stubailo commented on #331
Good idea - send a PR?

[2016-11-18 12:11] helfer commented on #332
@drFabio this issue belongs on Apollo Client, react-apollo just passes it through.

[2016-11-18 12:12] drFabio commented on #332
Ok will close and reopen it then.
Thanks

[2016-11-18 12:12] #332 closed

[2016-11-18 20:16] acorcutt commented on #329
Fixed in 0.5.5

[2016-11-18 20:16] #329 closed

[2016-11-19 15:21] swernerx opened #333 "Extract PropTypes for GraphQL queries"
Currently it seems that we a doing a lot of duplicate work where we define types for data structures all over different places. We are relatively consequent on using PropType definitions for every component. Therefor we have to use them, too, for our GraphQL query-connected components. When accessing the PropTypes inside our code eslint is complaining about the usage as these are typically not dec

[2016-11-19 15:33] swernerx opened #334 "Add autoSkip option for query connection"
We generally try to keep our code clean. Something we saw recently is that we do a lot of manual code to implement query skipping. Typically queries depend on some kind of user input. In our - pretty wizard hefty application - it's possible that some specific requirement is not yet correctly filled out. Instead of manually implementing a `skip` selector everytime it would be nicer to have another

[2016-11-20 01:02] tokenvolt opened #335 "client.store is undefined"
## Steps to Reproduce
I'm getting an exception after updating to 0.6.0 when trying to setup SSR with react-apollo.
[code]

### Buggy Behavior

`client.store` property is undefined

### Expected Behavior

According to the docs I should be able to access `store` property.

### Version
- apollo-client@0.5.6
- react-apollo@0.6.0

[2016-11-20 19:10] TSMMark opened #336 "Use of GraphQL interfaces fragments causes component to always fetch data from server even if it should already be cached in redux"
Related issue: https://github.com/apollostack/apollo-client/issues/933

## Steps to Reproduce

 1. Create a component whose query includes an [interface fragment](http://graphql.org/learn/schema/#interfaces).

[code]

 2. Mount the `ComposedComponent` and observer network traffic. You should see a network request was made to fetch the data (this is expected).
 3. Unmount the `ComposedComponent`, a

[2016-11-20 19:14] voodooattack opened #337 "(SSR) Child's fetchData called on vanilla react-redux HOCs"
Higher order components created using `react-redux`'s `connect()` function expose all statics of the wrapped components, as per [this description](https://github.com/reactjs/react-redux/blob/master/docs/api.md#static-methods), thus exposing `fetchData` of the child component, which gets called before `connect()` can provide any required props from the store.

## Steps to Reproduce

In this example

[2016-11-21 12:48] wmertens commented on #330
You could use that JSON graphql type and then https://github.com/hapijs/joi to verify the schema of the incoming data.

GraphQL is leaning towards static queries, so that they can be fetched efficiently…

[2016-11-21 12:59] wmertens opened #338 "Multiple simultaneous queries with same variables are not merged"
## Steps to Reproduce

1. Make a component like
[code]

2. put the component in the app twice `<MyComponent/><MyComponent/>`.

### Buggy Behavior

Look at the network tab when the components are mounted - the query is ran twice, with the same variable `foo`.

### Expected Behavior

It should only run the query once and provide the results to both components. After all, the variables are the same,

[2016-11-21 20:24] chillu commented on #330
Thanks for the response @wmertens! Adding a separate JSON schema on top of GraphQL sounds a bit like reinventing the wheel :) I'm having a play with `queryTransformer` in the [client](http://dev.apollodata.com/core/apollo-client-api.html#ApolloClient.constructor) at the moment to add fields to queries after they've run through `gql()` tags. It's only half a solution to my problem, because sometime

[2016-11-22 14:54] TSMMark commented on #338
related to #336?

[2016-11-22 17:25] stubailo commented on #330
Hmm, I do like that the current API heavily recommends using static queries - after all, we think it's the right approach for most apps: https://dev-blog.apollodata.com/5-benefits-of-static-graphql-queries-b7fa90b0b69a#.axv02k49m

It sounds like you just want to have dynamic queries on app initialization time, rather than on each render of a component?

I think that could be somewhat complex becau

[2016-11-22 23:43] chillu commented on #330
That's the largest use case for us. For example, we might have a "hello <username>" component in the CMS toolbar. This component would have a co-located query to retrieve the `username` field. A third-party dev might want to add another component which shows a profile picture next to it, as a CMS module which other devs can use in their own installations. Which means the additional `username` fiel

[2016-11-23 04:13] chillu commented on #330
I've discovered that `queryTransformer` is deprecated (it's not marked as such in your docs: http://dev.apollodata.com/core/apollo-client-api.html#ApolloClient.constructor). Which gets me back to square one regarding my approach unfortunately. What's the rationale for removing this feature (see https://github.com/apollostack/apollo-client/pull/779)? You only had a single use case for it (add `__ty

[2016-11-23 14:32] TSMMark commented on #336
@stubailo any pointers where to start looking in the source if I wanted to open a PR?

[2016-11-24 00:01] chillu commented on #330
My proposal for a "fragment registry" in our CMS UI might clarify our use case a bit: https://github.com/silverstripe/silverstripe-graphql/issues/13

[2016-11-24 04:41] tmeasday commented on #336
@TSMMark are you saying it doesn't happen if you don't use fragments?

I would start by tracing from this line: https://github.com/apollostack/react-apollo/blob/master/src/graphql.tsx#L395

and seeing what happens when it reaches https://github.com/apollostack/apollo-client/blob/master/src/core/QueryManager.ts#L459

[2016-11-24 04:42] tmeasday commented on #338
@wmertens what happens if you wait until the query has returned from the server before mounting the second component?

I would expect it to send 2 queries if the first is still in flight.

[2016-11-24 04:43] tmeasday commented on #337
Thanks @voodooattack.

As an aside, I wonder if we should even be using a static method for this at all.

Do you have any good ideas about how we could go about fixing this? The idea is that `fetchData` would be a generic API that isn't just RA-specific.

[2016-11-24 04:44] tmeasday commented on #335
Try calling `client.initStore()` first. I suspect your app didn't end up calling any queries?

[2016-11-24 04:45] tmeasday commented on #334
Hi @swernerx, this is a little unclear.

Are you suggesting that `skip: 'auto'` would lead to this behaviour if not all variables were provided?

I think this is probably easier implemented as a helper function that generates options

[2016-11-24 04:48] tmeasday commented on #333
Is all you are asking for here that we export propTypes for `loading` and `error`? I think we could do that! Maybe you could send a PR?

Because `options` runs before we get the data, and `props` afterwards.

[2016-11-24 04:49] tmeasday commented on #328
Hi @novus57, which version of RA are you using?

[2016-11-24 04:51] tmeasday commented on #323
@richburdon could you make `fragments` a static class property too?

[2016-11-24 04:51] tmeasday commented on #323
Can you say a little more about what you mean by this?

[2016-11-24 04:52] tmeasday commented on #321
I think this is a docs issue, I think we changed this a little while back.

[2016-11-24 04:52] tmeasday commented on #320
Can we move this issue to `apollo-client`? This doesn't seem like an RA issue.

[2016-11-24 04:54] tmeasday commented on #319
I'm not sure we can really work around this without tracking options etc in RA for subscriptions.

One option would be to make it work but throw an exception if you change propTypes of subscription container. That's pretty crappy but would at least allow you to use `graphql('subscription ... '`

[2016-11-24 04:54] tmeasday commented on #318
Can we move this issue to `apollo-client`?

[2016-11-24 04:56] tmeasday commented on #310
I think props gets called again with a new feed after your first `loadMoreEntries`? Have you tried it @ryannealmes?

[2016-11-24 04:57] tmeasday commented on #312
This sounds like a straight up bug!

[2016-11-24 04:58] tmeasday commented on #304
@rattrayalex do you think we are OK to close this now the SSR code doesn't run this path?

[2016-11-24 05:00] tmeasday commented on #302
How would `Users.propTypes = UsersWithData.getShape();` work exactly?

See https://github.com/apollostack/react-apollo/issues/333

[2016-11-24 05:35] rattrayalex commented on #304
Yes, I believe so! I haven't actually been able to try it yet unfortunately but can't imagine this would persist. I'll reopen if so.

[2016-11-24 05:35] #304 closed

[2016-11-24 06:46] wmertens commented on #338
@tmeasday Once the query completes it is served from cache as it should.

The problem is that not coalescing the same query in flight breaks the abstraction. `@graphql` is supposed to get the described data as efficiently as possible and if it doesn't do that, it means putting workarounds in place that damage the application code clarity.

So IMHO, this is a bug…

[2016-11-24 06:50] wmertens commented on #338
I just realized that the in-flight coalescing should probably happen in apollo-client, I'll move the issue there.

[2016-11-24 07:34] swernerx commented on #334
Yes that's what I meant.

[2016-11-24 07:35] swernerx commented on #333
Have no time for a PR right now.

Regarding the signature... still you could use the same idea of parameters e.g. using named parameters in both places for example.

[2016-11-24 07:37] swernerx commented on #333
Generally what I meant was PropTypes for everything from the query. We already have all the types defined the the schema for the queries... why to reuse this information?

[2016-11-24 08:21] wmertens commented on #338
Closing this in favor of https://github.com/apollostack/apollo-client/issues/956

[2016-11-24 08:21] #338 closed

[2016-11-24 10:52] tokenvolt commented on #335
@tmeasday yes, no queries so far, but in my opinion it would be expected to have an empty apollo store even without any queries

[2016-11-24 10:57] tmeasday commented on #335
Perhaps it's fixed by this: https://github.com/apollostack/apollo-client/pull/941/files. Try calling `client. getInitialState()` w/ latest apollo-client?

If not, we should update that PR to also check for an unset store.

[2016-11-24 11:05] sedubois commented on #302
I don't have an exact idea at this point. But Apollo in theory has all the information to build this (GraphQL schema + query). If it somehow manages to validate that a query complies to the schema, I guess it means it knows the types, so it could return a JSON object with this type info.

[2016-11-24 11:21] tmeasday commented on #302
Actually I don't think Apollo yet fetches the schema from the server (although I think this may be planned).

I guess there's sort of a begged question here which is -- if you trust Apollo is going to pass the right thing for your query, then what exactly is the point in having prop types at all?

[2016-11-24 11:37] sedubois commented on #302
Indeed. But then same question about Fragment propTypes, why were they added? Either PropTypes should be fully supported in GraphQL-connected components, or not at all. If not at all, then somehow eslint's prop-types rule should know that it needs to ignore Apollo components.

[2016-11-24 12:25] tokenvolt commented on #335
@tmeasday thanks, it works with `client.initStore()`, I'll try with master version lately

[2016-11-24 12:43] voodooattack commented on #337
Maybe use an internal `Symbol()` instead of a named function?

I like the idea of a generic `fetchData` as well, had many a situation where I could've used that.

[2016-11-24 14:13] pschupp01 opened #340 "Component data not recovering after a fail at initialization"
I have this bug on my app which cause some components to not be able to receive any props.

## Steps to Reproduce

Just run the tests added in the branches below:
  react-apollo: https://github.com/pschupp01/react-apollo/tree/recover-after-failed-query
  apollo-client: https://github.com/pschupp01/apollo-client/tree/repro-init-on-error-bug

### Buggy Behavior

If a component initialize with a quer

[2016-11-24 14:14] pschupp01 commented on #340
I'll try to find a fix for this bug. But i'm not really familiar with apollo's codebase.

[2016-11-24 14:56] machard commented on #289
there is an other problem when using skip.
When resetting the store, refetch is run, and skip is ignored https://github.com/apollostack/apollo-client/blob/master/src/core/QueryManager.ts#L633.
That's a problem as usually skip return true when a user is logged out. and we call resetStore just after logout.

I think refetch should check skip function before actually making the request.
Bonus: that w

[2016-11-24 15:26] sedubois commented on #320
@tmeasday sure

[2016-11-24 15:26] #320 closed

[2016-11-24 15:43] machard commented on #289
there is an other issue with skip.
When reseting the store https://github.com/apollostack/apollo-client/blob/master/src/core/QueryManager.ts#L633 will actually run all queries without checking 'skip' result first.

Actually when skip change to false, graphql HoC unsubscribes from the queryObservable. So I see 2 options:
- QueryManager should not run refetch on queries without subscribers on resetS

[2016-11-25 01:17] tmeasday commented on #337
Yeah I think there are a probably a few ways to do it that would ultimately lose genericity. Maybe that's the best we can do if hoisting is normal..

[2016-11-25 01:21] tmeasday commented on #302
As an aside, it you can use `propTypes` on query documents too.

So if you are using the default props from Apollo, you could do something like:

[code]

And if we do #333, that could be simplified to

[code]

[2016-11-25 01:22] tmeasday commented on #333
See https://github.com/apollostack/react-apollo/issues/302#issuecomment-262863047

[2016-11-25 01:26] tmeasday commented on #334
Thinking about this a little more;

One of my goals was to try and simplify `react-apollo` so it didn't really need to understand the query etc. So RA simply passes props into `apollo-client` without understanding which are variables and which aren't. AC then works it out.

I think with this in mind, it would probably just make the most sense to simply pick up the error that AC passes down when yo

[2016-11-25 05:11] tmeasday commented on #333
Does this mean that it should look like

[code]

I think we considered that but decided against it simply because `data` was what you typically want to look at, and that makes it slightly harder to get to. IDK.

We could also consider something like `remapProps(props) {}` where `props` is `ownProps` combined with `data` -- i.e. what `graphql` would by default pass into the child component..

[2016-11-25 05:20] tmeasday commented on #340
The tests look generally good (with some comments). Are you saying all tests are failing in current AC / RA?

[2016-11-25 05:28] tmeasday commented on #262
@seeden - that looks like an interesting approach, I would consider making a "fragment manager" package or something if you think it's useful to people.

@sedubois et al, if you have not seen http://dev.apollodata.com/react/fragments.html I think we have a reasonable solution to this now, which is conceptually pretty close to what Relay gives you.

I'll close this issue but if there are details ab

[2016-11-25 05:35] tmeasday commented on #232
@stubailo / @helfer is it now possible to do what @migueloller was hoping for - a query like the one [here](https://github.com/apollostack/react-apollo/issues/232#issuecomment-249755185) (kind of like a client-side Relay `node` query) ?

If so, let's close this. If not, let's open a feature request on AC to add it.

[2016-11-25 05:38] tmeasday commented on #230
Is the issue here that `defaultProps` doesn't work when the field is set to `null`?

I think you are better just writing something like:

[code]

[2016-11-25 05:38] #230 closed

[2016-11-25 05:39] tmeasday commented on #230
(closing because I don't think it's an issue with RA per se).

[2016-11-25 05:42] tmeasday commented on #307
The second time it renders, is it possible that `props.errors` is defined?

I'm not sure exactly why but I think I've seen problems where you end up with a graphql error client-side caused by a component issue, somehow.

[2016-11-25 05:44] tmeasday commented on #307
I suspect this may be the same problem as https://github.com/apollostack/react-apollo/issues/303

[2016-11-25 06:19] TSMMark commented on #336
@tmeasday Yes, exactly.

Thanks for those links, I will start digging into it ASAP.

[2016-11-25 09:27] sedubois commented on #262
Thanks @tmeasday but from those docs, I don't see where data masking occurs? It looks like parent components can still access child props. So it looks like this got closed as WONTFIX.

[2016-11-25 15:24] linonetwo commented on #230
Thanks for reply, this can be added to graphql best practice or so.

[2016-11-25 18:44] migueloller commented on #232
@tmeasday,

With the new [result reducers](http://dev.apollodata.com/react/cache-updates.html#resultReducers) feature it's possible to populate the store with very high flexibility. This is a step in the right direction and all that is missing now is a way to query the store with as much flexibility as we can write to it.

[2016-11-26 14:30] callmephilip opened #343 "Mutation result and apollo cache update"
## Steps to Reproduce

I have a mutation updating a field on one of the items. Apollo [documentation](http://dev.apollodata.com/react/mutations.html) regarding mutation results says the following:

After successful completion of the mutation (confirmed via Redux store traces), I expect records to to be updated accordingly. The actual result is that the update does not occur. Once the app is reload

[2016-11-26 17:19] rdickert opened #344 "API suggestions for better DX"
First of all, thanks for the awesome work on this package! Having taught a couple of OK GROW!  GraphQL workshops at the GraphQL Summit and elsewhere, I've come up with a few suggestions on how to make react-apollo easier to learn and use. Those suggestions are currently embodied by a modified `graphql()` function in our [react-apollo-helpers package](https://github.com/okgrow/react-apollo-helpers)

[2016-11-26 21:51] imthehell commented on #197
@jbaxleyiii the fixing is not working for me. I have react-apollo v0.6 but it is returning me the same error also if the variable is optional

`Error: The inline argument "first" is expected as a variable but was not provided.`

[2016-11-26 21:54] imthehell commented on #322
+1this feature will be very useful

[2016-11-27 21:23] tmeasday commented on #197
@imthehell perhaps we can open a new issue about this with a reproduction? #200 included a test for this so there must a subtlety in your use case that the test isn't covering.

[2016-11-27 21:47] TSMMark commented on #336
When we reach [this line](https://github.com/apollostack/apollo-client/blob/master/src/core/QueryManager.ts#L488),

[code]

if fragments are used in the query, `isMissing` is `true` every time. If no fragments are used in the query, `isMissing` is `true` only on the first component mount, and `false` on subsequent mounts, as expected.

[2016-11-27 22:25] imthehell commented on #197
Mi query is the following
`query aaaList($page: String, $size: Int, $kind: String, $AFilters: AFilterType, $BFilters: BFilterType) {`

so last two vars are custom types. If one of those custom type vars is missing, the error is returned. Could be that it is not working with custom types but only with "String, Int, etc.)?

[2016-11-27 23:40] tmeasday commented on #262
Hi @sedubois,

I'm not quite sure what you mean by data masking, but is it what the `filter` function does (limit the passed in object to the fields specified in the fragment?)

I think if you wanted something more like Relay (where it happens automatically) it might make sense to build a "fragment container" higher-order-component. I think this could happen as an addon package and doesn't need to

[2016-11-27 23:46] tmeasday commented on #336
Interesting. Any idea where `diffQueryAgainstStore` is going wrong? Perhaps at root this is a problem with `graphql-anywhere` or our use of it in AC.

It would be great to create a failing test case against apollo at this stage. Probably easiest would be a version of [this test](https://github.com/apollostack/apollo-client/blob/master/test/QueryManager.ts#L1108) that uses fragments, but if we are

[2016-11-27 23:51] tmeasday commented on #197
@imthehell it seems unlikely to me. I don't think RA or AC would even know that it's looking at custom types. But it's possible. Have you tried running the test from #200?

[2016-11-28 00:23] jbaxleyiii commented on #344
@rdickert Thank you so much for the thoughtful DX improvement ideas!

A few thoughts:

I actually was pushing for this during the move to the current API. When we went to make the changes in our app, we ran into it actually making things more confusing. One of the reasons is the documentation around operation names tends to be PascalCase (including the [official docs](http://graphql.org/learn/quer

[2016-11-28 03:16] tmeasday commented on #343
Hi @callmephilip. Are you using `dataIdFromObject`? Eyeballing your code it looks like it should work if that is setup properly.

Have you looked at https://github.com/apollostack/frontpage-react-native-app? It does something *very* similar and I know it works there!

[2016-11-28 03:26] tmeasday commented on #344
Hi @rdickert!

Some good ideas here, I'll give my 2c about a few of them:

This one is tricky. I think an earlier iteration of RA did do this, but we decided against it for a couple of reasons:

 1. It requires reading the query which RA manages to avoid doing otherwise.
 2. It means that the output is inconsistent which makes it harder for things built on `graphql`

Still it might be worth consid

[2016-11-28 06:40] samuelhorwitz commented on #197
I'm seeing this issue as well. Maybe it's too late and I'm misreading completely but the test case in #200 does not seem to actually work as intended. Both tests (for failing when variable is required and not failing when variable isn't required) pass variables to the query. This means there does not seem to ever actually be a test in which *no* variable is passed to the query which means a regres

[2016-11-28 21:12] tmeasday commented on #197
@samuelhorwitz `react-apollo` will always pass *some* variables into the query: https://github.com/apollostack/react-apollo/blob/master/src/graphql.tsx so I don't know if that's relevant.

[2016-11-29 01:29] rdickert commented on #344
Thanks for the thoughtful responses, @jbaxleyiii!

That's the most cogent argument I've heard on this. Thanks for clarifying. Pascal case on operation names doesn't click for me, but that's not my call and I'm sure I can adapt. I think for common CRUD mutations, it really would still make sense to have standard names that are always used (e.g., deleteTodo), but I'll think on this some more. Certai

[2016-11-29 01:35] tmeasday commented on #344
@rdickert re the boilerplate:

1. I think you can just call `this.props.mutate({ variables: { repoFullName, commentContent } })` in the child component (if not this is a bug).

However I do agree that it should be possible to set `optimisticResponse` and `updateQueries` functions directly.

[2016-11-29 01:43] rdickert commented on #344
howdy @tmeasday!

Yup, that's a much better way to put it. 😊

I don't think it is if you need access to the args, ownProps or result used to call the operation - am I wrong?

For 5, 6, 7, I can open up a separate issue (or perhaps on AC). I'll see what additional comments you guys may have if any, but I'm excited to smooth some rough edges so people will get into this more easily! I agree that it'

[2016-11-29 01:47] tmeasday commented on #344
Right, so again, I think probably the signature for `options` should probably be similar to that of `optimisticResponse` et al. Or maybe we don't need them to be separate functions if `options` takes all these arguments we need. Let's open a separate issue for this discussion, with concrete ideas.

[2016-11-29 01:48] tmeasday commented on #344
Definitely open 6. + 7. on AC, I don't think you need `ownProps` for these functions so really it's a AC problem.

[2016-11-29 10:14] JesperWe opened #345 "How to catch server or network errors from react-apollo Query?"
So after reading docs, issues and Stackoverflow I am still at loss how to handle this, thus I post this issue.

How do I catch the error when I have network problems during a Query, or when my server reports an error during a Query? Currently I am getting `Uncaught (in Promise) ApolloError`, but I can't figure where I should add code to catch this.

(I've got it done for mutations, because there I

[2016-11-29 12:13] ryannealmes commented on #310
@tmeasday, note I am not saying load entries is not being called. I am saying the example does not return the correct data when it is called. In pagination your offset is based on the number you click 1,2,3,4,5. If I click 3 my offset is not the `feed.length`.

Hence the example is invalid.

Maybe I missing something?

I know that if you have loaded entries sequentially then the offset would most

[2016-11-29 13:31] sweetcharity opened #346 "optimistic response and reducer"
I design optimistic response like that

[code]
and reducer like that

[code]

But I don't get any optimistic updates. console.log(action) fires only when I get real update from server
### Version
- apollo-client@0.5.6"
- react-apollo@0.6

[2016-11-29 14:41] anhldbk commented on #284
Hi guys. I want to ask a question about subscriptions.

The code at https://github.com/apollostack/GitHunt-React/blob/master/ui/routes/CommentsPage.js#L273 suggests that: there's a field named `subscribeToMore` in `props`. But I can't find it in [the documentation](http://dev.apollodata.com/react/queries.html#default-result-props)

The code below always gives me `subscribeToMore` = `undefined`

[c

[2016-11-29 16:23] callmephilip commented on #343
@tmeasday thanks man! looks like this dataIdFromObject did the trick - i was misled by the comment in the section below saying "(Note: in 0.5.x, this is the default behavior)"

[2016-11-29 16:32] beornborn commented on #197
@tmeasday @jbaxleyiii
have the same issue.
mutation:

[code]

error:
http://prntscr.com/dd9kep

react-apollo@0.6.0

[2016-11-29 21:21] bessey opened #347 "react-apollo swallows render errors of wrapped components"
## Steps to Reproduce

My case is produced as follows:

- Have a component that will raise an error in its `render()`, when a query is complete e.g.
[code]
- Wrap it with the `graphql` HOC (`import { graphql } from 'react-apollo'`)

Note that I haven't tried simplifying this test case and its possible less setup is required.

### Buggy Behavior

Rather than raising `this.thisMethodIsntReal is not

[2016-11-29 22:01] tmeasday commented on #347
Thanks @bessey. This is an issue a few have run into, thanks for the simple repro.

[2016-11-29 22:03] tmeasday commented on #343
You're right, I've fixed that.

[2016-11-29 22:03] #343 closed

[2016-11-29 22:04] tmeasday commented on #284
Hey @anhldbk - are you using the latest `react-apollo` and `apollo-client`?

[2016-11-29 22:07] tmeasday commented on #310
Oh. Well this is example is intended as an "infinite scroll" type situation.

If you wanted to do a paged style approach, you'd need to pass an offset argument into the `loadMoreEntries` callback.

[2016-11-29 23:11] tmeasday commented on #303
See https://github.com/apollostack/react-apollo/issues/347, which I think is probably a simpler version of this same error

[2016-11-29 23:14] bessey commented on #347
This is my current workaround, which may be helpful to others. I wrap components in a HOC that doesn't swallow the error so its `apollo(throwApolloError(component))`

https://gist.github.com/bessey/926cdb3e383b406e7f546c6f4dd55a8a

[2016-11-30 00:18] tmeasday commented on #210
Have you tried using `client.getInitialState()`? This might be easier

[2016-11-30 00:18] tmeasday commented on #335
I tried to reproduce this in githunt without success. Perhaps the custom redux store is affecting it. I'm still not sure you shouldn't just read from you `store` rather than `client.store`, btw.

[2016-11-30 08:00] ryannealmes commented on #310
Ah ok. From the documentation it felt like it was talking about numbered pages and not infinite scrolling. It may be good to make this distinction.

Just for reference this is what is describing the functionality.

_Offset-based pagination — also called numbered pages — is a very common pattern, found on many websites, because it is usually the easiest to implement on the backend. In SQL for examp

[2016-11-30 14:56] JesperWe commented on #345
Update: I have now also tried to use the withApollo HOC which gives me a Promise returned from `this.props.client.query()`, but even if I .catch() this Promise I cannot catch the GraphQL errors, and my client still crashes :-(

So... maybe I should file this with Apollo Client instead?

[2016-11-30 15:58] savovs opened #348 "*Feature/Docs Request* Fire queries in Redux actions"
Hi guys, I'm trying to convert a REST app to Apollo and I have a bunch of thunk actions making rest requests. I prefer doing most things with actions and I thought, what if you could have an Apollo action for a specific query or have a query fire when a specific action happens:
[code]
If I just bind a query to a component, the data is stuck directly to it and isn't reflected in the Redux store, wh

[2016-11-30 17:01] at0g opened #349 "Persist a subscription after unmount?"
I may have missed something in the docs, but is there an option to keep a subscription active after the associated component unmounts? What I'd like to have happen is that once a query has been cached, any subscriptions associated with it will continue to update so that it does not become stale if revisited.

Basically I have 2 views (master and detail) and have implemented subscriptions on both.

[2016-11-30 17:46] msaglietto commented on #335
Hey @tokenvolt I had the same problem updating .. when did you call `client.initStore()` ? I called after creating ApolloClient and did not work

[2016-11-30 17:56] tokenvolt commented on #335
@msaglietto I'm calling it in a `getDataFromTree` callback
[code]

[2016-11-30 18:11] msaglietto commented on #335
I see thanks @tokenvolt

Actually I did no had to call the initStore() .. on the project im working on they where using the return value of getDataFromTree and where there are no queries its empty ...
like:
[code]
So I used `apolloInitialState = client.store.getState()[client.reduxRootKey]` instead and it seams to be working

[2016-11-30 19:55] glasser commented on #197
@beornborn Can you share a broader reproduction? The fix in #200 is specifically to using the `graphql` higher-order component with react-apollo; maybe your mutation isn't going through that? Note that the error you're seeing comes from apollo-client, not react-apollo.

[2016-11-30 21:39] glasser commented on #197
OK, I think the issue is in https://github.com/apollostack/react-apollo/blob/8c1f02fb610ff8ee9287120f4de6b8e75f25d6ff/src/graphql.tsx#L161

[code]

ie, if you specify *any* variables in your mapPropsToOptions function, then it completely skips the "send nulls for unmentioned things" thing.  This seems wrong, no?

[2016-11-30 21:46] glasser commented on #197
See also https://github.com/apollostack/apollo-client/issues/561

[2016-12-01 02:44] beornborn commented on #197
@glasser yes, I used apolloClient directly, sorry for the irrelevant message

[2016-12-01 04:10] tmeasday commented on #197
@glasser thanks for spotting that. I think that logic sounds incorrect, certainly. If someone wants to send a PR with a fix, that'd be super.

[2016-12-01 04:14] tmeasday commented on #349
@at0g would not just using `forceFetch: true` on your master view query solve this problem?

@stubailo FTR this is the kind of bug that makes me not a fan at all of this kind of caching (referencing a discussion of a while back about why I've never been a fan of the subs manager approach). I bet there are a whole host of other subtle issues that you can trigger if you navigate around this fairly s

[2016-12-01 04:20] tmeasday commented on #345
I suppose so. Can you trace the error back to the line in AC where it is coming from?

[2016-12-01 04:47] tmeasday commented on #310
Yeah, I can see where you are coming from. I think the wording is a bit awkward there. Perhaps you can suggest an improvement via a PR?

[2016-12-01 04:47] #310 closed

[2016-12-01 05:24] at0g commented on #349
Technically using `forceFetch: true` would solve the problem of the stale cache (effectively removing caching). That in turn would mean that every time the master view is visited, it would have to reload (not really what I want). Instead, I've added `pollInterval: 60000` so that the master view will eventually update, but it has fundamentally the same drawbacks as `forceFetch`.

In the scenarios i

[2016-12-01 05:41] stubailo commented on #349
@tmeasday I mean what you are referring to is essentially a situation where `forceFetch` is true by default right?

I don't think it's fundamentally bad to embrace the concept of a stale cache?

@at0g I don't think having `unsubscribeOnUnmount` is the right way to do this because the subscription will stay alive forever. IMO the right approach is to make sure that queries that are updated via subs

[2016-12-01 05:50] stubailo commented on #348
The data is in redux, in `apollo.data`.

Kind of the whole point of Apollo is managing the GraphQL-related actions and reducers for you. You still get all of the benefits of Redux, but without having to write any boilerplate. The benefits of Redux are understanding data flow and better dev tools, I don't think it's about boilerplate. In fact many Redux materials are now recommending structuring yo

[2016-12-01 09:05] JesperWe commented on #345
The line numbers are in the TB log that I posted above, aren't they ?
`apollo-client/core/QueryManager.js?:545:27`

[2016-12-01 09:11] JesperWe commented on #345
So apparently this was an Apollo Client bug (https://github.com/apollostack/apollo-client/issues/891) which is fixed in AC 0.5.8, and all is now fine :-)

[2016-12-01 09:11] #345 closed

[2016-12-01 12:49] savovs commented on #348
I'm looking for a recipe to fire queries when a function runs, rather than when a component loads. For things like search, form submission, etc. I think that's what led me to think about this.

[2016-12-02 01:12] thebigredgeek opened #350 "Query skip option does not work with react-redux's connect decorator"
## Steps to Reproduce

[code]

### Buggy Behavior

I have to ensure that `isAuthenticated` isn't undefined before checking if it is false because the skip callback seems to fire BEFORE the connect method.  This seems to happen regardless of whether `@connect` occurs above or below `@graphql`.

### Expected Behavior

`ownProps` should be decorated by `@connect`, if used, before `skip` is called.

#

[2016-12-02 02:13] tmeasday commented on #350
Hmmm... this seems very surprising.

If you write

[code]

what do you see?

[2016-12-02 03:02] tmeasday commented on #347
I think this should be fixed by `apollo-client@0.5.9`. Can you give it a try and let me know?

[2016-12-02 03:03] tmeasday commented on #303
I think this should be fixed by `apollo-client@0.5.9`. Let me know if not @daniman

[2016-12-02 03:03] #303 closed

[2016-12-02 03:11] tmeasday commented on #349
@at0g

Is this from a UI perspective, or from an unnecessary network request perspective?

If the former, I'm pretty sure you can get data while `loading` is still true and simply render anyway.

If the latter, I'm not convinced it's the right tradeoff to keep streaming data you aren't looking at to avoid a single query later, but I guess it depends.

I guess there's also an argument that even if

[2016-12-02 03:50] bessey commented on #347
It is indeed. Thanks!

On Thu, 1 Dec 2016 at 19:02 Tom Coleman <notifications@github.com> wrote:

[2016-12-02 04:31] #347 closed

[2016-12-02 04:38] at0g commented on #349
FOID Flash Of Indeterminate Data - AMIRITE?

@tmeasday

For the most part, it's the network request - I have the following concerns:

- The items returned have an aggregate field that is moderately expensive to compute on the server.
- The query returns a connection / items are edges, if the master has loaded multiple pages of records, I don't understand how `forceFetch` or `pollInterval` can retu

[2016-12-02 04:46] tmeasday commented on #349
I was thinking "flash of incorrect data" but close enough 💯

[2016-12-02 04:49] tmeasday commented on #349
Well I guess I mean if you do it for every single query on your entire site it sounds like a bit of a performance problem.

Is there a big hit in opening and closing it rather than keeping it open? In any case, I think it wouldn't be to hard to write a little reference counting library that does this (or maybe AC could do this bit somehow)

[2016-12-02 16:37] wmertens commented on #350
I have seemingly the same behavior happening when using SSR, during the getDataFromTree phase. With this setup:

[code]
=>
[code]

When I instrument the `@graphql`, it turns out that it is not getting the `@connect` props. I suspect https://github.com/apollostack/react-apollo/blob/master/src/server.ts#L118-L131 calls the queries outside of the `@connect`-ed component scope.

[2016-12-02 17:24] thebigredgeek commented on #350
Same.  This appears to only happen for me during SSR.  Wondering if Apollo is somehow bypassing `@connect` when it fetches data from tree?  It seems like Apollo should respect the component tree and default state?

[2016-12-02 20:48] tmeasday commented on #350
Oh! This is during ssr? Ok, I'll look into it

[2016-12-03 03:04] #348 closed

[2016-12-03 03:06] johnthepink opened #352 "Upgrade React and Jest Presets"
We are currently locked at react 15.4.0-rc2. Upgrading to 15.4.1 introduced an issue on the CI with importing "React" vs "react". See [this comment](https://github.com/facebook/jest/issues/1840#issuecomment-263004102).

Using the jest preset included in react-native since 0.38 actually fixed this issue, and cleaned up a lot of logging, but caused tests to fail that were making actual network reque

[2016-12-03 03:16] jbaxleyiii commented on #352
@johnthepink this should actually pretty really easy now that we are using jest. I'll try to mock those responses this weekend 👍

[2016-12-03 03:21] johnthepink commented on #352
@jbaxleyiii oh sweet! I thought about doing that, but wasn't sure if we wanted the actual network requests.

[2016-12-03 03:21] johnthepink commented on #352
I like mocking them better

[2016-12-05 00:00] tmeasday opened #353 "Run all tests in SSR mode (where sensible)"
#350 makes it clear that it would be nice to run all our tests in SSR mode. It might be difficult seeing as a lot of them involve changes etc, but the simple ones that simply check things get the right data would make sense.

[2016-12-05 00:34] tmeasday commented on #350
So the problem here is that `connect` hoists `fetchData` onto the wrapped (`Connect(GraphQL(X))`) component. So it runs for the connect wrapper with the wrong props etc.

A work around would be to insert some kind of simple wrapper between the two that short-circuits this. For instance, you probably use one of the things in this library: https://github.com/acdlite/recompose, like

[code]

@jbaxley

[2016-12-05 00:37] thebigredgeek commented on #350
Couldn't you just recurse down through wrapped components to find the "base"?

[2016-12-05 00:41] tmeasday commented on #350
@thebigredgeek that's more or less what I'm suggesting in a. The problem is that I think one of the major reasons for making it a static property was so other libraries could define their own `fetchData`. If we are going to detect "one true `fetchData`'s", then it's kind of pointless.

[2016-12-05 00:56] SachaG opened #354 "Add a way to set the Apollo wrapper's displayName"
In my codebase, I have a scenario where I'm wrapping a form with three Apollo higher-order components: one to load the data shown in the form, one to add an `edit` mutation, and one to add a `remove` mutation.

This means that when using the React inspector, I end up with something that looks like:

[code]

My suggestion would be to add an `alias` option to the `graphql` function's `config` argume

[2016-12-05 01:31] jbaxleyiii commented on #350
@tmeasday I think we should remove the static nature of fetchData! 👍

[2016-12-05 02:18] thebigredgeek commented on #350
One interesting albeit unorthodox approach might be to append a uuid suffix to the fetchData namespace that is computed once at startup and used everywhere in constant form.  This would prevent collision.  You could then expose a "public" version with the name simply "fetchData".  This way if it is overridden apollo still works

[2016-12-05 02:19] thebigredgeek commented on #350
I agree though.  fetchData should be hidden IMO.  Perhaps some sort of public interface could be exposed, but I think for safety it makes more sense for the public interface to be a reference to a private interface that is guaranteed to work

[2016-12-05 22:04] tmeasday commented on #337
See #55

[2016-12-05 23:22] SimenB opened #356 "This uses deprecated `createFragment`"
See https://github.com/apollostack/apollo-client/pull/984#discussion_r90794327

## Steps to Reproduce

Use `graphql` export

### Buggy Behavior

I get a deprecation warning from react-apollo

### Expected Behavior

No deprecation warning

### Version
- apollo-client@0.5.11
- react-apollo@0.6.0

[2016-12-06 02:07] SachaG commented on #321
Maybe there should be a way to differentiate between initial loading (where you just show a loading spinner) and incremental loading (where you also want to keep the current content in addition to the loading indicator)?

[2016-12-06 03:13] tmeasday commented on #356
Thanks, @SimenB, fixed in https://github.com/apollostack/react-apollo/pull/357, trying to figure out why an unrelated test is failing.

[2016-12-06 08:06] voodooattack commented on #337
Okay, I'm closing this. Thanks for the quick solution!

[2016-12-06 08:06] #337 closed

[2016-12-06 23:17] tmeasday commented on #284
Here is the issue about subscriptions I was talking about: https://github.com/apollostack/react-apollo/issues/319

We can't really document it until it works properly but I'll leave this open in any case.

[2016-12-07 00:21] tmeasday commented on #271
@rricard is this working for you now? I don't really understand the test you linked to, as:

1. It uses SSR -- is this relevant?
2. It seems to expect `loading` which seems counter to what you want here?

[2016-12-07 02:32] mmmdreg opened #358 "Variables from ownProps should automatically refetch"
## Steps to Reproduce

[code]

### Buggy Behaviour

If the props change, the query hits the server with the variable from the old prop. Using things like skip and refetch don't make a difference. The only way to force it to use the new variable is to unmount and remount the container. So far, it has been mostly possible to structure my components in a way that I can unmount/mount, but the current

[2016-12-07 02:34] tmeasday commented on #358
Hi @mmmdreg this is very surprising as this is of course how it is designed to work (and there are multiple tests for this exact behavior).

Have you tried loggin in the `options` function to check if it's getting called?

[2016-12-07 04:06] mmmdreg commented on #358
Yes. I can see the new prop in the option, but the query is never performed with the new variable.

To give some context, in a single container, I have a mutation and a query. Initially the URL has no id in it. The mutation submits a form to the server and gets back an id. If the call is successful, it does a router.push and adds the id to the URL, making the query pull the details.

I have a back

[2016-12-07 04:09] tmeasday commented on #358
In the "back" case is the second mutation returning a new `widgetId` or an old `widgetId` that had been used before?

If so, could it be that apollo is simply caching the old value of the query.

If you are setting `refetchQueries` on the mutation, it may be too soon as the new variable hasn't propagated via the router change yet.

[2016-12-07 04:10] tmeasday commented on #358
What happens if you set `forceFetch` on the query?

[2016-12-07 05:23] mmmdreg commented on #358
It's always a new widgetId. Forcefetch is the same behaviour as refetch - it makes it request with the old prop.

[2016-12-07 12:55] rricard commented on #271
1. No, SSR has nothing to do here
2. No I want `loading`, I don't want it masked by the other query

However, as said before, we switched to the new API and named those queries differently, we don't need that fixed anymore. And a few months later, I would advise anyone having this issue to do that as well, trying to feed the `data` attribute with two mutually exclusive queries is kind of a bad pat

[2016-12-07 12:55] #271 closed

[2016-12-07 15:27] swernerx opened #359 "Best approach to cherry pick data from query into redux-store"
The documentation is not yet super clear on how to interact between Apollo Queries and Redux and what the best approaches are to solve common issues.

For example our current hurdle: We are loading the currentUser from GraphQL. The user is authenticated already using SAML + session cookie. The query returns a user profile with an array of roles the user could switch between e.g. admin, editor, man

[2016-12-07 20:56] ARMGAMES opened #360 "How to transfer variable to query at loading component state"
I have a simple react component that must load data from server when user ask it. Problem is that i don't know how to transfer dynamic variable speakerUrl and access it in before component load state. Sure i can access it from `this.props.params`, but component is not loaded and i can't access it when i make a graphql query. Query - `QuerySpeaker` is working fine when i manualy set url variable.

[2016-12-07 21:22] chillu commented on #330
@stubailo Would you be open to adding the `queryTransformer` API back into Apollo? It looks like you still have a use case for the concept (add `__typename` dynamically), it's just more locked down now. That's a blocker for us in adopting Apollo in our CMS, since we can't sacrifice the existing extensibility of its UI and data fetching.

[2016-12-07 21:30] stubailo commented on #330
@chillu what's your use case?

[2016-12-07 21:30] stubailo commented on #330
Oh - I see there are a lot of comments above. I'll defer to @helfer.

[2016-12-07 21:32] stubailo commented on #330
Can you build a custom version of `graphql-tag` that modifies queries after parsing them? Basically, I don't think something needs to be built into `apollo-client` to modify queries for you, our hope is to eventually remove all query processing from AC (for example now fragment management is part of `graphql-tag`)

[2016-12-07 21:47] jnwng commented on #335
btw @msaglietto the client exports a function [getInitialState](https://github.com/apollostack/apollo-client/blob/7b734f98648b5a48472995117c112a1cad1c6627/src/ApolloClient.ts#L474-L476) that calls [queryManager#getInitialState](https://github.com/apollostack/apollo-client/blob/7b734f98648b5a48472995117c112a1cad1c6627/src/core/QueryManager.ts#L572-L574) which does all this for you.

e.g., `client.g

[2016-12-07 22:08] jbuchermn opened #361 "Container breaks after mutation, if mutation fetches partial data"
Hello,

I'm very new to Apollo, so far I'm really happy about it. But there is one thing I keep seeing, that is a bug in my opinion. Let's say I have a graphql container with the following query

`{
  user {
    id
    group{
      id,
      members{[...]}
    }
  }
}`

i.e. a user may be assigned to a group (or group might be null). So now I'm running a mutation, that results in the user being as

[2016-12-07 22:14] sarkistlt opened #362 "[bug] Uncaught TypeError: Cannot read property 'variables' of undefined"
## Steps to Reproduce
In my react component I'm trying to use this listener on change and click, to refetch new data.
Same approach works in my other projects, for some reason I'm getting error with following code.

in my component class:
[code]

Apollo wrapper:
[code]

### Buggy Behavior
[code]

### Expected Behavior
get new date queried with passed variables.

### Version
- apollo-client@0.5.8
-

[2016-12-07 22:39] tmeasday commented on #361
Hi @jbuchermn, this does sound like it could be an issue. Have you tried simplifying it a little bit?

Can you try and construct a simple reproduction? it's not totally clear what's happening here, but by the sounds of it the container shouldn't be `loading` at all.

[2016-12-07 22:41] tmeasday commented on #360
@ARMGAMES - can you not do:

[code]

[2016-12-07 22:51] tmeasday commented on #359
Is the idea here to default to the user's first role when the user logs in, and then allow them to choose a different role later?

This to me seems like an imperative operation that should happen only at the time they login or at app startup. So I wouldn't necessarily do it in a `graphql` wrapper as that's a more declarative operation that could happen at any time (e.g. when data changes).

[2016-12-07 23:34] sarkistlt commented on #362
Just reinstall to ```npm i -S apollo-client@0.4.19 react-apollo@0.3.19``` and it works as expected.
So this is where bug comes from (https://github.com/apollostack/apollo-client/blob/master/src/core/ObservableQuery.ts):

[code]

[2016-12-07 23:35] ARMGAMES commented on #360
@tmeasday Thanks

[2016-12-07 23:50] HriBB commented on #359
I am wondering about a similar thing ... basically I want to be able to read an object from the apollo redux store.

ATM, instead of putting user from query into redux store, I am putting it into context.

In my `AppContainer` I query the viewer
[code]

Then put it into context
[code]

[2016-12-08 06:47] adamjking3 opened #364 "Multiple subscriptions, one component"
Is it currently possible to subscribe to multiple queries in one component? I have tried combining the two subscriptions in multiple ways and it seems subscriptions are only allowed to have one query. How are multiple subscriptions meant to be handled?

For example, I have a chat application that I would like to be able to subscribe to all chat updates (add, remove, edit), not just one, all from t

[2016-12-08 11:05] marcgreenstock opened #365 "Component not receiving new props"
I'm unsure if this is a bug or if I'm missing something, but according to the [docs on watchQuery](http://dev.apollodata.com/core/apollo-client-api.html#ApolloClient\.watchQuery):

Can I assume that in the given example above, only the first and last name properties (i.e. only properties specified in the original query) will receive updates, and any new properties that have been retrieved in subse

[2016-12-09 14:30] TSMMark opened #367 "How to have mounted components re-fetch query data?"
`pollInterval` is great, but it does not solve my case. I would like to trigger a re-fetch manually, after a certain event, like a redux action. I have been digging around quite a bit and can not find out how to accomplish this.

[2016-12-09 21:30] ARMGAMES opened #368 "Query strange behavior - unlimited loading state after success mutation"
I have a simple react component that connect to graphql query and all works fine untill i add new element to my db with mutation.

**my simple react component - SpeakerList**
[code]

I add new element with modal window that i make with component that i connect with that.
[code]
Mutation works fine even updateQueries runs and adding new element to array, but when i close modal window i has my Query

[2016-12-09 21:45] ARMGAMES commented on #367
http://dev.apollodata.com/react/receiving-updates.html
Refetch -   this.props.data.refetch();

[2016-12-09 21:59] TSMMark commented on #367
@ARMGAMES Thanks. The problem is, I need to trigger the refetch from another component which is not a child of the component which contains the query. I think I have figured a way to do it, using a redux action dispatch from the component which triggers the refetch, and a `componentWillReceiveProps` on the component which contains the query.

[2016-12-09 21:59] #367 closed

[2016-12-09 22:17] #360 closed

[2016-12-09 22:23] ARMGAMES commented on #361
@jbuchermn, I think i have same issue #368
Please check it

[2016-12-09 22:23] ARMGAMES commented on #368
I think i have same issue with #361

[2016-12-11 21:36] chillu commented on #330
Thanks for your feedback @stubailo! I've solved part of our problem now by creating a "lazy HOC" around `graphql()`, without requiring any modifications to your library. Would you be able to sanity check my approach here? I haven't seen HOC initialised in this way before, but it seems to work fine.

[code]

Check [GraphQLRegister.js](https://github.com/silverstripe/silverstripe-graphql/issues/13#i

[2016-12-11 21:36] #330 closed

[2016-12-13 01:57] ARMGAMES commented on #368
Any ideas?

[2016-12-13 13:37] #346 closed

[2016-12-13 16:21] helfer commented on #307
#303 should be fixed now, does that help with your issue @vonwao ?

[2016-12-13 16:27] helfer commented on #232
@migueloller I think there are some great ideas in this issue thread here with regards to querying the store. The best way to proceed would be to open an issue with the ideas on apollo-client so we can continue the discussion there and hopefully implement something soon!

[2016-12-13 16:29] helfer commented on #322
@cannoneyed I think we can implement this kind of tracking internally in Apollo Client and expose it just through a `fetchingMore` network status. Would that be enough information for your use-case?

[2016-12-13 16:30] helfer commented on #336
@TSMMark I think @tmeasday is spot-on here. A failing test on apollo-client or graphql-anywhere would be very helpful!

[2016-12-13 16:39] helfer commented on #349
@at0g I think a workable solution for you would be to just run the query and subscription manually and update the query when the subscription data comes in. That way you're in full control of which queries are active and which ones aren't, and it's not tied to whether the component is currently rendered on screen.

However, I would first implement the simplest possible solution (which is to just r

[2016-12-13 16:40] helfer commented on #321
@SachaG I think `networkStatus` is what you're referring to?

[2016-12-13 16:41] helfer commented on #335
@tmeasday can I close this or do we still need to update the documentation?

[2016-12-13 16:45] helfer commented on #362
@sarkistlt are you saying it works up until Apollo Client 0.4.19?

Could the problem be that `this` is not bound to the ObservableQuery instance? I.e. if you set the debugger to the line where the error is thrown, is the `this` reference an ObservableQuery, or the React component? It should be the observable query.

[2016-12-13 16:53] helfer commented on #365
@marcgreenstock yes, that is indeed the expected behavior. The object in the cache will contain all the fields, but each query will only get the data it asked for. Does that answer your question?

[2016-12-13 17:04] marcgreenstock commented on #365
Thanks @helfer that makes it clear.

[2016-12-13 17:04] #365 closed

[2016-12-13 17:05] helfer commented on #368
@ARMGAMES this looks like it could be a bug in apollo-client. Would you mind opening the issue there and make sure it occurs with the latest version of apollo-client? (it probably does)

[2016-12-13 17:06] helfer commented on #361
Closing this in favor of #368 which seems to be the same bug/issue indeed but has a slightly clearer description.

[2016-12-13 17:10] jbuchermn commented on #361
Yeah I think #368 is the same issue.

[2016-12-13 17:10] #361 closed

[2016-12-13 19:50] jbuchermn commented on #368
I'm currently battling, I think, the same issue.

Could you try querying the whole SpeakerFragment in your mutation? Like

`mutation addSpeaker($name: String!, $url: String!, $avatar: String!, $description: String!, $body: String!)    {
        addSpeaker(name: $name, url: $url, avatar: $avatar, description: $description, body: $body){
            ...speakerInfo
        }
    }
    ${SpeakerFragme

[2016-12-14 00:21] SachaG commented on #321
@helfer you're right, I was using an older version of Apollo that didn't have it.

[2016-12-14 01:17] tmeasday commented on #335
@helfer - I'm not sure. I wasn't able to reproduce the problem with githunt, but it's possible it's something to do with custom stores. The docs maybe need to deal with this case but I haven't tried it out.

[2016-12-14 01:24] tmeasday commented on #356
I think this was fixed in v0.7.1

[2016-12-14 01:24] #356 closed

[2016-12-14 01:24] tmeasday commented on #350
Fixed by v0.7.1

[2016-12-14 01:24] #350 closed

[2016-12-14 04:24] thebigredgeek commented on #350
Yay thanks!!!

[2016-12-14 05:34] ARMGAMES commented on #368
Created issue at apollo - https://github.com/apollostack/apollo-client/issues/1039

[2016-12-14 08:19] czert commented on #322
@helfer It would be for mine :)

[2016-12-14 09:01] SimenB commented on #356
Yup, no more warning. Thanks!

[2016-12-14 09:32] linonetwo commented on #216
@ghost Seems any failure inside Component will cause graphql to stop loading, and 'loading' kept in true. Do your agree?

[2016-12-14 20:41] colevoss opened #369 "Update react-redux to 0.5.0"
[react-redux@0.5.0](https://github.com/reactjs/react-redux/releases/tag/v5.0.0) released yesterday and includes many performance improvements along with new API's to use. It would be great to get `react-apollo` on this new version.

It is backwards compatible so ideally we could just drop it in and be fine with no code change. That said it would be great to try to take advantage of some of the new

[2016-12-14 22:16] colevoss commented on #369
After looking at more source, I realized that this was prematurely created since react-apollo only uses react-redux for testing purposes.

Closing

[2016-12-14 22:16] #369 closed

[2016-12-14 22:19] stubailo commented on #369
I bet if there are some big improvements in react-redux 5, we could use some similar ones in here. Of course the use case is pretty different but maybe they have some generic ideas about improvements for how React HoCs should work.

[2016-12-15 01:58] SachaG commented on #368
I'm also encountering weird behaviors around the `loading` state. It often gets stuck to `true` or `false` when it shouldn't.

[2016-12-15 02:26] Sawtaytoes opened #370 "Getting "reducer not a function" when passing query functions as props"
## Steps to Reproduce

1. Create a query var `QUERY`.
2. Send `data.fetchMore(QUERY)` down to another component.
3. Call the function in that component and the error will show up.

### apollo-client.jsx
[code]

### tweets.jsx
This is a fairly simple example which is what's catching me.
[code]

**NOTE:** The `TweetList` component does **not** have `connect()` or Redux enabled in this test. I tried

[2016-12-15 02:42] SachaG commented on #368
@jbuchermn I can confirm that the problem comes from using partial fragments and is fixed by using  the entire fragment. To clarify, I'm using a reducer to optimistically insert the results from a new mutation.

When the new mutation returns a partial fragment (compared to the other documents in the list which were previously loaded from the server), the reducer's return value is never passed to t

[2016-12-15 10:01] sedubois commented on #302
It seems like we can now get proptypes for a whole query: https://github.com/apollostack/graphql-anywhere?

[code]

[2016-12-15 20:47] sarkistlt commented on #362
I'm sorry can't reproduce that issue right now to check it in the debugger, have to much work right now. But yes,  issue was that this is not bound to the ObservableQuery instance

[2016-12-16 01:36] helfer commented on #368
Closing this issue now that we're tracking it in https://github.com/apollostack/apollo-client/issues/1039

[2016-12-16 01:36] #368 closed

[2016-12-16 03:57] helfer commented on #335
Thanks! In that case I will close this for now.

[2016-12-16 03:57] #335 closed

[2016-12-16 04:04] helfer commented on #370
@Sawtaytoes The error message here isn't good, but you need to define an updateQuery function and pass that along when you use `fetchMore`. Otherwise Apollo Client has no way of knowing how to update the data that's already in the store.

In your case you should just use the built-in `refetch` function though, because that seems to be what you want it to do.

[2016-12-16 04:05] helfer commented on #370
I'll leave this issue open to make sure we don't forget to provide a better error message here.

[2016-12-16 04:06] #370 closed

[2016-12-16 04:10] helfer commented on #302
@sedubois yeah, looks like it. Although I don't believe we have any documentation for it at the moment.

[2016-12-16 04:10] #302 closed

[2016-12-16 04:25] AlexLeung commented on #364
I have multiple subscriptions working right now. Also for a chat system :)
[code]

[2016-12-16 04:35] AlexLeung opened #371 "How to make components re-subscribe after websocket disconnect?"
When using subscription queries, I've noticed that if I kill the websocket connection, the connection is never reestablished. What code do I need to add, and where, in order to prompt resubscribes?

[2016-12-16 09:46] linonetwo commented on #359
I need to do this:

Load site id list from graphql, map them to buttons -> user click button switch to another page -> load site data, base on current site's id

So site's id should be inside Redux. Now I can put data into redux when a user clicks the button. But there still being some data don't have their button, so I have no good idea about how to dispatch them.

[2016-12-16 09:48] Sawtaytoes commented on #370
I changed to `refetch` yesterday after reading more documentation.

There was an Apollo blog article about updating from data calls, and it specifically said use `fetchMore` which was confusing. In fact, I found out about `refetch` by looking at the `data` object and seeing what properties I could call on it.

I appreciate your response :D.

[2016-12-16 09:49] linonetwo commented on #359
Wonder if this.props.data can contains a Promise, but there still being no place can we wait for this promise's resolve...

[2016-12-17 01:03] helfer commented on #359
@linonetwo I'm not 100% sure what your question is. What prevents you from keeping the id of the page to display in Redux and then switching to another page when you dispatch that action?

I'm particularly confused about this sentence:

[2016-12-17 01:06] helfer commented on #371
@AlexLeung According to this [PR](https://github.com/apollostack/subscriptions-transport-ws/pull/31) you should be able to pass `reconnect: true` as an option when you construct the subscription client (i.e. it's not an option on the subscription, but on the websocket client).

[2016-12-17 03:38] linonetwo commented on #359
![qq 20161217113234](https://cloud.githubusercontent.com/assets/3746270/21284100/96631232-c44c-11e6-822f-cf6b3596ea6d.png)

@helfer  I draw a picture, there are two IDs will be dispatch to Redux when user click the <Link />, they are districtID and siteID that used as later query's variable.

But if I want to keep the first ID in Redux, immediately when Apollo's loading === false, what should I do

[2016-12-17 03:46] linonetwo commented on #359
I'm currently doing the same thing likes @swernerx

[code]

Is this the best parctice?

[2016-12-18 16:05] rricard commented on #207
Still not done ? I could do that if still interested...

[2016-12-18 16:11] rricard opened #373 "3rd party typings are badly exposed"
Originally reported by @schickling via slack.

## Steps to Reproduce

Import `react-apollo` in a typescript file.

Seen in https://github.com/graphcool/homepage, run webpack:

![pasted_image_at_2016_12_18_12_45_pm](https://cloud.githubusercontent.com/assets/246520/21294758/f05d290a-c544-11e6-8050-7bfb0a002183.png)

### Buggy Behavior

Associated `@types/` definitions are not found

### Expected Be

[2016-12-18 16:37] rricard commented on #373
The issue seems more complex and not exactly this, closing this for now... Reopening later if needed

[2016-12-18 16:37] #373 closed

[2016-12-19 03:50] helfer commented on #207
@rricard yes, please do!

[2016-12-19 09:34] rricard commented on #207
Will do that for apollo-client as well...

[2016-12-19 21:54] jbinto commented on #358
I am running into a problem that seems very similar, though subtly different. (This is probably too vague and I will need to do an isolated repro case, but here goes nothing):

* When I click a button, I issue a mutation. I get an ID back (e.g. `id=1`).
* A polling query starts (since the value of a `skip` became false). `options` is called with `ownProps`, and that has the ID from the mutation (e

[2016-12-19 21:58] tmeasday commented on #358
@jbinto I suspect this might be a different issue (not that I have much of an idea about what could be causing @mmmdreg's issue). In your case it sounds like when the variables change to a polling query (alongside skip changes?) the polling part can get stuck w/ the old variables.

[2016-12-19 22:01] jbinto commented on #358
OK, thanks. When I get an isolated case I will open a new issue.

[2016-12-19 22:25] tmeasday commented on #336
@TSMMark when you were debugging the line above, did you take a look at the `result`? Did it have missing fields? If so, which ones?

[2016-12-20 21:58] jbinto opened #374 "Stale variables when combining `pollInterval`, `skip`, `forceFetch`"
This seems similar to https://github.com/apollostack/react-apollo/issues/358 (but possibly unrelated).

Here is my situation:

* When I click a button, I issue a mutation. I get an ID back (e.g. id=1).
* A polling query starts (since the value of a skip became false). options is called with ownProps, and that has the ID from the mutation (e.g. id=1).
* Polling begins, and network inspector shows t

[2016-12-21 00:47] tmeasday commented on #374
Thank you @jbinto for the excellent reproduction.

Can confirm the problem and also that it's not AC (see this branch: https://github.com/tmeasday/apollo_polling_bug/tree/pure-apollo-client)

[2016-12-21 01:01] tmeasday commented on #374
Ok, so I think the issue is here: https://github.com/apollostack/react-apollo/blob/master/src/graphql.tsx#L343-L345

It assumes that we've either (a) just created the query with the current options and need to create a subscription or (b) we may be changing the options and the subscription should exist.

This is obviously third case that needs to be dealt with.

[2016-12-21 01:21] tmeasday opened #375 "Development: issue running SSR test, due to what-wg fetch"
I don't understand why we don't see this in CI, and I'm not sure if anyone else is seeing it ( @jbaxleyiii ?).

When I run tests locally, "SSR › `renderToStringWithData` › should work on a non trivial example" fails, throwing a network error with the following stack:

[code]

It seems incorrect to me that it uses `whatwg-fetch` rather than `isomorphic-fetch` for this request, but then I can't expl

[2016-12-21 01:22] tmeasday commented on #375
Actually, I suppose the reason all the other SSR tests work is that they use a mocked network interface.

[2016-12-21 03:13] tmeasday commented on #374
Started working on a solution, hit a couple of snags, will try and resolve the snags soon unless someone else solves them for me: https://github.com/apollostack/react-apollo/pull/376

[2016-12-21 03:13] tmeasday commented on #374
(Also this is quite annoying: https://github.com/apollostack/react-apollo/issues/375)

[2016-12-21 03:14] tmeasday commented on #358
@mmmdreg is it possible that changing skip + variables at the same time is the issue here? That would fit with @jbinto's reproduction.

Although you mentioned "Using things like skip and refetch don't make a difference".

[2016-12-21 03:30] jbaxleyiii commented on #375
@tmeasday I don't seem to have this issue locally? However we should actually mock all of these requests instead of relying on an external app

[2016-12-21 03:37] tmeasday commented on #375
Agreed, although maybe there's something to be said for having a test that goes through the whole stack.

I wondered if you had any clues as to why the request would be sent through jsdom, given this is a SSR test? Is there something we need to change in the Jest setup to make it not mock `window` et al?

OTOH it might be easier to just do the mocking, not sure.

[2016-12-21 04:07] jbaxleyiii commented on #375
@tmeasday prior to this being in jest, I couldn't figure out a way to separate the evn. With jest, we could use jest.mock to force isomorphic for this test. I'd be happy to open that as a PR

[2016-12-21 05:43] jbaxleyiii commented on #331
@SachaG I'm all for this, it makes sense to have with both. I'm curious, what do you have a need to get the wrapped instance for? I've never had the need to do and have wondered 👍

[2016-12-21 06:16] linonetwo opened #377 "Multiple queries for same rootQuery"
## Steps to Reproduce

[code]

or

[code]

with

[code]

Produces same output, that all data expected to be inside yesterdayChart were merged into todayChart.

[code]
I know that graphql seems will merge the same field, as a feature. But I think when we separate queries  into two @graphql decorators, there shouldn't be a merging.

If I'm doing something wrong, please point it out :P

### Version
-

[2016-12-21 06:28] tmeasday commented on #377
Are the arguments to `LineChart()` the same in both cases? If not it shouldn't be merging them into one result.

I think this is an apollo client issue if anything. Can you try a simple

[code]

[2016-12-21 09:02] davidye opened #378 "GraphQL errors are not correctly passed to component props"
With apollo-client@0.5.23, it appears that:

`(new ApolloError()) instanceof ApolloError // false`

This is causing errors to be thrown from here:

https://github.com/apollostack/react-apollo/blob/02fe991c8645c939e5d41587c76c447c7081e02f/src/graphql.tsx#L381

Here's the relevant code which changed recently in apollo-client:

https://github.com/apollostack/apollo-client/blob/master/src/errors/Apoll

[2016-12-21 09:36] tmeasday commented on #378
@helfer should we be using `isApolloError`?

[2016-12-21 10:59] SachaG commented on #331
@jbaxleyiii well let's say you have an ES6 class `MyComponent` with a `submitForm` event handler as one of its methods, and you then wrap it with `withApollo`. If do `const Foo extends MyComponent` to declare a new component, `Foo` won't have access to the `submitForm` method. So you'd want to be able to do `const Foo extends MyComponent.getWrappedInstance()` to access the original component befor

[2016-12-21 11:56] linonetwo commented on #377
After hours of trying, I can't reproduce this issue. It's from my colleague, I think it's his fault. Sorry for bothering. Close this.

[2016-12-21 11:56] #377 closed

[2016-12-21 16:22] helfer commented on #378
@tmeasday as you probably saw in the code I ended up adding that function because I couldn't figure out why after updating TS `new ApolloError() instanceof ApolloError === false`. It's not exported though, so if it should be fixed quickly, I suggest just checking for the `graphqlErrors` property on the error, and then changing it to `isApolloError` later.

[2016-12-21 17:30] davidye commented on #378
@helfer it's probably because extending built-in classes cannot be properly subclassed with transpilers, see:

http://stackoverflow.com/questions/33832646/extending-built-in-natives-in-es6-with-babel
https://github.com/babel/babel/issues/1424

[2016-12-21 19:56] brettjurgens opened #379 "Component loses typings with HOC"
## Steps to Reproduce

Describe how to reproduce this issue.
`component1.tsx`:
[code]

`component2.tsx`:
[code]

### Buggy Behavior

The above will compile, because `react-apollo` has typings:
[code]

### Expected Behavior

This shouldn't compile, because prop `bar` is missing and `foo` is of the wrong type.

I'm thinking that the `graphql` HOC can take generics like:
[code]

(did this pretty quic

[2016-12-21 23:59] tmeasday commented on #378
I think a quick fix is warranted here if someone wants to take a look.

[2016-12-22 00:00] tmeasday commented on #379
Sure, this sounds reasonable if you can make it work.

[2016-12-22 00:45] #378 closed

[2016-12-22 01:00] tmeasday opened #381 "Changing options while unskipping leads to unnecessary query."
This [line](https://github.com/apollostack/react-apollo/blob/7eae575d4cf66b6c934fd34ce0db4f337fd6800d/test/react-web/client/graphql/queries.test.tsx#L524) should not be necessary.

The explanation is (copied from [here](https://github.com/apollostack/react-apollo/pull/376#issuecomment-268689798)):

1. We unsubscribe (when skipping).
2. We change the variables, which triggers a `fetchQuery` [here](

[2016-12-22 01:04] stubailo commented on #381
I think your second link is wrong - it points to `setVariables`.

[2016-12-22 01:04] #374 closed

[2016-12-22 01:11] tmeasday commented on #381
Chatting with @stubailo, I think the answer here is that in AC, `observable.setVariables` should not trigger a fetch if there are no subscribers. I'll open an issue on AC but leave this open so we remember to remove the extra line in the test.

[2016-12-22 01:41] brettjurgens commented on #379
Cool, I'll take a look and open a PR

[2016-12-22 05:24] rafaelcorreiapoli commented on #321
Hi!
I'm not receiving any new props when I call refetch, only when the results arrive from the server (and only if there are new results)
This is bad because I can't show a loading indicator when the users request the refetch action
I tried to inspect networkStatus as @helfer pointed but it is always "7", and I have no idea what it means

Thanks!

[2016-12-22 09:51] tahaykACF opened #382 "how to update the results of a query using the results of a second query executed onClick?"
Hello
I'm using Apollo to execute 2 queries,
the first query is executed automatically by Apollowhen the component is created,
the second query is executed when a button is clicked, and the results of this query should update some attributes of the first query (just like updateQueries does for mutations).

This is the code I tried:
[code]

[2016-12-22 18:20] brettjurgens commented on #379
I've got it working with Stateless Components and regular classes, but it fails when using a decorator.

Been through a bunch of variations and can't seem to make it work properly.

[code]

and this works with:

[code]

but it fails with:

[code]

because

  Type 'FixedComponentClass<any>' is not assignable to type 'typeof TestFail'.
    Type 'Component<any, any>' is not assignable to type 'TestFa

[2016-12-22 19:07] brettjurgens commented on #379
actually can just take the thing from react-redux and make the props from react-apollo optional and able to be generated with the InjectGraphQLProps interface

[2016-12-22 19:22] doranen opened #384 "Cannot find module 'react-apollo/server'"
## Steps to Reproduce
just upgraded to 0.7.2, getting this error on webpack build when trying to import { renderToStringWithData } from "react-apollo/server";

### Buggy Behavior

build breakage

### Expected Behavior

Should import correctly from documented path

### Version
- apollo-client@0.5.11
- react-apollo@0.7.2

[2016-12-22 19:24] doranen commented on #384
maybe it's just react-apollo now?

[2016-12-22 19:45] stubailo commented on #384
Yes you don't need to import from /server - that was the breaking change between 0.6 and 0.7. Let me know if you see some old documentation that has the other thing?

[2016-12-22 19:45] #384 closed

[2016-12-22 19:46] doranen commented on #384
http://dev.apollodata.com/react/server-side-rendering.html

[2016-12-22 19:48] stubailo commented on #384
Oh wow that's embarrassing - I thought for sure that would be updated. I'll open an issue there and if you have a moment send a PR? (I'm in mobile right now)

[2016-12-22 19:50] doranen commented on #384
sure, as an aside, where do i see the changelogs?

[2016-12-22 20:59] tahaykACF commented on #382
It is possible by using a reducer function in the first query like this:
[code]

[2016-12-22 20:59] #382 closed

[2016-12-22 22:40] richburdon opened #385 "Error in QueryManager when id is not queried for nested item."
When querying for a nested item, if the "id" field is not requested the errors below are observed.

const TaskFragment = gql`
  fragment TaskFragment on Task {
    bucket
    project {
      id                  // ERROR if omitted
      title
    }
  }
`;

[main] Error: Network error: Store error: the application attempted to write an object with no provided id but the store already contains an id

[2016-12-22 22:52] tmeasday commented on #385
Hi @richburdon, I suspect this is an issue better opened on the https://github.com/apollostack/apollo-client repo. Are you using `dataIdFromObject`? If so does it require `id` to be set?

[2016-12-22 22:53] tmeasday commented on #384
https://github.com/apollostack/react-apollo/blob/master/Changelog.md

[2016-12-22 22:55] jbinto commented on #374
Thanks for the quick turnaround!

[2016-12-23 00:52] doranen commented on #384
Whoops, totally missed it!

On Thu, Dec 22, 2016 at 2:53 PM Tom Coleman <notifications@github.com>
wrote:

[2016-12-23 03:21] mmmdreg opened #386 "Fragments on interface types missing fields"
I'm trying to migrate away from createFragment to the new syntax.

I'm using interface types with some common fields and some unique fields.

When I load a page to display a single item of a certain type, the props are missing the unique fields. If I examine the props in the apollo container, only the common fields are in the data.

However, the network request returns all the correct fields and t

[2016-12-23 03:24] tmeasday commented on #386
Are you using `filter` from `graphql-anywhere`? It could be a bug in that package. It would be (relatively) simple to write a test that demonstrates that behaviour here: https://github.com/apollostack/graphql-anywhere/blob/master/test/utilities.ts

[2016-12-23 03:31] mmmdreg commented on #386
Quick example typed on my phone:

gql'
query characterById($id: String!) {
  charcter(id: $id) {
    ...DroidDetails
    ...HumanDetails
  }
}
${Droid.fragments.details}
${Human.fragments.details}
'

Droid.fragments = {
  details: gql'
    fragment DroidDetails on Droid {
      episodes { id name year }
    }
  '
}

Human.fragments = {
  details: gql'
    fragment HumanDetails on Human {
      epi

[2016-12-23 03:54] tmeasday commented on #386
@mmmdreg does the container filter using the query?

[2016-12-23 04:04] mmmdreg commented on #386
No we're not filtering with or without graphql-anywhere.

The container is like:
graphql(query, {
props: ({ownProps, data}) => {
  // data is already missing the fields.
  return {
 data
}
}

Just checked versions and it seems it only worked back at react-apollo@0.6.0, so something in the fragment changes coming through in recent versions.

[2016-12-23 04:09] tmeasday commented on #386
Hmm, OK, so this sounds like an `apollo-client` issue then. I think you may just be running into this problem: https://github.com/apollostack/apollo-client/issues/771 because AC cannot tell if the interface should apply to your concrete class.

[2016-12-25 06:22] bbbbighead commented on #330
hi @chillu , I found that I have same demands like yours. Is there any official  way in react-apollo supporting dynamic graphql query at run time? Please help and give me some advise. Happy Christmas!! Thanks. :)

[2016-12-25 18:14] davidyaha commented on #78
I think that with the 0.5.25 version of apollo-client that uses object spread and polyfills with Object.assign, this bug came back..
In my implementation this happens on `refetch`.
Also I think this issue belongs in apollo-client rather than here.

[2016-12-27 10:59] linonetwo commented on #359
Seems @Cram974 is exploring something interesting: https://github.com/apollostack/apollo-client/issues/1072

[2016-12-27 21:11] dallonf commented on #321
I just gave @PascalHelbig's repro a quick check, swapping `console.log('loading', data.loading);` for `console.log('networkStatus', data.networkStatus);` and it only logs once:

[code]

If I instead change `query` to query a dummy resolver I added to my server just now to return a random number, it looks more like this:

[code]

The component never receives any props to indicate that a query is in

[2016-12-28 15:14] dallonf commented on #321
Aha, I might have found a workaround / solution: there is a `notifyOnNetworkStatusChange` option on watchQuery, which is only documented in the [API reference](http://dev.apollodata.com/core/apollo-client-api.html#ApolloClient\.watchQuery).

With that option set, I get this output:
[code]

This is workable, but definitely surprising behavior that definitely needs to be better documented and possib

[2016-12-28 17:06] DimitryDushkin commented on #57
Is there any official docs about error handling?

[2016-12-30 14:54] richburdon commented on #118
Same here

[2017-01-01 01:50] GRardB opened #387 "Can't import `getDataFromTree` or `renderToStringWithData`"
~Long story short: I'm making a universal React app, so I've got an Express server to render the DOM. My page loads, but it doesn't seem like `this.props.data` gets populated until the client-side JS takes over.~

~Is this intended? If so, is there a way to change it? If not, what may I be doing wrong? I can provide code if necessary, but there's a lot of it, so I'm not sure where to start.~

~If

[2017-01-01 13:06] richburdon commented on #118
For documentation purposes: if compose() is used to wrap multiple containers (i.e., Redux and multiple graphql calls). then getWrappedInstance has to be chained to reach the underlying component.

(This is obvious in hindsight, but I feel that compose could be given an option to automatically cascade the reference to the outer container. Or at least document the hint here: http://dev.apollodata.co

[2017-01-01 19:20] GRardB commented on #387
Hey Ben,

Thanks for the response! I am indeed compiling this code with webpack, but I do have `target: 'node'` set. Weird.

I actually did end up doing the same import trick! I wrote a TODO to remind me to fix it later, but perhaps it's not necessarily "broken." I'll make a note to see if I can figure out why webpack isn't bundling the correct file.

[2017-01-01 23:22] wizardzloy commented on #386
@tmeasday I also had this issue, I tried to debug it and looks like the issue is here:
https://github.com/apollostack/graphql-anywhere/blob/master/src/index.ts#L254

In the example from @mmmdreg  the thing is that every object from a store is being matched against several fragment definitions and the output object is the result of this `merge` call:
https://github.com/apollostack/graphql-anywhere/

[2017-01-02 05:47] tmeasday commented on #387
Hey @GRardB, if you can figure out what the problem is, maybe post it here. It certainly *sounds* like webpack is using the `browser` field in your case, I'm not sure why though. If we can figure out when you need to use this workaround, we should document it somewhere.

Here's the PR where the change was made, out of interest:

[2017-01-02 05:48] tmeasday commented on #118
@richburdon perhaps you could send a PR to that doc? We just take compose from the recompose library.

[2017-01-03 03:41] dcworldwide opened #388 "Can't call api of GraphQL HOC wrapped component"
## Steps to Reproduce

Describe how to reproduce this issue.

1. Wrap a component in the graphql HOC
2. When rendering the HOC component, define a ref
3. Use the ref to attempt to call a function on the wrapped component
4. Function not found, because ref refers to the HOC, not the wrapped component

### Expected Behavior

I should be able to call methods of GraphQL wrapped components?

### Versio

[2017-01-03 03:59] dcworldwide commented on #388
Apologies, I've just found http://dev.apollodata.com/react/higher-order-components.html#with-ref

[2017-01-03 08:24] binchik commented on #61
I think I'm experiencing a related issue in react-native with apollo-client v.0.5.25:

Data has been loaded -> Turn off Internet connection -> Refetch -> Error -> Turn on Internet connection -> Refetch -> Component not rerendered

Although debugger displays loading to become false after second refetch, `componentWillReceiveProps` is not triggered. Data results are not changed between the refetches

[2017-01-05 04:44] alexgorbatchev opened #395 "0.7.3 has issues with TypeScript typings"
### Buggy Behavior

[code]

### Expected Behavior

Should see no warnings. `<= 0.7.2` works fine

### Version
- apollo-client@0.5.26
- react-apollo@0.7.3

[2017-01-05 05:57] stubailo commented on #395
Oh dang, @jbaxleyiii we should have published the typings as 0.8, since it's definitely a breaking change for TypeScript users.

@alexgorbatchev you can fix this by installing @types/graphql and upgrading to the newest version of Apollo Client I think. We accidentally published a breaking change as a patch version.

[2017-01-05 07:18] helfer commented on #395
I'm going to fix this by re-releasing 0.7.2 again as 0.7.4 and then releasing what's currently 0.7.3 as 0.8.0.

[2017-01-05 08:07] stubailo commented on #395
@helfer you're done right? @alexgorbatchev can you verify that 0.7.4 resolves your issue?

[2017-01-05 08:56] marcelofpalves opened #398 "Module not found: Error: Can't resolve 'react-apollo'"
Problem: Cannot find 'react-apollo' when importing

### Version
- apollo-client@<0.6.0>
- react-apollo@<0.8.0>

I created a minimal repo to reproduce the issue.
https://github.com/marcelofpalves/react-apollo-crashing-example

The main entry on the package.json has this path:
[code]
But in `node_modules/react-apollo/lib` there is no `index.js` on that folder.
Maybe there is an issue with the build.

[2017-01-05 11:19] helfer commented on #398
Hm, did I not publish this correctly? 🤔

[2017-01-05 11:22] helfer commented on #398
Set the `latest` tag to 0.7.2 while I try to figure out what's going on.

If I can't figure it out, we might need @jbaxleyiii 's help here.

[2017-01-05 12:09] helfer commented on #398
Was just about to release 0.8.1, but I think @jbaxleyiii beat me to it. 😃

[2017-01-05 12:15] helfer commented on #398
@marcelofpalves @Grmiade @pradel @JacobSoderblom Please give this comment a thumbs up if it works for you now, thumbs down if it doesn't. Thanks!

[2017-01-05 12:15] helfer commented on #395
Discussion in #398 now. The version to install should be 0.8.1.

[2017-01-05 12:15] #395 closed

[2017-01-05 12:36] marcelopereirascmspain commented on #398
@helfer thank you

I updated the example with v0.8.1 (https://github.com/marcelofpalves/react-apollo-crashing-example)
now it breaks with

[code]

can anyone reproduce this?

[2017-01-05 12:51] helfer commented on #398
@marcelopereirascmspain did you update your reproduction? It will hopefully help us figure out what's going on.

[2017-01-05 12:53] marcelofpalves commented on #398
@helfer I did.
I put the link in the comment above. Hopefully it will help.

[2017-01-05 12:58] helfer commented on #398
Ok, thanks! It's getting quite late here, so I hope someone else can pick this up tomorrow morning and fix it! 🙂

[2017-01-05 13:01] marcelofpalves commented on #398
I see :) Thank you for your time!

[2017-01-05 16:18] lewisblackwood opened #400 "Correctly importing test-utils.tsx and configuring Create React App"
@jbaxleyiii  thanks for providing the examples of how to test components that use Apollo!

I'm trying to use the [test utils file](https://github.com/apollostack/react-apollo/blob/master/src/test-utils.tsx) provided for testing my own app, but haven't been able to get it working - would appreciate any help 👍

My app was bootstrapped using Create React App (CRA).

The test utils file is typed, so I

[2017-01-06 00:53] tmeasday commented on #400
Did you try this?

[code]

[2017-01-06 05:38] cagdastulek opened #401 "`returnPartialData: false` should set `loading: true`"
## Steps to Reproduce

1. Create a component A that queries like this:
[code]
2. Have another component B that queries like this:
[code]
3. Build an app that navigates from component A to component B to make sure that same store is used.

### Buggy Behavior

`data.loading` flag of the second component is `false` although networkStatus is 1. This bug happens even if component B uses `returnPartialD

[2017-01-06 06:33] cagdastulek commented on #401
I was able to fix the "specific" issue with the following code change:
https://github.com/cagdastulek/apollo-client/commit/39103abf119b47d4927363b3163b947e2374407c

However, I am for sure far from being an authority to say if this is a good idea or not. Otherwise, I would be happy to turn it into a PR.

[2017-01-06 20:13] stubailo commented on #401
I think this is probably the best way to fix it: https://github.com/apollostack/apollo-client/issues/831

Like you said, networkStatus is correct, so we should just stop keeping track of `loading` separately. (We would still have that prop, it just wouldn't be tracked internally)

[2017-01-06 20:14] stubailo commented on #401
As a workaround, does checking `networkStatus` instead of `loading` work?

[2017-01-06 20:15] stubailo commented on #401
cc @helfer

[2017-01-06 23:43] cagdastulek commented on #401
`networkStatus` not ideal for my case because it will trigger again and again when I do a refetch, and if I use it for UI rendering, UI will flicker all the time.

The "cool" thing about the loading flag is that I can use it to show a "Loading" indicator to the user so that I can have my UI ready when the data is really there. And after that, I don't want that "Loading" indicator anymore. It is al

[2017-01-07 00:09] stubailo commented on #401
Oh, I completely agree that loading should exist! I'm just wondering if network status works correctly. That's why I used the word "workaround". This is clearly a bug.

[2017-01-07 04:02] brentvatne opened #402 "react-dom peerDependency"
### Buggy Behavior

react-apollo has a peerDependency on react-dom, so you get a warning when installing it with react-native.

### Expected Behavior

No warning ;)

### Version
- apollo-client@0.8.1
- react-apollo@0.6.0

[2017-01-07 05:41] jbaxleyiii commented on #402
@brentvatne there isn't really a way around this? We use react-dom for SSR support as part of the library.

[2017-01-07 05:51] stubailo commented on #402
Would an optional dependency work here?

[2017-01-07 06:06] brentvatne commented on #402
@jbaxleyiii - maybe `react-dom-apollo` in that case? or optional dependency

[2017-01-08 06:27] larrxu opened #404 "Uncaught (in promise) Error in browser console"
## Steps to Reproduce

1. Start the Githunt-API and -React projects
2. Load the first page, without login.
3. Change Githunt-API's Query schema to `currentUser: User!` (making it a non-null field).
4. Go to browser and click any link or wait for hot reload.
5. Uncaught (in promise) Error is shown in console.

### Buggy Behavior

The error is shown as a uncaught promise error. There doesn't seem a

[2017-01-08 22:33] chillu commented on #330
@bbbbighead I can't comment on the roadmap for react-apollo, but from what the maintainers have said before I'm not getting my hopes up for dynamic query support there. We might end up creating our own variation of react-apollo, for now we've parked the issue since we've derisked the issue for our use case.

[2017-01-09 01:53] craigambrose commented on #402
This seemed to appear as an error in react-apollo 0.7.3. It's really annoying on react-native.

[2017-01-09 01:59] #402 closed

[2017-01-09 07:49] ads1018 commented on #387
I'm also using React Apollo in my universal app with Next.js and this is an issue for me as well -> https://github.com/ads1018/next-apollo-example/issues/2

Could we include getDataFromTree in the browser build? Are there any drawbacks to this?

[2017-01-09 07:52] stubailo commented on #387
Maybe this could be one motivation for creating a separate `react-apollo-ssr` package or something. We thought `browser` would be a good solution but I guess it doesn't work well with Next, for example.

[2017-01-09 07:57] ads1018 commented on #387
Cool. Well I can use `import { getDataFromTree } from 'react-apollo/lib` for the time being. Not a big deal.

[2017-01-09 10:16] lewisblackwood commented on #400
I didn't! I've just tried it, that didn't work but this did:

`import { MockedProvider } from 'react-apollo';`

Thanks a lot!

I'll carry on from here and report any further issues.

Will there be any docs written around using the test-utils? I'd be keen to contribute 👍

[2017-01-09 11:38] lewisblackwood commented on #400
Apologies, you were correct with:

`import { MockedProvider } from 'react-apollo/lib/test-utils';`

The issue I was having was that `npm update` didn't update to the wanted version of `react-apollo` (0.8.1).

I followed the instructions [here](https://www.danieldunderfelt.com/updating-node-modules/) to update packages to their most recent versions - I can now import `MockedProvider` and run the te